<!DOCTYPE html>
<html>
<head>
<title>安全设置 - {part '/site.main.orgname'} - 云课 - 专业的在线学习平台</title>
<meta name="title" content="{part '/site.main.orgname'} - 安全设置 - 云课 - 专业的在线学习平台">
<meta name="keywords" content="{part '/site.main.orgname'} - 云课 - Yunke K12 在线学习 直播 云课网 在线教育">
<meta name="description" content="{part '/site.main.orgname'} - 云课(Yunke.com) -专业的K12在线学习平台。以直播授课为核心，打破时间与空间的界限，为教师高效教学、学生高效学习、家长高效管控及机构高效管理提供完美解决方案">
{part "/site.main.header"}
</head>
<body >
{part "/site.main.nav3"}
<!-- mob nav -->
<div class="g-nav hidden-lg hidden-md">
	<ul class="swiper-wrapper" id="mob-nav">
		<li class="swiper-slide"><a href="/student.main.infobase">基础资料</a></li>
		<li class="swiper-slide"><a href="/student.main.uploadPic/1">修改头像</a></li>
		<li class="swiper-slide"><a href="/student.main.address">修改地址</a></li>
		<li class="swiper-slide"><a href="/student.security.password" class="active">安全设置</a></li>
	</ul>
</div>
<section class="org-section">
<!--studentPortal start-->
    <div class="container">
        <div class="row">
            <!-- leftmenu start-->
            {part "/user.main.menu.infopassword"}
            <!-- leftmenu end -->
            <!--right start-->
            <div class="right-main col-md-16 col-xs-20">
                <!--设置密码 start-->
                <div class="stit fs4 hidden-xs">
                    <i class="seticon"></i>
                    <strong class="fs18 ml10">{'修改密码'|tr:'site.user'}</strong>
                    <span class="ml10 hidden-xs">{'为了保护你的账户和资金安全，建议设定安全性高的密码并定期更换。'|tr:'site.user'}</span>
                </div>
                <form id="pass_form" name="pass_form" method="post" autocomplete="off">
                    <input type="password" style="display:none;">
                    <ul class="form password-form fs14 mt30">
                        <li>
                            <div class="label col-sm-5 col-xs-7">{'输入旧密码'|tr:'site.user'}：</div>
                            <div class="label-for col-sm-15 col-xs-13">
                                <input type="password"  name="old_password" class="col-sm-8 col-xs-15">
                                <span class="old-tip col-xs-15 col-sm-6 pd0"></span>
                            </div>
                        </li>
                        <li>
                            <div class="label col-sm-5 col-xs-7">{'新密码'|tr:'site.user'}：</div>
                            <div class="label-for col-sm-15 col-xs-13">
                                <input type="password" name="new_password" class="col-sm-8 col-xs-15">
                                <span class="new-tip col-xs-15 col-sm-5 pd0"></span>
                            </div>
                        </li>
                        <li>
                            <div class="label col-sm-5 col-xs-7">{'确认新密码'|tr:'site.user'}：</div>
                            <div class="label-for col-sm-15 col-xs-13">
                                <input type="password" name="re_password"  class="col-sm-8 col-xs-15">
                                <span class="re-tip col-xs-15 col-sm-5 pd0"></span>
                            </div>
                        </li>
                        <li>
                            <div class="label col-sm-5 col-xs-8">&nbsp;</div>
                            <div class="col-md-2" style="padding-left:0;">
                                <input class="btn_yellow_5 btn-bg" id="psd_save" disabled style="line-height:30px;border:0;padding:0 40px"  value="{'保存'|tr:'site.user'}" type="button" />
                            </div>
                        </li>
                        </ul>
                </form>
                <!--设置密码 end-->
            </div>
            <!--right start-->
        </div>
    </div>
</section>
<!--studentPortal end-->
<div id="rightWindow"></div>
<script>$("#rightWindow").load("/org.rightWindow.rightWindow");</script>
{part "/site.main.footer"}
</body>
</html>
<script type="text/javascript">
        $('#alert1').on('click', function(){
            layer.open({
                type: 2,
                area: ['720px', '515px'],
                shadeClose: true, //点击遮罩关闭
                content: 'photo-upload.html'
            });
        });
		$(function(){
			$("input[type='password']").focus(function() {
				$(this).css("border","1px solid #ffa81d");
			})
			$("input[type='password']").blur(function() {
				$(this).css("border","1px solid #d5d5d5");
			});

			$('input[name=old_password]').blur(function(){
				var opass = $(this).val();
				if( !opass ){
					$('.old-tip').html('<span class="tips-error"></span>'+"{'请输入旧密码'|tr:'site.user'}"+'!');
					$('.old-tip').css('color','red');
					$("input[name='old_password']").css("border","1px solid red");
					return;
				}
				 $.ajax({
				 	type:'post',
				    url: '/student/security/verifyPsd',
				    data: { old_password:opass },
				    dataType: 'json',
				    success:function(data){
                    	if( data.result.code == 0){
							//$('.old-tip').html('<span class="tips-right"></span>'+data.result.msg);
							$('.old-tip').html('<span class="tips-right"></span>'+'√')
							$('.old-tip').css('color','green');
							$("input[name='old_password']").css("border","1px solid #ffa81d");
							$('.btn-bg').css('background','#ffa81e');
							$('#psd_save').prop('disabled',false)
                      	}else{
							$('.old-tip').html('<span class="tips-error"></span>'+data.result.msg);
							$('.old-tip').css('color','red');
							$("input[name='old_password']").css("border","1px solid red");
                       	}
                    }
                 });
			});

			$('input[name=new_password]').blur(function(){
				 var npass = $(this).val();
				 if( !npass ){
					$('.new-tip').html('<span class="tips-error"></span>'+"{'请输入新密码'|tr:'site.user'}"+'!');
					$('.new-tip').css('color','red');
                     return;
				 }
				 if( npass.length < 6 || npass.length > 16 ) {
					$('.new-tip').html('<span class="tips-error"></span>'+"{'密码不能少于6个,多于16个字符'|tr:'site.user'}");
					$('.new-tip').css('color','red');
					return;
				 }
				//$('.new-tip').html('<span class="tips-right"></span>输入正确!');
				$('.new-tip').html('<span class="tips-right"></span>√');
				$('.new-tip').css('color','green');
			});

			$('input[name=re_password]').blur(function(){
				var re_pass = $(this).val();
				var new_pass = $('input[name=new_password]').val();
				if(!re_pass){
					$('.re-tip').css('color','red');
					$('.re-tip').html('<span class="tips-error"></span>'+"{'请输入确认密码'|tr:'site.user'}"+'!');
					return;
				}
				if( re_pass != new_pass ){
					$('.re-tip').html('<span class="tips-error"></span>'+"{'确认密码不一致'|tr:'site.user'}"+'!');
					$('.re-tip').css('color','red');
					return;
				}
				$('.re-tip').html('<span class="tips-right"></span>√');
				$('.re-tip').css('color','green');


			});
			$('#psd_save').click(function(){
				var params = {
					'old_password' : $('input[name=old_password]').val(),
					'new_password' : $('input[name=new_password]').val(),
					're_password'  : $('input[name=re_password]').val(),
				}

				if( !params.old_password ){
				    $('.old-tip').html('<span class="tips-error"></span>'+"{'请输入旧密码'|tr:'site.user'}"+'!');
					$('.old-tip').css('color','red');
					return;
				}
				if( !params.new_password ){
				    $('.new-tip').html('<span class="tips-error"></span>'+"{'请输入新密码'|tr:'site.user'}"+'!');
					$('.new-tip').css('color','red');
					return;
				}
				if(!params.re_password){
				    $('.re-tip').html('<span class="tips-error"></span>'+"{'请输入确认密码'|tr:'site.user'}"+'!');
					$('.re-tip').css('color','red');
					return;
				}

				if( params.new_password != params.re_password ){
				    $('.re-tip').html('<span class="tips-error"></span>'+"{'确认密码输入错误'|tr:'site.user'}"+'!');
					$('.re-tip').css('color','red');
					return;
				}
				$.ajax({
					type:'post',
					url: '/student.security.password',
					data: $('#pass_form').serialize(),
					dataType: 'json',
					success:function(data){
						if( data.result.code == 0){
							layer.msg(data.result.msg);
							location = location;
						}else{
							if(data.result.code == -1 ) {
				    			$('.old-tip').html('<span class="tips-error"></span>'+data.result.msg);
								$('.old-tip').css('color','red');
							}
							if(data.result.code == -2 ) {
                                $('.new-tip').html('<span class="tips-error"></span>'+data.result.msg);
								$('.new-tip').css('color','red');
							}
							if(data.result.code == -3 ) {
								$('.re-tip').html('<span class="tips-error"></span>'+data.result.msg);
							    $('.re-tip').css('color','red');
						    }
						}
					}
				});

			});

		});
</script>
