<!doctype html>
<html lang="en">
<head>
<title>空页面</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=9;IE=8;IE=7;IE=edge;chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<style>
.emptyicon{ width:100%;text-align: center;padding-top: 100px; }
.emptyicon span{ width:100%;float: left;padding-top: 10px;color:#999; }
</style>
<body>
<div class="emptyicon">
	<p>
		<img src="/assets_v2/interface/yunke/img/icon.png" alt="">
		<span>这里空空如也</span>
	</p>
</div>
</body>
</html>
