<!DOCTYPE html>
<html>
<head>
<title>高能100 - 专业的K12在线教育平台</title>
<meta name="title" content="高能100 - 专业的K12在线教育平台 在线直播">
<meta name="keywords" content="高能100 - 专业的K12在线教育平台 高能100 - 专业的K12在线教育平台 在线 k12 小学数学 初中数学">
<meta name="description" content="高能100 - 专业的K12在线教育平台 高能100 - 专业的K12在线教育平台 在线直播">
{part "/site.main.header"}
</head>
<style type="text/css">
@media screen and (max-width: 1070px) and (min-width: 320px){
    .rcri-box .forgt-btn {
        margin-top:30px;
    }
}
.forgt-btn{ background:#efefef;color:#666;}
</style>
<body>
{part "/site.main.nav3"}
<section>
	<div class='container p20' style="min-height:450px;">
	    <div class='row bgf mb30'>
            <div class='col-sm-14 col-xs-20' style="margin:0 auto; float:none;">
                <div class="step">
                    <ul>
                        <li class="col-sm-5 hidden-xs">
                            <p class="bg1"></p>
                            <p class="n">
                                1
                            </p>
                            <p class="text">填写账户名</p>
                        </li>
                        <li class="col-sm-5 col-xs-20">
                            <p class="bg2"></p>
                            <p class="n2">
                                2
                            </p>
                            <p class="text2">验证身份</p>
                        </li>
                        <li class="col-sm-5 hidden-xs">
                            <p class="bg1"></p>
                            <p class="n">
                                3
                            </p>
                            <p class="text">设置新密码</p>
                        </li>
                        <li class="col-sm-5 hidden-xs">
                            <p class="bg1"></p>
                            <p class="n">
                                4
                            </p>
                            <p class="text" style="padding-left:15px;">完成</p>
                        </li>
                    </ul>
                </div>
                <div class='rcri col-xs-20'>
                    <form novalidate action="" method="post" autocomplete="off" name="forms" id="rcri-form">
                        <div class="rcri-box col-sm-20 clearfix col-xs-20 p0 fs14">
                           <div class="x_field2 Emessage">
                                <span><div id="error" class="x_error"></div></span>
                            </div>
                            <div class="clearfix mb20">
                                <span class="fs16 c-fl pl0 tar col-sm-3">已验证手机：</span>
                                <span class="col-sm-17 p0">{$uname}</span>
                            </div>
                            <div class='clear'></div>
                            <div class="forget-1 mb20 clearfix">
                                <div class='col-xs-6 tar col-sm-3 mt20 pl0'>动态码：</div>
    							<div class='col-xs-14 col-sm-8 p0'>
    								<input type="tel" placeholder="" id="code" name="code" class='col-sm-4' />
                            	</div>
    							<div class='col-xs-16 col-sm-6 col-xs-offset-6 col-sm-offset-0'>
    								<input type="button" disabled id="get_code" placeholder="输入动态码" value="获取动态码" class='forgt-btn cPinkc nobor col-sm-20 col-xs-20' />
    							</div>
    						</div>
                        	<div class='col-xs-20 col-sm-20 clearfix forget-1 p0'>
    							<div class='col-xs-6 col-sm-4'></div>
    							<div class='col-xs-14 col-sm-8 p0 mb20'>
    								<input type="submit" value="下一步" class='forget-btn col-xs-20 col-sm-20'>
    							</div>
    						</div>
    					</div>
                    </form>
                </div>
            </div>
		</div>
	</div>
</section>
{part "/site.main.footer"}
</body>
<script type="text/javascript">
$(function () {
    var i ={if !empty($time)}{$time}{else}59{/if};
    if(i>0){
        var it = setInterval(function(){
            $("#get_code").attr('disabled','disabled').val(i+"秒后，重新获取动态码")
            if(i==0){
                clearInterval(it);
                $("#get_code").removeAttr("disabled" ).val("获取验证码")
            }
            i--
        },1000);
    }
    $("#rcri-form input[name='code']").focus(function() {
        $(this).css("border","1px solid #ffa81e");
    });
   $("#rcri-form input[name='code']").blur(function() {
        $(this).css("border","1px solid #ddd");
   });

    $('#get_code').click(function(){
        $.post("/site.main.VerifyCodePwd",$("#x_user_name").serialize(),function(r){
            if(!r.ok){
                layer.msg(r.error);
                $("[name="+r.field+"]").focus();
            }else{
                layer.msg("验证码发送成功");
                $("[name="+r.field+"]").focus();
                var i2 =60;
                var it2 = setInterval(function(){
                i2--
                $("#get_code").val(i2+"秒后，重新获取验证码").prop("disabled",true);
                if(i2==0){
                    clearInterval(it2);
                    $("#get_code").removeAttr("disabled" ).val("获取验证码")
                }
                },1000);
            }
        },"json");

    }); 
    $("#cap").click(function(){
        $("#cap").attr("src","/captcha.gen?"+Math.random());
    }); 
    $("#rcri-form").submit(function(){
        var codeVal = $.trim($("#code").val());
        if(codeVal == '' || codeVal == "验证码"){
            $(".x_error").show().html("请输入验证码");
            $("#code").focus();
            return false;
        }else{
            $.post("/site.main.forget2Ajax", $("#rcri-form").serialize(), function(r){
                if(r.error){
                    $(".x_error").show().html(r.error);
                    $("#cap").attr("src","/captcha.gen?"+Math.random());
                    $("[name="+r.field+"]").focus();
                    return false;
                }else{
                    location="/site.main.forget3";
                }
            },"json");
            return false;
        }
    })
})
</script>
</html>
