<!DOCTYPE html>
<html>
<head>
<title>云课 - 在线帮助 - 入驻云课 - 专业的在线学习平台</title>
<meta name="title" content="云课 - 帮助中心 - 注册与登录 - 专业的在线学习平台">
<meta name="keywords" content="云课 - Yunke K12 在线学习 直播 云课网 在线教育">
<meta name="description" content=" 云课(Yunke.com) -专业的K12在线学习平台。以直播授课为核心，打破时间与空间的界限，为教师高效教学、学生高效学习、家长高效管控及机构高效管理提供完美解决方案">
{part "/site.main.header"}
</head>
<body>
<!-- header -->
{part "/site.main.nav.help"}
<!-- 列表 -->
<section class="pd30">
    <div class="container">
        <div class="row">
      {part "/site.help.menu.join"}
      <div class="col-sm-16 right-main">
        <div class="help-c">
          <p class="help-bar fs20 cGray fontB"><span class="icon guide-icon"></span>入驻云课</p>
        </div>
        <div class="help-item">
                    <ul>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="1">如何入驻云课？</a></p>
                            <div class="help-item-c">
                                <p>入驻前首先需要注册云课平台普通账号</p>
                                <p>（1）点击导航栏机构入驻，点击“立即加入我们”按钮</p>
                                <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/rz.png')}">
                                <p></br>（2）阅读在线协议，勾选“已完整阅读入驻协议，并同意相关条款”，点击“下一步”。</p>
                                <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/rz1.png')}">
                                <p></br>（3）根据提示，填写机构基础信息，点击“下一步”。</p>
                                <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/rz2.png')}">
                                <p></br>（4）填写相关信息，上传资质审核相关文件，点击“下一步”。</p>
                                <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/rz3.png')}">
                                <p></br>（5）进入系统审核阶段，等待审核通过。</p>
                                <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/rz4.png')}">
                            </div>
                        </li>
                    </ul>
                </div>
      </div>
        </div>
    </div>
</section>
<!-- footer -->
{part "/site.main.footer"}
</body>
</html>
