<!DOCTYPE html>
<html>
<head>
<title>云课 - 在线帮助 - 修改个人资料 - 专业的在线学习平台</title>
<meta name="title" content="云课 - 在线帮助 - 修改个人资料 - 专业的在线学习平台">
<meta name="keywords" content="云课 - Yunke K12 在线学习 直播 云课网 在线教育">
<meta name="description" content=" 云课(Yunke.com) -专业的K12在线学习平台。以直播授课为核心，打破时间与空间的界限，为教师高效教学、学生高效学习、家长高效管控及机构高效管理提供完美解决方案">
{part "/site.main.header"}
</head>
<body>
<!-- header -->
{part "/site.main.nav.help"}
<!-- 列表 -->
<section class="pd30">
    <div class="container">
        <div class="row">
            {part "/site.help.menu.edit"}
            <div class="col-sm-16 right-main">
                <div class="help-c">
                    <p class="help-bar fs20 cGray fontB"><span class="icon guide-icon"></span>修改个人资料</p>
                    <ul class="fs16 lGray">
                        <li class="col-sm-10"><a href="#1">1、如何修改个人资料？</a></li>
                         <li class="col-sm-10"><a href="#1">2、如何修改个人密码？</a></li>
                    </ul>
                </div>
                <div class="help-item">
                    <ul>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="1">1、如何修改个人资料？</a></p>
                            <div class="help-item-c">
                                <p>点击导航栏右侧”注册“，进入注册页面，填写相应信息，点击保存即可。</p>
                                <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/xg1.png')}">

                            </div>
                        </li>
                         <li>
                            <p class="help-bar fs14 cGray">2、如何修改个人密码？</p>
                            <div class="help-item-c">
                <p>进入个人中心，点击“安全设置”，输入旧密码，新密码，新密码确认，点击保存即可。</p>

                                <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/xgmm.png')}">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer -->
{part "/site.main.footer"}
</body>
</html>
