<!--header-->
<header class="hidden-sm hidden-xs">
    <div class="container">
        <div class="row">
            <div class="g-logo col-lg-3 col-xs-10 col-md-3">
                <a href="/site">
                    {if !empty($orgInfo->thumb_big)}
                    <img src="{utility_cdn::file($orgInfo->thumb_big)}" alt="{$orgInfo->name}">
                    {else}
                    <img src="{utility_cdn::img('/assets_v2/img/5logo.png')}" alt="高能100" >
                    {/if}
                </a>
            </div>
            <div class="g-navright col-lg-6 col-xs-8 col-md-5" style="float:right">
                {if !empty($user)}
                <!--用户信息-->
                <ul class="user-menu hidden-xs">
                    <li class="user-menu-info">
                        <a href="#"><span class="face c-fl"><img src="{if $user['large']}{$user['large']}{else}{utility_cdn::img('/assets_v2/img/1.png')}{/if}"></span><span>{$user['name']}</span><span><img src="{utility_cdn::img('/assets_v2/img/platform/index-down.png')}"></span></a><span class="c-fr">|</span>
                        <ul>
                            {if !empty($isAdmin)}
                            <li class="hidden-xs hidden-sm">
                                <a href="/org">{'机构管理'|tr:'site.header'}</a> <span class="c-fr">|</span>
                            </li>
                            {elseif !empty($isTeacher)}
                            <li class="hidden-xs hidden-sm">
                                <a href="/teacher.course.timetable">{'教学管理'|tr:'site.header'}</a> <span class="c-fr">|</span>
                            </li>
                            {else}
                            <li class="hidden-xs hidden-sm">
                                <a href="/student.main.growth">{'学习中心'|tr:'site.header'}</a> <span class="c-fr">|</span>
                            </li>
                            {/if}
                            {if !empty($isAdmin) and !empty($isTeacher)}
                            <li><a href="/teacher.course.timetable"><span class="t-set-icon"></span>{'教学管理'|tr:'site.header'}</a></li>
                            {/if}
                            {if !empty($isTeacher)}
                            <li class="visible-sm"><a href="/teacher.course.timetable"><span class="t-set-icon"></span>{'教学管理'|tr:'site.header'}</a></li>
                            {/if}
                            {if !empty($isAdmin) or !empty($isTeacher)}
                            <li><a href="/student.main.growth"><span class="School-icon"></span>{'学习中心'|tr:'site.header'}</a></li>
                            {/if}
							<li><a href="/student.main.infobase"><span class="compose-icon"></span><span>{'基础资料'|tr:'site.header'}</span></a></li>
							<li><a href="/student.order.myorder"><span class="order-icon"></span>{'我的订单'|tr:'site.header'}</a></li>
							<li><a href="/student.security.password"><span class="card-icon"></span>{'安全设置'|tr:'site.header'}</a></li>
							<li class="hidden-lg"><a href="/user.message"><span class="mess-icon"></span>{'我的消息'|tr:'site.header'}</a></li>
							<li><a href="/site.main.logout"><span class="close-icon"></span>{'退出'|tr:'site.header'}</a></li>
                        </ul>
                    </li>
                    <li class="hidden-xs hidden-sm">
                        <a href="/user.message" ><span class="msg-icon"></span>
                            {if !empty($retMessagesNum)}
                            <span class="msg-num"></span>
                            {/if}
                        </a>
                    </li>
                </ul>
					<ul class="user-menu visible-xs" style="display:none">
							<li class="user-menu-info" id="mobile-user-menu">
							<span class="face"><img src="{if $user['large']}{$user['large']}{else}{utility_cdn::img('/assets_v2/img/1.png')}{/if}"></span><span style="color:#333;">{$user['name']}</span>
						<ul class="mobile-show-menu" style="display:none">
                            {if !empty($isAdmin) and !empty($isTeacher)}
							<li><a href="/teacher.course.timetable">{'教学管理'|tr:'site.header'}</a></li>
                            {elseif !empty($isTeacher)}
							<li><a href="/teacher.course.timetable">{'教学管理'|tr:'site.header'}</a></li>
                            {/if}
                            {if !empty($isAdmin) or !empty($isTeacher)}
                            <li><a href="/student.main.growth">{'学习中心'|tr:'site.header'}</a></li>
                            {/if}
							<li><a href="/student.main.infobase"><span>{'基础资料'|tr:'site.header'}</span></a></li>
							<li><a href="/student.order.myorder">{'我的订单'|tr:'site.header'}</a></li>
							<li><a href="/student.security.password">{'安全设置'|tr:'site.header'}</a></li>
                            <li class="">
                                <a href="/user.message" >{'我的消息'|tr:'site.header'}
                                    {if !empty($retMessagesNum)}
                                    <span class="msg-num"></span>
                                    {/if}
                                </a>
                            </li>
							<li><a href="/site.main.logout">{'退出'|tr:'site.header'}</a></li>
						</ul>
					</ul>
                    {else}
                    <!--登录-->
                    <div class="login">
                        <span class="hidden-xs"><a href="/site.main.login" id="login" class="user-icon">{'登录'|tr:'site.header'}</a> | <a href="/site.main.register">{'注册'|tr:'site.header'}</a></span>
						<a class="right visible-xs" href="/site.main.login">
							<span class="m-login-img"></span>
						</a>
					</div>
                    {/if}
                </div>
            <nav class="g-nav col-lg-10 col-xs-20 col-md-11 swiper-container3">
                <ul id="headernav" class="swiper-wrapper" style="position:absolute;height:100%;">
                    <li class="swiper-slide"><a href="/" {if $subnav=="home"}class="selected"{/if}>{'首页'|tr:'site.header'}</a></li>
                    <li class="swiper-slide"><a href="/course.list" {if $subnav=="course"}class="selected"{/if}>{'全部课程'|tr:'site.header'}</a></li>
                    <li class="swiper-slide"><a href="/teacher.list" {if $subnav=="teacher"}class="selected"{/if}>{'教师团队'|tr:'site.header'}</a></li>
                    <li class="swiper-slide hidden-md hidden-sm"><a href="/activity.main.list" {if $subnav=="activity"}class="selected"{/if}>{'文章资讯'|tr:'site.header'}</a></li>
                    <!--li class="swiper-slide hidden-md hidden-sm"><a href="/about" {if $subnav=="about"}class="selected"{/if}>{'关于我们'|tr:'site.header'}</a></li-->
                </ul>
            </nav>
        </div>
    </div>
</header>
<script type="text/javascript" src="{utility_cdn::js('/assets_v2/js/swiper.min.js')}"></script>
<script>
//导航移动端
if ($(window).width() < 768) {
    var mySwiper = new Swiper('.swiper-container3',{
        slidesPerView : 3,
    });
    var li_width = 0;
    li_width=$("#headernav li").outerWidth();
    var li_index=$("#headernav li").length;
    $("#headernav").css('width',li_width*li_index);
}

$(function(){
	$('.user-menu-info').click(function(){
		if($(this).find('.mobile-show-menu').is(':hidden')){
			$(this).find('.mobile-show-menu').show();
			//$('.mobile-show-menu').show();
		}else{
			$(this).find('.mobile-show-menu').hide();
			//$('.mobile-show-menu').hide();
		}
    });
});

</script>
<script>
$(function(){
    $('#checkLogin').on('click',function(){
        if($(window).width()>768){
            w='476px';
            h='283px';
            layer.open({
                title:['{'登录并开始学习吧'|tr:'site.header'}','color:#fff;background:#ffa81d'],
                type: 2,
                area: [w,h],
                shadeClose: true,
                content: '/site.main.alertLogin?url=/student.course.mycourse&from='+encodeURIComponent(window.location)
            });
        }else{ location.href='/site.main.login?url=/student.course.mycourse';
        }
    });
});
</script>

<section class="hidden-lg hidden-md">
    <div class="container">
        <div class="row">
          <div class="col-lg-20 col-xs-20 col-md-20 col-sm-20">
            <div class="g-logo col-sm-10 col-xs-10 hidden-md hidden-lg" id="mob-list-btn">
                {if !empty($orgInfo->thumb_big)}
                <img src="{utility_cdn::file($orgInfo->thumb_big)}" alt="{$orgInfo->name}" style="margin-left:-30px;">
                {else}
                <img src="{utility_cdn::img('/assets_v2/img/logo2.png')}">
                {/if}
                <span class="visible-xs visible-sm" id="mob_list"><img src="{utility_cdn::img('/assets_v2/img/platform/mob-list.png')}" style="width:30px;height:30px"></span>
            </div>
            <div class="mob-user col-sm-3 visible-xs visible-sm" id="mob-userlist-btn">
                <a href="javascript:void(0)">
                    <span class="face">
                        <img src="{if $user['large']}{$user['large']}{else}{utility_cdn::img('/assets_v2/img/1.png')}{/if}">
                    </span>
                    <span id="chick-down-show">{$user['name']}&nbsp;&nbsp;<img src="{utility_cdn::img('/assets_v2/img/platform/index-down.png')}"></span>
                </a>
            </div>
         </div>
        </div>
    </div>
</section>
<div id="mob-bg" style="display:none;position:absolute;top:60px;right:0;bottom:0;left:0;background:rgba(0,0,0,.8);z-index:99"></div>
<ul id="mob-list">
    <li><a href="/site">{'首页'|tr:'site.header'}</a></li>
    <li><a href="/course.list">{'全部课程'|tr:'site.header'}</a></li>
    <li><a href="/teacher.list">{'明星教师'|tr:'site.header'}</a></li>
    <li><a href="/activity.main.list">{'公告列表'|tr:'site.header'}</a></li>
    <li><a href="/about">{'关于我们'|tr:'site.header'}</a></li>
</ul>
<ul id="mob-user-list">
   {*
   {if !empty($isAdmin)}
    <li><a href="/org">{'教学管理'|tr:'site.header'}</a></li>
    {/if}
   *}
    {if !empty($isTeacher)}
    <li><a href="/teacher.course.timetable">{'教学管理'|tr:'site.header'}</a></li>
    {/if}
    <li><a href="/student.main.growth">{'学习中心'|tr:'site.header'}</a></li>
    <li><a href="/student.main.infobase">{'基础资料'|tr:'site.header'}</a></li>
    <li><a href="/student.order.myorder">{'我的订单'|tr:'site.header'}</a></li>
    <li><a href="/student.security.password">{'安全设置'|tr:'site.header'}</a></li>
    <li><a href="/user.message">{'我的消息'|tr:'site.header'}</a></li>
    <li><a href="/site.main.logout">{'退出'|tr:'site.header'}</a></li>
</ul>
<script type="text/javascript" src="{utility_cdn::js('/assets_v2/js/jquery/jquery.so.js')}"></script>
<script type="text/javascript">
$(function(){
    $.divselect(".divselect cite");
    function search_submit(){
        var url = '';
        var search_name  = $('cite').text();
        if(search_name == '课程'){
            url = '/index.course.list';
        }else if(search_name == '老师'){
            url = '/index.teacher.list';
        }
        $('#search_form').attr('action', url);
        $('#search_form').submit();
    }
    $('#search_btn').click(function(){
        search_submit();
    });

    var old_se_name = $('cite').text();
    var oSearchVal = $("input[name='search_field']").val();
    //搜索框判断有无值
    if(oSearchVal != "") {
        $(".so-input img").show();
    }else{
        $(".so-input img").hide();
    }

    $('.se-dd a').click(function(){
        var s_val = $('#s_val').val();
        var now_se_name = $(this).text();
        $('cite').text(now_se_name);
        if(now_se_name != old_se_name && s_val !=''){
            search_submit();
        }
    });
    var cate_t;
    $("#all_cate").hover(function(){
        clearTimeout(cate_t);
        $("#cate_list").animate({ height:"360px" });
    },function(){
        call_t=setTimeout(function(){ $("#cate_list").animate({ height:"0px" }) },2000);
    });
    var doc_height=$(document).height();
    $("#mob-list-btn").click(function(){
        $("#mob-bg").show();
        if($("#mob-list").height()=="250"){
            $("#mob-list,#mob-bg").animate({ height:"0px" });
        }else{
            $("#mob-list").animate({ height:"250px" });
            $("#mob-bg").animate({ height:doc_height });
        }
        $("#mob-user-list").animate({ height:"0px" });
    });
    $("#mob-userlist-btn").click(function(){
        $("#mob-bg").show();
        if($("#mob-user-list").height()=="340"){
            $("#mob-user-list,#mob-bg").animate({ height:"0px" });
        }else{
            $("#mob-user-list").animate({ height:"340px" });
            $("#mob-bg").animate({ height:doc_height });
        }
        $("#mob-list").animate({ height:"0px" });
    });
    $("#mob-bg").click(function(){
        $("#mob-list,#mob-user-list").animate({ height:"0px" });
        $("#mob-bg").hide();
    });
});
</script>
