<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>高能100 - 直播课堂</title>
		{part "/index.main.header"}
		<link rel="stylesheet" type="text/css" href="{utility_cdn::css('/assets/css/style.css')}">

	</head>

	<body>
		{part "/index.main.nav.live"}
		<!-- banner -->
		<div class="banner">
		直播课堂
		</div>

		<!-- countEND -->
		<!--footer-->
		<div class="footer">
			<div class="ftcon">
				<!-- <div class="fter_1">
					<a href="">关于我们</a> | <a href="">加入我们</a> | <a href="">校园代理招募</a> | <a href="">O2O体验店招商</a> | <a href="">企业培训</a> | <a href="">网站地图</a> | <a href="">友情链接</a> 
				</div> -->
				<p class="fter_2 mt10">© 2014 北京高能壹佰教育科技有限公司 版权所有</p>
			</div>
		</div>
	</body>
</html>
