<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="title" content="云课 - 寒假报名">
<meta name="keywords" content="云课 - 云课堂 - 寒假报名">
<meta name="description" content="寒假课程报名">
<link rel="icon" type="image/x-icon" href="{utility_cdn::img('/assets_v2/img/platform/yunke.ico')}" />
<script type="text/javascript" src="{utility_cdn::js('/assets_v2/js/jquery/jquery-1.11.1.min.js')}"></script>
<script type="text/javascript" src="{utility_cdn::js('/assets_v2/layer/layer.js')}"></script>
<link rel="stylesheet" type="text/css" href="{utility_cdn::css('/assets_v2/css/platform/bootstrap/bootstrap.min.css')}">
<title>寒假报名-初中课-云课网 </title>
<style type="text/css">
header,section,footer{ float:left;width:100%; }
a:link{ color:#333; }
a:hover,a:visited{ text-decoration:none;color:#333; }
header{ height:500px;background:url(/assets_v2/img/special/2016_01_05/banner.jpg) no-repeat center top #f3f5f6;background-size:100% }
footer{ min-height:267px;background:url(/assets_v2/img/special/2016_01_05/footer.jpg) no-repeat center top;padding-top:150px;padding-bottom:20px;background-size:100% }
.bg1{ background:#f3f5f6 }
.title{ float:left;width:100%;border-bottom: 1px solid #188fee;padding-bottom: 10px }
.ta-c{ text-align:center;float:left;width:100% }
.list{ float:left;width:100%;padding:0; }
.list li{ list-style-type:none;margin-bottom:20px }
.list .c{ float:left;background:#fff;border:1px solid #eaaf37;width:100%;padding:8px; }
.list img{ float:left;width:100% }
.list .c-title{ float:left;width:100%;white-space:nowrap;text-overflow:ellipsis;color:#888888;font-weight:bold;height:30px;overflow:hidden; }
.list .c-teacher,.list .c-price{ float:left;width:30%;overflow:hidden;color:#888888; }
.list .c-time,.list .c-btn{ float:right;width:70%;overflow:hidden;text-align:right;color:#888888; }
.list .c-price{ font-weight: bold;color:#d7211a;font-size:30px; }
.list .c-teacher,.list .c-time{ height:30px }
.list button{ float:right;width:115px;height:35px;color:#fff;background:#d7211a;border:none;font-size:16px;font-weight:bold; }
@media screen and (max-width:800px) and (min-width:320px){
header{ height:100px;background-color:#f3f5f6 }
.ta-c img { width:100% }
footer{ padding-top:50px; }
.title img{ width:60%; }
}
</style>
</head>
<body>
<header></header>
<section class="bg1">
    <div class="container">
        <p class="title"><img src="{utility_cdn::img('/assets_v2/img/special/2016_01_05/tit1.jpg')}"></p>
        <p class="ta-c"><img src="{utility_cdn::img('/assets_v2/img/special/2016_01_05/info.jpg')}"></p>
        <p class="title"><img src="{utility_cdn::img('/assets_v2/img/special/2016_01_05/tit2.jpg')}"></p>
        <div class="row">
            <ul class="list">
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://twydy.yunke.com/course.info.show/1156"  target="_blank">
                        <img src="//f.gn100.com/2,c5b0df934f21">
                        <span class="c-title">中考数学压轴题之高中数学知识点探析</span>
                        <span class="c-teacher">金雪亮</span>
                        <span class="c-time">开课时间：1月2号    14:00</span>
                        <span class="c-price">0元</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://twydy.yunke.com/course.info.show/1166"  target="_blank">
                        <img src="//f.gn100.com/3,c5adbed9dddd">
                        <span class="c-title">2016长沙中考英语考点预测分析</span>
                        <span class="c-teacher">黄思奇</span>
                        <span class="c-time">开课时间：1月2号    19:00</span>
                        <span class="c-price">0元</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://twydy.yunke.com/course.info.show/1167"  target="_blank">
                        <img src="//f.gn100.com/2,c5aaa0ec0662">
                        <span class="c-title">传统文化经典阅读</span>
                        <span class="c-teacher">黄双玉</span>
                        <span class="c-time">开课时间：1月3号    14:00</span>
                        <span class="c-price">0元</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://cjxxpt.yunke.com/course.info.show/1168" target="_blank">
                        <img src="//f.gn100.com/4,c5b99726b8e8">
                        <span class="c-title">写作技巧之以小见大</span>
                        <span class="c-teacher">李马根</span>
                        <span class="c-time">开课时间：1月8号    19:30</span>
                        <span class="c-price">0元</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://100.yunke.com/course.info.show/1185" target="_blank">
                        <img src="//f.gn100.com/7,c605a9de2d20">
                        <span class="c-title">看电影学英语</span>
                        <span class="c-teacher">冯水静</span>
                        <span class="c-time">开课时间：1月8号    19:00</span>
                        <span class="c-price">0元</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://100.yunke.com/course.info.show/1176" target="_blank">
                        <img src="//f.gn100.com/7,c7da73dc3609">
                        <span class="c-title">七年级英语期末复习课</span>
                        <span class="c-teacher">姚琦</span>
                        <span class="c-time">开课时间：1月8号    19:00</span>
                        <span class="c-price">0元</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://100.yunke.com/course.info.show/1186" target="_blank">
                        <img src="//f.gn100.com/4,c608b06e5ede">
                        <span class="c-title">八年级英语期末复习课</span>
                        <span class="c-teacher">冯水静</span>
                        <span class="c-time">开课时间：1月9号    19:00</span>
                        <span class="c-price">0元</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://cjxxpt.yunke.com/course.info.show/1171" target="_blank">
                        <img src="//f.gn100.com/4,c5bc5496eaf1">
                        <span class="c-title">四边形动点问题探究</span>
                        <span class="c-teacher">师怡敏</span>
                        <span class="c-time">开课时间：1月9号    14:00</span>
                        <span class="c-price">0元</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://xue.yunke.com/course.info.show/1163" target="_blank">
                        <img src="//f.gn100.com/4,caccd2753abc">
                        <span class="c-title">英语写作提分专项训练</span>
                        <span class="c-teacher">肖秀清</span>
                        <span class="c-time">开课时间：1月9号    19:00</span>
                        <span class="c-price">0元</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://100.yunke.com/course.info.show/1182" target="_blank">
                        <img src="//f.gn100.com/1,c5fc8b1c60ba">
                        <span class="c-title">七年级下册预科之平行线的性质与判定</span>
                        <span class="c-teacher">杨鹰</span>
                        <span class="c-time">开课时间：1月9号    19:00</span>
                        <span class="c-price">0元</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://cjxxpt.yunke.com/course.info.show/1172" target="_blank">
                        <img src="//f.gn100.com/3,c5d5a6d65e75">
                        <span class="c-title">写作技巧之波澜起伏</span>
                        <span class="c-teacher">李马根</span>
                        <span class="c-time">开课时间：1月8号    19:30</span>
                        <span class="c-price">0元</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://cjxxpt.yunke.com/course.info.show/1173" target="_blank">
                        <img src="//f.gn100.com/1,c5db2a1edb1f">
                        <span class="c-title">一次函数与四边形综合</span>
                        <span class="c-teacher">师怡敏</span>
                        <span class="c-time">开课时间：1月16号    14:00</span>
                        <span class="c-price">0元</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://100.yunke.com/course.info.show/1182" target="_blank">
                        <img src="//f.gn100.com/1,c5fc8b1c60ba">
                        <span class="c-title">七年级下册预科之平面直角坐标系</span>
                        <span class="c-teacher">杨鹰</span>
                        <span class="c-time">开课时间：1月16号    19:00</span>
                        <span class="c-price">0元</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            </ul>
        </div>
        <p class="title"><img src="{utility_cdn::img('/assets_v2/img/special/2016_01_05/tit3.jpg')}"></p>
        <p class="ta-c"><img src="{utility_cdn::img('/assets_v2/img/special/2016_01_05/tel.jpg')}"></p>
        <p class="ta-c" style="font-size:18px">
            低年级群：455388184 &nbsp;&nbsp;&nbsp;高年级群：128340979&nbsp;&nbsp;&nbsp;初中群：317085077
        </p>
    </div>
</section>
<footer>
    <p class="ta-c"><img src="{utility_cdn::img('/assets_v2/img/special/2016_01_05/fuwu.jpg')}"></p>
    <p class="ta-c">Copyright c  2015  北京高能壹佰教育科技有限公司版权所有<br>
京ICP备14053191号  云课--拓维旗下在线教育平台</p>
</footer>
</body>
</html>
