<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="title" content="云课 - 寒假报名">
<meta name="keywords" content="云课 - 云课堂 - 寒假报名">
<meta name="description" content="寒假课程报名">
<link rel="icon" type="image/x-icon" href="{utility_cdn::img('/assets_v2/img/platform/yunke.ico')}" />
<script type="text/javascript" src="{utility_cdn::js('/assets_v2/js/jquery/jquery-1.11.1.min.js')}"></script>
<script type="text/javascript" src="{utility_cdn::js('/assets_v2/layer/layer.js')}"></script>
<link rel="stylesheet" type="text/css" href="{utility_cdn::css('/assets_v2/css/platform/bootstrap/bootstrap.min.css')}">
<title>寒假报名 - 云课网 </title>
<style type="text/css">

@media screen and (min-width:320px) and (max-width:768px){
    .mingshi, .mingshi2 { float:none; } 
    .mingshi li a .face, .mingshi2 li a .face{ width:160px;height:150px; }
    .bg1{ height:633px; }
}
header,section{ float:left;width:100%; }
a:link{ color:#333; }
a:hover,a:visited{ text-decoration:none;color:#333; }
header{ height:370px;background:url(/assets_v2/img/special/2015_11_20/banner.png) no-repeat center top; }
.bg1{ background:url(/assets_v2/img/special/2015_11_20/bg_01.png) no-repeat center top;height:773px }
.bg2{ background:url(/assets_v2/img/special/2015_11_20/bg_02.png) no-repeat center top;height:600px }
.bg3{ background:url(/assets_v2/img/special/2015_11_20/bg_03.png) no-repeat center top;height:1454px }
.mingshi,.mingshi2{ margin:0 auto;height:275px;margin-top:30px }
.mingshi li,.mingshi2 li{ float:left;list-style-type:none;padding:0 }
.face{ margin:0 auto;display:block;width:200px;height:200px;overflow:hidden;-moz-border-radius:50%;-webkit-border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;border-radius:50%; }
.face img{ width:100% }
.name{ float:left;width:100%;text-align:center; }
.t-intro{ margin:0 auto;width:135px;text-align:center;background:#ffa918;overflow:hidden;-moz-border-radius:15px;-webkit-border-radius:15px;-o-border-radius:15px;-ms-border-radius:15px;border-radius:15px;line-height:30px;color:#fff }
.list{ float:left;width:100%;margin:30px 0;border-bottom:1px solid #ffffff;color:#000 }
.list th{ color:#ffffff;background:#ffa918;height:40px;border-top:1px solid #eee;border-right:1px solid #e5e5e5; }
.list td{ border-top:1px solid #ffffff;border-left:1px solid #ffffff;height:40px;text-align:center;color:#333; }
.list td:last-child{ border-right:1px solid #ffffff; }
.list tr:nth-child(odd){ background:#f3f3f3 }
.fs16{ font-size:18px;font-weight:bold }
a.baoming{ margin:0 auto;width:105px;line-height:30px;background:#198fee;color:#ffffff;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;border-radius:5px;display:inline-block }
a.baoming:hover{ background:#347edc; }
</style>
</head>
<body>
<header></header>
<section class="bg1 col-sm-20 col-lg-20 col-md-20">
    <div class="container">
    <div class="row">
        <p style="overflow:hidden;"><img src="{utility_cdn::img('/assets_v2/img/special/2015_11_20/title1.png')}"></p>
        <ul class="mingshi col-md-20 col-sm-15 col-lg-20">
            <li class="col-sm-6">
                <a href="https://100.yunke.com/teacher/detail/entry/2" target="_blank"><p class="face"><img src="{utility_cdn::img('/assets_v2/img/special/2015_11_20/xiongjuan.png')}"></p>
                <p class="name">熊娟</p>
                <p class="t-intro">华杯优秀教师</p></a>
            </li>
            <li class="col-sm-7">
                <a href="https://100.yunke.com/teacher/detail/entry/160" target="_blank"><p class="face"><img src="{utility_cdn::img('/assets_v2/img/special/2015_11_20/liulidong.png')}"></p>
                <p class="name">刘立东</p>
                <p class="t-intro">奥数优秀教练</p></a>
            </li>
            <li class="col-sm-6">
                <a href="https://100.yunke.com/teacher/detail/entry/1045" target="_blank"><p class="face"><img src="{utility_cdn::img('/assets_v2/img/special/2015_11_20/yangying.png')}"></p>
                <p class="name">杨鹰</p>
                <p class="t-intro">奥数优秀教练</p></a>
            </li>
        </ul>
        <ul class="mingshi2 col-md-20 col-sm-20 col-lg-20">
            <li class="col-sm-5">
                <a href="https://100.yunke.com/teacher/detail/entry/673" target="_blank"><p class="face"><img src="{utility_cdn::img('/assets_v2/img/special/2015_11_20/renlili.png')}"></p>
                <p class="name">任丽丽</p>
                <p class="t-intro">奥数优秀教练</p></a>
            </li>
            <li class="col-sm-5">
                <a href="https://100.yunke.com/teacher/detail/entry/2684" target="_blank"><p class="face"><img src="{utility_cdn::img('/assets_v2/img/special/2015_11_20/huahua.png')}"></p>
                <p class="name">花花</p>
                <p class="t-intro">资深语文教师</p></a>
            </li>
            <li class="col-sm-5">
                <a href="https://100.yunke.com/teacher/detail/entry/2774" target="_blank"><p class="face"><img src="{utility_cdn::img('/assets_v2/img/special/2015_11_20/aila.png')}"></p>
                <p class="name">艾拉</p>
                <p class="t-intro">资深英语老师</p></a>
            </li>
            <li class="col-sm-5">
                <a href="https://100.yunke.com/teacher/detail/entry/7194" target="_blank"><p class="face"><img src="{utility_cdn::img('/assets_v2/img/special/2015_11_20/zhanghongwei.png')}"></p>
                <p class="name">张洪伟</p>
                <p class="t-intro">优秀教师</p></a>
            </li>
        </ul>
    </div>
    </div>
</section>
<section class="bg2">
    <div class="container">
    <div class="row">
        <p style="overflow:hidden;"><img class="col-sm-20 col-lg-20 col-md-20" src="{utility_cdn::img('/assets_v2/img/special/2015_11_20/title2.png')}"></p>
        <p style="padding-top:100px"><img class="col-sm-20 col-lg-20 col-md-20" src="{utility_cdn::img('/assets_v2/img/special/2015_11_20/dashijian.png')}"></p>
    </div>
    </div>
</section>
<section class="bg3">
    <div class="container">
    <div class="row">
        <p style="overflow:hidden;"><img class="col-sm-20 col-lg-20 col-md-20" src="{utility_cdn::img('/assets_v2/img/special/2015_11_20/title3.png')}"></p>
        <table class="list">
            <tr>
                <th>科目</th>
                <th>授课老师</th>
                <th>课程</th>
                <th>开课日期</th>
                <th>课次</th>
                <th>上课时间</th>
                <th>报名</th>
            </tr>
            <tr>
                <td rowspan="13" class="fs16">数学</td>
                <td><a href="https://100.yunke.com/teacher/detail/entry/160" target="_blank">刘立东</a></td>
                <td><a href="https://100.yunke.com/course.info.show/562" target="_blank">初一数学尖子班</a></td>
                <td>2月15日</td>
                <td>7</td>
                <td>9:00-11:00</td>
                <td><a href="https://100.yunke.com/course.info.show/562" class="baoming">点击报名</a></td>
            </tr>
            <tr>
                <td><a href="https://100.yunke.com/teacher/detail/entry/160" target="_blank">刘立东</a></td>
                <td><a href="https://100.yunke.com/course.info.show/564" target="_blank">三年级数学思维训练</a></td>
                <td>1月21日</td>
                <td>7</td>
                <td>19:00-21:00</td>
                <td><a href="https://100.yunke.com/course.info.show/564" class="baoming">点击报名</a></td>
            </tr>
            <tr>
                <td><a href="https://100.yunke.com/teacher/detail/entry/673" target="_blank">任丽丽</a></td>
                <td><a href="https://100.yunke.com/course.info.show/565" target="_blank">二年级数学思维训练</a></td>
                <td>1月28日</td>
                <td>7</td>
                <td>19:00-21:00</td>
                <td><a href="https://100.yunke.com/course.info.show/565" class="baoming">点击报名</a></td>
            </tr>
            <tr>
                <td><a href="https://100.yunke.com/teacher/detail/entry/673" target="_blank">任丽丽</a></td>
                <td><a href="https://100.yunke.com/course.info.show/566" target="_blank">三年级数学思维训练</a></td>
                <td>1月21日</td>
                <td>7</td>
                <td>19:00-21:00</td>
                <td><a href="https://100.yunke.com/course.info.show/566" class="baoming">点击报名</a></td>
            </tr>
            <tr>
                <td><a href="https://100.yunke.com/teacher/detail/entry/2" target="_blank">熊娟</a></td>
                <td><a href="https://100.yunke.com/course.info.show/567" target="_blank">六年级寒假尖子班</a></td>
                <td>1月21日</td>
                <td>7</td>
                <td>19:00-21:00</td>
                <td><a href="https://100.yunke.com/course.info.show/567" class="baoming">点击报名</a></td>
            </tr>
            <tr>
                <td><a href="https://100.yunke.com/teacher/detail/entry/2" target="_blank">熊娟</a></td>
                <td><a href="https://100.yunke.com/course.info.show/568" target="_blank">初一寒假尖子班</a></td>
                <td>1月28日</td>
                <td>7</td>
                <td>19:00-21:00</td>
                <td><a href="https://100.yunke.com/course.info.show/568" class="baoming">点击报名</a></td>
            </tr>
            <tr>
                <td><a href="https://100.yunke.com/teacher/detail/entry/1045" target="_blank">杨鹰</a></td>
                <td><a href="https://100.yunke.com/course.info.show/569" target="_blank">小升初综合训练</a></td>
                <td>1月28日</td>
                <td>7</td>
                <td>19:00-21:00</td>
                <td><a href="https://100.yunke.com/course.info.show/569" class="baoming">点击报名</a></td>
            </tr>
            <tr>
                <td><a href="https://100.yunke.com/teacher/detail/entry/1045" target="_blank">杨鹰</a></td>
                <td><a href="https://100.yunke.com/course.info.show/570" target="_blank">初一数学寒假预科精品班</a></td>
                <td>1月21日</td>
                <td>7</td>
                <td>19:00-21:00</td>
                <td><a href="https://100.yunke.com/course.info.show/570" class="baoming">点击报名</a></td>
            </tr>
            <tr>
                <td><a href="https://100.yunke.com/teacher/detail/entry/1045" target="_blank">杨鹰</a></td>
                <td><a href="https://100.yunke.com/course.info.show/571" target="_blank">初二数学寒假预科精品班</a></td>
                <td>1月28日</td>
                <td>7</td>
                <td>14:00-16:00</td>
                <td><a href="https://100.yunke.com/course.info.show/571" class="baoming">点击报名</a></td>
            </tr>
            <tr>
                <td><a href="https://100.yunke.com/teacher/detail/entry/7194" target="_blank">张洪伟</a></td>
                <td><a href="https://100.yunke.com/course.info.show/575" target="_blank">五年级寒假思维</a></td>
                <td>1月21日</td>
                <td>7</td>
                <td>19:00-21:00</td>
                <td><a href="https://100.yunke.com/course.info.show/575" class="baoming">点击报名</a></td>
            </tr>
            <tr>
                <td><a href="https://100.yunke.com/teacher/detail/entry/7194" target="_blank">张洪伟</a></td>
                <td><a href="https://100.yunke.com/course.info.show/576" target="_blank">四年级寒假思维训练</a></td>
                <td>1月28日</td>
                <td>7</td>
                <td>19:00-21:00</td>
                <td><a href="https://100.yunke.com/course.info.show/576" class="baoming">点击报名</a></td>
            </tr>
            <tr>
                <td><a href="https://100.yunke.com/teacher/detail/entry/7194" target="_blank">张洪伟</a></td>
                <td><a href="https://100.yunke.com/course.info.show/577" target="_blank">小学奥数中年级计数专题精讲</a></td>
                <td>2月15日</td>
                <td>7</td>
                <td>9:00-11:00</td>
                <td><a href="https://100.yunke.com/course.info.show/577" class="baoming">点击报名</a></td>
            </tr>
            <tr>
                <td><a href="https://100.yunke.com/teacher/detail/entry/7194" target="_blank">张洪伟</a></td>
                <td><a href="https://100.yunke.com/course.info.show/578" target="_blank">小学奥数中年级应用题专题精讲</a></td>
                <td>2月15日</td>
                <td>7</td>
                <td>19:00-21:00</td>
                <td><a href="https://100.yunke.com/course.info.show/578" class="baoming">点击报名</a></td>
            </tr>
            <tr>
                <td rowspan="2" class="fs16">英语</td>
                <td><a href="https://100.yunke.com/teacher/detail/entry/2774" target="_blank">艾拉</a></td>
                <td><a href="https://100.yunke.com/course.info.show/560" target="_blank">初一英语寒假预科精品班</a></td>
                <td>1月21日</td>
                <td>7</td>
                <td>19:00-21:00</td>
                <td><a href="https://100.yunke.com/course.info.show/560" class="baoming">点击报名</a></td>
            </tr>
            <tr>
                <td><a href="https://100.yunke.com/teacher/detail/entry/2774" target="_blank">艾拉</a></td>
                <td><a href="https://100.yunke.com/course.info.show/561" target="_blank">初二英语寒假预科精品班</a></td>
                <td>2月15日</td>
                <td>7</td>
                <td>19:00-21:00</td>
                <td><a href="https://100.yunke.com/course.info.show/561" class="baoming">点击报名</a></td>
            </tr>
            <tr>
                <td rowspan="2" class="fs16">语文</td>
                <td><a href="https://100.yunke.com/teacher/detail/entry/2684" target="_blank">花花</a></td>
                <td><a href="https://100.yunke.com/course.info.show/572" target="_blank">小学语文阅读满分班</a></td>
                <td>1月21日</td>
                <td>7</td>
                <td>19:00-21:00</td>
                <td><a href="https://100.yunke.com/course.info.show/572" class="baoming">点击报名</a></td>
            </tr>
            <tr>
                <td><a href="https://100.yunke.com/teacher/detail/entry/2684" target="_blank">花花</a></td>
                <td><a href="https://100.yunke.com/course.info.show/574" target="_blank">小学语文作文训练营</a></td>
                <td>1月28日</td>
                <td>7</td>
                <td>19:00-21:00</td>
                <td><a href="https://100.yunke.com/course.info.show/574" class="baoming">点击报名</a></td>
            </tr>
        </table>
        <p style="text-align:center;color:red;float:left;width:100%;">
            注释：寒假课程均为每天一次，连续7天上课
        </p>
        <p style="overflow:hidden;"><img class="col-sm-20 col-lg-20 col-md-20" src="{utility_cdn::img('/assets_v2/img/special/2015_11_20/title4.png')}"></p>
        <p style="text-align:center"><img src="{utility_cdn::img('/assets_v2/img/special/2015_11_20/tel.png')}"></p>
        <p style="text-align:center;float:left;width:100%;font-size:16px">
            <a target="_blank" alt="小升初学习资料群"  href="http://shang.qq.com/wpa/qunwpa?idkey=3f0f017d09142d79afb29987b38a5d05a563df36bae76d3b8ece33a5e0bb027d">小学低年级群：455388184</a>&nbsp;
            <a target="_blank" alt="长沙16年小升初家长群"  href="http://shang.qq.com/wpa/qunwpa?idkey=7ee457184cd20d97bd1a5fef2663e8abb0fdb545c27cfa5c2bd6bfc4879f9b30">小学高年级群：128340979</a>&nbsp;
            <a target="_blank" alt="高能100-新初一家长群"  href="http://shang.qq.com/wpa/qunwpa?idkey=0c366701dbc8595885315bda58e92fe9e54ace2d308910cb4dcc2c951ef14e57">初一年级群：317085077</a>
        </p>
        <p style="text-align:center;float:left;width:100%">Copyright©2015 北京高能壹佰教育科技有限公司版权所有<br/>
京ICP备14053191号  云课--拓维旗下在线教育平台</p>
    </div>
    </div>
</section>
</body>
</html>
