<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="title" content="云课 - 寒假报名">
<meta name="keywords" content="云课 - 云课堂 - 寒假报名">
<meta name="description" content="寒假课程报名">
<link rel="icon" type="image/x-icon" href="{utility_cdn::img('/assets_v2/img/platform/yunke.ico')}" />
<script type="text/javascript" src="{utility_cdn::js('/assets_v2/js/jquery/jquery-1.11.1.min.js')}"></script>
<script type="text/javascript" src="{utility_cdn::js('/assets_v2/layer/layer.js')}"></script>
<link rel="stylesheet" type="text/css" href="{utility_cdn::css('/assets_v2/css/bootstrap/bootstrap.min.css')}">
<title>全国幼儿园和小学六一汇演视频评选活动-初中课-云课网 </title>
<style type="text/css">
body,html{ padding:0;margin:0;background:#55d5fe;font-size:14px;font-family: \5fae\8f6f\96c5\9ed1,Arial,"Hiragino Sans GB",Helvetica,sans-serif; }
header,footer,section{ float:left;width:100%;position:relative }
header img,footer img{ float:left;width:100%;max-width:1920px; }
footer p{ float:left;line-height:180%;z-index:333;width:100%;bottom:10px;text-align:center;color:#333;position:absolute;padding-bottom:10px }
footer a{ color:#333;text-decoration: none }
.container{ border:3px solid #42b9db;background:#fff;padding:30px;margin-bottom:20px }
.container p{ float:left;text-align:left }
.info{ background:#f5f5f5;text-align:center;font-size:36px}
.inline-block{ margin:0 auto;display:inline-block;text-align:left; }
.tac{ text-align:center;}
.fs36{ font-size:36px }
.fs30{ font-size:30px }
.fs20{ font-size:20px }
.cred{ color:#ff4500; }
.cblue{ color:#14668f }
.list{ float:left;width:100% }
.list p{ padding:20px 10px 0 10px;margin:0 }
.list a{ font-size:24px;color:#14668f;border:1px solid #14668f;padding:10px;width:100%;float:left;text-align:center }
.list a:hover{ text-decoration:none; }
@media screen and (min-width:320px) and (max-width:768px) {
    .container{ padding:5px}
    .fs36{ font-size:2rem }
    .info{ font-size:1.5rem}
    .fs30{ font-size:1.5rem}
    .list a{ font-size:1.2rem;white-space:nowrap;overflow:hidden;text-overflow: ellipsis; }
    footer{ height:10rem}
}
</style>
</head>
<body>
<header>
    <img src="/assets_v2/img/special/2016_06_06/banner.jpg">
</header>
<section>
    <div class="container info">
        <div class="inline-block" style="line-height:200%">
            <font style="color:#55d5fe">全国幼儿园和小学六一汇演视频评选活动</font>
            <br><font style="color:#ff4500">活动时间：6月1日--6月10日</font>
        </div>
        <div class="inline-block hidden-xs hidden-sm"><img src="/assets_v2/img/special/2016_06_06/1.png" style="margin-top:-80px"></div>
    </div>
</section>
<section>
    <div class="container tac">
        <div class="inline-block fs30 cred">大赛前言</div>
        <p class="fs20 cblue">在“六一”儿童节来临之际，各幼儿园、小学均有文艺汇演活动。为充分展示各个学校的风采，扩大学校的影响，提高学校云课空间的活跃度，云课平台发起“六一汇演大比拼”全国幼儿园和小学六一汇演视频评选活动。各学校上传录播汇演视频至本校云课空间，平台进行统一宣传展示最终评选最热门学校并颁发奖品。</p>
    </div>
</section>
<section>
    <div class="container tac">
        <div class="inline-block fs30 cred">参赛学校</div>
        <div class="list">
            <p class="col-md-5 col-xs-10"><a href="https://jdfzfx.yunke.com/course.plan.play/16629" target="_blank">西安交大附中分校</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://glqdszx.yunke.com/course.plan.play/13215" target="_blank">西安高陵县四中</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://sztdedu.yunke.com/course.plan.play/17407" target="_blank">砂子塘泰禹小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://tzqjxx.yunke.com/course.plan.play/17102" target="_blank">滕州前进中心小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://gxqhyxx.yunke.com/course.plan.play/17786" target="_blank">冠县清华园学校</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://gxqhyxx.yunke.com/course.plan.play/17786" target="_blank">长沙虹桥小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://cshqxx.yunke.com/course.plan.play/17622" target="_blank">长沙实验梅溪湖学校</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://csssyxxmxhxx.yunke.com/course.plan.play/17172" target="_blank">珠海斗门实验小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://gxycsy.yunke.com/course.plan.play/17749" target="_blank">冠县育才双语学校</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://xjwlxx.yunke.com/course.plan.play/18296" target="_blank">夏津万隆学校</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://ylqsyxx.yunke.com/course.plan.play/18155" target="_blank">长沙岳麓实验小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://zxywx.yunke.com/course.plan.play/17814" target="_blank">资兴市一完小</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://qflxx.yunke.com/course.plan.play/17490" target="_blank">天水区府路小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://zjjcsxxbx.yunke.com/course.plan.play/17990" target="_blank">张家界崇实小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://xnsdsxx.yunke.com/course.plan.play/17673" target="_blank">兴宁市第十小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://xyqsyxx.yunke.com/course.plan.play/17063" target="_blank">蒲州秀屿实验小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://fzjtlxx.yunke.com/course.plan.play/17916" target="_blank">福州交通路小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://dylxx.yunke.com/course.plan.play/17414" target="_blank">西安东仪路小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://lygxqsyxx.yunke.com/course.plan.play/17962" target="_blank">临沂高新实验小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://sisx.yunke.com/course.plan.play/18287" target="_blank">滕州第四实验小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://xjwlxx.yunke.com/course.plan.play/18204" target="_blank">庆云县渤海小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://yantaikaifaquyixiao.yunke.com/course.plan.play/17843" target="_blank">烟台开发区一小</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://mjjpgyey.yunke.com/course.plan.play/17553" target="_blank">天水金苹果幼儿园</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://nywlzxyey.yunke.com/course.plan.play/16994" target="_blank">未来之星幼儿园</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://hxcdyey.yunke.com/course.plan.play/18275" target="_blank">庆阳车道幼儿园</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://qcxjyyey.yunke.com/course.plan.play/18276" target="_blank">庆阳精英幼儿园</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://znxteyey.yunke.com/course.plan.play/17411" target="_blank">小天鹅幼儿园</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://qcxffyey.yunke.com/course.plan.play/17470" target="_blank">董家滩芳菲幼儿园</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://hdyey.yunke.com/course.plan.play/17253" target="_blank">庆阳华都幼儿园</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://qcxltyey.yunke.com/course.plan.play/17334" target="_blank">庆阳蓝天幼儿园</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://hxtsnjyey.yunke.com/course.plan.play/17596" target="_blank">庆阳甜水南街幼儿园</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://hxlwyey.yunke.com/course.plan.play/17723" target="_blank">庆阳芦家湾幼儿园</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://gqxsyyey.yunke.com/course.plan.play/17531" target="_blank">高青县实验幼儿园</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://jxfx.yunke.com/course.plan.play/18180" target="_blank">宜章教进学校附小</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://hqsyxx.yunke.com/course.plan.play/18176" target="_blank">永兴红旗实验小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://gyxsjxx.yunke.com/course.plan.play/18178" target="_blank">桂阳县士杰学校</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://hyszhqyjxx.yunke.com/course.plan.play/18136" target="_blank">衡阳珠晖冶金小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://sfslsy.yunke.com/course.plan.play/18162" target="_blank">双峰三立学校</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://yslxyx.yunke.com/course.plan.play/18167" target="_blank">永顺一小</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://lcxcxx.yunke.com/course.plan.play/18169" target="_blank">紫金县第一小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://zijinxianyixiao.yunke.com/course.plan.play/18170" target="_blank">龙川县新城小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://lcxtzxxx.yunke.com/course.plan.play/18171" target="_blank">龙川新田中心小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://ymjxx.yunke.com/course.plan.play/18277" target="_blank">兰州玉门街小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://cxdsxx.yunke.com/course.plan.play/18293" target="_blank">岑溪第十小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://cx11xx.yunke.com/course.plan.play/18294" target="_blank">岑溪第十一小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://lxesx.yunke.com/course.plan.play/18297" target="_blank">龙圩第二实验小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://lxzxxx.yunke.com/course.plan.play/18298" target="_blank">龙圩中心小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://pyshixiao.yunke.com/course.plan.play/18164" target="_blank">平邑县实验小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://ygsjyxx.yunke.com/course.plan.play/17466" target="_blank">阳谷世纪园完全小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://jcsxyyey.yunke.com/course.plan.play/18278" target="_blank">金昌新芽幼儿园</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://dh0936.yunke.com/course.plan.play/18281" target="_blank">张掖东湖幼儿园</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://shenglixiaoxue.yunke.com/course.plan.play/18289" target="_blank">永兴胜利小学</a></p>
            <p class="col-md-5 col-xs-10"><a href="https://yxxcysyxx.yunke.com/course.info.show/4997" target="_blank">永兴县朝阳小学</a></p>
        </div>
    </div>
</section>
<footer>
    <img src="/assets_v2/img/special/2016_06_06/footer.png" class="hidden-xs hidden-sm">
    <p>
        <a href="/index.about" target="_blank">关于我们</a> |
        <a href="/index.feedback" target="_blank">意见反馈</a> |
        <a href="/index.help" target="_blank">在线帮助</a> |
        <a href="/index.main.client" target="_blank">客户端下载</a> <br>
        Copyright c  2015  北京高能壹佰教育科技有限公司版权所有<br>
        京ICP备14053191号  云课--拓维旗下在线教育平台</p>
</footer>
</body>
</html>
