<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta name="renderer" content="webkit">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="title" content="云课 - 暑假课程推广">
	<meta name="keywords" content="云课 - 云课堂 - 暑假课程推广">
	<meta name="description" content="暑假课程推广">
	<link rel="icon" type="image/x-icon" href="{utility_cdn::img('/assets_v2/img/platform/yunke.ico')}" />
	<title>（一起学吧）暑期课程</title>
	<link rel="stylesheet" type="text/css" href="{utility_cdn::img('/assets_v2/css/bootstrap/bootstrap.min.css')}">
	<link rel="stylesheet" href="{utility_cdn::img('/assets_v2/css/index.css')}">
	<script type="text/javascript" src="{utility_cdn::js('/assets_v2/js/jquery/jquery-1.11.1.min.js')}"></script>
</head>
<style>
body{ background: #380fa4;}
.fs-color{ color: #ffea00;}
.summer-hd img,.ft img{ display: block;}
.pdl0{ padding-left:0;}
.pt7{ padding-top: 7px;}
.pdl45{ padding-left: 45px;}
.mb40{ margin-bottom: 40px;}
.reg-btn,.reg-btn:visited,.reg-btn:active,.reg-btn:hover{ padding:0;line-height: 27px;text-align: center;color: #fff;display: block;background: #379fff;border-radius:3px;}					
.bg-box{ width:93%;height:721px;background: url(/assets_v2/img/special/2016_06_16/summer-img03.jpg) no-repeat center 0;background-size: cover;margin:0 auto 60px auto;}
.bg-box h1{ font-size: 26px;}
.bg-left{ padding:45px 18px 0 45px;}
.bg-left p{ color: #fff;line-height: 30px;margin-top: 35px;}
.list dt{ width: 100%;}

.list dd{ margin-right: 16px;}
.list dd:last-child{ margin-right: 0;}
.list span{ display:block;line-height: 27px;color: #fff;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.try-audio{ height: 54px;background: url(/assets_v2/img/special/2016_06_16/summer-img04.jpg) no-repeat center 0;display: block;}
.small-teacher-info{ width: 90%;margin:0 auto 60px auto;border:2px solid #3a50b3;padding-bottom: 10px;overflow: hidden;}
.small-teacher-info .fsInfo{ color: #fff;}
.tryBtn-audio,.tryBtn-audio:hover{ width: 158px;line-height: 52px;text-align: center;background: #ffe900;color: #ff3662;font-size: 26px;display: block;border-radius: 5px;margin: 0 auto;}
.ft_one{ width: 100%;height:240px;background: url(/assets_v2/img/special/2016_06_16/summer-img45.jpg) no-repeat center 0;}
.ft_two{ width: 100%;height:240px;background: url(/assets_v2/img/special/2016_06_16/summer-img46.jpg) no-repeat center 0;}
.ft_three{ width: 100%;height:257px;background: url(/assets_v2/img/special/2016_06_16/summer-img47.jpg) no-repeat center 0;}
@media screen and (min-width:320px) and (max-width:760px){
	.pdl45{ padding-left: 0;}
	.list dd{ margin-right: 6px;}
	ul.clearfix img{ width: 100%;}
	.tryBtn-audio, .tryBtn-audio:hover{ margin-bottom:20px;}
	.ft_one{ width: 90%;height:240px;margin: 0 auto;background: url(/assets_v2/img/special/2016_06_16/summer-img45.jpg) no-repeat center 0;}
	.ft_two{ width: 90%;height:240px;margin: 0 auto;background: url(/assets_v2/img/special/2016_06_16/summer-img46.jpg) no-repeat center 0;}
	.ft_three{ width: 90%;height:256px;margin: 0 auto;background: url(/assets_v2/img/special/2016_06_16/summer-img47.jpg) no-repeat center 0;}
}
@media screen and (min-width:1500px) and (max-width:1920px){
	.bg-box{ width:1250px;height:721px;background: url(/assets_v2/img/special/2016_06_16/summer-img03.jpg) no-repeat center 0;background-size: cover;margin:0 auto 60px auto;}
	.small-teacher-info{ width: 1214px;margin:0 auto 60px auto;border:2px solid #3a50b3;padding-bottom: 10px;overflow: hidden;}
}
</style>
<script type="text/javascript">
$(function() {
	if($(window).width() < 760) {
		$('.hiddenbtn').remove();
		$('.ftImg').show();
		$('.ft_one,.ft_two,.ft_three').hide();
	}
})
</script>
<body>
<!-- hd -->
	<section>
		<div class="summer-hd">
			<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img01.jpg')}" width="100%" alt="">
			<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img02.jpg')}" width="100%" alt="">
		</div>
	</section>
<!-- /hd -->
<!-- list -->
<section>
	<div class="bg-box mb40">
		<div class="bg-content clearfix">
		<!-- lt -->
			<div class="bg-left col-md-13 col-xs-20 pd0">
				<h1 class="fs-color">张发营</h1>
				<div class="bg-right col-md-7 col-xs-20 hidden-md hidden-lg">
					<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img08.jpg')}" width="100%" alt="">
				</div>
				<p class="fs16">
					毕业于北京师范大学，曾获得奥林匹克数学联赛山东省一等奖。从事中小学数学教学多年，善于针对不同层次的学生因材施教，引导学生积极思考，注重数学解题思路、方法和技巧的培养。辅导过的学生有多名考入北大附中、八一中学等重点高中。
				</p>
				<div class="fs16 clearfix mb15">
					<p class="c-fl">
						<span class="fs-color">[ 宣言 ]</span>  其实数学很简单，掌握方法是关键！
					</p>
					<a href="https://xue.yunke.com/course/info/show/1611" target="_blank" title="" class="c-fr try-audio col-md-6 col-xs-20 mt15"></a>
				</div>
				<dl class="list col-md-20 pd0">
					<dt class="fs-color fs16 col-md-20 col-xs-20 mb15">[ 主推课程 ]</dt>
					<dd class="col-md-6 col-xs-6 pd0">
						<a href="https://www.gn100.com/course/info/show/2868" title="" target="_blank">
							<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img05.jpg')}" width="100%" alt="">
						</a>
						<div class="mt10 fs14">
							<span class="course-name col-md-12 col-md-20 pd0">六升初一暑假10次预科...</span>
							<a href="https://www.gn100.com/course/info/show/2868" target="_blank" class="reg-btn col-md-20 col-md-8 fs12" title="">立即报名</a>
						</div>
					</dd>
					<dd class="col-md-6 col-xs-6 pd0">
						<a href="https://www.gn100.com/course/info/show/2882" title="" target="_blank">
							<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img06.jpg')}" width="100%" alt="">
						</a>
						<div class="mt10 fs14">
							<span class="course-name col-md-11 col-md-20 pd0">六升初一预科</span>
							<a href="https://www.gn100.com/course/info/show/2882" target="_blank" class="reg-btn col-md-20 col-md-9 fs12" title="">立即报名</a>
						</div>
					</dd>
					<dd class="col-md-6 col-xs-6 pd0">
						<a href="https://www.gn100.com/course/info/show/5147" title="" target="_blank">
							<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img07.jpg')}" width="100%" alt="">
						</a>
						<div class="mt10 fs14">
							<span class="course-name col-md-12 col-md-20 pd0">六年级暑假作业讲解</span>
							<a href="https://www.gn100.com/course/info/show/5147" target="_blank" class="reg-btn col-md-20 col-md-8 fs12" title="">立即报名</a>
						</div>
					</dd>
					<dd class="col-md-2 col-xs-2 hiddenbtn"></dd>
				</dl>
				<div class="col-md-20 pd0 col-xs-20">
					<h2 class="fs-color fs16">[ 学员评价 ]</h2>
				</div>
			</div>
		<!-- /lt -->
		<!-- rt -->
			<div class="bg-right col-md-7 col-xs-20 hidden-xs hidden-sm">
				<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img08.jpg')}" width="100%" alt="">
			</div>
		<!-- /rt -->
		</div>
		<section>
			<ul class="clearfix col-xs-20">
				<li class="col-md-20 col-xs-20 mb10 pdl0 pt7">
					<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img17.jpg')}" alt="">
				</li>
				<li class="col-md-20 col-xs-20 pdl0">
					<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img18.jpg')}" alt="">
				</li>
			</ul>
		</section>
	</div>
	<div class="bg-box">
		<div class="bg-content clearfix">
		<!-- lt -->
			<div class="bg-left col-md-13 col-xs-20 pd0">
				<h1 class="fs-color">杨鹰</h1>
				<div class="bg-right col-md-7 col-xs-20 hidden-md hidden-lg">
					<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img12.jpg')}" width="100%" alt="">
				</div>
				<p class="fs16">
					毕业于北京航空航天大学，热爱数学，从事中小学生数学教育3年。讲课条理，逻辑清晰，注重知识总结和思维方式的锻炼，课堂生动活泼，深受同学们喜爱，人送外号“飞鹰老师”。在老师帮助下，已经有众多同学的数学走上了康庄大道，希望能够让更多的同学爱上数学，取得好成绩。
				</p>
				<div class="fs16 clearfix mb15">
					<a href="https://www.gn100.com/course.info.show/1182" target="_blank" title="" class="c-fr try-audio col-md-6 col-xs-20 mt15"></a>
				</div>
				<dl class="list col-md-20 pd0">
					<dt class="fs-color fs16 mb15">[ 主推课程 ]</dt>
					<dd class="col-md-6 col-xs-6 pd0">
						<a href="https://www.gn100.com/course/info/show/2877" title="" target="_blank">
							<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img09.jpg')}" width="100%" alt="">
						</a>
						<div class="mt10 fs14">
							<span class="course-name col-md-12 col-md-20 pd0">暑期六升初一预科</span>
							<a href="https://www.gn100.com/course/info/show/2877" target="_blank" class="reg-btn col-md-20 col-md-8 fs12" title="">立即报名</a>
						</div>
					</dd>
					<dd class="col-md-6 col-xs-6 pd0">
						<a href="https://www.gn100.com/course/info/show/4124" title="" target="_blank">
							<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img10.jpg')}" width="100%" alt="">
						</a>
						<div class="mt10 fs14">
							<span class="course-name col-md-11 col-md-20 pd0">初一升初二暑假预科</span>
							<a href="https://www.gn100.com/course/info/show/4124" target="_blank" class="reg-btn col-md-20 col-md-9 fs12" title="">立即报名</a>
						</div>
					</dd>
					<dd class="col-md-6 col-xs-6 pd0">
						<a href="https://www.gn100.com/course/info/show/5146" title="" target="_blank">
							<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img11.jpg')}" width="100%" alt="">
						</a>
						<div class="mt10 fs14">
							<span class="course-name col-md-12 col-md-20 pd0">五年级暑假作业讲解</span>
							<a href="https://www.gn100.com/course/info/show/5146" target="_blank" class="reg-btn col-md-20 col-md-8 fs12" title="">立即报名</a>
						</div>
					</dd>
					<dd class="col-md-2 col-xs-2 hiddenbtn"></dd>
				</dl>
				<div class="col-xs-20 col-md-20 pd0">
					<h2 class="fs-color fs16">[ 学员评价 ]</h2>
				</div>
			</div>
		<!-- /lt -->
		<!-- rt -->
			<div class="bg-right col-md-7 col-xs-20 hidden-xs hidden-sm">
				<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img12.jpg')}" width="100%" alt="">
			</div>
		<!-- /rt -->
		</div>
		<section>
			<ul class="clearfix col-xs-20 pt7">
				<li class="col-md-20 col-xs-20 pdl0">
					<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img19.jpg')}" alt="">
				</li>
				<li class="col-md-20 col-xs-20 pt7 pdl0">
					<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img20.jpg')}" alt="">
				</li>
			</ul>
		</section>
	</div>
	<!-- smallImg -->
	<div class="small-teacher-info clearfix">
		<div class="col-md-5 pd0">
			<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img13.jpg')}" width="100%" alt="">
		</div>
		<div class="col-md-15 fsInfo">
			<h1 class="fs20 mt10">张洪伟</h1>
			<p class="fs14 mt10 mb10">
				高能100数学骨干教师，多年的从教经验，既具有年轻教师身上的创新与大胆，又具有老教师的严谨深刻，这样使课堂充满着
				轻松但不放松、愉快但不娱乐的学习氛围。问题制导、小步走、讲练反式的授课模式使得孩子对知识的理解更加深入、细致，
				最终达到学会、学懂、学精的目的。
			</p>
			<div class="col-xs-20 hidden-md  hidden-lg">
				<a href="https://www.gn100.com/course.info.show/1183" target="_blank" title="" class="tryBtn-audio">精彩试听</a>
			</div>
			<dl class="list col-md-20 pd0">
				<dd class="col-md-6 col-xs-6 pd0">
					<a href="https://www.gn100.com/course/info/show/2873" title="" target="_blank">
						<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img14.jpg')}" width="100%" alt="">
					</a>
					<div class="mt10 fs14">
						<span class="course-name col-md-12 col-md-20 pd0">四升五暑期思维班</span>
						<a href="https://www.gn100.com/course/info/show/2873" target="_blank" class="reg-btn col-md-20 col-md-8 fs12" title="">立即报名</a>
					</div>
				</dd>
				<dd class="col-md-6 col-xs-6 pd0">
					<a href="https://www.gn100.com/course/info/show/2875" title="" target="_blank">
						<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img15.jpg')}" width="100%" alt="">
					</a>
					<div class="mt10 fs14">
						<span class="course-name col-md-11 col-md-20 pd0">五升六暑期思维训练</span>
						<a href="https://www.gn100.com/course/info/show/2875" target="_blank" class="reg-btn col-md-20 col-md-9 fs12" title="">立即报名</a>
					</div>
				</dd>
				<dd class="col-md-6 col-xs-6 pd0">
					<a href="https://www.gn100.com/course/info/show/5145" title="" target="_blank">
						<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img16.jpg')}" width="100%" alt="">
					</a>
					<div class="mt10 fs14">
						<span class="course-name col-md-12 col-md-20 pd0">四年级暑假作业讲解</span>
						<a href="https://www.gn100.com/course/info/show/5145" target="_blank" class="reg-btn col-md-20 col-md-8 fs12" title="">立即报名</a>
					</div>
				</dd>
				<dd class="col-md-2 col-xs-2 hiddenbtn"></dd>
			</dl>
			<div class="fs16 fs-color col-md-20 pd0 mt10 mb10">
				[ 学员评价 ]  
			</div>	
		</div>
		<section>
			<ul class="clearfix">
				<li class="col-md-5 col-xs-20 hidden-xs hidden-sm">
					<a href="https://www.gn100.com/course.info.show/1183" target="_blank" title="" class="tryBtn-audio">精彩试听</a>
				</li>
				<li class="col-md-15 col-xs-20">
					<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img21.jpg')}" alt="">
				</li>
			</ul>
		</section>
	</div>
	<div class="small-teacher-info clearfix">
		<div class="col-md-5 pd0">
			<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img22.jpg')}" width="100%" alt="">
		</div>
		<div class="col-md-15 fsInfo">
			<h1 class="fs20 mt10">任丽丽</h1>
			<p class="fs14 mt10 mb10">
				毕业于北京师范大学，有着良好的心理学背景，了解学生的心理特征，擅长从学生的心理入手，帮助和引导学生逐步养成良好的学习习惯。擅长一题多解，引导学生从多角度看问题，多角度解题的思维习惯。对于孩子的教育有自己独特的见解，我们应该尊重孩子，每一个孩子都是独立的个体，有着非凡的创造力！
			</p>
			<div class="col-xs-20 hiddem-md hidden-lg">
				<a href="https://www.gn100.com/course.info.show/1180" target="_blank" title="" class="tryBtn-audio">精彩试听</a>
			</div>
			<dl class="list col-md-20 pd0">
				<dd class="col-md-6 col-xs-6 pd0">
					<a href="https://www.gn100.com/course/info/show/2870" title="" target="_blank">
						<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img23.jpg')}" width="100%" alt="">
					</a>
					<div class="mt10 fs14">
						<span class="course-name col-md-12 col-md-20 pd0">二升三暑期思维训练</span>
						<a href="https://www.gn100.com/course/info/show/2870" target="_blank" class="reg-btn col-md-20 col-md-8 fs12" title="">立即报名</a>
					</div>
				</dd>
				<dd class="col-md-6 col-xs-6 pd0">
					<a href="https://www.gn100.com/course/info/show/2871" title="" target="_blank">
						<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img24.jpg')}" width="100%" alt="">
					</a>
					<div class="mt10 fs14">
						<span class="course-name col-md-11 col-md-20 pd0">三升四暑期思维班</span>
						<a href="https://www.gn100.com/course/info/show/2871" target="_blank" class="reg-btn col-md-20 col-md-9 fs12" title="">立即报名</a>
					</div>
				</dd>
				<dd class="col-md-6 col-xs-6 pd0">
					<a href="https://www.gn100.com/course/info/show/5143" title="" target="_blank">
						<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img25.jpg')}" width="100%" alt="">
					</a>
					<div class="mt10 fs14">
						<span class="course-name col-md-12 col-md-20 pd0">二年级暑假作业讲解</span>
						<a href="https://www.gn100.com/course/info/show/5143" target="_blank" class="reg-btn col-md-20 col-md-8 fs12" title="">立即报名</a>
					</div>
				</dd>
				<dd class="col-md-2 col-xs-2 hiddenbtn"></dd>
			</dl>
			<div class="fs16 fs-color col-md-20 pd0 mt10 mb10">
				[ 学员评价 ]  
			</div>	
		</div>
		<section>
			<ul class="clearfix">
				<li class="col-md-5 col-xs-20 hidden-xs hidden-sm">
					<a href="https://www.gn100.com/course.info.show/1180" target="_blank" title="" class="tryBtn-audio">精彩试听</a>
				</li>
				<li class="col-md-15 col-xs-20">
					<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img26.jpg')}" alt="">
				</li>
			</ul>
		</section>
	</div>
	<div class="small-teacher-info clearfix" style="margin-bottom:0;">
		<div class="col-md-5 pd0">
			<img src="/assets_v2/img/special/2016_06_16/summer-img27.jpg" width="100%" alt="">
		</div>
		<div class="col-md-15 fsInfo">
			<h1 class="fs20 mt10">陈桂英</h1>
			<p class="fs14 mt10 mb10">
				毕业于中南大学，主要教授小学奥数、初中数学同步课。兴趣是最好的老师，小英老师从小酷爱数学，对于难题、怪题，总想一探究竟，这也是从事数学教学的情感源泉，也因此形成了引领学生自主探究的教学风格。小英老师性情温婉，既是传道授惑的老师，也是孩子们心中的朋友。课上，她能深入浅出地讲解，课后，她能耐心细致地辅导。这样的女子，孩子们能不喜欢？
			</p>
			<div class="col-xs-20 hidden-lg hidden-md">
				<a href="https://xue.yunke.com/course/info/show/1165" target="_blank" title="" class="tryBtn-audio">精彩试听</a>
			</div>
			<dl class="list col-md-20 pd0">
				<dd class="col-md-6 col-xs-6 pd0">
					<a href="https://www.gn100.com/course/info/show/3237" title="" target="_blank">
						<img src="/assets_v2/img/special/2016_06_16/summer-img28.jpg" width="100%" alt="">
					</a>
					<div class="mt10 fs14">
						<span class="course-name col-md-12 col-md-20 pd0">五升六暑期思维训练</span>
						<a href="https://www.gn100.com/course/info/show/3237" target="_blank" class="reg-btn col-md-20 col-md-8 fs12" title="">立即报名</a>
					</div>
				</dd>
				<dd class="col-md-6 col-xs-6 pd0">
					<a href="https://www.gn100.com/course/info/show/5144" title="" target="_blank">
						<img src="/assets_v2/img/special/2016_06_16/summer-img29.jpg" width="100%" alt="">
					</a>
					<div class="mt10 fs14">
						<span class="course-name col-md-11 col-md-20 pd0">三年级暑假作业讲解</span>
						<a href="https://www.gn100.com/course/info/show/5144" target="_blank" class="reg-btn col-md-20 col-md-9 fs12" title="">立即报名</a>
					</div>
				</dd>
				<dd class="col-md-6 col-xs-6 pd0">
					<a href="https://xue.yunke.com/course/info/show/1137" title="" target="_blank">
						<img src="/assets_v2/img/special/2016_06_16/summer-img30.jpg" width="100%" alt="">
					</a>
					<div class="mt10 fs14">
						<span class="course-name col-md-12 col-md-20 pd0">五年级数学期末复习...</span>
						<a href="https://xue.yunke.com/course/info/show/1137" target="_blank" class="reg-btn col-md-20 col-md-8 fs12" title="">立即报名</a>
					</div>
				</dd>
				<dd class="col-md-2 col-xs-2 hiddenbtn"></dd>
			</dl>
			<div class="fs16 fs-color col-md-20 pd0 mt10 mb10">
				[ 学员评价 ]  
			</div>	
		</div>
		<section>
			<ul class="clearfix">
				<li class="col-md-5 col-xs-20 hidden-xs hidden-sm">
					<a href="https://xue.yunke.com/course/info/show/1165" target="_blank" title="" class="tryBtn-audio">精彩试听</a>
				</li>
				<li class="col-md-15 col-xs-20">
					<img src="/assets_v2/img/special/2016_06_16/summer-img31.jpg" alt="">
				</li>
			</ul>
		</section>
	</div>
	<!-- /smallImg -->
	<!-- enlish -->
	<section>
		<div class="small-teacher-info clearfix" style="margin-bottom:0;border:0;padding:0;">
			<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img32.jpg')}" width="100%" alt="">
		</div>
	</section>
	<div class="small-teacher-info clearfix" style="margin-bottom:0;">
		<div class="col-md-5 pd0">
			<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img33.jpg')}" width="100%" alt="">
		</div>
		<div class="col-md-15 fsInfo">
			<h1 class="fs20 mt10">Ella</h1>
			<p class="fs14 mt10 mb10">
				毕业于北京大学英语系。目前已通过英语专业四级、专业八级；托福成绩优秀。注重基础培养， 同时兼顾提升水平。讲解认真负责，生动细致，希望同学们在轻松愉快的环境中学到实用有趣的知识。
			</p>
			<div class="col-xs-20 hidden-md hidden-lg">
				<a href="https://100.yunke.com/course.plan.play/13729" title="" target="_blank" class="tryBtn-audio">精彩试听</a>
			</div>
			<dl class="list col-md-20 pd0">
				<dd class="col-md-6 col-xs-6 pd0">
					<a href="https://www.gn100.com/course.info.show/2874" title="" target="_blank">
						<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img36.jpg')}" width="100%" alt="">
					</a>
					<div class="mt10 fs14">
						<span class="course-name col-md-12 col-md-20 pd0">五升六暑期英语提高班</span>
						<a href="https://www.gn100.com/course.info.show/2874" target="_blank" class="reg-btn col-md-20 col-md-8 fs12" title="">立即报名</a>
					</div>
				</dd>
				<dd class="col-md-6 col-xs-6 pd0">
					<a href="https://www.gn100.com/course.info.show/2880" title="" target="_blank">
						<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img35.jpg')}" width="100%" alt="">
					</a>
					<div class="mt10 fs14">
						<span class="course-name col-md-11 col-md-20 pd0">（一期）六升初一预...</span>
						<a href="https://www.gn100.com/course.info.show/2880" target="_blank" class="reg-btn col-md-20 col-md-9 fs12" title="">立即报名</a>
					</div>
				</dd>
				<dd class="col-md-6 col-xs-6 pd0">
					<a href="https://www.gn100.com/course.info.show/2890" title="" target="_blank">
						<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img34.jpg')}" width="100%" alt="">
					</a>
					<div class="mt10 fs14">
						<span class="course-name col-md-12 col-md-20 pd0">（一期）暑假初一升初二英语预科班</span>
						<a href="https://www.gn100.com/course.info.show/2890" target="_blank" class="reg-btn col-md-20 col-md-8 fs12" title="">立即报名</a>
					</div>
				</dd>
				<dd class="col-md-2 col-xs-2 hiddenbtn"></dd>
			</dl>
			<div class="fs16 fs-color col-md-20 pd0 mt10 mb10">
				[ 学员评价 ]  
			</div>	
		</div>
		<section>
			<ul class="clearfix">
				<li class="col-md-5 col-xs-20 hidden-xs hidden-sm">
					<a href="https://100.yunke.com/course.plan.play/13729" title="" target="_blank" class="tryBtn-audio">精彩试听</a>
				</li>
				<li class="col-md-15 col-xs-20">
					<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img37.jpg')}" alt="">
				</li>
			</ul>
		</section>
	</div>
	<!-- /enlish -->
	<!-- yuwen -->
	<section>
		<div class="small-teacher-info clearfix" style="margin-bottom:0;border:0;padding:0;">
			<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img38.jpg')}" width="100%" alt="">
		</div>
	</section>
	<div class="small-teacher-info clearfix" style="margin-bottom:0;">
		<div class="col-md-5 pd0">
			<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img39.jpg')}" width="100%" alt="">
		</div>
		<div class="col-md-15 fsInfo">
			<h1 class="fs20 mt10">赵程程</h1>
			<p class="fs14 mt10 mb10">
				程程老师，博观而约取，厚积而薄发。精于文学、融汇史学、取法哲学。步小升初考中考于一程。面对考点，凌波微步，通透而精准；面对真题，以意逆志，幻化于无形。旁征博引而富启发性，授课风格轻松而有趣，解题方法实用而简单，已培养多名学子进入四大名校。
			</p>
			<div class="col-xs-20 hidden-md hidden-lg mt20">
				<a href="https://www.gn100.com/course/info/show/4471" target="_blank" title="" class="tryBtn-audio">精彩试听</a>
			</div>
			<dl class="list col-md-20 pd0">
				<dd class="col-md-6 col-xs-6 pd0">
					<a href="https://www.gn100.com/course/info/show/3922" title="" target="_blank">
						<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img40.jpg')}" width="100%" alt="">
					</a>
					<div class="mt10 fs14">
						<span class="course-name col-md-12 col-md-20 pd0">四升五暑期同步班</span>
						<a href="https://www.gn100.com/course/info/show/3922" target="_blank" class="reg-btn col-md-20 col-md-8 fs12" title="">立即报名</a>
					</div>
				</dd>
				<dd class="col-md-6 col-xs-6 pd0">
					<a href="https://www.gn100.com/course/info/show/4861" title="" target="_blank">
						<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img41.jpg')}" width="100%" alt="">
					</a>
					<div class="mt10 fs14">
						<span class="course-name col-md-11 col-md-20 pd0">五升六暑期同步班</span>
						<a href="https://www.gn100.com/course/info/show/4861" target="_blank" class="reg-btn col-md-20 col-md-9 fs12" title="">立即报名</a>
					</div>
				</dd>
				<dd class="col-md-6 col-xs-6 pd0">
					<a href="https://www.gn100.com/course/info/show/3924" title="" target="_blank">
						<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img42.jpg')}" width="100%" alt="">
					</a>
					<div class="mt10 fs14">
						<span class="course-name col-md-12 col-md-20 pd0">六升初一暑期预科班</span>
						<a href="https://www.gn100.com/course/info/show/3924" target="_blank" class="reg-btn col-md-20 col-md-8 fs12" title="">立即报名</a>
					</div>
				</dd>
				<dd class="col-md-2 col-xs-2 hiddenbtn"></dd>
			</dl>
			<div class="fs16 fs-color col-md-20 pd0 mt10 mb10">
				[ 学员评价 ]  
			</div>	
		</div>
		<section>
			<ul class="clearfix">
				<li class="col-md-5 col-xs-20 hidden-xs hidden-sm">
					<a href="https://www.gn100.com/course/info/show/4471" target="_blank" title="" class="tryBtn-audio">精彩试听</a>
				</li>
				<li class="col-md-15 col-xs-20">
					<img src="{utility_cdn::img('/assets_v2/img/special/2016_06_16/summer-img43.jpg')}" alt="">
				</li>
			</ul>
		</section>
	<!-- /yuwen -->
</section>
<!-- /list -->
<!-- ft -->
<section>
	<img src="/assets_v2/img/special/2016_06_16/summer-img44.jpg" width="100%" alt="">
	<div class="ft_one"></div>
	<div class="ft_two"></div>
	<div class="ft_three"></div>
	<div class="ftImg" style="display:none;">
		<img src="/assets_v2/img/special/2016_06_16/summer-img45.jpg" width="100%" alt="">
		<img src="/assets_v2/img/special/2016_06_16/summer-img46.jpg" width="100%" alt="">
		<img src="/assets_v2/img/special/2016_06_16/summer-img47.jpg" width="100%" alt="">
	</div>
</section>
<!-- /ft -->
</body>
</html>
