<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="title" content="云课 - 寒假报名">
<meta name="keywords" content="云课 - 云课堂 - 寒假报名">
<meta name="description" content="寒假课程报名">
<link rel="icon" type="image/x-icon" href="{utility_cdn::img('/assets_v2/img/platform/yunke.ico')}" />
<script type="text/javascript" src="{utility_cdn::js('/assets_v2/js/jquery/jquery-1.11.1.min.js')}"></script>
<script type="text/javascript" src="{utility_cdn::js('/assets_v2/layer/layer.js')}"></script>
<link rel="stylesheet" type="text/css" href="{utility_cdn::css('/assets_v2/css/platform/bootstrap/bootstrap.min.css')}">
<title>寒假报名 - 云课网 </title>
<style type="text/css">
body{ background:#fbeee2 }
header,section,footer{ float:left;width:100%; }
a:link{ color:#333; }
a:hover,a:visited{ text-decoration:none;color:#333; }
section{ background:url(/assets_v2/img/special/2016_01_05/bg.jpg) no-repeat center top;background-color:#fbeee2 ;padding-top:600px;background-size:100% }
footer{ background:#d7211a;padding:30px 0;color:#ffffff;margin-top: 50px;line-height:28px; }
footer a:link,footer a:visited{ color:#ffffff; }
.main{ float:left;width:100%;border:3px solid #d7211a;padding:50px 50px 0px 50px;background-color:#ffffff; }
.title{ width:630px;height:135px;margin:-100px auto 0 auto }
.ta-c{ text-align:center;float:left;width:100% }
.list{ float:left;width:100%;padding:0; }
.list li{ list-style-type:none;margin-bottom:20px }
.list .c{ float:left;background:#fff;border:1px solid #d7211a;width:100%;padding:8px; }
.list img{ float:left;width:100% }
.list .c-title{ float:left;width:100%;white-space:nowrap;text-overflow:ellipsis;color:#888888;font-weight:bold;height:30px;overflow:hidden; }
.list .c-teacher,.list .c-price{ float:left;width:25%;overflow:hidden;color:#888888; }
.list .c-time{ float:right;width:75%;overflow:hidden;text-align:right;color:#888888; }
.list .c-price{ font-weight: bold;color:#d7211a;font-size:30px; }
.list .c-teacher,.list .c-time{ height:30px }
.list .c-btn{ float:left;width:100%;text-align:center; }
.list button{ width:115px;height:35px;color:#fff;background:#d7211a;border:none;font-size:16px;font-weight:bold; }
@media screen and (max-width:800px) and (min-width:320px){
section{ padding-top:150px }
.title{ width:100%;margin-top:-50px;height:60px }
.title img{ width:100% }
.main{ padding:10px }
}
</style>
</head>
<body>
<section class="bg1">
    <div class="container">
        <div class="main">
        <div class="title"><img src="{utility_cdn::img('/assets_v2/img/special/2016_01_05/yuandan.png')}"></div>
            <div class="row">
            <ul class="list">
                <li class="col-lg-5">
                <div class="c">
                    <a href="https://100.yunke.com/course.info.show/1175"  target="_blank">
                        <img src="//f.gn100.com/2,c7ddc0cfe3c2">
                        <span class="c-title">初中规划——如何保持持续领先</span>
                        <span class="c-teacher">郭向东</span>
                        <span class="c-time">开课时间：1月2号    14:00</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://100.yunke.com/course.info.show/1180"  target="_blank">
                        <img src="//f.gn100.com/6,c5f6f7df26af">
                        <span class="c-title">应用题之经济问题</span>
                        <span class="c-teacher">任丽丽</span>
                        <span class="c-time">开课时间：1月6号    19:00</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://100.yunke.com/course.info.show/1181"  target="_blank">
                        <img src="//f.gn100.com/2,c5f969632a98">
                        <span class="c-title">年龄问题</span>
                        <span class="c-teacher">张洪伟</span>
                        <span class="c-time">开课时间：1月7号    19:00</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://100.yunke.com/course.info.show/1185"  target="_blank">
                        <img src="//f.gn100.com/7,c605a9de2d20">
                        <span class="c-title">看电影学英语</span>
                        <span class="c-teacher">冯水静</span>
                        <span class="c-time">开课时间：1月8号    19:00</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://xue.yunke.com/course.info.show/1137"  target="_blank">
                        <img src="//f.gn100.com/7,c5a1c11d7d8e">
                        <span class="c-title">五年级数学期末复习（简易方程）</span>
                        <span class="c-teacher">陈桂英 </span>
                        <span class="c-time">开课时间：1月8号    19:00</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://xue.yunke.com/course.info.show/1162"  target="_blank">
                        <img src="//f.gn100.com/6,c59ea812d799">
                        <span class="c-title"> 一~三年级趣味数学</span>
                        <span class="c-teacher">谭向宇</span>
                        <span class="c-time">开课时间：1月8号    19:00</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://xue.yunke.com/course.info.show/1165"  target="_blank">
                        <img src="//f.gn100.com/6,c5927afc73dc">
                        <span class="c-title">排队论和田忌赛马</span>
                        <span class="c-teacher">陈桂英</span>
                        <span class="c-time">开课时间：1月9号    17:00</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://xue.yunke.com/course.info.show/1164"  target="_blank">
                        <img src="//f.gn100.com/2,cac9528bfb9f">
                        <span class="c-title">小学英语流利说</span>
                        <span class="c-teacher">彭婷</span>
                        <span class="c-time">开课时间：1月9号    19:00</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://zuowen.yunke.com/course.info.show/1155"  target="_blank">
                        <img src="//f.gn100.com/1,c5b34d98e676">
                        <span class="c-title">细节描写专项训练</span>
                        <span class="c-teacher">李卓</span>
                        <span class="c-time">开课时间：1月9号    19:00</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://zuowen.yunke.com/course.info.show/1169"  target="_blank">
                        <img src="//f.gn100.com/4,c5b6f18dde85">
                        <span class="c-title">换个角度更精彩</span>
                        <span class="c-teacher">巢思慧</span>
                        <span class="c-time">开课时间：1月10号    19:00</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://100.yunke.com/course.info.show/1177"  target="_blank">
                        <img src="//f.gn100.com/2,c7d78e1bf9eb">
                        <span class="c-title">归纳与递推</span>
                        <span class="c-teacher">李欢</span>
                        <span class="c-time">开课时间：1月11号    19:00</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://100.yunke.com/course.info.show/1184"  target="_blank">
                        <img src="//f.gn100.com/5,c7ce8bb398ad">
                        <span class="c-title">应用题之浓度问题</span>
                        <span class="c-teacher">张发营</span>
                        <span class="c-time">开课时间：1月12号    19:00</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://100.yunke.com/course.info.show/1178"  target="_blank">
                        <img src="//f.gn100.com/1,c7d431d51bbd">
                        <span class="c-title">鸡兔同笼</span>
                        <span class="c-teacher">朱莹</span>
                        <span class="c-time">开课时间：1月12号    19:00</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://100.yunke.com/course.info.show/1179"  target="_blank">
                        <img src="//f.gn100.com/2,c7d11695b2ff">
                        <span class="c-title">巧数图形</span>
                        <span class="c-teacher">王金山</span>
                        <span class="c-time">开课时间：1月13号    19:00</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://100.yunke.com/course.info.show/1181"  target="_blank">
                        <img src="//f.gn100.com/2,c5f969632a98">
                        <span class="c-title">归纳与递推</span>
                        <span class="c-teacher">张洪伟</span>
                        <span class="c-time">开课时间：1月14号    19:00</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            <li class="col-lg-5">
                <div class="c">
                    <a href="https://100.yunke.com/course.info.show/1179"  target="_blank">
                        <img src="//f.gn100.com/2,c7d11695b2ff">
                        <span class="c-title">巧数图形</span>
                        <span class="c-teacher">王金山</span>
                        <span class="c-time">开课时间：1月15号    19:00</span>
                        <span class="c-btn"><button>点击报名</button></span>
                    </a>
                </div>
            </li>
            </ul>
            </div>
        </div>
    </div>
</section>
<footer>
    <p class="ta-c">
            <a href="/index.about" target="_blank">关于我们</a> |
            <a href="/index.feedback" target="_blank">意见反馈</a> |
            <a href="/index.help" target="_blank">在线帮助</a> |
            <a href="/index.main.client" target="_blank">客户端下载</a> <br>
            Copyright c  2015  北京高能壹佰教育科技有限公司版权所有<br>
京ICP备14053191号  云课--拓维旗下在线教育平台</p>
</footer>
</body>
</html>
