<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" id="viewport" content="target-densitydpi=1,width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1" />
        <title>激活</title>
        <link rel="stylesheet" type="text/css" href="{utility_cdn::css('/assets_v2/interface/liantong/css/init.css')}" />
        <link rel="stylesheet" type="text/css" href="{utility_cdn::css('/assets_v2/interface/liantong/css/reset-min.css')}" />
        <link rel="stylesheet" type="text/css" href="{utility_cdn::css('/assets_v2/interface/liantong/css/style.css')}" />
        <script type="text/javascript" src="{utility_cdn::js('/assets_v2/interface/liantong/js/jquery172min.js')}"></script>
        <script type="text/javascript" src="{utility_cdn::js('/assets_v2/interface/liantong/js/layer.m/layer.m.js')}"></script>
        <script type="text/javascript" src="{utility_cdn::js('/assets_v2/interface/liantong/js/tripledes.js')}"></script>
        <script type="text/javascript" src="{utility_cdn::js('/assets_v2/interface/liantong/js/mode-ecb.js')}"></script>
        <script type="text/javascript" src="{utility_cdn::js('/assets_v2/interface/liantong/js/dotLog.js')}"></script>
        <!-- <script type="text/javascript" src="http://pv.sohu.com/cityjson"></script> -->
    </head>
    <body>
        <div class="page" style="display:none">
            <div class="goback">
                <img src="{utility_cdn::img('/assets_v2/interface/liantong/img/goback1.png')}" alt="">
            </div>
            <div style="text-align:center;font-size:3.2rem;color:#333;line-height:300%">激活专属流量包</div>
            <div class="userinfo">
                <div class="packagetitle">
                    <span class="tb_gou">
                        <img src="{utility_cdn::img('/assets_v2/interface/liantong/img/tb_gou.png')}" alt="" />
                    </span>
                    <span style="vertical-align:middle">小沃学堂流量包 每月15元/6G</span>
                </div>
                <div class="userphoneform">
                    <input type="text" class="txt_userphone" id="txt_userphone" placeholder="输入手机号" maxlength="11" />
                </div>
                <div class="usercodeform">
                    <input type="text" class="txt_usercode" id="txt_usercode" placeholder="输入验证码" maxlength="6" />
                    <a href="javascript:;" class="btn_getcode" id="btn_getcode">获取验证码</a>
                </div>
                <div style="margin-top:30px">
                    <a href="javascript:;" class="btn_submit" id="btn_submit">激活</a>
                </div>
                <div class="link_haveorder">
                    <a href="/interface/hybird/action">我要订购 ></a>
                </div>
            </div>
            <div class="packageinfo">
                <p>
                <p style="text-align:center;color:#666;font-size:4rem;line-height:200%"><b>温馨提示</b></p>
                <span>亲爱的用户，如果出现以下情况：</span><br />
                （1）在此移动设备上更换了手机号码；<br />
                （2）使用此手机号码在其他移动设备进行了订购或者激活；<br />
                 需要在此重新进行激活操作。激活成功后，必须要保持使用免流的手机号与设备上的手机卡号码一致，才能正常享用专属流量。<br />
                </p>
            </div>
        </div>
        <script type="text/javascript" src="{utility_cdn::js('/assets_v2/interface/liantong/js/public.js')}"></script>
        <script type="text/javascript" src="{utility_cdn::js('/assets_v2/interface/liantong/js/order.js')}"></script>
        <script type="text/javascript" src="{utility_cdn::js('/assets_v2/interface/liantong/js/jquery-pagezoom.js')}"></script>
    </body>
</html>
