<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{if !empty($planDatas[0]->course_name)}{$planDatas[0]->course_name}{/if} - 备课 - {part '/site.main.orgname'} - 云课 - 专业的在线学习平台</title>
<meta name="title" content="高能100 - 专业的K12在线教育平台 在线直播">
<meta name="keywords" content="高能100 - 专业的K12在线教育平台 高能100 - 专业的K12在线教育平台 在线 k12 小学数学 初中数学">
<meta name="description" content="高能100 - 专业的K12在线教育平台 高能100 - 专业的K12在线教育平台 在线直播">
{part "/site.main.header"}
</head>
<body>
<!--header-->
{part "/site.main.nav.home"}
<section class="pd40">
<div class="container">
    {part "/user.main.menu.teacher.timetable"}
	<div class="right-main col-sm-16">
		<p><a href="/teacher.course.teacherOfCourseList">{'我的课程'|tr:'site.teacher'}</a>&gt;{'教师备课'|tr:'site.teacher'}</p>
        <div class="col-xs-20 pd0 mt10 fs14">
            {if(!empty($planDatas))}
		    {foreach($planDatas as $plk=>$plv)}
            <p class="col-sm-7 pl0">{$plv->course_name|tr:'site.index'}</p>
		    <p class="col-sm-5 pl0">{$plv->class_name|tr:'site.index'}</p>
            <p class="col-sm-8 pl0">{$plv->section_name|tr:'site.index'}</p>
		    {/foreach}
		    {/if}
        </div>
        <div class="col-xs-20 pd0 mt20 fs14">
            <span class="fs22">{'资料'|tr:'site.teacher'}</span>
            <span class="c-fl">{*<input type="checkbox">*}</span>
            <span class="c-fr">
            {if($countAtt<10)}
            <button class="upload-btn" id="meg">{'上传资料'|tr:'site.teacher'}</button>
            {/if}
            <button class="del-btn" id="delplanatt">{'删除资料'|tr:'site.teacher'}</button>
            </span>
        </div>
        <ul class="Lesson-data col-xs-20 mt10">
            {if(!empty($listAtt))}
            {foreach($listAtt as $k=>$v)}
            {if($k>9) break;}
            {/if}
            <li class="col-sm-7">
                <input type="checkbox" id="checkbox{$k}" class="planAtt" planAttid = "{$v->planattid}">
                <label for="checkbox{$k}"><img src="{$v->thumb}" alt=""></label>
                <a href="{utility_cdn::file($v->attach)}">{$v->title}</a>
            </li>
            {/foreach}
            {/if}
        </ul>
        <h2 class="fs22 col-xs-20 pd0 mt20" id="planid" planid="{$plan_id}" classid="{$class_id}">{'课上答题'|tr:'site.teacher'}</h2>
        <div class="bar col-xs-20 pd0 fs14">
            <span class="c-fl ml30"><input type="checkbox"id="checkallques">&nbsp;{'全选'|tr:'site.teacher'}</span><span class="c-fr"><button class="del-btn" id="delques">{'删除信息'|tr:'site.teacher'}</button></span>
        </div>
        <div class="Lesson-q fs14 mt20 col-xs-20">
            {if(!empty($Ques))}
                {foreach $Ques as $quesk=>$quesv}
                <dl class="quesshow">
                    <dd>
                    <input type="checkbox" check="quescheck" examid="{$quesv->plan_exam_id}" class="ques">&nbsp;<b questitle="{$quesk+1}">{'题目'|tr:'site.teacher'}{$quesk+1}</b>：
                    {if(!empty($quesv->q_desc_img))}
                    <img src="{utility_cdn::file($quesv->q_desc_img)}" id='img-pic-xue' style="min-width:530px;max-height:35px;">
                    {else}
                    {$quesv->q_desc}&nbsp;&nbsp;
                    {/if}
                    <span class="cRed">{'正确答案'|tr:'site.teacher'}：{strtoupper($quesv->answer)}</span></dd>
                    <dt>
                    <label for="b1">A.{$quesv->a}</label>
                    </dt>
                    <dt>
                    <label for="b1-2">B.{$quesv->b}</label>
                    </dt>
                    <dt>
                    <label for="b1-3">C.{$quesv->c}</label>
                    </dt>
                    {if(isset($quesv->d))}
                    <dt>
                    <label for="b1-4">D.{$quesv->d}</label>
                    </dt>
                    {/if}
                    {if(isset($quesv->e))}
                    <dt>
                    <label for="b1-5">E.{$quesv->e}</label>
                    </dt>
                    {/if}
                </dl>
                {/foreach}
            {/if}
        </div>
        <form action="/teacher.manage.plan.{$plan_id}" method="post" id="form">
            <input id="thumb_big" type="hidden" name="thumb_big" value="" />
            <input id="thumb_med" type="hidden" name="thumb_med" value="" />
            <input id="thumb_small" type="hidden" name="thumb_small" value="" />
            <input type="hidden" name="timeStampsPost" value="{$timeStamps}" />
            <div class="add-question">
                <p class="fs22">{'添加新题'|tr:'site.teacher'}</p>
                <div class="form-horizontal" style="float:left;width:100%;">
                    <ul style="display:block;padding:0">
                        <li class="form-group">
                        <div class="col-sm-4 fs14 tar">{'题目'|tr:'site.teacher'}：</div>
                        <div class="z_add_btn_box" style="text-align:left">
                            <a href="javascript:;" class="z_add_newbtn z_active_btn">{'文字题干'|tr:'site.teacher'}</a>
                            <a href="javascript:;" class="z_add_newbtn">{'图片题干'|tr:'site.teacher'}</a>
                        </div>
                        </li>
                        <li>
                        <div class="add_wrap_box">
                            <div class="add_box" style="display:block;">
                                <div class="col-sm-4 fs14"></div>
                                <textarea style="width:500px" name="question" placeholder="{'选择输入题目名称'|tr:'site.teacher'}"></textarea>
                            </div>
                            <div class="add_box" style="display:none">
                                <div class="col-lg-4"></div>
                                <div id="panel" class="col-md-offset-4">
                                    <div class="img" style="width:100%;height:110px;overflow:hidden; cursor:pointer;">
                                        <img id="img_o" style="display:none;">
                                        {*<img id="img_p"style="max-width:240px;max-height:135px;border:1px;display:block;" src="{utility_cdn::img('/assets_v2/img/img-sc.jpg')}"> *}
                                        <img id="img_p"style="border:1px;display:block;" src="{utility_cdn::img('/assets_v2/img/img-sc.jpg')}">
                                    {*	<p>图片大于480*270   支持JPG,JPEG,PNG格式(2M以下)</p>*}
                                    </div>
                                </div>
                                {*<div class='active-tab-1 img'>
                                    <p class='fs16 cGray'>上传图片</p>
                                </div>
                                *}
                            </div>
                        </div>
                        </li>
                        <li class="form-group">
                        <div class="col-sm-4 fs14 tar mt5">{'难易度'|tr:'site.teacher'}：</div>
                        <select class="c-fl" name="mode">
                            <option value ="1">{'简单'|tr:'site.teacher'}</option>
                            <option value="2">{'中等'|tr:'site.teacher'}</option>
                            <option value="3">{'困难'|tr:'site.teacher'}</option>
                        </select>
                        <div class="col-sm-2 fs14 mt5 tar">{'年级'|tr:'site.teacher'}：</div>
                        <select class="c-fl" id="grade" name="grade">
                            <option value="0">{'未设置'|tr:'site.teacher'}</option>
                            <option value="1001">{'一年级'|tr:'course.list'}</option>
                            <option value="1002">{'二年级'|tr:'course.list'}</option>
                            <option value="1003">{'三年级'|tr:'course.list'}</option>
                            <option value="1004">{'四年级'|tr:'course.list'}</option>
                            <option value="1005">{'五年级'|tr:'course.list'}</option>
                            <option value="1006">{'六年级'|tr:'course.list'}</option>
                            <option value="2001">{'初一'|tr:'course.list'}</option>
                            <option value="2002">{'初二'|tr:'course.list'}</option>
                            <option value="2003">{'初三'|tr:'course.list'}</option>
                            <option value="3001">{'高一'|tr:'course.list'}</option>
                            <option value="3002">{'高二'|tr:'course.list'}</option>
                            <option value="3003">{'高三'|tr:'course.list'}</option>
                        </select>
                        <div class="col-sm-2 fs14 mt5 tar">{'课目'|tr:'site.teacher'}：</div>
                        <select class="c-fl" name="subject">
                            <option value="1">{'数学'|tr:'course.list'}</option>
                            <option value="2">{'英语'|tr:'course.list'}</option>
                            <option value="3">{'语文'|tr:'course.list'}</option>
                            <option value="4">{'物理'|tr:'course.list'}</option>
                            <option value="5">{'化学'|tr:'course.list'}</option>
                            <option value="6">{'生物'|tr:'course.list'}</option>
                            <option value="7">{'历史'|tr:'course.list'}</option>
                            <option value="8">{'地理'|tr:'course.list'}</option>
                            <option value="9">{'政治'|tr:'course.list'}</option>
                        </select>
                        </li>
                        <li class="form-group">
                        <div class="col-sm-4 fs14 tar">{'选择题型'|tr:'site.teacher'}：</div>
                        <label>
                            <input type="radio" checked="checked" name="type" value="radio" id="radio">{'单选'|tr:'site.teacher'}</label>
                        <label>
                            <input type="radio" name="type" value="multiple" id="multiple">{'多选'|tr:'site.teacher'}</label>
                        </li>
                        <li class="form-group checkan">
                        <div class="col-sm-4 fs14"></div>
                        <div class="col-sm-16 p0 fs14">
                            <span class="c-fl">A.</span>
                            <input type="text" name="an1" class="col-sm-6 mr10 fs14" placeholder="{'请输入答案'|tr:'site.teacher'}">
                            <div class="c-fl">
                                <input type="checkbox"  name="ri1" id="x1">
                                <label for="x1" class="cRed">{'正确答案'|tr:'site.teacher'}</label>
                            </div>
                        </div>
                        </li>
                        <li class="form-group checkan">
                        <div class="col-sm-4 fs14"></div>
                        <div class="col-sm-16 p0 fs14">
                            <span class="c-fl">B.</span>
                            <input type="text" name="an2" class="col-sm-6 mr10 fs14" placeholder="{'请输入答案'|tr:'site.teacher'}">
                            <div class="c-fl">
                                <input type="checkbox"  name="ri2" id="x2">
                                <label for="x2" class="cRed">{'正确答案'|tr:'site.teacher'}</label>
                            </div>
                        </div>
                        </li>
                        <li class="form-group checkan">
                        <div class="col-sm-4 fs14"></div>
                        <div class="col-sm-16 p0 fs14">
                            <span class="c-fl">C.</span>
                            <input type="text" name="an3" class="col-sm-6 mr10 fs14" placeholder="{'请输入答案'|tr:'site.teacher'}">
                            <div class="c-fl">
                                <input type="checkbox"  name="ri3" id="x3">
                                <label for="x3" class="cRed">{'正确答案'|tr:'site.teacher'}</label>
                            </div>
                        </div>
                        </li>
                        <li class="form-group checkan" id="xx4">
                        <div class="col-sm-4 fs14"></div>
                        <div class="col-sm-16 p0 fs14">
                            <span class="c-fl">D.</span>
                            <input type="text" name="an4" class="col-sm-6 mr10 fs14" placeholder="{'请输入答案'|tr:'site.teacher'}">
                            <div class="c-fl">
                            <input type="checkbox" name="ri4" id="x4">
                            <label for="x4" class="cRed">{'正确答案'|tr:'site.teacher'}</label>
                            </div>
                        </div>
                        </li>
                        <li id="xx5" class="form-group checkan" style="display:none">
                        <div class="col-sm-4 fs14"></div>
                        <div class="col-sm-16 p0 fs14">
                            <span class="c-fl">E.</span>
                            <input type="text" name="an5" class="col-sm-6 mr10 fs14" placeholder="{'请输入答案'|tr:'site.teacher'}">
                            <div class="c-fl">
                                <input type="checkbox" name="ri5" id="x5">
                                <label for="x5" class="cRed">{'正确答案'|tr:'site.teacher'}</label>
                            </div>
                        </div>
                        </li>
                        <li class="form-group">
                        <div class="col-sm-4 p0"> </div>
                        <div class="col-sm-8 p0">
                            <button class="btn" id="submit">{'确认提交'|tr:'site.teacher'}</button>
                        </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='message-show' id="add-pic-box" style="display:none;">
                <div class='show-hea'>
                    <p><img src="{utility_cdn::img('/assets/images/kuai.jpg')}" alt="" />{'添加图片'|tr:'site.teacher'}<b class="close">×</b></p>
                </div>
                <div class="mty" style="overflow:hidden;width:480px;height:270px;border:1px;">
                    <img id="img_new" width="" height="" src="{utility_cdn::img('/assets_v2/img/quesimg.jpg')}" alt="">
                    {*		<img id="img_new"  src="{utility_cdn::img('/assets/images/mty.png')}"/>*}
                </div>
                {*    <div class='mty'>
                    <img width="480" height="270" src="{utility_cdn::img('/assets/images/mty.png')}" alt="">
                </div>
                *}
                <div class='scbtn'>
                    <input type="button" id="browse" class="btn"value="{'上传图片'|tr:'site.teacher'}">
                    <p>{'图片不能小于'|tr:'site.teacher'}500*180</p>
                </div>
                <div class='show-wc'>
                    <input id="subpic" type="button" value="{'确定'|tr:'site.teacher'}">
                </div>
                <input type="hidden" size="4" id="x" name="x">
                <input type="hidden" size="4" id="y" name="y">
                <input type="hidden" size="4" id="x22" name="x22">
                <input type="hidden" size="4" id="y2" name="y2">
                <input type="hidden" size="4" id="w" name="w">
                <input type="hidden" size="4" id="h" name="h">
            </div>
        </form>
    </div>
</section>
<script>
$(function(){
    var checkan = $(".checkan");
    var checkbox = checkan.find("[type=checkbox]");
    var spancorr = checkan.find("label");
    var radiochecked = true;
        spancorr.hide();
		//	$("#radio").trigger("click");
    var checktrue = checkan.find("[type=checkbox]:checked").length; //判断选中的选项有几个
    checkbox.click(function(){
		isChecked = $(this).prop("checked");
        if(isChecked){
            if(radiochecked){
				spancorr.hide();
                checkbox.hide();
				$(this).show();
                $(this).next().show();
			}else{
                $(this).show();
				$(this).next().show();
            }
        }else{
            if(radiochecked){
				spancorr.hide();
                checkbox.show();
			}else{
                $(this).next().hide();
			}
        }
    });
    $("#checkallques").click(function(){
        isChecked = $(this).prop("checked");
        $(".ques").prop("checked", isChecked);
    });
    var domxx5 ;
    var flagdom=false;
        domxx5 = $("#xx5").detach();
    $("#radio").click(function(){
        spancorr.hide();
        checkbox.prop("checked",false);
        radiochecked = $("#radio").prop("checked");
        if(radiochecked){
            if(flagdom){
				return;
            }
			$("#xx5").hide();
            domxx5 = $("#xx5").detach();
			flagdom=true;
        }
    });
    $("#multiple").click(function(){
        spancorr.hide();
        checkbox.prop("checked",false);
        checkbox.show();
        $("#xx4").after(domxx5);
        $("#xx5").show();
        flagdom=false;
        radiochecked = false;
    });
    $("#delques").click(function(){
        var planid;
        var ids = [];
        var id ;
        $(".ques:checked").each(function(i,item){
			id = $(this).attr("examid");
            ids.push(id);
		});
        if(0==ids.length){
            layer.msg("{'请选择要删除的试题'|tr:'site.teacher'}")	;
			return false;
        }
        planid = $("#planid").attr("planid");
        if(confirm("{'你确定要删除这个题目吗'|tr:'site.teacher'}")){
            $.post("/teacher.manage.DelExamAjax",{ planexamid:ids,planid:planid },function(r){
                if(r.error){
				//	$("#error").html(r.error);
                alert(r.error);
				//		location.reload();//这里未完善
                return false;
				}
				if(r){
                    location.reload();
					return false;
                }
			},"json");
		}
        return false;
    });
    $("#delplanatt").click(function(){
        var planid;
        var ids = [];
        var id ;
        $(".planAtt:checked").each(function(i,item){
            id = $(this).attr("planAttid");
			ids.push(id);
		});
        if(0==ids.length){
            layer.msg("{'请选择要删除的课件'|tr:'site.teacher'}")	;
			return false;
        }
        planid = $("#planid").attr("planid");
        classid = $("#planid").attr("classid");
        if(confirm("{'您确定要删除这个课件吗'|tr:'site.teacher'}")){
            $.post("/teacher.manage.DelPlanAttAjax",{ planattid:ids,planid:planid,classid:classid },function(r){
                if(r.error){
				//	$("#error").html(r.error);
				alert(r.error);
                //		location.reload();//这里未完善
				return false;
                }
				if(r){
                location.reload();
				return false;
                }
			},"json");
		}
        return false;
    });
	$("#submit").click(function(){
        var checktrue = checkan.find("[type=checkbox]:checked").length; //判断选中的选项有几个
			radiochecked = $("#radio").prop("checked");
        var className = $("#classname").val();
        if(radiochecked){
            if(checktrue==1){
				return true;
            }else if(checktrue==0){
				layer.msg("{'请选择正确答案'|tr:'site.teacher'}");
                return false;
			}else{
                layer.msg("{'正确答案不能多于1个'|tr:'site.teacher'}");
				return false;
            }
		}else{
            if(checktrue>1){
				return true;
            }else{
				layer.msg("{'多选正确答案要大于1个'|tr:'site.teacher'}");
			}
		}
        return false;
	});
});
</script>
<script src="{utility_cdn::js('/assets/js/jcrop/js/jquery.Jcrop.min.js')}"></script>
<link rel="stylesheet" href="{utility_cdn::css('/assets/js/jcrop/css/jquery.Jcrop.css')}" type="text/css" />
<script src="{utility_cdn::js('/assets/js/plupload/js/plupload.full.min.js')}"></script>
<script>
/*上传图片**/
var jcrop_api,
boundx,
boundy;
$(document).ready(function(){
    var uploader = new plupload.Uploader({
    browse_button: 'browse', // this can be an id of a DOM element or the DOM element itself
    url: '/file.main.uploadExamPic.{$timeStamps}',
    filters: {
        mime_types : [
            { title : "Image files", extensions : "jpg,gif,png" }
        ],
        max_file_size:"2000kb"
        }
        ,multi_selection:false
    });
    uploader.init();
	uploader.bind('FilesAdded', function(up, files) {
        uploader.start();
    });
    uploader.bind('UploadProgress', function(up, file) {
        $("#browse").val("上传中："+ file.percent +"%");
    });
    uploader.bind('FileUploaded', function(up, file,info) {
        $("#browse").val("重新选择");
        if(info.response){
            var r = jQuery.parseJSON(info.response);
			if(!r){
                alert("上传失败");
				return false;
            }else if(r.error){
				alert(r.error);
                return false;
			}
            $("#browse").val("上传完成");
			if(jcrop_api)jcrop_api.destroy();
            $("#img_plan").show();
			$("#img_p").hide();
            $("#img_o").show();
			$("#img_new").attr("src",r.file+"?"+Math.random());
            $("#img_o").attr("src",r.file+"?"+Math.random());
			$("#img_prew").attr("src",r.file+"?"+Math.random());
            $('#img_new').Jcrop({
				boxWidth:500,boxHeight:180,
                onChange: updatePreview,
				onSelect: updatePreview,
                //minSize:[480,270],
				minSize:[500,100],
                //aspectRatio: 25/9 //xsize / ysize
				},function(){
                // Use the API to get the real image size
	    			var bounds = this.getBounds();
    					boundx = bounds[0];
						boundy = bounds[1];
                        // Store the API in the jcrop_api variable
						jcrop_api = this;
						this.setSelect([0,0,500,180]);
			}).show();
		}
		function updatePreview(c){
            if (parseInt(c.w) > 0){
				$('#x').val(c.x);
                $('#y').val(c.y);
				$('#x22').val(c.x2);
				$('#y2').val(c.y2);
                $('#w').val(c.w);
				$('#h').val(c.h);
				//	$pcnt = $('#img_plan_pre .img');
				$pcnt = $('#panel .img');
                $pimg = $('#panel #img_o');
				xsize = $pcnt.width();
				ysize = $pcnt.height();
                var rx = xsize / c.w;
				var ry = ysize / c.h;
				$pimg.css({
					width: Math.round(rx * boundx) + 'px',
                    height: Math.round(ry * boundy) + 'px',
					marginLeft: '-' + Math.round(rx * c.x) + 'px',
                    marginTop: '-' + Math.round(ry * c.y) + 'px'
				});
            }
		};
    });
    $('.img').click(function(){
        var el = $("#add-pic-box");
        $('#bg').show();
        $('#add-pic-box').show();
    })
    $('.close,#bg,#subpic').click(function(){
        $('#bg').hide();
        $('#add-pic-box').hide();
    })
    $('#meg').on('click', function(){
        layer.open({
            type: 2,
			title:['上传资料'],
            shadeClose: true,
			shade: 0.8,
            area: ['500px', '320px'],
			content: '/teacher.manage.upload.{$plan_id}.{$class_id}'
        });
        return false;
    });
});
</script>
<script>
$(function(){
    $(".z_add_btn_box .z_add_newbtn").click(function(){
          var index=$(this).index();
          $(this).addClass("z_active_btn").siblings().removeClass("z_active_btn");
          $(".add_wrap_box .add_box").eq(index).show().siblings().hide();
    });
});
</script>
{part "/site.main.footer"}
<div id="bg">
</div>
</body>
<style>
#bg{ position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; background-color: black; z-index:1001; -moz-opacity: 0.7; opacity:.70; filter: alpha(opacity=70); display: none; }
.message-show{ width: 620px;height:480px;background-color: #fff; z-index: 1002;position: fixed;top: 10%;left: 25%;border-radius:10px;display:none; }
.message-show .show-hea{ height:44px;background-color: #f6f6f6;border-radius: 10px  }
.message-show .show-hea p{ padding:11px;font-size: 16px; }
.message-show .show-hea p img{ margin-right: 10px; }
.message-show .show-hea p b{ float: right;font-size: 20px; cursor: pointer; }
.message-show .mty{ margin: 30px 0px 0px 70px; }
.message-show .scbtn{ margin: 10px 0px 0px 70px  }
.message-show .scbtn input{ float: left; width: 125px;height: 40px;margin-right: 20px;border:1px solid #ccc;background-image: -moz-linear-gradient(top, #00FF00, #FF0000); /*火狐*/ }
.message-show .scbtn p{ line-height: 40px; color: #a1a1a1; }
.message-show .wbk input{ width: 380px;height: 45px;margin: 10px 0px 0px 70px  }
.message-show .show-wc input{ width: 240px;height: 45px; background-color: #FFA81D;border: none; border-radius: 5px;color: #fff;margin: 20px 0px 0px 200px;font-size: 16px; }
</style>
<script>
$('.quesshow').find('img').on('click', function(){
	var img_src=$(this).attr("src");
	layer.open({
        type:1,
        title: false,
        closeBtn: false,
        area: 'auto auto',
        skin: 'layui-layer-nobg', //没有背景色
        shadeClose: true,
        content:"<img src="+img_src+">"
    });
});
</script>
</html>
