<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>高能100-明星教师</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="{utility_cdn::css('/assets/css/bootstrap.min.css')}">
		<link rel="icon" type="assets/image/x-icon" href="{utility_cdn::img('/assets/images/favicon.ico')}" />
		<script type="text/javascript" src="{utility_cdn::js('/assets/js/jquery/jquery-1.11.1.min.js')}" ></script>
		<link rel="stylesheet" type="text/css" href="{utility_cdn::css('/assets/css/common.css')}">
		<link rel="stylesheet" type="text/css" href="{utility_cdn::css('/assets/css/style.css')}">
		<link rel="stylesheet" type="text/css" href="{utility_cdn::css('/assets/css/startteac.css')}">
        <script src="{utility_cdn::js('/assets/js/script.js')}"></script>
        <script src="{utility_cdn::js('/assets/js/part.js')}"></script>
	</head>
	<body>


			<div class="startbanner">
			<div class='startbann'>
				<div>
					<img src="{utility_cdn::img('/assets/images/ba.jpg')}" class='img-responsive' style="z-index:-1;"/>
				</div>
			</div>
			<div class='startnav' style="width:1000px;background:url(assets/images/nav_bg.png) no-repeat;height:50px;line-height:25px;margin-top:-50px;z-index:2;">
				<div class='nav2' style="height:50px;width:220px;">
					<a href="">
					<p><b>张发营</b></p>
					<p>北京师范大学</p>
					</a>
				</div>
				<div class='nav2' style="height:50px;width:235px;margin-left:-29px;">
					<a href="">
					<p><b>高海磊</b></p>
					<p>中国人民大学</p>
					</a>
				</div>
				<div class='nav2' style="height:50px;width:220px;text-algin:center;background:url(assets/images/nav_up.png) no-repeat;margin-left:-44px;">
					<a href="">
					<p><b style="color:#ec860d;">熊娟</b></p>
					<p><b style="color:#ec860d;font-weight:normal;">清华大学</b></p>
					</a>
				</div>
				<div class='nav2' style="background:url(assets/images/nav_down.png) no-repeat;width:225px;margin-left:-29px;">
					<a href="" style="color:#ec860d;">
					<p><b style="color:#ec860d;">小勇老师</b></p>
					<p><b style="color:#ec860d;font-weight:normal;">北京大学</b></p>
					</a>
				</div>
				<div class='nav2'style="margin-left:-32px;width:220px;height:50px;">
					<a href="">
					<p><b>牛&nbsp;牛</b></p>
					<p>北京交通大学</p>
					</a>
				</div>
			</div>


			<div class='startcount' style=" z-index:-1;">
				 <div class='startbox'>
				 		<div class='startbox1'>
				 			<div class='starth1'>
				 				<h1>教师简介</h1>
				 			</div>
				 			<div class='startsp'>
					 			<div class='shipin' style="width:420px;height:250px;float:left;background:url(assets/images/sp.jpg) no-repeat;">
					 				
				 				</div>
				 				<div class='startweb'>
		 					<div class='asxzc' style="background:url(assets/images/h1bj.jpg) no-repeat;height:50px;width:400px;float:left;color:#ec860d;line-height:50px;padding-left:20px;">
				 						<h1>高海磊</h1>
				 					</div>
				 					<div class='jkljzxc' style="width:360px;heigt:164px;line-height:30px;float:left; margin-left:30px;margin-top:25px;font-size:14px;">
						 					<p><b>教师简介:</b>诉说经历,教师上特色等总体概述，作家.台湾大学企管系毕业。2002年开始，专心研究瑜伽以及各类心灵成长过程。</p>
						 					<p><b>毕业学校:</b>清华大学</p>
						 					<p><b>头衔:</b>华杯优秀教练</p>
						 					<p><b>座右铭:</b>知其然亦知其所以然</p>
				 					</div>
				 				</div>
				 			</div>
				 			<div class='starth1'>
				 				<h1>精彩课程</h1>
				 			</div>
				 			<div class='col-sm-3 col-xs-6' style="margin-left:50px; margin-top:30px;">
								<div href="#" class="public" style="width:240px;">
									<div style="padding:10px;">
									<div class='courseThumb' style="position:relative;">
										<img src="{utility_cdn::img('/assets/images/icon2.jpg')}" class='img-responsive'>
										<div class='iconPublic'>
										</div>
									</div>
									</div>
									<p class="free">&nbsp;&nbsp;&nbsp;&nbsp;<span>免费</span>&nbsp;&nbsp;|&nbsp;&nbsp;高一数学满分冲刺班</p>
									<p class="free">&nbsp;&nbsp;&nbsp;&nbsp;198人已学 &nbsp;好评：98%</p>
								</div>
							</div>
							<div class='col-sm-3 col-xs-6' style="margin-left:50px; margin-top:30px;">
								<div href="#" class="public" style="width:240px;">
									<div style="padding:10px;">
									<div class='courseThumb' style="position:relative;">
										<img src="{utility_cdn::img('/assets/images/icon2.jpg')}" class='img-responsive'>
										<div class='iconPublic'>
										</div>
									</div>
									</div>
									<p class="free">&nbsp;&nbsp;&nbsp;&nbsp;<span>免费</span>&nbsp;&nbsp;|&nbsp;&nbsp;高一数学满分冲刺班</p>
									<p class="free">&nbsp;&nbsp;&nbsp;&nbsp;198人已学 &nbsp;好评：98%</p>
								</div>
							</div>
							<div class='col-sm-3 col-xs-6' style="margin-left:50px; margin-top:30px;">
								<div href="#" class="public" style="width:240px;">
									<div style="padding:10px;">
									<div class='courseThumb' style="position:relative;">
										<img src="{utility_cdn::img('/assets/images/icon2.jpg')}" class='img-responsive'>
										<div class='iconPublic'>
											
										</div>
										
									</div>
									</div>
									
									<p class="free">&nbsp;&nbsp;&nbsp;&nbsp;<span>免费</span>&nbsp;&nbsp;|&nbsp;&nbsp;高一数学满分冲刺班</p>
									<p class="free">&nbsp;&nbsp;&nbsp;&nbsp;198人已学 &nbsp;好评：98%</p>
									
								</div>
							</div>
							<div class='clear'></div>
								<div class='starth1'>
				 					<h1>好学生评价</h1>
				 				</div>
				 				<div calss='startop' style="margin-top:20px;">
				 					<div calss='startdl' style="margin-left:20px; float:left">
				 						<dl>
				 							<dt><img src="{utility_cdn::img('/assets/images/startimg.jpg')}"></dt>
				 							<dd style="padding-left:50px;padding-top:10px;">肖同学</dd>
				 						</dl>
				 					</div>	
				 					<div calss='startdl' style="margin-left:30px; float:left">
				 						<dl>
				 							<dt><img src="{utility_cdn::img('/assets/images/startimg.jpg')}"></dt>
				 							<dd style="padding-left:50px;padding-top:10px;">肖同学</dd>
				 						</dl>
				 					</div>	
				 					<div calss='startdl' style="margin-left:30px; float:left">
				 						<dl>
				 							<dt><img src="{utility_cdn::img('/assets/images/xiaotx.jpg')}"></dt>
				 							<dd style="padding-left:50px;padding-top:10px; color:#FFAA1C;">肖同学</dd>
				 						</dl>
				 					</div>	
				 					<div calss='startdl' style="margin-left:30px; float:left">
				 						<dl>
				 							<dt><img src="{utility_cdn::img('/assets/images/startimg.jpg')}"></dt>
				 							<dd style="padding-left:50px;padding-top:10px;">肖同学</dd>
				 						</dl>
				 					</div>	
				 					<div calss='startdl' style="margin-left:20px; float:left">
				 						<dl>
				 							<dt><img src="{utility_cdn::img('/assets/images/startimg.jpg')}"></dt>
				 							<dd style="padding-left:50px;padding-top:10px;">肖同学</dd>
				 						</dl>
				 					</div>	

				 					<div class='clear'></div>
				 					<div class='webkuang' style=" background:url(assets/images/btbj.jpg) no-repeat;width:800px;height:140px;">
				 						<p>加快了客流阿萨德昆明，你打开了就断开连接阿斯科利简单快乐撒娇的考虑将萨克拉的加快了客流阿萨德昆明，你打开了就断开连接阿斯科利简单快乐撒娇的考虑将萨克拉的</p>
				 					</div>
				 				</div>
				 				<div class='starth1'>
				 					<h1>所有课程</h1>
				 				</div>
				 	   <div class='startlook'>
				 			<div class='col-sm-3 col-xs-3 box' style="float:left; margin-left:45px;">
							<div href="#" class="public_one" style="background:#fff;">
							<div href="">
								<div style="padding:10px;">
								<div class='courseThumb' style="position:relative;">
										<img src="{utility_cdn::img('/assets/images/icon5.jpg')}" class='img-responsive'>
									</div>
								</div>
								<div class="free1" style="font-weight:bold;font-size:14px;">&nbsp;&nbsp;&nbsp;高一数学满分冲刺班</div>
								<div class="num">&nbsp;&nbsp;&nbsp;&nbsp;<span>￥689</span>&nbsp;&nbsp;|&nbsp;&nbsp;讲座时间:11月30日19:00</div>
								<div class="free">&nbsp;&nbsp;&nbsp;&nbsp;已报名:198人 &nbsp;剩余<span>13</span>人</div>
								<div class="free">&nbsp;&nbsp;&nbsp;&nbsp;<s class="teacher_1"></s>小熊老师 主讲</div>
								<div class="buy_btn"><a href="">立刻购买</a></div>
							</div>
							</div>
							</div>
							<div class='col-sm-3 col-xs-3 box' style="float:left; margin-left:45px;">
							<div href="#" class="public_one" style="background:#fff;">
							<div href="">
								<div style="padding:10px;">
								<div class='courseThumb' style="position:relative;">
										<img src="{utility_cdn::img('/assets/images/icon5.jpg')}" class='img-responsive'>
										
									</div>
								</div>
								<div class="free1" style="font-weight:bold;font-size:14px;">&nbsp;&nbsp;&nbsp;高一数学满分冲刺班</div>
								<div class="num">&nbsp;&nbsp;&nbsp;&nbsp;<span>￥689</span>&nbsp;&nbsp;|&nbsp;&nbsp;讲座时间:11月30日19:00</div>
								<div class="free">&nbsp;&nbsp;&nbsp;&nbsp;已报名:198人 &nbsp;剩余<span>13</span>人</div>
								<div class="free">&nbsp;&nbsp;&nbsp;&nbsp;<s class="teacher_1"></s>小熊老师 主讲</div>
								<div class="buy_btn"><a href="">立刻购买</a></div>
							</div>
							</div>
							
							</div>
							<div class='col-sm-3 col-xs-3 box' style="float:left; margin-left:45px;">
							<div href="#" class="public_one" style="background:#fff;">
							<div href="">
								<div style="padding:10px;">
								<div class='courseThumb' style="position:relative;">
										<img src="{utility_cdn::img('/assets/images/icon5.jpg')}" class='img-responsive'>
										
									</div>
								</div>
								<div class="free1" style="font-weight:bold;font-size:14px;">&nbsp;&nbsp;&nbsp;高一数学满分冲刺班</div>
								<div class="num">&nbsp;&nbsp;&nbsp;&nbsp;<span>￥689</span>&nbsp;&nbsp;|&nbsp;&nbsp;讲座时间:11月30日19:00</div>
								<div class="free">&nbsp;&nbsp;&nbsp;&nbsp;已报名:198人 &nbsp;剩余<span>13</span>人</div>
								<div class="free">&nbsp;&nbsp;&nbsp;&nbsp;<s class="teacher_1"></s>小熊老师 主讲</div>
								<div class="buy_btn"><a href="">立刻购买</a></div>
							</div>
							</div>
							
							</div>
						</div>
						<div class='startlook'>
				 			<div class='col-sm-3 col-xs-3 box' style="float:left; margin-left:45px;">
							<div href="#" class="public_one" style="background:#fff;">
							<div href="">
								<div style="padding:10px;">
								<div class='courseThumb' style="position:relative;">
										<img src="{utility_cdn::img('/assets/images/icon5.jpg')}" class='img-responsive'>
										
									</div>
								</div>
								<div class="free1" style="font-weight:bold;font-size:14px;">&nbsp;&nbsp;&nbsp;高一数学满分冲刺班</div>
								<div class="num">&nbsp;&nbsp;&nbsp;&nbsp;<span>￥689</span>&nbsp;&nbsp;|&nbsp;&nbsp;讲座时间:11月30日19:00</div>
								<div class="free">&nbsp;&nbsp;&nbsp;&nbsp;已报名:198人 &nbsp;剩余<span>13</span>人</div>
								<div class="free">&nbsp;&nbsp;&nbsp;&nbsp;<s class="teacher_1"></s>小熊老师 主讲</div>
								<div class="buy_btn"><a href="">立刻购买</a></div>
							</div>
							</div>
							
							</div>
							<div class='col-sm-3 col-xs-3 box' style="float:left; margin-left:45px;">
							<div href="#" class="public_one" style="background:#fff;">
							<div href="">
								<div style="padding:10px;">
								<div class='courseThumb' style="position:relative;">
										<img src="{utility_cdn::img('/assets/images/icon5.jpg')}" class='img-responsive'>
										
									</div>
								</div>
								<div class="free1" style="font-weight:bold;font-size:14px;">&nbsp;&nbsp;&nbsp;高一数学满分冲刺班</div>
								<div class="num">&nbsp;&nbsp;&nbsp;&nbsp;<span>￥689</span>&nbsp;&nbsp;|&nbsp;&nbsp;讲座时间:11月30日19:00</div>
								<div class="free">&nbsp;&nbsp;&nbsp;&nbsp;已报名:198人 &nbsp;剩余<span>13</span>人</div>
								<div class="free">&nbsp;&nbsp;&nbsp;&nbsp;<s class="teacher_1"></s>小熊老师 主讲</div>
								<div class="buy_btn"><a href="">立刻购买</a></div>
							</div>
							</div>
							
							</div>
							<div class='col-sm-3 col-xs-3 box' style="float:left; margin-left:45px;">
							<div href="#" class="public_one" style="background:#fff;">
							<div href="">
								<div style="padding:10px;">
								<div class='courseThumb' style="position:relative;">
										<img src="{utility_cdn::img('/assets/images/icon5.jpg')}" class='img-responsive'>
										
									</div>
								</div>
								<div class="free1" style="font-weight:bold;font-size:14px;">&nbsp;&nbsp;&nbsp;高一数学满分冲刺班</div>
								<div class="num">&nbsp;&nbsp;&nbsp;&nbsp;<span>￥689</span>&nbsp;&nbsp;|&nbsp;&nbsp;讲座时间:11月30日19:00</div>
								<div class="free">&nbsp;&nbsp;&nbsp;&nbsp;已报名:198人 &nbsp;剩余<span>13</span>人</div>
								<div class="free">&nbsp;&nbsp;&nbsp;&nbsp;<s class="teacher_1"></s>小熊老师 主讲</div>
								<div class="buy_btn"><a href="">立刻购买</a></div>
							</div>
							</div>
							
							</div>
						</div>
						
						

				 		</div>

				 </div>
			</div>

</div>
			
			<div class='startbot' style="background:url(assets/images/startbot.jpg) no-repeat;width:955px;height:150px;margin-top:-10px; z-index:1;">
					
			</div>	

				<!--footer-->
				<div class="footer">
					<div class="ftcon">
						<!-- <div class="fter_1">
							<a href="">关于我们</a> | <a href="">加入我们</a> | <a href="">校园代理招募</a> | <a href="">O2O体验店招商</a> | <a href="">企业培训</a> | <a href="">网站地图</a> | <a href="">友情链接</a> 
						</div> -->
						<p class="fter_2 mt10">© 2014 北京高能壹佰教育科技有限公司 版权所有</p>
					</div>
				</div>
	</body>
	</html>


