<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{part '/site.main.orgname'} - 我的课程 - 云课 - 专业的在线学习平台</title>
<meta name="title" content="{part '/site.main.orgname'} - 我的课表 - 云课 - 专业的在线学习平台">
<meta name="keywords" content="{part '/site.main.orgname'} - 云课 - Yunke K12 在线学习 直播 云课网 在线教育">
<meta name="description" content="{part '/site.main.orgname'} - 云课(Yunke.com) -专业的K12在线学习平台。以直播授课为核心，打破时间与空间的界限，为教师高效教学、学生高效学习、家长高效管控及机构高效管理提供完美解决方案">
{part "/site.main.header"}
<script type="text/javascript" src="{utility_cdn::js('/assets/libs/datetimepicker-master/jquery.datetimepicker.js')}" ></script>
<script tyee="text/javascript" src="{utility_cdn::js('/assets_v2/js/scorll.js')}" ></script>
<link rel="stylesheet" type="text/css" href="{utility_cdn::css('/assets/libs/datetimepicker-master/jquery.datetimepicker.css')}">
</head>
<script>
function ts(SysSecond,thisid) {
    var SysSecond,InterValObj,sec,min,s,this_id;
    this_id=$('#'+thisid);
    hours=SysSecond.split(':')[0];
    min=SysSecond.split(':')[1];
    s=parseInt(hours*3600)+parseInt(min*60);
	if(typeof(min)=="undefined"){
        min=SysSecond;
		console.log("min---"+SysSecond)
		hours= 0;
        s=parseInt(hours*3600)+parseInt(min*60);
	}
    InterValObj = window.setInterval(SetRemainTime, 1000);
    function SetRemainTime() {
        if (s > 0) {
            s = s - 1;
            var minute1 = s % 3600;
            var minute = Math.floor(minute1 / 60);
            var hourss = Math.floor(s / 3600);
            if(minute<10){
				minute = '0'+minute;
			}
            //this_id.find('.cYellow').text(hourss + ":" + minute);
            if(hourss==0){
				this_id.find('p').text("距离开课时间:"+minute+"分");
			}else{
				this_id.find('p').text("距离开课时间:"+hourss + "小时" + minute+"分");
            }
			//console.log("123"+minute)
        } else {
            window.clearInterval(InterValObj);
			this_id.find('p').text("快去上课吧");
        }
    }
}
</script>
<body id="scrollTops">
<!--header-->
{part "/site.main.usernav.teacher"}
<!-- mob nav -->
<div class="g-nav hidden-lg hidden-md">
    <p class="swiper-wrapper" id="mob-nav">
        <a href="/teacher.detail.entry/{$userId}" class="swiper-slide">我的主页</a>
        <a href="/teacher.course.timetable2" class="swiper-slide">课程表</a>
        <a href="/teacher.course.teacherOfCourseList" class="swiper-slide">在教课程</a>
        <a href="/teacher.manage.student" class="swiper-slide active">我的学生</a>
    </p>
</div>
<section class="org-section">
    <div class="container mt40 pdr0 pdl0">
        <div class="row">
        <!-- leftmenu start-->
			{part "/user.main.menu.teacher.timetable"}
        <!-- leftmenu end -->
            <div class="right-main new-right-main col-sm-20 col-xs-20 col-md-15">
                <div class="content new-content-cy">
                    <dl class="list-tab fs14 col-xs-20 col-sm-20 cy-list-ddbtn">
                        <dd class="curr col-sm-4 col-xs-8">{'待上课'|tr:'site.teacher'}<i></i></dd>
                        <dd class="col-sm-4 col-xs-8">{'已结束'|tr:'site.teacher'}<i></i></dd>
						<div class="c-fr">
						{*
						<form action="" method="post">
							<input type="text" name="starttime" id="timeStart" class="fore-control" placeholder="开始日期" >
							<input type="text" name="endstarttime" id="timeEnd" class="form-control" placeholder="结束日期" >
							<input type="submit" class="form-control" value="提交" >
						</form>
						*}
						</div>
                    </dl>
                    <ul id="list">
                    <li>
                        <ul class="list-c2" id="notEnd">
                      {*  <li>
                            <div class="line-date col-sm-2 new-line-date col-lg-4 col-md-2">
                                <div class="list-icon-on"></div>
                                <div class="list-date"><span class="fs14">今日</span><br>19:00</div>
                            </div>
                            <div class="new-list-right">
                                    <div class="pic col-sm-4 col-md-7 col-xs-10 col-lg-5"><p><img src="{utility_cdn::img('/assets_v2/img/gao.png')}" alt=""></p></div>
                                    <div class="intro col-sm-5 col-xs-10 col-md-5">
                                        <p class="fs16">五年级春季精品班（尖子/超常）</p>
                                        <p><span class="cGreen">免费</span> | 共三章 学生(20/30)</p>
                                        <p><span style="margin-top:-1px;float:left"><img src="{utility_cdn::img('/assets_v2/img/time.png')}"></span>6月21日 19:00 第三章</p>
                                    </div>
                                    <div class='col-sm-5 col-md-5 row c-fl lin-h col-xs-14'>
                                        <p>距离开课时间:19分钟</p>
                                    </div>
                                    <div class="btn col-sm-5 col-md-5 row col-xs-10 hidden-sm hidden-xs">
                                        <p>
                                            <button>开始上课</button>
                                        </p>
                                        <p class="hidden-xs"><a href="#">备课</a> | <a href="#">布置作业</a></p>
                                    </div>
                            </div>
                        </li>
						*}
						{if(!empty($showData))}
						{foreach($showData as $k=>$v)}
                        <li>
                            <div class="line-date col-sm-4  col-md-4 new-line-date">
                                <div class="list-icon new-list-icon hidden-xs"></div>
                                <div class="list-date"><span class="fs14">{$v["start_date"]}</span>{*<br>19:00*}</div>
                            </div>
                            <div class="new-list-right">
                                    <div class="pic col-sm-7 col-md-7 col-xs-106 col-lg-5"><a href="./course.plan.play/{$v['plan_id']}"><p><img src="{$v['thumb']}" alt=""></p></a></div>
                                    <div class="intro col-sm-5 col-md-5 col-xs-10 col-lg-7">
        								<a href="./course.plan.play/{$v['plan_id']}"><p class="fs16">{$v["course_name"]}  {$v["class_name"]}</p></a>
                                    {*    <p class="fs16">{$v["course_name"]}</p> *}
        								<p><span class="{$v['fee_info_color']}">{$v["fee_info"]}</span> | 共{if(!empty($v["countsecs"]))}{$v["countsecs"]}{else}0{/if}章 进度 {$v["section_name"]}</p>
        								<p><span style="margin-top:-1px;float:left"></span> 学生({$v["user_total_class"]}/{$v["max_user_class"]})<p>
                                    </div>
        							{*<div class='col-sm-5 col-md-5 row c-fl lin-h col-xs-14' id="{$v['plan_id']}" ><p>{if(!empty($v["time_countdown"]))}{$v["time_countdown"]}{/if}{if(!empty($v['time_attr']))}
									{/if}</p></div>*}
                                    <div class="btn col-sm-5 col-md-5 row col-xs-10 hidden-sm hidden-xs">
        								<p>{$v['plan_status']}</button></p>
        								<p class="hidden-xs"><a href="{$v['lesson_link']}">{$v['lesson']}</a> | <a href="{$v['plan_manage_link']}" target="_blank">{$v['plan_manage']}</a> </p>
        								{*   <p><a href="#">备课</a> | <a href="#">布置作业</a></p> *}
                                    </div>
                            </div>
                        <!-- 显示月份
                        	<div class="student-course-month hidden-xs"><i class="col-sm-1 fs12">11月</i></div>
                        -->
										{if(!empty($v['time_attr']))}
										<script>
											ts('{$v['time_attr']}','{$v['plan_id']}');
										</script>
										{/if}
                        </li>
						{/foreach}
						{else}
						<div class="row">
							<div class="col-md-17 col-md-offset-1 course-schedule mt15">
								<div class="col-md-20 mt15 fs14 tac" style="padding-top:60px;">
									<img src="{utility_cdn::img('/assets_v2/img/platform/pet3.png')}" />
									<p>{'您还没有待上的课程哦请联系机构排课'|tr:'site.teacher'}</p>
								</div>
							</div>
						</div>
						{/if}
                        </ul>
                    <div class="col-sm-20">
                    </div>
                    </li>
                    <li>
                        <ul class="list-c2" id = "isEnd">
						{if(!empty($showDataend))}
						{foreach($showDataend as $k=>$v)}
                        <li>
                            <div class="line-date col-sm-4 col-md-4 new-line-date">
                                <div class="list-icon new-list-icon hidden-xs"></div>
                                <div class="list-date"><span class="fs14">{$v["start_date"]}</span>{*<br>19:00*}</div>
                            </div>
                            <div class="new-list-right">
        							<div class="pic col-sm-7 col-md-7 col-xs-10 col-lg-5"><a href="./course.plan.play/{$v['plan_id']}"><p><img src="{$v['thumb']}" alt=""></a></p></div>
                                   {* <div class="pic col-sm-4 col-md-4 col-xs-10"><p><img src="{utility_cdn::img('/assets_v2/img/gao.png')}" alt=""></p></div> *}
                                    <div class="intro col-sm-5 col-xs-10 col-md-5 col-lg-7">
        								<a href="./course.plan.play/{$v['plan_id']}"><p class="fs16">{$v["course_name"]} {$v["class_name"]}</p></a>
        								<p><span class="{$v['fee_info_color']}">{$v["fee_info"]}</span> | 共{if(!empty($v["countsecs"]))}{$v["countsecs"]}{else}0{/if}章 进度 {$v["section_name"]}</p>
        								<p><span style="margin-top:-1px;float:left"></span> 学生({$v["user_total_class"]}/{$v["max_user_class"]})<p>
                                    </div>
                                    {*<div class='col-sm-4 col-md-4 row c-fl lin-h col-xs-14'>
                                        <p></p>
                                    </div>*}
                                    <div class="btn col-sm-5 col-md-5 row col-xs-10 hidden-xs hidden-sm">
        						        <p>{$v['plan_status']}</p>
										<p><a href="{$v['plan_play_link']}" target="_blank">{$v['plan_play']}</a> </p>
                                      {*  <p class="hidden-xs"><a href="#">备课</a> | <a href="#">批改作业</a></p> *}
                                    </div>
                            </div>
                        <!-- 显示月份
                        	<div class="student-course-month hidden-xs"><i class="col-sm-1 fs12">11月</i></div>
                        -->
                        </li>
						{/foreach}
						{else}
						<div class="row">
							<div class="col-md-17 col-md-offset-1 course-schedule mt15">
								<div class="col-md-20 mt15 fs14 tac" style="padding-top:60px;">
									<img src="{utility_cdn::img('/assets_v2/img/platform/pet3.png')}" />
									<span>您还没有已结束的课程哦!</span>
								</div>
							</div>
						</div>
						{/if}
                        </ul>
                    <div class="col-sm-20">
                    </div>
                    </li>

                    </ul>
                </div>
            </div>
            <div class='clear'></div>
        </div>
    </div>
 </section>
	<script id='planListisend' type='text/template'>
		<<#data>>
		<li>
		<div class="line-date col-sm-4 col-md-4 new-line-date">
			<div class="list-icon new-list-icon hidden-xs"></div>
			<div class="list-date"><span class="fs14"><<start_date>></span></div>
		</div>
        <div class="new-list-right">
        		<div class="pic col-sm-7 col-md-7 col-xs-10 col-lg-5"><a href="./course.plan.play/<<plan_id>>"><p><img src="<<thumb>>" alt=""></p></a></div>
        		<div class="intro col-sm-5 col-md-5 col-xs-10 col-lg-7">
        			<a href="./course.plan.play/<<plan_id>>"><p class="fs16"><<course_name>> <<class_name>></p></a>
        			<p><span class="<<fee_info_color>>"><<fee_info>></span> | 共<<countsecs>>章 进度 <<section_name>></p>
        			<p><span style="margin-top:-1px;float:left"></span> 学生(<<user_total_class>>/<<max_user_class>>)</p>
        		</div>
        		<div class="btn col-sm-5 hidden-xs hidden-sm col-md-5 row col-xs-10">
        			<p><<&plan_status>></p>
					<p><a href="<<plan_play_link>>"><<plan_play>></a> </p>
        		</div>
        </div>
		</li>
		<</data>>
	</script>
	<script id='planListnotend' type='text/template'>
		<<#data>>
		<li>
		<div class="line-date col-sm-4 col-md-4 new-line-date ">
			<div class="list-icon new-list-icon hidden-xs"></div>
			<div class="list-date"><span class="fs14"><<start_date>></span></div>
		</div>
        <div class="new-list-right">
    		<div class="pic col-sm-7 col-md-7 col-xs-10 col-lg-5"><a href="./course.plan.play/<<plan_id>>"><p><img src="<<thumb>>" alt=""></p></a></div>
    		<div class="intro col-sm-5 col-md-5 col-xs-10 col-lg-7">
    			<a href="./course.plan.play/<<plan_id>>"><p class="fs16"><<course_name>> <<class_name>></p></a>
				<p><span class="<<fee_info_color>>"><<fee_rnfo>></span> | 共<<countsecs>>章 进度 <<section_name>></p>
				<p><span style="margie-top:-1px;float:left"></span> 学生(<<user_total_class>>/<<max_user_class>>)</p>
				{*	<p><span class="cGreen"><<fee_info>></span> | 共<<countsecs>>章 学生(<<user_total_class>>/<<max_user_class>>)</p> <p><span style="margin-top:-1px;float:left"></span> 进度 <<section_name>></p> *}
			</div>
    		<div class="col-sm-5 row c-fl lin-h col-xs-14"><p></p></div>
    		<div class="btn col-sm-5 col-md-5 row col-xs-10 hidden-xs hidden-sm">
    			<p><<&plan_status>></p>
    			<p class="hidden-xs"><a href="<<lesson_link>>"><<lesson>></a> | <a href="<<plan_manage_link>>"><<plan_manage>></a> </p>
            </div>
		</li>
		<</data>>
	</script>
	<footer>
	{part "/site.main.footer"}
	</footer>
	<script type="text/javascript" src="{utility_cdn::js('/assets_v2/js/mustache.js')}"></script>
    <script>
		var arrend = [];
		var arrnotend = [];
        $(document).ready(function() {
            $('#list li').first().show();
            $('.list-tab>dd').click(function() {
                $(this).addClass('curr').siblings().removeClass('curr');
                $('#list>li:eq(' + $(this).index() + ')').show().siblings().hide();
            })
                var loaded = true;
                //var loaded = false;
                var loadend = true;
                //var loadend = true;
                var startTime = "{$startTime}";
                var endstartTime = "{$endstartTime}";
                var Uid = "{$uid}";
                var Page = 1;
                var Pagestart = 1;
				var domisend = $("#isEnd li:last")[0];
				var domnotend = $("#notEnd li:last")[0];
				arrend.push(domisend);
				arrnotend.push(domnotend);
                $(window).scroll(function(){
                    var tops = $(window).scrollTop();
                    var contents = $(window).height();
					   var prec1 = getClient();
					   jiance(arrend, prec1, function(){
					   if(loadend){
						   Page++;
						   $.ajax({
							   type: "POST",
							   url: "/teacher.course.timetableendAjax",
							   data:{ start_time:startTime,endstart_time:endstartTime,uid:Uid,page:Page },
							   dataType: "json",
							   beforeSend: function () {
								   //$("#submit").attr({ disabled: "disabled" });
							   },
							   success: function(r){
								   datas = r;
								   var planListTpl = $('#planListisend').html();
								   var planList1 = Mustache.render(planListTpl, datas);
								   $('#isEnd').append(planList1);
								   domisend = $("#isEnd li:last")[0];
								   arrend.push(domisend);
								   if(r.error){
									   //  $("#error").html(r.error);
									   alert(r.error);
									   //      location.reload();//这里未完善
									   return false;
								   }
								   if(r){
									   if(r.data.length ==0){
										   loadend = false;
									   }
								   }
							   },
							   complete: function () {
								   //$("#submit").removeAttr("disabled");
							   },
							   error: function (r) {
								   Page--;
								   domisend = $("#isEnd li:last")[0];
								   arrend.push(domisend);
								   console.info("error: " + r.error);
							   }

						   });
						   }
					   })
					   jiance(arrnotend, prec1, function(){
						   Pagestart++;
						   if(loaded){
							   $.ajax({
								   type: "POST",
								   url: "/teacher.course.timetablestartAjax",
								   data:{ start_time:startTime,endstart_time:endstartTime,uid:Uid,page:Pagestart },
								   dataType: "json",
								   beforeSend: function () {
									   //$("#submit").attr({ disabled: "disabled" });
								   },
								   success: function(r){
									   data = r;
									   var planListTpl1 = $('#planListnotend').html();
									   var planList2 = Mustache.render(planListTpl1, data);
									   $('#notEnd').append(planList2);
									   domnotend = $("#notEnd li:last")[0];
									   arrnotend.push(domnotend);
									   if(r.error){
										   //  $("#error").html(r.error);
										   alert(r.error);
										   //      location.reload();//这里未完善
										   return false;
									   }
									   if(r){
										   if(r.data.length ==0){
											   loaded = false;
										   }
									   }
								   },
								   complete: function () {
									   //$("#submit").removeAttr("disabled");
								   },
								   error: function (r) {
									   Page--;
									   domnotend = $("#notEnd li:last")[0];
									   arrnotend.push(domnotend);
									   console.info("error: " + r.error);
								   }

							   });
						   }

					   })

				   });


            });
        </script>
 <script>
 jQuery(function(){
    jQuery('#timeStart').datetimepicker({
            format:'Y-m-d',
            onShow:function( ct ){
            this.setOptions({
                maxDate:jQuery('#timeEnd').val()?jQuery('#timeEnd').val():false
                })
            },
           timepicker:false
    });
    jQuery('#timeEnd').datetimepicker({
        format:'Y-m-d',
        onShow:function( ct ){
            this.setOptions({
                minDate:jQuery('#timeStart').val()?jQuery('#timeStart').val():false
            })
        },
        timepicker:false
    });
});
</script>
</body>
</html>
