<!DOCTYPE html>
<html>
<head>
    <title>高能100 - 专业的K12在线教育平台</title>
    <meta name="title" content="高能100 - 专业的K12在线教育平台 在线直播">
    <meta name="keywords" content="高能100 - 专业的K12在线教育平台 高能100 - 专业的K12在线教育平台 在线 k12 小学数学 初中数学">
    <meta name="description" content="高能100 - 专业的K12在线教育平台 高能100 - 专业的K12在线教育平台 在线直播">
    {part "/site.main.header"}
	<script src="{utility_cdn::js('/assets/js/jcrop/js/jquery.Jcrop.min.js')}"></script>
	<link rel="stylesheet" href="{utility_cdn::css('/assets/js/jcrop/css/jquery.Jcrop.css')}" type="text/css" />
	<script src="{utility_cdn::js('/assets/js/plupload/js/plupload.full.min.js')}"></script>
</head>
<style>
	#uploadthis{	width: 130px;
		height: 40px;
		background: #198fee;
		color: #fff;
		border: none;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;
		-ms-border-radius: 5px;
		-khtml-border-radius: 5px;
		border-radius: 5px;
	}
</style>
<body>
	<div class="new-upload-data" id="showthis">
	<!--打开弹层-->
		<div id="up1">
			<p class="up-most">{'最多上传10个文件，每个文件小于100M'|tr:'site.teacher'}</p>
			<p class="up-format cGray">{'支持格式'|tr:'site.teacher'}：txt、pdf、jpg、doc、docx、pptx、xls、xlsx、rar、zip</p>
			<p class="new-upload-btn"><button id="browse">{'选择本地文件'|tr:'site.teacher'}</button></p>
		</div>
	<!--打开弹层-->
	<!--选择文件-->
		<div id="up2" style="display:none;">
			<form action="./teacher.manage.batchupload.{$plan_id}.{$class_id}" enctype="multipart/form-data" method="post"  name="uploadfile" id="form">
				<p attr="{$errorcode}" id="code" style="text-align:center;line-height:40px;">{*$error*}</p>
				<ul class="new-data-list" id="data_list"></ul>
				<p class="fs12">{'注：单次最多上传10个'|tr:'site.teacher'},{'支持格式'|tr:'site.teacher'}：txt、pdf、jpg、doc、docx、pptx、xls、xlsx</p>
				<p class="new-upload-btn" id="butthis">
					<button id="uploadsuc" style="display:none">{'上传中'|tr:'site.teacher'}</button>
				</p>
			</form>
			<p class="new-upload-btn">
				<button id="uploadthis">{'确定上传'|tr:'site.teacher'}</button>
		    </p>
		</div>
	</div>
</body>
<script>
	$("#showthis").hide();
	$(document).ready(function(){
		var	swappic = {
			txt:"{utility_cdn::img('/assets_v2/img/lesson-txt.png')}",
			pdf:"{utility_cdn::img('/assets_v2/img/lesson-pdf.png')}",
			doc:"{utility_cdn::img('/assets_v2/img/lesson-doc.png')}",
			docx:"{utility_cdn::img('/assets_v2/img/lesson-doc.png')}",
			ppt:"{utility_cdn::img('/assets_v2/img/lesson-ppt.png')}",
			pptx:"{utility_cdn::img('/assets_v2/img/lesson-ppt.png')}",
			jpg:"{utility_cdn::img('/assets_v2/img/lesson-jpg.png')}",
			xls:"{utility_cdn::img('/assets_v2/img/lesson-xls.png')}",
			xlsx:"{utility_cdn::img('/assets_v2/img/lesson-xls.png')}",
			rar:"{utility_cdn::img('/assets_v2/img/lesson-rar.png')}",
			zip:"{utility_cdn::img('/assets_v2/img/lesson-zip.png')}",
			//	"8"=>"{utility_cdn::img('/assets_v2/img/lesson-png.png')}",
			//	"9"=>"{utility_cdn::img('/assets_v2/img/lesson-gif.png')}",
		};
		var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
		var code = $("#code").attr("attr");
		if(code == 200){
			$("#showthis").hide();
			parent.location.reload();
			parent.layer.close(index);
			}else{
			$("#showthis").show();
		}
		if(code==200  ||code==100){
		}else{
			layer.msg("{$error}");
		}
		var form = $("#form");
		var clName = $("#title");
		form.submit(function(){
			var flagthis = true;
			$(".judgeval").each(function(){
				var thisval = $(this).val();
				if(0==thisval.length){
					flagthis = false;
					$(this).css({ "borderColor":"red"});
				}else if(strlen(thisval)>=60){
					layer.msg("课件名称不能超过60个字");
					$(this).css({ "borderColor":"#ccc"});
					flagthis = false;
				}
			});
			if(!flagthis){
				return false;
			}
		});

		var uploader = new plupload.Uploader({
			browse_button: 'browse', // this can be an id of a DOM element or the DOM element itself
			url: '/file.main.batchuploadattach.{$plan_id}',
			filters: {
				mime_types : [
				{ title : "Attach Files", extensions : "jpg,txt,pdf,doc,docx,ppt,pptx,xls,xlsx,rar,zip" }
				],
				prevent_duplicates:false,
				max_file_size:"100mb"
			}
			,multi_selection:true
			,file_data_name:'upfile'
		});

		uploader.bind('FilesAdded', function(up, files) {
			for(var i in files){
				var att = files[i].name.split(".");
				var attrtitle 
				attrtitle = cutstr(att[0],60);
				var picurl;
				var fromstr;
				formstr = att.pop();
				var lower = formstr.toLocaleLowerCase();
				if(swappic.hasOwnProperty(lower)){
					for(var x in swappic){
						if(lower==x){
							picurl = swappic[x];
						}
					}
				}else{
					picurl = "{utility_cdn::img('/assets_v2/img/lesson-doc.png')}";
				}
				$("#title").val(attrtitle);
				appendDom(files[i].id,attrtitle,files[i].size,picurl);
			}
			$('#uploadthis').html("{'确定上传'|tr:'site.teacher'}");
			$('#uploadthis').show();
			$('#uploadsuc').hide();
			$("#up1").hide();
			$("#up2").show();
		});

		uploader.bind('UploadProgress', function(up, file) {
				var p = file.percent;
				$('#percent_'+file.id).html(file.percent+"%");
				$('#uploadthis').html("上传中");
		});
		$("#uploadthis").click(function(){
			uploader.start();
		})
		uploader.bind('FileUploaded', function(up, file,info) {
			var r = jQuery.parseJSON(info.response);
			if(r.errorcode=="200"){
				$("#type"+file.id).val(r.type);
				$("#attach"+file.id).val(r.attach);
				$("#thumb"+file.id).val(r.thumb);
				$('#uploadthis').hide();
				$('#uploadsuc').show();
			}else{
				$('#uploadthis').html("上传失败");

			}
		});
		uploader.bind('UploadComplete', function(up, files) {
			$('#uploadsuc').html("完成");
		});
		uploader.bind('Error', function(up, err) {
			if(err.code==-600){
				layer.msg("文件太大了");
			}else if(err.code==-601){
				layer.msg("文件类型不对");
			}else{
				layer.msg("\nError #" + err.code + ": " + err.message);
			}
		});
		uploader.init();
	});


	function appendDom(fileId,fileName,size,picurl){
		var si;
		f = parseFloat( (size/1024)/1024 ).toFixed(1);
		si = f+"M";
		if(0.5>=f){
			f = parseInt( (size/1024) );
			si = f+"KB";
		}
		var html='';
		html+="<li>";
		html+='<span class="c-fl"><img src="'+picurl+'"></span>';
		html+='<span class="c-fl ml10">'+si+'</span>';
		html+='<label class="delthis c-fr" style="cursor:pointer;">'+"{'删除'|tr:'site.user'}"+'</label>';
		html+='<div class="ml10 named">'+"{'命名：'|tr:'site.teacher'}"+'<input type="text" name="title[]" class="judgeval" id="title'+fileId+'" value="'+fileName+'">';
		html+='<span class="cRed" id="percent_'+fileId+'">0%</span>';
		html+="</div>";
		html+='<label><input type="text" name="attach[]" id="attach'+fileId+'" hidden></label>';
		html+='<label><input type="text" name="thumb[]" id="thumb'+fileId+'" hidden></label>';
		html+='<label><input type="text" name="type[]" id="type'+fileId+'" hidden></label>';
		html+='</li>';
		$("#data_list").append(html);
	}
    $("#data_list").on('click','.delthis',function(){
		$(this).parent().detach();
		var lilength = $("#data_list").find("li").length;
		if(0==lilength){
			$("#up2").hide();
			$("#up1").show();
		}
	});

	function strlen(str){
		var len = 0;
		for (var i=0; i<str.length; i++) { 
			var c = str.charCodeAt(i); 
			//单字节加1 
			if ((c >= 0x0001 && c <= 0x007e) || (0xff60<=c && c<=0xff9f)) { 
				len++; 
			} 
			else { 
				len+=2; 
			} 
		} 
		return len;
	}


	function cutstr(str, len) {
		var str_length = 0;
		var str_len = 0;
		str_cut = new String();
		str_len = str.length;
		for (var i = 0; i < str_len; i++) {
			a = str.charAt(i);
			str_length++;
			if (escape(a).length > 4) {
				str_length++;
			}
			str_cut = str_cut.concat(a);
			if (str_length >= len) {
				str_cut = str_cut.concat("...");
				return str_cut;
			}
		}
		if (str_length < len) {
			return str;
		}
	}


</script>
</html>
