
<div class="th_banner" style="background: url('{utility_cdn::img($info->imgBanner)}') top center no-repeat">
    <!--banner换肤区域-->
    <div  class="container_teac container">
        {if($userType && ($uid == $tid))}
        <a href="javascript:;" class="skin icon_pic" id="skin"></a>
        {/if}
        <div class="row col-md-20 th_pic">
            <div class="th_p col-md-8 center-block tac">
					<span class="pho_pic user-avatar pos-rel">
						<img src="{if(!empty($info->thumb_big))}{utility_cdn::file($info->thumb_big)}{/if}" />
						{if(!empty($planid))}
						<span class="video-box visible-lg" data-planid="{$planid}">
							<span class="index-teac-vio"></span>
							<span class="t-video-info">视频简介</span>
							<span class="t-video-icon"></span>
						</span>
						{/if}
					</span>
                <h2 class="mt25">
                    {if(!empty($info->real_name))}{$info->real_name}{/if}
                    <em class="icon_pic {if($info->gender == 2)}icon_woman{/if} {if($info->gender == 1)}icon_man{/if}"></em>
                </h2>
                {if(!empty($info->brief_desc))}
                    <p class="mt20">{$info->brief_desc}</p>
                {else}
                    {if($uid == $tid)}
                        <p class="mt20">一句话介绍下自己，让别人更了解你</p>
                    {else}
                        <p class="mt20">还没有填写一句话简介</p>
                    {/if}
                {/if}
            </div>
        </div>
        <!--关注-->
        {if($userType && ($uid == $tid))}
            {if($favTotal)}
                <div class="col-md-6 col-md-offset-9 th_b_nav ">
                    <a href="#" class="b_nav1_h"><i class="icon_pic"></i>{$favTotal}个关注</a>
                </div>
            {/if}
        {else}
        <!--喜欢-->
        <div class="right th_b_nav">
            <a href="javascript:;" class="{if($isFav)}b_nav1_h{else}b_nav1{/if}" onclick="favAction({$isFav})"><i class="icon_pic"></i>{if($isFav)}已喜欢{else}喜欢{/if}</a>
             <a href="javascript:;" class="b_nav2"><i class="icon_pic"></i>发消息</a>
            <!-- <a href="#" class="b_nav3"><i class="icon_pic"></i>分享</a>-->
        </div>
        {/if}
    </div>
    <!--open-->
    <div class="skin_box" style="display: none">
        <div class="container skin_cent">
            <ul class="skin_bg">
                <li><em></em><img data="/assets_v2/img/skin1.jpg" src="{utility_cdn::img('/assets_v2/img/skin1.jpg')}"></li>
                <li><em></em><img data="/assets_v2/img/skin2.jpg" src="{utility_cdn::img('/assets_v2/img/skin2.jpg')}"></li>
                <li><em></em><img data="/assets_v2/img/skin3.jpg" src="{utility_cdn::img('/assets_v2/img/skin3.jpg')}"></li>
                <li><em></em><img data="/assets_v2/img/skin4.jpg" src="{utility_cdn::img('/assets_v2/img/skin4.jpg')}"></li>
                <li><em></em><img data="/assets_v2/img/skin5.jpg" src="{utility_cdn::img('/assets_v2/img/skin5.jpg')}"></li>
            </ul>
            <div class="clear">
                <div class="col-md-10 col-md-offset-8 s_choice">
                    <a class="preser" href="javascript:;">保存</a>
                    <a class="cancel" href="javascript:;">取消</a>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="th_nav tac col-xs-20">
    <div class="container swiper-container swiper-continer">
      <div class="swiper-ul-width swiper-wrapper">
        <li class="swiper-slide col-xs-4">
            <a {if($nav=="entry")}class="nav_hover"{/if} href="/teacher/detail/entry/{$tid}">
                {if($uid == $tid)}我{else}{if($info->gender == 1)}他{else}她{/if}{/if}的首页
            </a>
        </li>
        <li class="swiper-slide col-xs-4"><a {if($nav=="course")}class="nav_hover"{/if} href="/teacher/detail/course/{$tid}">主讲课程</a></li>
        <li class="swiper-slide col-xs-4"><a {if($nav=="style")}class="nav_hover"{/if} href="/teacher/detail/style/{$tid}">教师相册</a></li>
        <li class="swiper-slide col-xs-4"><a {if($nav=="article")}class="nav_hover"{/if} href="/teacher/detail/article/{$tid}">文章资料</a></li>
        <li class="swiper-slide col-xs-4"><a {if($nav=="comment")}class="nav_hover"{/if} href="/teacher/detail/comment/{$tid}">学生评价</a></li>
      </div>
    </div>
</nav>
<script type="text/javascript" src="{utility_cdn::js('/assets_v2/js/swiper.min.js')}"></script>
<script type="text/javascript" src="{utility_cdn::js('/assets_v2/js/jquery.user.messages.js')}"></script>
<script>
//发信息
$(".b_nav2").click(
    function postChatCtrl() {
        var content = '很高兴能和你聊天哦~';
        var userFrom = {$tid};
        $.post('/message/ajax/DirectChat', { userFrom:userFrom, content:content }, function(r) {
            if(r.code) {
                layer.msg(r.errMsg);
            }else {
                location.href = '/user.message';
            }
        },'json')
    }
);


function favAction(m)
{
    var uid = {$uid};
    var tid = {$tid};
    var w,h;

    if($(window).width()>800){
        w='520px';
        h='420px';
    }else{
        w='90%';
        h='420px';
    }

    if (!uid) {
        if($(window).width()<768){
            location.href='/site.main.login/?url=//'+location.hostname+"/teacher.detail.entry/"+tid;
        }else {
            layer.open({
                type: 2,
                title: false,
                area: [w, h],
                shadeClose: true,
                content: ['/layer.main.userLogin/addFavTeacher/' + tid, 'no']
            });
        }
        return false;
    }

    if (m) {
        $.post("/teacher/ajax/cancelFav", { uid: uid, tid: tid },
                function (d) {
                    if (d.code == 0) {
                        layer.msg('操作成功', { icon: 1 }, function () {
                            location.reload();
                        });
                    } else {
                        layer.msg('操作失败');
                    }
                }, 'json'
        );
    } else {
        $.post("/teacher/ajax/AddFav", { uid: uid, tid: tid },
                function (d) {
                    if (d.code == 0) {
                        layer.msg('操作成功', { icon: 1 }, function () {
                            location.reload();
                        });
                    } else {
                        layer.msg('操作失败');
                    }
                }, 'json'
        );
    }
};
window.onscroll = function(){
    var t = document.body.scrollTop;
    var width = $(document.body).width();
    //console.log(width)
    if(t > 10){
        $('.th_nav').css({
                'background':'#fff',
                'top':0
                });
        $('.th_nav').find('a').css('color','#333');
    }else{
        $('.th_nav').css({
                'background':'',
                'top':'411px'
                });
        $('.th_nav').find('a').css('color','#333333');
    }
    if(width > 1025){
        $('.th_nav').css({
                'top':'0',
                'background':'',
                })
    }
}

$(function(){
		    var planId;
			$('.video-box').click(function(){
				planId=$(this).attr('data-planid');
				layer.open({
					  type: 2,
					  title:false,
					  shadeClose: true,
					  area: ['710px', '399px'],
					  content:'/user.teacher.TeacherVideoPreview#'+planId  //iframe的url
				});
			})
        //详细
        var sText= $.trim($(".intro").text());
        if(sText.length>=45){
            $(".details").show();
        }else{
            $(".details").hide();
        }

        $(".details").click(function(){
            if($(".intro").hasClass("furl")){
                $(".intro").css("height","52px").removeClass('furl');
                $(".details").html("【展开】");
            }else{
                $(".intro").css("height","auto").addClass('furl');
                $(".details").html("【收起】");
            }
        });

        $("#skin").click(function(){
            $(".skin_box").show();
        });
        //背景选择
        var src_img='';
        $(".skin_bg li").click(function(){
            var _this=$(this);
            _this.find("em").addClass("icon_pic");
            _this.siblings().find("em").removeClass("icon_pic");
            src_img=_this.find("img").attr("data");
            $(".th_banner").css("background-image",'url('+_this.find("img").attr("src")+')');
        });
        //关闭弹层
        $(".s_choice .cancel").click(function(){
            $(".skin_box").hide();
            location.reload();
        });
        //保存请求
        $(".preser").click(function(){
            $.ajax({
                type: "POST",
                url: "/teacher/ajax/UpdateImgPath",
                data: { src:src_img, tid:{$tid} },
                success: function(){
                    $(".skin_box").hide();
                },
                error:function(){
                    location.msg('保存失败');
                }
            });
        })
        if($(window).width()<760){
            var mySwiper = new Swiper('.swiper-container', {
                slidesPerView :2
                //autoplay: 1000,//可选选项，自动滑动
            })
            //alert(123213);
            var li_w=$(".swiper-ul-width li").outerWidth();
            var li_l=$(".swiper-ul-width li").length;
            var ul_w=li_w*li_l+40;
            $(".swiper-ul-width").css("width",ul_w+'px');
        }
   })
</script>
