.top-hea{height: 55px;}
.top-nav{height: 55px;}
.steacbox{max-width:1000px;background: #f7f7f7 ;margin: 0 auto;margin-top: 100px;position: relative;}
.steachea .steacbt{position: fixed;top:20%;z-index: 999;width:100%;height: 50px;padding-top: 13px;padding-left: 175px; opacity: 0.7;}
.steachea .steacbt li{float: left;padding-left: 10px;line-height: 20px;color: #333333;}
.steachea .steacbt .qb{font-size: 20px;}
.steachea .steacbt li a{display: inline-block;text-decoration: none;padding:0 10px;}
.steachea .steacbt li a:hover{color: #fff;background-color: #FFA91C;}
.steacpd{z-index: 888;}
.steaczuo{width: 490px;height: 272px;border: 1px solid #ccc;background-color:#fff;margin: 5px;}
.steacjs{margin-top: -30px;}
.steaczuo dl dt{margin: 20px 20px 0px 20px;float: left;height: 230px;}
.steaczuo dl dt img{position: relative;}
.steaczuo dl dt span img{position: absolute;top:-6px;left:-7px;}
.steaczuo dl dd{ padding: 20px 20px 0px 0px;}
.steaczuo dl dd .border{height: 142px;border-bottom: 1px dashed #ccc; overflow:hidden; text-overflow:ellipsis;}
.steaczuo dl dd .border h1{font-size: 20px;}
.steaczuo dl dd .border h1 b{font-size: 16px;font-weight: normal;padding-left: 10px;}
.steaczuo dl dd .border p{font-size: 16px;padding-top: 10px;}
.steaczuo dl dd .border .zym{font-size: 14px;}
.steaczuo dl dd .steac-nav{margin-top: 20px;}
.steaczuo dl dd .steac-nav ul li{height: 23px;line-height: 23px;}
.steaczuo dl dd .steac-nav ul li img{margin-right: 5px;margin-top: -4px;}
.steaczuo dl dd .steac-nav ul li a{color:#0033CC;text-decoration: none;}
.steacsx .steactop{margin-top: 20px;z-index: 888;}
.steacsx .steactop .gd{ float: right; cursor: pointer; line-height: 23px;}
.steacsx .steactop li{float: left;padding-left: 10px;line-height: 20px;}
.steacsx .steactop .qb{font-size: 20px;}
.steacsx .steactop li a{display: inline-block;color: #666666;text-decoration: none;padding:0 10px;}
.steacsx .steactop li a:hover{color: #fff;background-color: #FFA91C;}
.steacsx .steac-1{ width: 240px;height: 280px;border:1px solid #ccc;background-color: #fff;margin: 20px 5px 0px 5px; position: relative;}
.steacsx .steac-1 .steacimg img{margin:20px 0px 10px 50px; display: inline-block; z-index: 1;}
.steacsx .steac-1 p{text-align:center;font-size: 20px;line-height: 25px;}
.steacsx .steac-1 .p1{display: block;width: 120px;height: 25px; background-color: #67ABFF;font-size: 14px;margin: 5px 0px 0px 60px;color: #fff; z-index: 1;}
.steacsx .steac-1 .p2{color: #333333; z-index: 1;}
.steacsx .steac-1 .p3{font-size: 16px; z-index: 1;}
.steacsx .steac-1 .blur{ width: 238px;height: 278px;
	-webkit-filter: blur(5px);
	     -moz-filter: blur(5px);
	     -o-filter: blur(5px);
	     -ms-filter: blur(5px);
	     filter: blur(5px); 
	position: absolute;top: 0px;z-index:11;opacity: 0.9;background-color: #fff;}
.steacsx .steac-1 .blur .bej{background-color: #fff;width: 238px;height: 278px;z-index: 2;}
.steacsx .steac-1 .jqqd{z-index: 12; position: absolute;top: 100px;left: 65px;height:32px;background-color: #fff;text-align: center;width: 110px;opacity: 0.8;}
.steacsx .steac-1 .jqqd span{font-size: 22px; color:  #FFA81d;}