<!DOCTYPE html>
<html>
<head>
<title>文章增加- {part '/site.main.orgname'} - 云课 - 专业的在线学习平台</title>
<meta name="title" content="{part '/site.main.orgname'} - 公告增加 - 云课 - 专业的在线学习平台">
<meta name="keywords" content="{part '/site.main.orgname'} - 云课 - Yunke K12 在线学习 直播 云课网 在线教育">
<meta name="description" content="{part '/site.main.orgname'} - 云课(Yunke.com) -专业的K12在线学习平台。以直播授课为核心，打破时间与空间的界限，为教师高效教学、学生高效学习、家长高效管控及机构高效管理提供完美解决方案">
{part "/site.main.header"}
</head>
<body style="background:#f7f7f7;">
{part "/site.main.nav"}
<section class="pd40">
<div class="container">
    <div class="row">
        <div class="col-md-20 right-main pd0">
            <div class="content nl-notice-add">
			<form id="form">
                <div class="nl-release">
                   <p>{'文章分类'|tr:'org'}:</p>
                    <select name="catename">
                    <option value="0">默认</option>
                     {if !empty($cateList->items)}
                        {foreach($cateList->items as $k=>$v)}
                        <option value="{$v->pk_cate}">{$v->name|htmlspecialchars}</option>
                        {/foreach}
                     {/if}
                    </select>
                </div>
			
                <div class="nl-release-administration">
                    <a href="#" id="release-click">
                        <span class="release-icon"></span>
                        {'管理分类'|tr:'org'}
                    </a>
                </div>
				
                <div class="nl-cement-title">
                    <p>{'标题'|tr:'org'}<span>({'30字以内'|tr:'org'})</span></p>
                    <p><input type="text" placeholder="{'请输入标题'|tr:'org'}" name="notice_title" id="notice_title" value=""></p>
                </div>
				
                <div class="nl-cement-text">
                    <p>{'正文'|tr:'org'}</p>
                    <div class="cement-text-area">
                        <textarea cols="30" rows="10" name="notice_content" id="notice_content" style="width:910px;height:270px;"></textarea>
						
                    </div>
                </div>
                <div class="nl-cement-release">
                </div>
                <div class="clear"></div>
            </form>
             <button type="submit" id="subnotice">{'发布'|tr:'org'}</button>
            </div>
        </div>
        <!--right-->
    </div>
</div>
<link href="{utility_cdn::css('/assets/umeditor/themes/default/css/umeditor.css')}" type="text/css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="{utility_cdn::js('/assets/umeditor/umeditor.config.js')}"></script>
<script type="text/javascript" charset="utf-8" src="{utility_cdn::js('/assets/umeditor/umeditor.min.js')}"></script>
<script type="text/javascript" src="{utility_cdn::js('/assets/umeditor/lang/zh-cn/zh-cn.js')}"></script>
<script>
var um = UM.getEditor('notice_content');
$(function(){
    $("#subnotice").click(function(){
        $.post("/user.org.addnoticeAjax",$("#form").serialize(),function(r){ 
            if(r.error){
                layer.msg(r.error);
                $("[name="+r.field+"]").focus();
            }else{
    			layer.msg("{'发布成功'|tr:'org'}",{ icon: 1 },function(){
                    window.location.href="/org.main.activeNoticeList";
				});
            }
        },"json");
    });
});
</script>
<script>
$('#release-click').click(function(){
    layer.open({
        type: 2,
        title:["{'管理分类'|tr:'org'}",'background:#ffa81d;color:#fff;'],
        area: ['400px', '550px'], //宽高
        close:['width:20px;','height:20px;','background:#ccc;'],
        content: '{"/org.main.noticeAddCate"}',
	})
});
</script>
</section>
{part "/site.main.footer"}
</body>
</html>
