<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>已结算查看明细 - {part '/site.main.orgname'} - 云课 - 专业的在线学习平台</title>
<meta name="title" content="{part '/site.main.orgname'} - 机构中心 - 云课 - 专业的在线学习平台">
<meta name="keywords" content="{part '/site.main.orgname'} - 云课 - Yunke K12 在线学习 直播 云课网 在线教育">
<meta name="description" content="{part '/site.main.orgname'} - 云课(Yunke.com) -专业的K12在线学习平台。以直播授课为核心，打破时间与空间的界限，为教师高效教学、学生高效学习、家长高效管控及机构高效管理提供完美解决方案">
{part "/site.main.header"}
</head>
<body style="background:#f7f7f7">
{part "/site.main.nav"}
<section class="pd40 org-view-Settled">
    <div class="container">
        <div class="row">
        	<!-- 左侧 -->
            {part "/org.main.menu.settle"}
        	<!-- /左侧 -->
        	<!-- 右侧 -->
        	<div class="right-main col-md-16">
        		<div class="content">
        			<h1 class="col-md-20">
        				<a href="/org/settle/accountlist/" class="fs14" title="">&lt;&lt; 返回</a>
        			</h1>
        			<div class="col-md-20 pd0 fs14 mt30 cDarkgray">
        				<div class="col-md-6">2016-06-09  已结算明细</div>
        				<div class="col-md-7">账单周期：2016-06-09 -- 2016-06-09</div>
        				<div class="col-md-6 ter">
        					<a href="#" class="sBlue" title="">导出账单EXCEL</a>
        				</div>
        				<div class="col-md-20 mt10 fs14 cDarkgray">
        					本期结算收入：
                            <span style="color:#fc401b;" class="fs20">
                                ￥<em class="settled-money">100</em>
                            </span>
        				</div>
        			</div>
        			<div class="col-md-20 mt10">
        				<p class="c-orange bor1px tel">
        					<span class="settles-icon c-fl"></span>
        					结算订单范围：以课程班级为单位，所有章节已完结的即为可结算内容( 本期结算收入= 本期总营收     本期推广费 )
        				</p>
        			</div>
        			<div class="col-md-20 mt15">
        				<ul class="bor1px fs14 tac clearfix view-settled-btn">
        					<li class="col-md-4 pd0 curr">
        						课程收入明细
        						<i class="c-fr mt10"></i>
        					</li>
        					<li class="col-md-4 pd0">
        						会员收入明细
        						<i class="c-fr mt10"></i>
        					</li>
        					<li class="col-md-4 pd0">
        						渠道分销收入明细
        						<i class="c-fr mt10"></i>
        					</li>
        					<li class="col-md-4 pd0">
        						推广费支出明细
        						<i class="c-fr mt10"></i>
        					</li>
        				</ul>
        			</div>
        			<div class="col-md-20 fs14">
        				<ul class="view-settled-content	clearfix">
        					<li class="cDarkgray" type="1">

        					</li>
        					<li class="cDarkgray" type="11">

        					</li>
        					<li class="cDarkgray" type="22">
							<!--
								<div class="col-md-8 bgf5 tec mt10 view-extension">课程信息</div>
								<div class="col-md-6 bgf5 tec mt10 view-extension">推广信息</div>
								<div class="col-md-6 bgf5 tec mt10 view-extension">总收入</div>

        						<dl class="col-md-20 pd0">
                                    <dd class="col-md-9">课程名称：拓维集团2016年第一期新员工入职培训</dd>
                                    <dd class="col-md-5">分销商：高能壹佰</dd>
                                    <dd class="col-md-4"></dd>
                                    <dd class="col-md-9">班级：尖端火箭班</dd>

                                    <dd class="col-md-5">
                                        <p>分销类型：基础价 100</p>
                                        <p>订单价格：200</p>
                                    </dd>
                                    <dd class="col-md-4">
                                        <p>分销手续费：100</p>
                                        <p>云课手续费：200</p>
                                    </dd>
                                    <dd class="col-md-2"><span class="fsRed">200</span></dd>
                                    <dd class="col-md-20 pd0">
                                        <div class="col-md-5 cGray">订单ID：20134555787488</div>
                                        <div class="col-md-5 cGray">交易时间：2016-12-20</div>
                                        <div class="col-md-5 cGray">支付方式：POSS</div>
                                        <div class="col-md-5 cGray">购买者：小金鱼</div>
                                    </dd>
        						</dl>
        						<dl class="col-md-20 pd0">
                                    <dd class="col-md-9">课程名称：拓维集团2016年第一期新员工入职培训</dd>
                                    <dd class="col-md-5">分销商：高能壹佰</dd>
                                    <dd class="col-md-4"></dd>
                                    <dd class="col-md-9">班级：尖端火箭班</dd>

                                    <dd class="col-md-5">
                                        <p>分销类型：基础价 100</p>
                                        <p>订单价格：200</p>
                                    </dd>
                                    <dd class="col-md-4">
                                        <p>分销手续费：100</p>
                                        <p>云课手续费：200</p>
                                    </dd>
                                    <dd class="col-md-2"><span class="fsRed">200</span></dd>
                                    <dd class="col-md-20 pd0">
                                        <div class="col-md-5 cGray">订单ID：20134555787488</div>
                                        <div class="col-md-5 cGray">交易时间：2016-12-20</div>
                                        <div class="col-md-5 cGray">支付方式：POSS</div>
                                        <div class="col-md-5 cGray">购买者：小金鱼</div>
                                    </dd>
        						</dl>
        						<dl class="col-md-20 pd0">
                                    <dd class="col-md-9">课程名称：拓维集团2016年第一期新员工入职培训</dd>
                                    <dd class="col-md-5">分销商：高能壹佰</dd>
                                    <dd class="col-md-4"></dd>
                                    <dd class="col-md-9">班级：尖端火箭班</dd>

                                    <dd class="col-md-5">
                                        <p>分销类型：基础价 100</p>
                                        <p>订单价格：200</p>
                                    </dd>
                                    <dd class="col-md-4">
                                        <p>分销手续费：100</p>
                                        <p>云课手续费：200</p>
                                    </dd>
                                    <dd class="col-md-2"><span class="fsRed">200</span></dd>
                                    <dd class="col-md-20 pd0">
                                        <div class="col-md-5 cGray">订单ID：20134555787488</div>
                                        <div class="col-md-5 cGray">交易时间：2016-12-20</div>
                                        <div class="col-md-5 cGray">支付方式：POSS</div>
                                        <div class="col-md-5 cGray">购买者：小金鱼</div>
                                    </dd>
        						</dl>
								-->
                            <!-- 无内容 -->
                                <div class="list-img tec mt40">
                                    <img src="/assets_v2/img/pet3.png">
                                    <p class="fs12 cGray">本期没有符合结算的渠道分销收入~</p>
                                </div>
                            <!-- /无内容 -->
        					</li>
        					<li class="cDarkgray" type="23">
							<!--
								<div class="col-md-9 bgf5 tec mt10 view-distribut">课程信息</div>
								<div class="col-md-4 bgf5 tec mt10 view-distribut">分销信息</div>
								<div class="col-md-4 bgf5 tec mt10 view-distribut">费用情况</div>
								<div class="col-md-3 bgf5 tec mt10 view-distribut">总支出</div>

        						<dl class="col-md-20 pd0">
                                    <dd class="col-md-9">课程名称：拓维集团2016年第一期新员工入职培训</dd>
                                    <dd class="col-md-5">推广商：高能壹佰</dd>
                                    <dd class="col-md-9">班级：尖端火箭班</dd>
                                    <dd class="col-md-5">
                                        <p> 分销类型：分成30%</p>
                                        <p>订单价格：1000</p>
                                    </dd>
                                    <dd class="col-md-6 tec"><span class="fsRed">￥200</span></dd>
                                    <dd class="col-md-20 pd0">
                                        <div class="col-md-5 cGray">订单ID：20134555787488</div>
                                        <div class="col-md-5 cGray">交易时间：2016-12-20</div>
                                        <div class="col-md-5 cGray">支付方式：POSS</div>
                                        <div class="col-md-5 cGray">购买者：小金鱼</div>
                                    </dd>
        						</dl>
        						<dl class="col-md-20 pd0">
                                    <dd class="col-md-9">课程名称：拓维集团2016年第一期新员工入职培训</dd>
                                    <dd class="col-md-5">推广商：高能壹佰</dd>
                                    <dd class="col-md-9">班级：尖端火箭班</dd>
                                    <dd class="col-md-5">
                                        <p> 分销类型：分成30%</p>
                                        <p>订单价格：1000</p>
                                    </dd>
                                    <dd class="col-md-6 tec"><span class="fsRed">￥200</span></dd>
                                    <dd class="col-md-20 pd0">
                                        <div class="col-md-5 cGray">订单ID：20134555787488</div>
                                        <div class="col-md-5 cGray">交易时间：2016-12-20</div>
                                        <div class="col-md-5 cGray">支付方式：POSS</div>
                                        <div class="col-md-5 cGray">购买者：小金鱼</div>
                                    </dd>
        						</dl>
        						<dl class="col-md-20 pd0">
                                    <dd class="col-md-9">课程名称：拓维集团2016年第一期新员工入职培训</dd>
                                    <dd class="col-md-5">推广商：高能壹佰</dd>
                                    <dd class="col-md-9">班级：尖端火箭班</dd>
                                    <dd class="col-md-5">
                                        <p> 分销类型：分成30%</p>
                                        <p>订单价格：1000</p>
                                    </dd>
                                    <dd class="col-md-6 tec"><span class="fsRed">￥200</span></dd>
                                    <dd class="col-md-20 pd0">
                                        <div class="col-md-5 cGray">订单ID：20134555787488</div>
                                        <div class="col-md-5 cGray">交易时间：2016-12-20</div>
                                        <div class="col-md-5 cGray">支付方式：POSS</div>
                                        <div class="col-md-5 cGray">购买者：小金鱼</div>
                                    </dd>
        						</dl>
							-->
                            <!-- 无内容 -->
                                <div class="list-img tec mt40">
                                    <img src="/assets_v2/img/pet3.png">
                                    <p class="fs12 cGray">本期没有符合结算的推广费用支出~</p>
                                </div>
                            <!-- /无内容 -->
        					</li>
        				</ul>
        			</div>
        		</div>
        	</div>
        	<!-- /右侧 -->
        </div>
    </div>
</section>
{part "/site.main.footer"}
</body>
<script type="text/javascript" src="{utility_cdn::js('/assets_v2/js/mustache.js')}"></script>
<script type="text/javascript" src="{utility_cdn::js('/assets_v2/js/scorll.js')}" ></script>

<script id='course_list' type='text/template'>
<<#data>>
	<dl class="col-md-20 pd0">
		<dd class="col-md-15">课程名称：<<courseName>></dd>
		<<^discountStatus>>
		<dd class="col-md-5"><span class="cRed">￥<<price>></span></dd>
		<</discountStatus>>
		<dd class="col-md-5">使用优惠券：  <span class="price-discount cGray">￥<<discountPrice>></span></dd>
		<dd class="col-md-15">班级：<<className>></dd>
		<<^isFee>>
		<dd class="col-md-5"><span class="cGreen3">&nbsp;</span></dd>
		<</isFee>>
		<dd class="col-md-5"><span class="cGreen3">免费</span></dd>
		<dd class="col-md-5 cGray">订单ID：<<orderId>></dd>
		<dd class="col-md-5 cGray">交易时间：<<createTime>></dd>
		<dd class="col-md-5 cGray">支付方式：<<payType>></dd>
		<dd class="col-md-5 cGray">购买者：<<userName>></dd>
	</dl>
<</data>>
</script>
<script id='course_list' type='text/template'>
<<#data>>
	<dl class="col-md-20 pd0">
		<dd class="col-md-15">会员名称：花儿为什么这么红 <span class="new-vip">新会员</span></dd>
		<dd class="col-md-5"><span class="fsRed">￥15000</span></dd>
		<dd class="col-md-7">购买人：小月月</dd>
		<dd class="col-md-13">会员时限：一个月</dd>
		<dd class="col-md-5 cGray">订单ID：20134555787488</dd>
		<dd class="col-md-5 cGray">交易时间：2016-12-20</dd>
		<dd class="col-md-5 cGray">支付方式：POSS</dd>
	</dl>
<</data>>
</script>

<script type="text/javascript">
var page  = 1;
var data = {$params};
data.type  = 1;
var param = {  };
param.linum = 0;
param.head  = "<div class='col-md-15 bgf5 mt10 view-settled-title'>交易详情</div><div class='col-md-5 bgf5 mt10 view-settled-title'>实际收入</div><div id='courseCont'></div>";
param.txt   = '本期没有符合结算的课程收入~';
param.appentId = "#courseCont";
param.tplId    = "#course_list";

$(function() {
	$('.view-settled-btn li').click(function() {
		$(this).addClass('curr').siblings().removeClass('curr');
		$('.view-settled-content li:eq(' + $(this).index() + ')').show().siblings().hide();
		param.linum = $(this).index();
		if(param.linum == 0){
			data.type = 1;
			param.head  = "<div class='col-md-15 bgf5 mt10 view-settled-title'>交易详情</div><div class='col-md-5 bgf5 mt10 view-settled-title'>实际收入</div><div id='courseCont'></div>";
			param.txt   = '本期没有符合结算的课程收入~';
			param.appentId = "#courseCont";
			param.tplId    = "#course_list";
		}else if(param.linum == 1){
			data.type = 11;
			param.head  = "<div class='col-md-15 bgf5 mt10 view-settled-title'>交易详情</div><div class='col-md-5 bgf5 mt10 view-settled-title'>实际收入</div><div id='memCont'></div>";
			param.txt   = '本期没有符合结算的会员收入~';
			param.appentId = "#memCont";
			param.tplId    = "#member_list";
		}
		getData(data,param,page);
	});

    $(window).scroll(function() {
        page++;
        $.post("/org/settle/AjaxData",{ data:data,page:page },function(r){
            if(r.code == 1){
                var tpl  = $('#course_list').html();
                var list = Mustache.render(tpl, r);
                $(param.appentId).append(list);
            }
        },'json');
    });
})
getData(data,param,page);
function getData(data,param,page){
    $.post("/org/settle/AjaxData",{ data:data,page:page },function(r){
        if(r.code == 1){
            $('.view-settled-content li:eq(' + param.linum + ')').html(param.head);
            var tpl  = $(param.tplId).html();
            var list = Mustache.render(tpl, r);
            $(param.appentId).html(list);
        }else{
            html = '';
            html += '<div class="list-img tec mt40">';
            html += '<img src="/assets_v2/img/pet3.png">';
            html += "<p class='fs12 cGray'>"+ param.txt +"</p>";
            html += '</div>';
            $('.view-settled-content li:eq(' + param.linum + ')').html(html);
        }
    },'json');
}

</script>
</html>