<!DOCTYPE html>
<html>
<head>
<title>结算管理 - {part '/site.main.orgname'} - 云课 - 专业的在线学习平台</title>
<meta name="title" content="{part '/site.main.orgname'} - 机构中心 - 云课 - 专业的在线学习平台">
<meta name="keywords" content="{part '/site.main.orgname'} - 云课 - Yunke K12 在线学习 直播 云课网 在线教育">
<meta name="description" content="{part '/site.main.orgname'} - 云课(Yunke.com) -专业的K12在线学习平台。以直播授课为核心，打破时间与空间的界限，为教师高效教学、学生高效学习、家长高效管控及机构高效管理提供完美解决方案">
{part "/site.main.header"}
<script type="text/javascript" src="{utility_cdn::js('/assets/libs/datetimepicker-master/jquery.datetimepicker.js')}"></script>
<link rel="stylesheet" type="text/css" href="{utility_cdn::css('/assets/libs/datetimepicker-master/jquery.datetimepicker.css')}">
<script type="text/javascript" src="{utility_cdn::js('/assets_v2/js/page.js')}"></script>
</head>
<style type="text/css">
.refund-icon{ padding:0 3px; border: 1px solid #ff8135; color:#ff8135;}
</style>
<body>
{part "/site.main.nav"}
<section class='pd30'>
    <div class="container">
        <div class="row">
            <!--左侧-->
            {part "/org.main.menu.settle"}
            <!--右侧-->
            <div class="right-main col-md-16">
                <div class="content">
                    <div class="tab-main">
                        <div class="tab-hd fs14">
                            <a class="tab-hd-opt" href="/org/settle">账户概览</a>
                            <a class="tab-hd-opt curr" href="#">结算账单</a>
                            <a class="tab-hd-opt" href="/org.settle.withdraw">提现记录</a>
                            <a class="tab-hd-opt" href="/org.settle.refund">退费记录</a>
                        </div>
                        <a target="_blank" href="https://{$platformUrl}/index.help.settle" class="blue-link c-fr">结算帮助</a>
                    </div>

                    <div class="settle-list col-md-20 mt10" id="settle-list">
                        <div class="sl-title fs14" id="switch-btn">
                            <a href="javascript:void(0);" class="switch-btn switch-btn-on c-fl">已结算</a>
                            <a href="javascript:void(0);" class="switch-btn  c-fl">未结算</a>
                            <div class="time-picker-fr col-md-3" id="selectTime">
							<form method="post" action="{$path}" id='ftime'>
								<input class="col-md-20 p5 bor1px" type="text" name='time' readonly placeholder="选择日期" onchange="this.form.submit();" value="{if !empty($time)}{$time}{/if}"  id="time-picker">
								<i class="settle-arrow-icon"></i>
								<i id="settle-cha" class="settle-close-icon"></i>
							</form>
							</div>
                        </div>
                        <div class="settle-main">
                            <dl>
                            <dd class="sl-th fs23 mt10">
                            <p class="col-md-5">结算周期账单</p>
                            <p class="col-md-2">结算订单数</p>
                            <p class="col-md-2">课程收入</p>
                            <p class="col-md-2">会员收入</p>
                            <p class="col-md-2">推广支出</p>
                            <p class="col-md-2">分销收入</p>
                            <p class="col-md-3">本期结算收入[?]</p>
                            <p class="col-md-2">操作</p>
                            </dd>
                            {if !empty($list)}
                            {foreach $list as $val}
                            <dt>
                            <p class="col-md-5 cGray">
                                    {if $val['isNew']}
                                    <i class="st-new-icon"></i>
                                    {/if}
                                    {$val['createTime']}-{$val['endTime']}  <span class="cGray">已结算订单</span>
                            </p>
                            <p class="col-md-2">{$val['orderCount']}</p>
                            <p class="col-md-2">￥{$val['course_price']}</p>
                            <p class="col-md-2">￥{$val['member_price']}</p>
                            <p class="col-md-2">￥{$val['price_promote']}</p>
                            <p class="col-md-2">￥{$val['price_resell']}</p>
                            <p class="col-md-3 cRed">￥{$val['price']}</p>
                            <p class="col-md-2"><a href="/org/settle/accountinfo/{$val['clearId']}" class="sBlue">查看明细</a></p>
                            </dt>
                            {/foreach}
							{else}
							<div class="list-img tac mt40 col-md-20">
								<img src="/assets_v2/img/pet3.png">
								{if(!empty($createTime))}
								<p class="fs16 cGray">{'没有符合该日期的账单哦！'|tr:'org'}，{'请调整一下再试~'|tr:'org'}~</p>
								<p class="fs12 cGray">{'您可以点击'|tr:'org'}<a href="/org.settle.accountlist" class="sBlue"> {'这里'|tr:'org'} </a>{'返回默认'|tr:'org'}</p>
								{else}
								<p class="fs12 cGray">{'您还没有提现记录哦'|tr:'org'}~</p>
								{/if}
							</div>
                            {/if}
				            </dl>
                            <div class="page-list" id="pagepage"></div>
                        </div>
                        <div class="settle-main org-view-Settled" style="display:none">
                            <dl style="">
                                <dd class="sl-title cDarkgray fs12 mt20">
                                    <span class="mr10"><b>未结算合计:</b>成功交易订单：{$unAccount['orders']}个 </span>
                                    <span class="mr10">未结算总收入:<em class="cRed">{$unAccount['income']}</em>元 </span>
                                    <span class="mr10">在线分销总收入:<em class="cRed">{$unAccount['resellPrice']}</em>元 </span>
                                    <span class="mr10">推广支出:<em class="cRed">{$unAccount['promotePrice']}</em>元 </span>
                                    <span class="mr10">平台使用费:<em class="cRed">{$unAccount['platformPrice']}</em>元 </span>
                                    <span class="mr10">税费:<em class="cRed">{$unAccount['taxPrice']}</em>元 </span>
                                    <span class="mr10">支付手续费:<em class="cRed">{$unAccount['gatewayPrice']}</em>元 </span>
                                    <span class="mr10">渠道分成:<em class="cRed">{$unAccount['distributePrice']}</em>元 </span>
                                </dd>
                            </dl>
                            <div class="col-md-20 mt5 pd0">
								<ul class="bor1px fs14 tac clearfix view-settled-btn">
									<li class="col-md-4 pd0 curr">
										课程收入明细
										<i class="c-fr mt10"></i>
									</li>
									<li class="col-md-4 pd0">
										会员收入明细
										<i class="c-fr mt10"></i>
									</li>
									<li class="col-md-4 pd0">
										线上分销收入明细
										<i class="c-fr mt10"></i>
									</li>
									<!--<li class="col-md-4 pd0">
										推广费支出明细
										<i class="c-fr mt10"></i>
									</li>-->
								</ul>
							</div>
						<div class="col-md-20 fs14 pd0">
                        <ul class="view-settled-content clearfix">
                            <!--课程明细-->
        					<li class="cDarkgray"></li>
							<!--会员明细-->
        					<li class="cDarkgray"></li>
							<!--渠道分销-->
        					<li class="cDarkgray"></li>
							<!--推广费用-->
        					<li class="cDarkgray"></li>
                        </ul>
                    </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--[if lt IE 9]>
<script type="text/javascript" src="{utility_cdn::js('/assets_v2/js/ie8/ejs.ie8.js')}"></script>
<![endif]-->
<script type="text/javascript" src="{utility_cdn::js('/assets_v2/js/ejs.min.js')}"></script>
<script type="text/javascript" src="{utility_cdn::js('/assets_v2/js/scorll.js')}" ></script>
<script id='course_list' type='text/template'>
    <% data.forEach(function(item,i){ %>
	<dl class="col-md-20 pd0">
		<dd>
            <div class="col-md-8">
                <%= item.courseName %>
                <p class="data-refund-info">班级：
                    <%= item.className %>
                    <% if(item.clearingStatus == 0 && item.contentRefundStatus > 0) { %>
                        <em class="refund-icon">已退费</em>
                    <% };%>
                    <span class="cGreen3"><%= item.isFee %></span>
                </p>
            </div>
            <p class="col-md-4"><span class="cRed mr5">￥<%= item.price %></span><br>
                <% if(item.clearingStatus == 0 && item.contentRefundStatus>0) { %>
                    <span class="refund-price">退费金额:￥<%= item.priceRefund %></span>
                <% };%>
            </p>
            <p class="col-md-4">￥<%= item.income %></p>
            <p class="col-md-4">￥<%= item.pricePromote %></p>
            <%if(item.gateway_price>0 && item.platform_price>0 && item.tax_price>0){ %>
            <div class="col-md-12 fs12">
                (<div class="order-tips-icon mr5">
                <div class="order-info-text tal">
                    <%if(item.gateway_price>0){ %>
                        <p><b>支付手续费：</b>订单交易成功后根据不同的支付方式按比例进行扣取。使用联通支付第三方收取支付金额的<%=item.gateway_rate%>%。</p>
                    <% };%>
                    <%if(item.tax_price>0){ %>
                        <p><b>税费：</b>订单交易成功后需要缴纳税费，默认扣取支付金额的<%= item.tax_rate %>%。</p>
                    <% };%>
                    <%if(item.platform_price>0){ %>
                        <p><b>平台使用费：</b>订单交易成功后，平台需收取支付价格<%= item.platform_rate %>%的平台使用费。</p>
                    <% };%>
                    <p>实际收入:<%= item.pricePromote %>=支付金额（<%= item.price %>）
                        <%if(item.gateway_price>0){ %>
                             - 支付手续费<%= item.gateway_rate %>%（<%= item.gateway_price %>）
                        <%};%>
                        <%if(item.platform_price>0){ %>
                             - 平台使用费<%= item.platform_rate %>%（<%= item.platform_price %>）
                        <%};%>
                        <%if(item.distributeText !=''){ %>
                             - <%= item.distributeText %>（<%= item.distributePrice %>）
                        <%};%>
                        <%if(item.tax_price>0){ %>
                             - 税费<%= item.tax_price %>%（<%= item.tax_price %>）
                        <%};%>
                        <%if(item.priceRefund>0){ %>
                             - 退费（<%= item.priceRefund %>）
                        <%};%>
                    </p>
                    <p class="tar"><a href="https://www.yunke.com/index.help.settle#6" target="_blank" style="color: #066cb8">费用说明</a></p>
                </div>
            </div>实际收入扣除：
            <%if(item.gateway_price>0){ %>支付手续费￥<%= item.gateway_price%><% }; %>
                <%if(item.tax_price>0){ %>税费￥<%= item.tax_price%><% }; %>
                <%if(item.platform_price>0){ %>平台使用费￥<%= item.platform_price%><% }; %> )
            </div>
            <%}%>
        </dd>
		<dd class="cGray">
            <p class="col-md-6">订单ID：<%= item.orderId %>
                <%if(item.distributeStatus==1){ %>
                <span class="order-distr-icon fs12"><%= item.statusText %></span>
                <%};%>
            </p>
            <p class="col-md-5">交易时间：<%= item.createTime %></p>
            <p class="col-md-4">支付方式：<%= item.payType %></p>
            <p class="col-md-5">购买者：<%= item.userName %></p>
        </dd>
	</dl>
    <% }); %>
</script>
<script id='member_list' type='text/template'>
    <% data.forEach(function(item,i){ %>
	<dl class="col-md-20 pd0">
		<dd><p class="col-md-15">会员名称：<%= item.memberName %></p><p class="col-md-5"><span class="fsRed">￥<%= item.price %></span></p></dd>
		<dd><p class="col-md-7">购买人：<%= item.userName %></p><p class="col-md-13">会员时限：<%= item.useTime %></p></dd>
		<dd class="cGray"><p class="col-md-5">订单ID：<%= item.orderId %></p><p class="col-md-5">交易时间：<%= item.createTime %></p><p class="col-md-5">支付方式：<%= item.payType %></p></dd>
            <%if(item.gateway_price>0 && item.platform_price>0 && item.tax_price>0){ %>
            <div class="col-md-12 fs12">
                (<div class="order-tips-icon mr5">
                    <div class="order-info-text tal">
                        <%if(item.gateway_price>0){ %><p><b>支付手续费：</b>订单交易成功后根据不同的支付方式按比例进行扣取。使用联通支付第三方收取支付金额的<%= item.gateway_rate %>%。</p><%};%>
                        <%if(item.platform_price>0){ %><p><b>税费：</b>订单交易成功后需要缴纳税费，默认扣取支付金额的<%= item.tax_rate %>%。</p><%};%>
                        <%if(item.platform_price>0){ %><p><b>平台使用费：</b>订单交易成功后，平台需收取支付价格<%= item.platform_rate %>%的平台使用费。</p><%};%>
                        <p>实际收入:<%= item.pricePromote %>=支付金额（<%= item.price %>）
                            <%if(item.gateway_price>0){ %>-支付手续费<%= item.gateway_rate %>%（<%= item.gateway_price %>）<%};%>
                            <%if(item.platform_price>0){ %>-平台使用费<%= item.platform_rate %>%（<%= item.platform_price %>）<%};%>
                            <%if(item.distributeText !=''){ %> - <%= item.distributeText %>（<%= item.distributePrice %>）<%};%>
                            <%if(item.tax_price>0){ %>-税费<%= item.tax_price %>%（<%= item.tax_price %>）<%};%>

                        </p>
                        <p class="tar"><a href="https://www.yunke.com/index.help.settle#6" target="_blank" style="color: #066cb8">费用说明</a></p>
                    </div>
         </div>
         实际收入扣除：
         <%if(item.gateway_price>0){ %>支付手续费￥<%= item.gateway_price%><% }; %>
             <%if(item.tax_price>0){ %>税费￥<%= item.tax_price%><% }; %>
             <%if(item.platform_price>0){ %>平台使用费￥<%= item.platform_price%><% }; %> )
         </div>
        <%};%>
	</dl>
    <% }) %>
</script>
<script id='ditch_list' type='text/template'>
    <% data.forEach(function(item,i){ %>
	<dl class="col-md-20 pd0">
		<dd><p class="col-md-10"><%= item.title %></p><p class="col-md-5">推广商：<%= item.resellOrgName %></p></dd>
		<dd>
            <p class="col-md-10">班级：<%= item.className %></p>
            <p class="col-md-5">成本价：￥<%= item.pricePromote %><br>订单价格：￥<%= item.price %></p>
            <p class="col-md-5 tac"><span class="fsRed">￥<%= item.income %></span></p>
        </dd>
		<dd>
            <p class="col-md-5 cGray">订单ID：<%= item.orderId%></p>
            <p class="col-md-5 cGray">交易时间：<%= item.createTime%></p>
            <p class="col-md-5 cGray">支付方式：<%= item.payType%></p>
            <p class="col-md-5 cGray">购买者：<%= item.userName%></p>
		</dd>
        <%if(item.gateway_price>0 && item.platform_price>0 && item.tax_price>0){ %>
        <div class="col-md-12 fs12">
            (<div class="order-tips-icon mr5">
                <div class="order-info-text tal">
                    <%if(item.gateway_price_resell>0){ %><p><b>支付手续费：</b>订单交易成功后根据不同的支付方式按比例进行扣取。使用联通支付第三方收取支付金额的30%。</p><%};%>
                    <%if(item.platform_price_resell>0){ %><p><b>税费：</b>订单交易成功后需要缴纳税费，默认扣取支付金额的5%。</p><%};%>
                    <%if(item.tax_price_resell>0){ %><p><b>平台使用费：</b>订单交易成功后，平台需收取支付价格20%的平台使用费。</p><%};%>
                    <p>实际收入:<%= item.income %>=支付金额（<%= item.price %>）
                        <%if(item.gateway_price_resell>0){ %>-支付手续费<%= item.gateway_rate %>%（<%= item.gateway_price_resell %>）<%};%>
                        <%if(item.platform_price_resell>0){ %>-平台使用费<%= item.platform_rate_resell %>%（<%= item.platform_price_resell %>）<%};%>
                        <%if(item.tax_price_resell>0){ %>-税费<%= item.tax_price %>%（<%= item.tax_price %>）<%};%>
                    </p>
                    <p class="tar"><a href="https://www.yunke.com/index.help.settle#6" target="_blank" style="color: #066cb8">费用说明</a></p>
                </div>
     </div>实际收入扣除：
     <%if(item.gateway_price_resell>0){ %>支付手续费￥<%= item.gateway_price_resell%><% }; %>
         <%if(item.tax_price_resell>0){ %>税费￥<%= item.tax_price_resell%><% }; %>
         <%if(item.platform_price_resell>0){ %>平台使用费￥<%= item.platform_price_resell%><% }; %> )
 </div><% }; %>
	</dl>
    <% }) %>
</script>
<script id='expand_list' type='text/template'>
    <% data.forEach(function(item,i){ %>
	<dl class="col-md-20 pd0">
		<dd>
            <p class="col-md-9"><%= item.title%></p>
		    <p class="col-md-5">推广商：<%= item.orgSubname%>
        </dd>
		<dd>
			<p class="col-md-8">班级：<%= item.className%></p>
                        <p class="col-md-9"> 成本价：￥<%= item.priceResell%></p>
			<p class="col-md-5">订单价格：￥<%= item.price%></p>
		</dd>
		<dd><p class="col-md-9"><span class="fsRed">￥<%= item.income%></span></p></dd>
		<dd>
			<p class="col-md-5 cGray">订单ID：<%= item.orderId%></p>
			<p class="col-md-5 cGray">交易时间：<%= item.createTime%></p>
			<p class="col-md-5 cGray">支付方式：<%= item.payType%></p>
			<p class="col-md-5 cGray">购买者：<%= item.userName%></p>
		</dd>
	</dl>
    <% }) %>
</script>

<script type="text/javascript">
    var page_1  = 1;
    var data = {$unparams};
    var type1 = 1;
    var param = {  };
    param.linum = 0;
    param.head  = "<div class='col-md-8 bgf5 mt10 view-settled-title'>课程名称</div>\n\<div class='col-md-4 bgf5 mt10 view-settled-title'>销售价格</div>\n\<div class='col-md-4 bgf5 mt10 view-settled-title'>推广支出</div>\n\<div class='col-md-4 bgf5 mt10 view-settled-title'>实际收入</div>\n\<div id='courseCont'></div>";
    param.txt   = '本期没有符合结算的课程收入~';
    param.appentId = "#courseCont";
    param.tplId    = "#course_list";

    $(function() {
        $('.view-settled-btn li').click(function() {
            var data = {$unparams};
            $(this).addClass('curr').siblings().removeClass('curr');
            $('.view-settled-content li:eq(' + $(this).index() + ')').show().siblings().hide();
            param.linum = $(this).index();
            if(param.linum == 0){
                type1 = 1;
                param.head  = "<div class='col-md-7 bgf5 mt10 view-settled-title'>课程名称</div>\n\<div class='col-md-4 bgf5 mt10 view-settled-title'>销售价格</div>\n\<div class='col-md-4 bgf5 mt10 view-settled-title'>推广支出</div>\n\<div class='col-md-4 bgf5 mt10 view-settled-title'>实际收入</div>\n\<div id='courseCont'></div>";
                param.txt   = '本期没有符合结算的课程收入~';
                param.appentId = "#courseCont";
                param.tplId    = "#course_list";
            }else if(param.linum == 1){
                type1 = 11;
                param.head  = "<div class='col-md-15 bgf5 mt10 view-settled-title'>交易详情</div><div class='col-md-5 bgf5 mt10 view-settled-title'>实际收入</div><div id='memCont'></div>";
                param.txt   = '本期没有符合结算的会员收入~';
                param.appentId = "#memCont";
                param.tplId    = "#member_list";
            }else if(param.linum == 2){
                type1 = 21;
                data.resellOrgId = {$orgId};
                param.head  = "<div class='col-md-8 bgf5 tac mt10 view-settled-title'>课程信息</div><div class='col-md-6 bgf5 tac mt10 view-settled-title'>推广信息</div><div class='col-md-6 bgf5 tac mt10 view-settled-title'>总收入</div></div><div id='ditchCon'></div>";
                param.txt   = '本期没有符合结算的渠道分销收入~';
                param.appentId = "#ditchCon";
                param.tplId    = "#ditch_list";
            }else if(param.linum == 3){
                type1 = 21;
                data.promoteOrgId = {$orgId};
                param.head  = "<div class='col-md-9 bgf5 tac mt10 view-distribut'>课程信息</div><div class='col-md-4 bgf5 tac mt10 view-distribut'>分销信息</div><div class='col-md-4 bgf5 tac mt10 view-distribut'>费用情况</div><div class='col-md-3 bgf5 tac mt10 view-distribut'>总支出</div><div id='expandCon'></div>";
                param.txt   = '本期没有符合结算的推广费用支出~';
                param.appentId = "#expandCon";
                param.tplId    = "#expand_list";
            }
            page_1 = 1;
            data.type  = type1;
            getData(data,param,page_1);
        });

        $(window).scroll(function() {
            var scrollTop    = $(this).scrollTop();
            var scrollHeight = $(document).height();
            var offetHeight  = $(this).height();

            if( scrollTop + offetHeight == scrollHeight){
                page_1++;
                data.type  = type1;
                $.post("/org/ajax/SettleInfoData",{ data:data,page:page_1 },function(r){
                    if(r.code == 1){
                        var tpl  = $(param.tplId).html();
                        var list = ejs.render(tpl,{ data:r.data });
                        $(param.appentId).append(list);

                    }else{
                        $(window).unbind('scroll');
                    }
                },'json');
            }
        });
    });

    data.type  = type1;
    getData(data,param,page_1);
    function getData(data,param,page_1){
        $.post("/org/ajax/SettleInfoData",{ data:data,page:page_1 },function(r){
            if(r.code == 1){
                $('.view-settled-content li:eq(' + param.linum + ')').html(param.head);
                var tpl  = $(param.tplId).html();
                var list = ejs.render(tpl,{ data:r.data });
                $(param.appentId).html(list);
            }else{
                html = '';
                html += '<div class="list-img tac mt40">';
                html += '<img src="/assets_v2/img/pet3.png">';
                html += "<p class='fs12 cGray'>"+ param.txt +"</p>";
                html += '</div>';
                $('.view-settled-content li:eq(' + param.linum + ')').html(html);
            }
        },'json');
    }
</script>
<script>
    $(function(){
        $('#switch-btn .switch-btn').click(function(){
            $(this).addClass('switch-btn-on');
            $(this).siblings().removeClass('switch-btn-on');
            $('#settle-list').find(".settle-main:eq("+$(this).index()+")").show().siblings('.settle-main').hide()
            if($(this).index() == 1){
                $("#selectTime").css('display','none');
            }else{
                $("#selectTime").css('display','block');
            }
        })
    })
    $("#time-picker").datetimepicker({
        lang:'ch',
        timepicker:false,
        format: 'Y-m-d'
    });

    $(function() {
        page("pagepage","{$path}",{$length},{$page},{$totalPage});
    });
    {if(!empty($createTime))}
        $('#settle-cha').show();
        {else}
        $('#settle-cha').hide();
        {/if}

            $('#settle-cha').click(function(){
                $("input[name='time']").val('');
                $('#ftime').submit();
            });
</script>
{part "/site.main.footer"}
</body>
</html>
