<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>评论</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="{utility_cdn::css('/assets_v2/interface/pc_client/css/client.css')}">
    <script type="text/javascript" src="{utility_cdn::js('/assets_v2/interface/pc_client/js/jquery-1.11.1.min.js')}"></script>
</head>

<body>
    <div class="chat">
        <!-- chat start -->
        <div id="vertical" class="scrollbox clearfix" style="height:365px;">
            <div class="slyWrap roll" style="float:left;height:365px;">
                <div class="scrollbar" style="height:361px;">
                    <div class="handle" style="position: absolute; top:0;"></div>
                </div>
                <div class="sly" data-options="{ &quot;scrollBy&quot;:100, &quot;startAt&quot;:0 }" style="overflow: hidden; position: relative;height:365px;">
                    <div class="chat-main">
                        <ul id="chat_list"></ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- chat end -->
        <div class="chat-forum">
            <p class="forbid"><span><img src="{utility_cdn::img('/assets_v2/interface/pc_client/img/Off-the-microphone.png')}" alt=""></span>禁言</p>
            <div class="edit">
                <div contenteditable="true" id='chat_input' class="textarea"></div>
            </div>
            <div class="button">
                <span class="c-fl">请在十秒后再发言</span>
                <button id='chat_send' class="btn">发送</button>
                <div class="icon">
                    <span><img src="{utility_cdn::img('/assets_v2/interface/pc_client/img/icon.png')}"></span>
                    <div class="iconlist">
                        {for $i=1; $i<26; $i++}
                        <a class="icon1"><img src="/assets_v2/interface/pc_client/img/QQ/{$i}.gif"></a>
                        {/for}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script type="text/javascript" src="{utility_cdn::js('/assets_v2/interface/pc_client/js/jquery.sly.js')}"></script>

<script src="{utility_cdn::js('/assets/js/player.js')}"></script>
<script src="{utility_cdn::js('/assets_v2/js/message_v2.js')}"></script>
<script src="{utility_cdn::js('/assets_v2/js/course_start.js')}"></script>
<script type="text/javascript">
function scroll(){
    var h = $(window).height() - 180 + 'px';
    var w = $(window).width();
    $('#vertical').height(h);
    $('#vertical .slyWrap').height(h);
    $('#vertical .scrollbar').height(h);
    $('#vertical .sly').height(h);
    // 占位符项目来填充列表的功能
    function populate(container, count, offset) {
        var output = '';
        offset = isNaN(offset) ? 0 : offset;
        for (var i = 0; i < count; i++) {
            output += '<li>' + (offset + i) + '</li>';
        }
        return $(output).appendTo(container);
    }

    // 填充列表项


    // 主要调用部分
    $(document).on('activated', function(event) {
        var $section = $(".scrollbox");
        var $frame = $section.find('.frame'),
            $ul = $frame.find('ul').eq(0),
            $scrollbar = $section.find('.scrollbar'),
            $buttons = $section.find('.controlbar [data-action]');

        populate($ul, 10);

        // 控制
        $buttons.on('click', function(e) {
            var action = $(this).data('action');
            switch (action) {
                case 'reset':
                    $frame.sly('toStart');
                    setTimeout(function() {
                        $ul.find('li').slice(10).remove();
                        $frame.sly('reload');
                    }, 200);
                    break;
                default:
                    $frame.sly(action);
            }
        });

        $section.find(".slyWrap").each(function(i, e) {
            var cont = $(this),
                frame = cont.find(".sly"),
                slidee = frame.find("ul"),
                scrollbar = cont.find(".scrollbar"),
                pagesbar = cont.find(".pages"),
                options = frame.data("options"),

                options = $.extend({ }, options, {
                    scrollBar: scrollbar,
                    pagesBar: pagesbar,

                });

            frame.sly(options);

            cont.find("a.new-msg").click(function() {
                var action = $(this).data('action'),
                    arg = $(this).data('arg');
                switch (action) {
                    case 'add':
                        slidee.append(slidee.children().slice(-1).clone().removeClass().text(function(i, text) {
                            return text / 1 + 1;
                        }));
                        frame.sly('reload');
                        break;
                    case 'remove':
                        slidee.find("li").slice(-1).remove();
                        frame.sly('reload');
                        break;
                    default:
                        frame.sly(action, arg);
                }
            });

        });

    }).trigger('activated');
}
$(function($) {
    scroll();
});
$(window).resize(function(){
   scroll();
});
</script>
<script type="text/javascript">
    var pyy = false;
    var planId = {$planId};
    var exams = {$exams};
    var class_id = {$classId};
    var userId = parseInt( {$userId} );
    var isReg = 1;
    var userToken = "{$userToken}";
    var userFlag = userToken.substring(0, 5);
    var userThumb = '{$teacher->avatar->small}';
    var filecdn = "{$fileCdn}";
    var chatPull = "{utility_cdn::chat_pull()}";
    var chatWs = "{utility_cdn::chat_ws()}";
    var teacherName = '{$teacher->name}';
    var teacherId = {$teacher->uid};
    var teacherThumb = '{$teacher->avatar->small}';
    var fee_type = {$planInfo->fee_type};
    if("/" != filecdn[filecdn.length-1]){
        filecdn += "/";
    }
    var message;
message = planStart();
</script>
