/*icon*/
.icon{background:url(../../img/platform/icon.png) no-repeat}
.more-icon{padding:0 8px 0 8px;background-position:0 3px;margin-left:5px}
.time-icon{padding:0 13px 0 8px;background-position:0 -28px}
.list-icon{padding:0 12px 0 8px;background-position:0 -149px}
.failed-vip-icon{width: 17px;height: 14px;background: url(../../img/web_organization_two.png) no-repeat -136px -705px;display: inline-block;}
.vip-icon{width: 17px;height: 14px;background: url(../../img/web_organization_two.png) no-repeat -156px -705px;display: inline-block;}
/*.num-icon{padding:0 12px 0 8px;background-position:0 -55px}*/
.num-icon{background:url(../../img/num-icon.png) no-repeat 0px 2px;width:15px;height:15px;padding:0 5px;}
.g-icon11{background:url(../../img/web_organization.png) no-repeat -315px -386px;display:block;width:18px;height:20px;float:left}
.g-icon8{display:block;width:35px;height:20px;background:url(../../img/hot-icon2.png) no-repeat 5px 6px;float:left}
.mob-icon{background-position:0 -115px;display:block;float:left;width:10px;height:30px}
.calendar-icon{background-position:0 -171px;display:block;float:left;width:22px;height:30px}
.right-icon{background-position:0 -208px;display:block;float:left;width:28px;height:30px}
.wrong-icon{background-position:0 -245px;display:block;float:left;width:28px;height:30px}
.tel-icon{width:30px;height:35px;background-position:0 -78px;display:block}
.help-icon{width:25px;height:30px;background-position:0 -285px;display:block;float:left;margin-top:8px}
.guide-icon{width:25px;height:30px;background-position:0 -415px;display:block;float:left;margin-top:10px}
.help-arrow-icon{width:10px;height:55px;background-position:0 -351px;display:block;float:left;margin-left:-45px}
.id-icon,.degrees-icon{width:25px;height:18px;background-position:-41px -77px;display:inline-block;float:left}
.degrees-icon{background-position:-41px -105px}
.smile-icon{width:50px;height:50px;background-position:0px -457px;display:inline-table;margin-bottom:-20px}
.video-icon{width:42px;height:42px;background-position:-40px 0px;display:block;position:absolute;left:50%;bottom:0px;margin-left:30px}
.msg-icon{width:20px;height:30px;background-position:-40px -185px;display:block}
.record-icon{width:50px;line-height:20px;height:20px;background:#26ac3d;display:inline-block;position:absolute;left:0;top:5px;color:#fff;text-align:center}
.list .lineclass-icon {position:absolute;left:0;top:5px;background:#47568c;height:20px;font-size:12px;color:#fff;line-height:20px;width:50px;text-align:center;}
.list .linelookat-icon {position:absolute;right:5px;bottom:5px;background:url(/assets_v2/img/linelookat-icon.png) no-repeat;color:#fff;width:53px;height:19px;line-height:19px;text-align:center;}
.s-so-icon{width:50px;height:30px;background-position:-40px -515px;display:inline-block}
.weibologin,.qqlogin,.weixinlogin,.alipaylogin{width:40px;height:40px;display:inline-table;opacity:0.5;filter:alpha(opacity=50)}
.weibologin:hover,.qqlogin:hover,.weixinlogin:hover,.alipaylogin:hover{opacity:1;filter:alpha(opacity=100)}
.weibologin{background-position:-40px -225px}
.qqlogin{background-position:-40px -365px}
.weixinlogin{background-position:-40px -318px}
.new-icon{width:28px;height:14px;background:url(../../img/platform/new-icon.gif) no-repeat;display:inline-table;position:absolute;top:0;right:0}
.alipaylogin{background-position:-40px -273px}
.interval-solid{border-bottom:1px solid #ddd}
.dashed-solid{border-bottom:1px dashed #ddd}
.b-blue,.b-gray{-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;border-radius:3px;border:1px solid #188eee;padding:1px 5px;color:#188eee}
.bg-blue{background:#188eee;color:#fff;-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;border-radius:3px;padding:3px 5px}
.b-gray{border:1px solid #dedede;padding:3px 5px}
.w{float:left;width:100%;display:block}
.new-so-icon{background:url(../../img/platform/icon.png) no-repeat #efefef 11px -514px;}
.new-so-icon:hover{background:url(../../img/platform/icon.png) no-repeat -40px -514px;}
/*button*/