<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>高能100 - 活动公告</title>
		{part "/index.main.header"}
		<link rel="stylesheet" type="text/css" href="{utility_cdn::css('/assets/css/aboutme.css')}">
		<script type="text/javascript" src="{utility_cdn::js('/assets/js/jquery/jquery-1.11.1.min.js')}" ></script>
	</head>

	<body>
		<!--top-->
		
		{part "/index.main.nav.live"}


<div class='big-box'>
			<div class='tittle'>
				<p><b>关于我们></b>活动公告</p>
			</div>

	<div class='count'>
		<div class='count-l'>
			<div class='nco'>
				<ul>
					<li><a href="/about">企业简介</a></li>
					<li><a href="/about.main.contact">联系我们</a></li>
					<li><a href="/about.main.join">加入我们</a></li>
					<!--li class='oo'><a href="/about.main.act">活动公告</a></li-->
				</ul>
			</div>
		</div>
		<div class='count-r' style="margin-top:-1px;margin-top:2px;">
			<div class='count-b' style="border-bottom:1px dashed #ccc;height:230px;">
				<div class='tp' style="width:120px;">
					<p><img src="{utility_cdn::img('/assets/images/i_dot_3.png')}">最新公告</p>
				</div>
				<div class='tp1' style="margin-left:24px;">
					<li><img src="{utility_cdn::img('/assets/images/xiaodd.png')}"><a href="">存款失踪后银行责任不能缺失</a><p>2015-12-2     21:00</p></li>
					<li><img src="{utility_cdn::img('/assets/images/xiaodd.png')}"><a href="">存款失踪后银行责任不能缺失</a><p>2015-12-2     21:00</p></li>
					<li><img src="{utility_cdn::img('/assets/images/xiaodd.png')}"><a href="">存款失踪后银行责任不能缺失</a><p>2015-12-2     21:00</p></li>
					<li><img src="{utility_cdn::img('/assets/images/xiaodd.png')}"><a href="">存款失踪后银行责任不能缺失</a><p>2015-12-2     21:00</p></li>
					<li><img src="{utility_cdn::img('/assets/images/xiaodd.png')}"><a href="">存款失踪后银行责任不能缺失</a><p>2015-12-2     21:00</p></li>
					<li><img src="{utility_cdn::img('/assets/images/xiaodd.png')}"><a href="">存款失踪后银行责任不能缺失</a><p>2015-12-2     21:00</p></li>
				</div>
			</div>
			<div class='count-b'>
				<div class='tp' style="width:120px;">
					<p><img src="{utility_cdn::img('/assets/images/i_dot_3.png')}">活动公告</p>
				</div>
				<div class='tp1' style="margin-left:24px;">
					<li><img src="{utility_cdn::img('/assets/images/xiaodd.png')}"><a href="">存款失踪后银行责任不能缺失</a><p>2015-12-2     21:00</p></li>
					<li><img src="{utility_cdn::img('/assets/images/xiaodd.png')}"><a href="">存款失踪后银行责任不能缺失</a><p>2015-12-2     21:00</p></li>
					<li><img src="{utility_cdn::img('/assets/images/xiaodd.png')}"><a href="">存款失踪后银行责任不能缺失</a><p>2015-12-2     21:00</p></li>
					<li><img src="{utility_cdn::img('/assets/images/xiaodd.png')}"><a href="">存款失踪后银行责任不能缺失</a><p>2015-12-2     21:00</p></li>
					<li><img src="{utility_cdn::img('/assets/images/xiaodd.png')}"><a href="">存款失踪后银行责任不能缺失</a><p>2015-12-2     21:00</p></li>
					<li><img src="{utility_cdn::img('/assets/images/xiaodd.png')}"><a href="">存款失踪后银行责任不能缺失</a><p>2015-12-2     21:00</p></li>
				</div>
			</div>
		</div>
	</div>	
		


		
</div>

	{part "/index.main.footer"}

	</body>



