<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>保存-我的选题篮</title>
    <meta name="title" content="高能100 - 专业的K12在线教育平台 在线直播">
    <meta name="keywords" content="高能100 - 专业的K12在线教育平台 高能100 - 专业的K12在线教育平台 在线 k12 小学数学 初中数学">
    <meta name="description" content="高能100 - 专业的K12在线教育平台 高能100 - 专业的K12在线教育平台 在线直播">
	{part "/site.main.header"}
</head>
<body>
 <!-- hd -->
<!-- hd -->
<!-- bd -->
<section id="tq_cy_wrap">
	<div class="bannerPic">
		<div class="container">
			<div class="row">
				<div class="bor1px tq_cy_my_topic bgf tq_xx_topic">
			<!-- title -->
		            <h1 class="tq_h1 fl col-md-offset-4">
		            	小学数学天天练 基础班 第一章 随堂练习
		            </h1>
		            <div class="fr tc_tab">
		                <a href="javascript:;" class="tq_button2">保存</a>
		            </div>
		            <div class="tq_xx_option">
		                <span class="fl">
		                	<em>单选题 ( 10 )</em>
		                	<em> 多选题 ( 5 )</em> 
		                	<em>填空题 ( 3 )</em>    
		                	共18题
		                </span>
		                <span class="c-fr">
		                	<a href="">继续选题</a>
		                	<a href="">我要出题</a>
		                </span>
		            </div>
		    <!-- /title -->
		            <ul class="tq_cy_content clearfix">
		                <li>
			                <div class="tq_cy_title mb10 fs14">
			                    <div class="col-sm-12 c-fl">
			                        <div class="tq_cy_topic c-fl">
			                        【单选】如图，三棱柱 A1B1C1−ABC 中，侧棱 AA1⊥ 底面 A1B1C1，底面三角形 A1B1C1 是正三角形，E是BC中点，则下列叙述正确的是 (  ) 
			                        <img src="../img/demo_tq_quest_img.jpg" alt=""> 
			                        </div>
			                    </div>
			                </div>
			                <dl>
			                    <dd class="col-sm-3">
			                        <span class="tq_option_h">A</span> 1:1
			                    </dd>
			                    <dd class="col-sm-3">
			                        <span class="tq_option">B</span> 1:6
			                    </dd>
			                    <dd class="col-sm-3">
			                        <span class="tq_option">C</span> 2:3
			                    </dd>
			                    <dd class="col-sm-3">
			                        <span class="tq_option">D</span> 1:8
			                    </dd>
			                </dl>
			                <div class="tq_cy_analy-btn">
			                    <div class="tq_cy_analy_ct">
			                        <span class="tq_active_analy c-fr">
			                            解析
			                            <i class="c-fr"></i>
			                        </span>
			                    <!-- 解析内容 -->
			                        <div class="tq_cy_analy fs14 c-fl">
			                            <p>答案：A</p>
			                            <p>
			                                <img src="../img/demo_tq_quest_img.jpg" alt=""> 
			                                解析：由侧棱 AA1⊥ 底面 A1B1C1，可得侧棱 BB1⊥ 底面 ABC，所以 BB1⊥AE，又底面三角形 A1B1C1 是正三角形，E 是 BC 中点，所以 AE⊥BC，则 AE⊥平面CC1B1B，所以 AE⊥B1C1．
			                            </p>
			                        </div>
			                    <!-- /解析内容 -->
			                    </div>
			                </div>                  
		                </li>
		                <li>
			                <div class="tq_cy_title mb10 fs14">
			                    <div class="col-sm-12 c-fl">
			                        <div class="tq_cy_topic c-fl">
			                        【多选题】如图，三棱柱 A1B1C1−ABC 中，侧棱 AA1⊥ 底面 A1B1C1，底面三角形 A1B1C1 是正三角形，E是BC中点，则下列叙述正确的是 (  ) 
			                        </div>
			                    </div>
			                </div>
			                <dl>
			                    <dd class="col-sm-3">
			                        <span class="tq_option_h">A</span> 1:1
			                    </dd>
			                    <dd class="col-sm-3">
			                        <span class="tq_option">B</span> 1:6
			                    </dd>
			                    <dd class="col-sm-3">
			                        <span class="tq_option_h">C</span> 2:3
			                    </dd>
			                    <dd class="col-sm-3">
			                        <span class="tq_option">D</span> 1:8
			                    </dd>
			                </dl>
			                <div class="tq_cy_analy-btn">
			                    <div class="tq_cy_analy_ct">
			                        <span class="tq_active_analy c-fr">
			                            解析
			                            <i class="c-fr"></i>
			                        </span>
			                    <!-- 解析内容 -->
			                        <div class="tq_cy_analy fs14 c-fl">
			                            <p>答案：A</p>
			                            <p>
			                                <img src="../img/demo_tq_quest_img.jpg" alt=""> 
			                                解析：由侧棱 AA1⊥ 底面 A1B1C1，可得侧棱 BB1⊥ 底面 ABC，所以 BB1⊥AE，又底面三角形 A1B1C1 是正三角形，E 是 BC 中点，所以 AE⊥BC，则 AE⊥平面CC1B1B，所以 AE⊥B1C1．
			                            </p>
			                        </div>
			                    <!-- /解析内容 -->
			                    </div>
			                </div>                  
		                </li>
		                <li>
			                <div class="tq_cy_title mb10 fs14">
		                         <div class="col-sm-12 c-fl">
		                            <div class="tq_cy_topic c-fl">
		                                【填空题】如图，三棱柱 A1B1C1−ABC 中，侧棱 AA1⊥ 底面 A1B1C1，底面三角形 A1B1C1 是正三角形，E是BC中点， 则
		                            </div>
		                            <input type="text" class="col-sm-2 fs14 c-fl" name="blank" value="A垂直B怎么写呢" />
		                            <img src="../img/demo_tq_quest_img.jpg" alt=""> 
		                        </div>
			                </div>
			                <div class="tq_cy_analy-btn">
			                    <div class="tq_cy_analy_ct">
			                        <span class="tq_active_analy c-fr">
			                            解析
			                            <i class="c-fr"></i>
			                        </span>
			                    <!-- 解析内容 -->
			                        <div class="tq_cy_analy fs14 c-fl">
			                            <p>答案：A</p>
			                            <p>
			                                解析：由侧棱 AA1⊥ 底面 A1B1C1，可得侧棱 BB1⊥ 底面 ABC，所以 BB1⊥AE，又底面三角形 A1B1C1 是正三角形，E 是 BC 中点，所以 AE⊥BC，则 AE⊥平面CC1B1B，所以 AE⊥B1C1．
			                            </p>
			                        </div>
			                    <!-- /解析内容 -->
			                    </div>
			                </div>                  
		                </li>
		            </ul>
		        </div>
			</div>	
		</div>
	</div>
</section>
<!-- /bd -->
<!-- ft -->
<!-- /ft --> 
<div class="tq_Top"><a href="javascript:;"><img src="../img/tqTop.jpg" /></a> </div>
</body>
</html>
<script>
$(function() {
    $(".tq_Top a").click(
            function(){
                $('html,body').animate({ scrollTop: '0px' },'slow');
            }
    );  
//解析
    $(".tq_cy_analy_ct").hover(function() {
        $(this).find(".c-fr").removeClass("tq_active_analy").addClass("z_tq_active_analy");
        $(this).find(".tq_cy_analy").show();
    },function() {
        $(this).find(".c-fr").removeClass("z_tq_active_analy").addClass("tq_active_analy");
        $(this).find(".tq_cy_analy").hide();
    });
})
</script>