<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>随堂练习</title>
    <meta name="title" content="高能100 - 专业的K12在线教育平台 在线直播">
    <meta name="keywords" content="高能100 - 专业的K12在线教育平台 高能100 - 专业的K12在线教育平台 在线 k12 小学数学 初中数学">
    <meta name="description" content="高能100 - 专业的K12在线教育平台 高能100 - 专业的K12在线教育平台 在线直播">
	{part "/site.main.header"}
</head>
<body>
<section>
	<form>
		<div class="tq_cy_w410 tq_cy_pract">
			<p class="fs14">
				选择课程班级
			</p>
			<select class="mb20">
				<option value="1">选择课程或班级名称查找</option>
				<option value="2">选择课程或班级名称查找1</option>
				<option value="3">选择课程或班级名称查找2</option>
			</select>
			<select class="mb20">
				<option value="1">选择章节</option>
				<option value="2">选择章节1</option>
				<option value="3">选择章节2</option>
			</select>
			<dl class="mb10 clearfix">
				<dt>选择本次作业知识点：</dt>
				<dd>
					<label>
						<input type="checkbox" /> 知识点1
					</label>
				</dd>
				<dd>
					<label>
						<input type="checkbox" /> 知识点2
					</label>
				</dd>
				<dd>
					<label>
						<input type="checkbox" /> 知识点3
					</label>
				</dd>
				<dd>
					<label>
						<input type="checkbox" /> 知识点4
					</label>
				</dd>
			</dl>
			<button>确定</button>
		</div>
	</form>
</section>	
</body>
</html>