<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>教师题库123123123</title>
    <meta name="title" content="高能100 - 专业的K12在线教育平台 在线直播">
    <meta name="keywords" content="高能100 - 专业的K12在线教育平台 高能100 - 专业的K12在线教育平台 在线 k12 小学数学 初中数学">
    <meta name="description" content="高能100 - 专业的K12在线教育平台 高能100 - 专业的K12在线教育平台 在线直播">
	{part "/site.main.header"}
</head>
<body>
<!-- hd -->
<!-- hd -->
<section>
	<div class="container">
		<div class="row">
			<!-- lt -->
				<section>
					<div class="user-left-menu col-md-3 col-lg-3 col-xs-12 hidden-xs hidden-sm">
						<!-- leftmenu start-->
						{part "/user.main.menu.teacher"}
						<!-- leftmenu end -->
					</div>
				</section>
			<!-- /lt -->
			<!-- rt -->
			<section id="tq_cy_wrap">
				<div class="right-main col-xs-12 col-sm-12 col-md-9 col-lg-9">
				<!-- title -->
		            <div class="tq_xx_option tq_cy_option">
		            	<div class="tq_cy_pre_w100">
		            		<span class="c-fl" style="line-height:26px;">共20题</span>
		            		<div class="c-fr">
		            			<a href="#" title="" class="tq_cy_newtitle_lt mr20">添加新题</a>
		            			<a href="#" title="" class="tq_cy_newtitle_rt">选题中心选题</a>
		            		</div>	
		            	</div>
		            	<div class="clearfix"></div>
		            	<div class="tq_cy_pre_w100 mt10">
			            	<div class="c-fl fs14">
			            		<span class="fl">全部类型</span>
			            		<a href="#" title="">单选题</a>
			            		<a href="#" title="">多选题</a>
			            		<a href="#" title="">填空题</a>
			            	</div>
			            	<form action="" method="get" accept-charset="utf-8">
				                <div class="tq_cy_search_wrap col-lg-3 c-fr">
				                	<input type="text" class="tq_search_knolg bor1px col-lg-10 c-fl" placeholder="搜索知识点、题干" />
				                	<button class="tq_submit_btn c-fr col-lg-2"></button>
				                </div>
			            	</form>
			            </div>
		            </div>
		        <!-- /title -->
					<ul class="tq_cy_content clearfix">
						<li>
							<div class="tq_cy_title mb10 fs14">
								<div class="col-sm-11 c-fl">
			                        <div class="tq_cy_topic c-fl">
			                        【单选】如图，三棱柱 A1B1C1−ABC 中，侧棱 AA1⊥ 底面 A1B1C1，底面三角形 A1B1C1 是正三角形，E是BC中点，则下列叙述正确的是 (  ) 
			                        </div>
								</div>
								<span class="c-fr tq_cy_chk_post tq_cy_check"></span>
							</div>
							<dl>
								<dd class="col-sm-3">
									<span class="tq_option_h">A</span> 1:1
								</dd>
								<dd class="col-sm-3">
									<span class="tq_option">B</span> 1:6
								</dd>
								<dd class="col-sm-3">
									<span class="tq_option">C</span> 2:3
								</dd>
								<dd class="col-sm-3">
									<span class="tq_option">D</span> 1:8
								</dd>
							</dl>
							<div class="tq_cy_analy-btn">
                                <div class="tq_cy_analy_ct">
                                    <span class="tq_active_analy c-fr">
                                        解析
                                        <i class="c-fr"></i>
                                    </span>
                                <!-- 解析内容 -->
                                    <div class="tq_cy_analy fs14 c-fl">
                                        <p>答案：A</p>
                                        <p>
                                            解析：由侧棱 AA1⊥ 底面 A1B1C1，可得侧棱 BB1⊥ 底面 ABC，所以 BB1⊥AE，又底面三角形 A1B1C1 是正三角形，E 是 BC 中点，所以 AE⊥BC，则 AE⊥平面CC1B1B，所以 AE⊥B1C1．
                                        </p>
                                    </div>
                                <!-- /解析内容 -->
                                </div>
							</div>
							<div class="tq_cyklge_source fs12 mt20">
								<p class="clearfix">
									<span>数学</span>
									<span>一年级</span>
									<span>人教版</span>
									<span>困难</span>
									<strong class="fs14">来源：高能100</strong>
								</p>
								<p>
									<span class="c-fl">知识点2</span>
									<div class="c-fr">
										<a href="javascript:;" class="garbage_icon" title="删除"></a>
										<a href="javascript:;" class="correct_icon" title="纠错"></a>
									</div>
								</p>
							</div>	
						</li>
						<li>
							<div class="tq_cy_title mb10 fs14">
								<div class="col-sm-11 c-fl">
			                        <div class="tq_cy_topic c-fl">
			                        【多选题】如图，三棱柱 A1B1C1−ABC 中，侧棱 AA1⊥ 底面 A1B1C1，底面三角形 A1B1C1 是正三角形，E是BC中点，则下列叙述正确的是 (  ) 
			                        </div>
								</div>
								<span class="c-fr tq_cy_chk_post tq_cy_check"></span>
							</div>
							<dl>
								<dd class="col-sm-3">
									<span class="tq_option_h">A</span> 1:1
								</dd>
								<dd class="col-sm-3">
									<span class="tq_option_h">B</span> 1:6
								</dd>
								<dd class="col-sm-3">
									<span class="tq_option">C</span> 2:3
								</dd>
								<dd class="col-sm-3">
									<span class="tq_option">D</span> 1:8
								</dd>
							</dl>
							<div class="tq_cy_analy-btn">
                                <div class="tq_cy_analy_ct">
                                    <span class="tq_active_analy c-fr">
                                        解析
                                        <i class="c-fr"></i>
                                    </span>
                                <!-- 解析内容 -->
                                    <div class="tq_cy_analy fs14 c-fl">
                                        <p>答案：A</p>
                                        <p>
                                            解析：由侧棱 AA1⊥ 底面 A1B1C1，可得侧棱 BB1⊥ 底面 ABC，所以 BB1⊥AE，又底面三角形 A1B1C1 是正三角形，E 是 BC 中点，所以 AE⊥BC，则 AE⊥平面CC1B1B，所以 AE⊥B1C1．
                                        </p>
                                    </div>
                                <!-- /解析内容 -->
                                </div>
							</div>
							<div class="tq_cyklge_source fs12 mt20">
								<p class="clearfix">
									<span>数学</span>
									<span>一年级</span>
									<span>人教版</span>
									<span>困难</span>
									<strong class="fs14">来源：高能100</strong>
								</p>
								<p>
									<span class="c-fl">知识点2</span>
									<div class="c-fr">
										<a href="javascript:;" class="garbage_icon" title="删除"></a>
										<a href="javascript:;" class="correct_icon" title="纠错"></a>
									</div>
								</p>
							</div>	
						</li>
						<li>
							<div class="tq_cy_title mb10 fs14">
								<div class="col-sm-11 c-fl">
			                        <div class="tq_cy_topic c-fl">
			                        【单选】如图，三棱柱 A1B1C1−ABC 中，侧棱 AA1⊥ 底面 A1B1C1，底面三角形 A1B1C1 是正三角形，E是BC中点，则下列叙述正确的是 (  ) 
			                        <img src="../img/demo_tq_quest_img.jpg" alt=""> 
			                        </div>
								</div>
								<span class="c-fr tq_cy_chk_post tq_cy_check"></span>
							</div>
							<dl>
								<dd class="col-sm-3">
									<span class="tq_option_h">A</span> 1:1
								</dd>
								<dd class="col-sm-3">
									<span class="tq_option">B</span> 1:6
								</dd>
								<dd class="col-sm-3">
									<span class="tq_option">C</span> 2:3
								</dd>
								<dd class="col-sm-3">
									<span class="tq_option">D</span> 1:8
								</dd>
							</dl>
							<div class="tq_cy_analy-btn">
                                <div class="tq_cy_analy_ct">
                                    <span class="tq_active_analy c-fr">
                                        解析
                                        <i class="c-fr"></i>
                                    </span>
                                <!-- 解析内容 -->
                                    <div class="tq_cy_analy fs14 c-fl">
                                        <p>答案：A</p>
                                        <p>
                                            解析：由侧棱 AA1⊥ 底面 A1B1C1，可得侧棱 BB1⊥ 底面 ABC，所以 BB1⊥AE，又底面三角形 A1B1C1 是正三角形，E 是 BC 中点，所以 AE⊥BC，则 AE⊥平面CC1B1B，所以 AE⊥B1C1．
                                        </p>
                                    </div>
                                <!-- /解析内容 -->
                                </div>
							</div>
							<div class="tq_cyklge_source fs12 mt20">
								<p class="clearfix">
									<span>数学</span>
									<span>一年级</span>
									<span>人教版</span>
									<span>困难</span>
									<strong class="fs14">来源：高能100</strong>
								</p>
								<p>
									<span class="c-fl">知识点2</span>
									<div class="c-fr">
										<a href="javascript:;" class="garbage_icon" title="删除"></a>
										<a href="javascript:;" class="correct_icon" title="纠错"></a>
									</div>
								</p>
							</div>	
						</li>
						<li>
							<div class="tq_cy_title mb10 fs14">
								<div class="col-sm-11 c-fl">
			                        <div class="tq_cy_topic c-fl">
			                        【单选】如图，三棱柱 A1B1C1−ABC 中，侧棱 AA1⊥ 底面 A1B1C1，底面三角形 A1B1C1 是正三角形，E是BC中点，则下列叙述正确的是 (  ) 
			                        </div>
								</div>
								<span class="c-fr tq_cy_chk_post tq_cy_check"></span>
							</div>
							<dl>
								<dd class="col-sm-3">
									<span class="tq_option_h">A</span> 1:1
								</dd>
								<dd class="col-sm-3">
									<span class="tq_option">B</span> 1:6
								</dd>
								<dd class="col-sm-3">
									<span class="tq_option">C</span> 2:3
								</dd>
								<dd class="col-sm-3">
									<span class="tq_option">D</span> 1:8
								</dd>
							</dl>
							<div class="tq_cy_analy-btn">
                                <div class="tq_cy_analy_ct">
                                    <span class="tq_active_analy c-fr">
                                        解析
                                        <i class="c-fr"></i>
                                    </span>
                                <!-- 解析内容 -->
                                    <div class="tq_cy_analy fs14 c-fl">
                                        <p>答案：A</p>
                                        <p>
                                        	<img src="../img/demo_tq_quest_img.jpg" alt="">
                                            解析：由侧棱 AA1⊥ 底面 A1B1C1，可得侧棱 BB1⊥ 底面 ABC，所以 BB1⊥AE，又底面三角形 A1B1C1 是正三角形，E 是 BC 中点，所以 AE⊥BC，则 AE⊥平面CC1B1B，所以 AE⊥B1C1．
                                        </p>
                                    </div>
                                <!-- /解析内容 -->
                                </div>
							</div>
							<div class="tq_cyklge_source fs12 mt20">
								<p class="clearfix">
									<span>数学</span>
									<span>一年级</span>
									<span>人教版</span>
									<span>困难</span>
									<strong class="fs14">来源：高能100</strong>
								</p>
								<p>
									<span class="c-fl">知识点2</span>
									<div class="c-fr">
										<a href="javascript:;" class="garbage_icon" title="删除"></a>
										<a href="javascript:;" class="correct_icon" title="纠错"></a>
									</div>
								</p>
							</div>	
						</li>
					</ul>
					<!-- page -->
					......
					<!-- /page -->	
				</div>
			</section>
			<!-- rt -->
		</div>
	</div>
	<div id="flyItem"><img src="../img/one_pic.png" alt="" /></div>
</section>
<!-- ft -->
<!-- /ft -->
 <!--右侧选题篮 start-->
 <div class="tq_xx_cont">
     <div class="tq_c_top"><span>0</span></div>
     <p class="tc_tp">选题篮</p>
     <img src="../img/one_pic.png" class="one_pic" />
     <div class="tq_c_hide" style="display:none;">
         <img src="../img/top_jt.jpg" class="top_jt" />
         <div class="cont_b bgf">
             <ul>
                 <li>单选<em>6</em>题 <a href="javascript:;" class="garbage_icon"></a></li>
                 <li>多选<em>6</em>题 <a href="javascript:;" class="garbage_icon"></a></li>
                 <li>解答<em>6</em>题 <a href="javascript:;" class="garbage_icon"></a></li>
                 <li>共<em>6</em>题 <a href="javascript:;" class="empty">清空全部</a></li>
                 <li class="tec"><a href="javascript:;"class="tq_see" >查看</a></li>
             </ul>

         </div>
     </div>
 </div>
 <!--右侧选题篮 end-->
</body>
</html>
<script type="text/javascript" src="../js/jquery/jquery.parabola.js"></script>
<script>
$(function() {
//选中题目
    $(".tq_cy_title .tq_cy_chk_post").click(function() {
        if($(this).hasClass("tq_cy_check")) {
            $(this).removeClass("tq_cy_check").addClass("tq_cy_checked")
        }else{
            $(this).removeClass("tq_cy_checked").addClass("tq_cy_check")
        }
    });
//购物车内容
	$(".tq_xx_cont").hover(function(){
        $(".tq_c_hide").show();
    },function(){
    	$(".tq_c_hide").hide();
    })
//解析
    $(".tq_cy_analy_ct").hover(function() {
        $(this).find(".c-fr").removeClass("tq_active_analy").addClass("z_tq_active_analy");
        $(this).find(".tq_cy_analy").show();
    },function() {
        $(this).find(".c-fr").removeClass("z_tq_active_analy").addClass("tq_active_analy");
        $(this).find(".tq_cy_analy").hide();
    });
//纠错
    $('.tq_cy_content .correct_icon').on('click', function(){
        layer.open({
            type: 2,
            title:['纠错','color:#fff;background:#ffa81d'],
            area: ['410px', '320px'],
            shadeClose: true, //点击遮罩关闭
            content: ['tq_layer_error_correct.html','no']
        });
    });
})
//添加购物题
var eleFlyElement = document.querySelector("#flyItem"), eleShopCart = document.querySelector(".tq_c_top");
var numberItem = 0;
var myParabola = funParabola(eleFlyElement, eleShopCart, {
    speed: 220, //抛物线速度
    curvature: 0.0008, //控制抛物线弧度
    complete: function() {
        eleFlyElement.style.visibility = "hidden";
        eleShopCart.querySelector("span").innerHTML = ++numberItem;
    }
});
// 绑定点击事件
if (eleFlyElement && eleShopCart) {
    [].slice.call(document.getElementsByClassName("tq_cy_chk_post")).forEach(function(button) {
        button.addEventListener("click", function(event) {
            var scrollLeft = document.documentElement.scrollLeft || document.body.scrollLeft || 0,
                scrollTop = document.documentElement.scrollTop || document.body.scrollTop || 0;
            eleFlyElement.style.left = event.clientX + scrollLeft + "px";
            eleFlyElement.style.top = event.clientY + scrollTop + "px";
            eleFlyElement.style.visibility = "visible";
            myParabola.position().move();           
        });
    });
}
</script>