<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>纠错弹框</title>
    <meta name="title" content="高能100 - 专业的K12在线教育平台 在线直播">
    <meta name="keywords" content="高能100 - 专业的K12在线教育平台 高能100 - 专业的K12在线教育平台 在线 k12 小学数学 初中数学">
    <meta name="description" content="高能100 - 专业的K12在线教育平台 高能100 - 专业的K12在线教育平台 在线直播">
	{part "/site.main.header"}
</head>
<body>
<section>
	<form>
		<div class="tq_cy_w410">
			<p class="fs14">
				写下你对本题的建议
			</p>
			<textarea class="bor1px mb10"></textarea>
			<button class="c-fr">提交</button>
		</div>
	</form>
</section>
</body>
</html>