<!DOCTYPE html>
<html>
<head>
<title>优惠管理 - {part '/site.main.orgname'} - 云课 - 专业的在线学习平台</title>
<meta name="title" content="{part '/site.main.orgname'} - 优惠管理 - 云课 - 专业的在线学习平台">
<meta name="keywords" content="{part '/site.main.orgname'} - 云课 - Yunke K12 在线学习 直播 云课网 在线教育">
<meta name="description" content="{part '/site.main.orgname'} - 云课(Yunke.com) -专业的K12在线学习平台。以直播授课为核心，打破时间与空间的界限，为教师高效教学、学生高效学习、家长高效管控及机构高效管理提供完美解决方案">
{part "/site.main.header"}
</head>
<body>
{part "/site.main.nav"}
<section class="pd30">
	<div class="container">
		<div class="row">
			{part "/org.main.menu.discount"}
			<!-- right-main -->
			<div class="right-main col-md-16 col-xs-20">
				<!-- path -->
				<div class="col-xs-20 col-md-20 pd0 fs14">
					<a href="/org.discount.listnew">优惠管理</a> &gt; 优惠详情
				</div>
				<!-- list -->
				<div class="col-xs-20 comd-20 p0 mt10" id="total"></div>
				<ul class="table-grid-code" id="list">
					<li class="fs14">
                    	<dl class="hd-title clearfix">
                    		<dd class="col-md-5 col-xs-4 p0">用户</dd>
                            <dd class="col-md-5 col-xs-8 p0">手机号</dd>
                            <dd class="col-md-5 hidden-xs p0">使用时间</dd>
                            <dd class="col-md-5 col-xs-8 p0">账单号</dd>
                   		</dl>
                	</li>
					<li class="listHtml">
						<div class="tac mt20" style="height:240px">
							<img src="/assets_v2/img/platform/pet3.png">
                            <p>优惠劵不存在~</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="{utility_cdn::js('/assets_v2/js/ejs.min.js')}"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="/assets_v2/js/ie8/ejs.ie8.js"></script>
<![endif]-->
<script id="listHtml" type="template">
	<% for(var i=0;i<items.length;i++){ %>
	<dl class="clearfix">
		<dd class="col-md-5 col-xs-4 p0"><%=items[i].username%></dd>
		<dd class="col-md-5 col-xs-8 p0"><%=items[i].mobile%></dd>
		<dd class="col-md-5 hidden-xs p0"><%=items[i].createtime%></dd>
		<dd class="col-md-5 col-xs-8 p0"><%=items[i].order_num%></dd>
	</dl>
	<% };%>
</script>
<script>
	$(function(){
		var code = location.hash.substring(1);
		var List=$('#list');
		var listHtml=$('#listHtml').html();
		cList();
		function cList(){
			$.ajax('/org/discount/CodeInfo',{
				dataType:'json',
				type:'get',
				data:{
					code:code,
				},
				success:function (data) {
					if(data.code==0){
						var items=data.data.items;
						if (items.length > 0) {
							$('#total').html('已使用'+data.data.used_num+'次，共'+data.data.totalNum+'次');
							List.find('.listHtml').html(ejs.render(listHtml, { items:items }));
						}
					}else{
						var _html='<div class="tac mt20" style="height:240px"><img src="/assets_v2/img/platform/pet3.png"><p>优惠劵不存在~</p></div>';
						List.find('.listHtml').html(_html);
					}
				},
				error:function () {
					layer.msg('网络出错了');
				},
			});
		}
	})
</script>
{part "/site.main.footer"}
</body>
</html>
