<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>高能100 - 账号安全</title>
		{part "/index.main.headeruser"}
	</head>
	<body>
		<!--top-->
		{part "/index.main.nav.user"}

		<div class='count'>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col-sm-3 user_menu hidden-xs'>
						<div id=''>
							<div id='menu'>
								{part "/user.home.menu.user"}

							</div>
						</div>
					</div>



					<div class='col-sm-9 user_content'>
						<div class='container-fluid'>
							<div class='row'>
								<div>
									<h1 class="title">账号安全</h1>
								</div>
							</div>  
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label class="col-sm-2 control-label">手机号:</label>
									<div class="col-sm-4">
										<p class="form-control-static">134xxxxxxxx</p>
									</div>
								</div>
								<hr>
								<div class="form-group">
									<label class="col-sm-2 control-label">邮箱绑定:</label>
									<div class="col-sm-4">
											<p class="form-control-static">134xxxxxxxx</p>
											<a class="btn btn-default" href="#" role="button">绑定</a>
									</div>
								</div>
								<hr>
								<div class="form-group">
									<label class="col-sm-2 control-label">QQ绑定:</label>
									<div class="col-sm-4">
											<p class="form-control-static">134xxxxxxxx</p>
											<a class="btn btn-default" href="#" role="button">绑定</a>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">微信绑定:</label>
									<div class="col-sm-4">
											<p class="form-control-static">134xxxxxxxx</p>
											<a class="btn btn-default" href="#" role="button">绑定</a>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">微博绑定:</label>
									<div class="col-sm-4">
											<p class="form-control-static">134xxxxxxxx</p>
											<a class="btn btn-default" href="#" role="button">绑定</a>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">淘宝绑定:</label>
									<div class="col-sm-4">
											<p class="form-control-static">134xxxxxxxx</p>
											<a class="btn btn-default" href="#" role="button">绑定</a>
									</div>
								</div>
								<hr>
							</form>
						</div>

					</div>

				</div>
			</div>

		</div>              


		<div class="footer"> 
			<div class="ftcon">
				<p class="fter_2 mt10">© 2014 北京高能壹佰教育科技有限公司 版权所有</p>
			</div>
		</div>
	</body>
</html>
