<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{if !empty($plan_info->title)}{$plan_info->title}{/if} - 上传视频 - {part '/site.main.orgname'} - 云课 - 专业的在线学习平台</title>
<link rel="stylesheet" type="text/css" href="{utility_cdn::css('/assets/css/user.css')}">
<link rel="stylesheet" type="text/css" href="{utility_cdn::css('/assets/bootstrap-3.3.0/css/bootstrap.min.css')}">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="title" content="高能100 - 视频上传 - 专业的K12在线教育平台 在线直播">
<meta name="keywords" content="高能100 - 专业的K12在线教育平台 高能100 - 专业的K12在线教育平台 在线 k12 小学数学 初中数学">
<meta name="description" content="高能100 - 专业的K12在线教育平台 高能100 - 专业的K12在线教育平台 在线直播">
{part "/site.main.header"}
<link rel="stylesheet" type="text/css" href="{utility_cdn::css('/assets_v2/css/player.css')}">
<script src="{utility_cdn::js('/assets/js/plupload/js/plupload.full.min.js')}"></script>
</head>
<body style="background:#f7f7f7">
{part "/site.main.nav.home"}
<section class="pd40">
	<div class='container'>
		<div class="row">
			<div class="video-path col-lg-17 fs20">{'上传视频'|tr:'site.course'}</div>
			<div class="video-main col-lg-17">
				<div class="video-classname  col-md-20 fs16">
                    {$plan_info->title} {$plan_info->class_name|tr:'site.index'} {$plan_info->section_name|tr:'site.index'} {$sectionDesc|tr:'site.index'}
					{if !empty($uploadFiles)}
					{if empty($uploadTask)}
					<a class="video-add-more" id="video_add">{'添加更多视频'|tr:'site.course'}</a>
					{/if}
					{/if}
				</div>
				<!--无视频-->
				{if empty($uploadFiles)}

				<div class="col-sm-20" id='novideo'>
					<div class="video-add  col-md-14">
					  <div class="video-addbtn">
						 <span class="video-upload"></span>
						 <button class="fs16" id="video_add">{'上传视频'|tr:'site.course'}</button>
					  </div>
					</div>
					<div class="video-tips col-md-6 fs14">
				<p class="fs16">{'温馨提示'|tr:'site.course'}</p>
				<p class="cGray">{'1.文件大小不能超过10G'|tr:'site.course'}</p>
				<p class="cGray">{'2.文件支持dat，asf，rm，ram，3gp，mov，m4v，dvix，dv，qt，divx，cpk，fli，flc，mod，mp4，wmv，flv，avi，mkv，vob，mpg，rmvb，mpeg，mov，mts格式'|tr:'site.course'}</p>
				<p class="cGray">{'3.请勿上传色情或反动视频'|tr:'site.course'}</p>
				<p class="cGray">{'4.一次最多上传3个视频'|tr:'site.course'}</p>
			</div>
				</div>
				<!--上传列表-->
				{/if}
				<ul class="video-list">
					{if !empty($uploadFiles)}
					{foreach $uploadFiles as $file}
					<li>
						<p class="video-pic col-lg-4"><img src='/assets_v2/img/video-img.png'></p>
						<div class="video-txt col-lg-11">
							<p class="video-tit">{$file->filename_org} <span class="cRed">{'上传成功'|tr:'site.course'}!</span></p>
							<div class="video-progress">
								<div class="video-bar" style="width:100%">100%</div>
							</div>
							<p class="video-status cGray">{'文件大小'|tr:'site.course'}:{floor($file->filesize/1024/1024*100)/100}M</p>
						</div>
						<div class="video-edit col-lg-5">
							{if empty($uploadTask)}
							<a href="javascript:;" onclick="delVideo({$file->file_id});" class="video-edit-btn">{'删除'|tr:'site.course'}</a>
							{elseif ($uploadTask->status==0 || $uploadTask->status==1)}

							{/if}
						</div>
					</li>
					{/foreach}
					{/if}
				</ul>

				<div class="trans-btn">
					{if empty($uploadTask)}
						{if !empty($uploadFiles)}
							{if 0==$uploadFiles[count($uploadFiles)-1]->encoding_status}
								<button class="trans-code fs16" id="addtask">{'开始转码'|tr:'site.course'}</button>
							{else}
								<a href="/user.teacher.part/{$plan_id}/{$status}">
									<button class="trans-code fs16">{'去剪辑'|tr:'site.course'}</button>
								</a>
							{/if}
						{/if}
					{elseif $uploadTask->status==-1}
					<button class="trans-code fs16" id="addtask">{'失败,重新转码'|tr:'site.course'}</button>
					{elseif $uploadTask->status==0}
					<button class="trans-code fs16">{'等待中'|tr:'site.course'}</button>
					{elseif $uploadTask->status==1}
					<button class="trans-code fs16">{'转码中...'|tr:'site.course'}</button>
					{/if}
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</section>
{part "/site.main.footer"}
</body>
<script type="text/javascript">
var plan_id = {$plan_id};
var uploader = new plupload.Uploader({
	//runtimes : 'html5,flash,silverlight,html4',
	browse_button : 'video_add',
	url: '{$upload_video}?token={$token}&planid={$plan_id}',
	flash_swf_url:"{utility_cdn::img('/assets/js/plupload/js/Moxie.swf')}",
	chunk_size: '2000kb',
	max_retries: 100,
	filters: {
		mime_types : [
			{ title : "Video Files", extensions : "dat,asf,rm,ram,3gp,mov,m4v,dvix,dv,qt,divx,cpk,fli,flc,mod,mp4,wmv,flv,avi,mkv,vob,mpg,rmvb,mpeg,mov,mts" }
		],
		prevent_duplicates:false,
		max_file_size:"10G"
	},
	multi_selection:false,
	file_data_name:'video'
});

var QueueProgress = uploader.total;
var f = '';


uploader.bind('PostInit',function(){
    $(".video-list").on('click','.video-edit-btn',function(){
		var offFid = $(this).attr('fid');
		offVideo(offFid);
	});
    $(".video-list").on('click','.video-del-btn',function(){
        var delFid = $(this).attr('fid');
        delVideo(delFid);
    });
});

uploader.bind('FilesAdded',function(up, files){
	$("#novideo").css("display","none");
	$("#video_add").css("display","none");
    for(var i in files){
        myAppend(files[i].id,files[i].name);
    }
    uploader.start();
});

uploader.bind('UploadProgress',function(up, file){
	var speed = parseInt(QueueProgress.bytesPerSec/1024)+"KB/s";
	f = parseInt( (QueueProgress.loaded/1024)/1024 )+"M";
    var p = file.percent;
	var h ="<div id='bar_"+file.id+"' class='video-bar' style='width:"+p+"%'>"+p+"%</div>";
	var m = "<span id='msg_"+file.id+"'>{'速度'|tr:'site.course'}："+speed+" | {'已上传'|tr:'site.course'}："+f+" </span>";
	$('#jd_'+file.id).html(h);
	$('#msg_'+file.id).html(m);
});

uploader.bind('FileUploaded',function(up, file, info){
    if(info.response){
		if(info.response==1){
			$("#fid_"+file.id).html(file.name+':<span class="cRed">{"上传成功"|tr:"site.course"}！</span>');
			window.location.href="{$path}";
		}else if(info.response==-21){
			$("#msg_"+file.id).text("{'不是有效的视频文件'|tr:'site.course'}:"+info.response);
		}else if(info.response==-1){
			$("#msg_"+file.id).text("{'上传失败,错误码'|tr:'site.course'}:"+info.response);  
		}else{
			$("#msg_"+file.id).text("{'上传失败,错误码'|tr:'site.course'}:"+info.response);
		}
	}
});

uploader.bind('Error',function(up, err){
    if(err.code == -600){
        layer.msg("{'文件太大'|tr:'site.course'}");
		return false;
    }else if(err.code == -601){
        layer.msg("{'视频格式不支持，请选择别的视频文件'|tr:'site.course'}");
		return false;
    }else{
        //layer.msg("出错了，请联系管理员："+err.message);
    }
});

uploader.init();


//追加
function myAppend(fileId, fileName){
    var html='';
    html+="<li id="+fileId+">";
	html+="<p class='video-pic col-lg-4'><img src='{utility_cdn::img('/assets_v2/img/video-img.png')}'></p>";
	html+="<div class='video-txt col-lg-11'>"; 
	html+="<p id='fid_"+fileId+"' class='video-tit'>{"正在上传"|tr:"site.course"}:"+fileName+"</p>";
	html+="<div id='jd_"+fileId+"' class='video-progress'>";
	html+="</div>";
	html+="<p class='video-status cGray'>";
	html+="<span id='msg_"+fileId+"'></span>";
	html+="</p>";
	html+="</div>";
	html+="<div class='video-edit col-lg-5'>";
	html+="<a id='off_"+fileId+"' fid="+fileId+" class='video-edit-btn'>{"取消上传"|tr:"site.course"}</a>";
	html+="</div>";
	html+="</li>";
    $('.video-list').append(html);
}

//取消上传
function offVideo(fid)
{
	var off = '';
	for(var i in uploader.files){
		if(fid == uploader.files[i].id){
			off = i;
		}
	}
	uploader.splice(off, 1);
	$("#video_add").css("display","block");
	window.location.href="{$path}";
}
//删除视频
function delVideo(fileId)
{    
    var status = {$status};
    var planUid = 0;
    if(status == 2){
        planUid = {$planUid};
    }
    if(confirm("{'你确定要删除此视频吗?'|tr:'site.course'}")){
        $.post("/user.teacher.delfile",{ planId:plan_id, fileId:fileId,status:status,planUid:planUid  },function(r){
            if(r.code == 1){
                layer.msg('{"删除成功"|tr:"site.course"}',{ time:2000 },function(){
					window.location.href="{$path}";
				});
            }else{
                layer.msg('{"删除失败"|tr:"site.course"}',{ time:2000 },function(){
					window.location.href="{$path}";
				});
            }
        },"json");
    }
    return false;
}
//视频转码
$("#addtask").click(function(){
	var plan_id = {$plan_id};
	var status  = {$status};
	$.post("/user.teacher.uploadtask/",{ plan_id:plan_id, type:"UPLOAD", status:status },function(r){
		if(r.code==1){
            layer.msg('{"玩命转码中,您可以离开"|tr:"site.course"}',{ time:2000 },function(){
				window.location.href="{$path}";
            });
		}else{
			layer.msg(r.msg,{ time:2000 },function(){
				window.location.href="{$path}";
            });
			return false;
		}
	},"json");
});
$(function(){
	videoListHidden();
})
function videoListHidden(){
	if($('.video-list li').length>=3){
		$("#video_add").remove();
	}
}
</script>
</html>

