default{
	menu {
        grade '小学';
        url '/index.course.list?fc=1&sc=7';
		children{ 
			name '一年级'; 
			url '/index.course.list?fc=1&sc=7&tc=29'; 
			attr_count '3';
			attr{name '语文'; url '/index.course.list?fc=1&sc=7&tc=29&vid=3|16';}
			attr{name '数学'; url '/index.course.list?fc=1&sc=7&tc=29&vid=3|17';}
			attr{name '英语'; url '/index.course.list?fc=1&sc=7&tc=29&vid=3|18';}
			
		}
		children{ 
			name '二年级'; 
			url '/index.course.list?fc=1&sc=7&tc=30';
			attr_count '3';
			attr{name '语文'; url '/index.course.list?fc=1&sc=7&tc=30&vid=4|27';}
			attr{name '数学'; url '/index.course.list?fc=1&sc=7&tc=30&vid=4|28';}
			attr{name '英语'; url '/index.course.list?fc=1&sc=7&tc=30&vid=4|29';}
		}
		children{ 
			name '三年级'; 
			url '/index.course.list?fc=1&sc=7&tc=31';
			attr_count '3';
			attr{name '语文'; url '/index.course.list?fc=1&sc=7&tc=31&vid=5|38';}
			attr{name '数学'; url '/index.course.list?fc=1&sc=7&tc=31&vid=5|39';}
			attr{name '英语'; url '/index.course.list?fc=1&sc=7&tc=31&vid=5|40';}
		}
		children{ 
			name '四年级'; 
			url '/index.course.list?fc=1&sc=7&tc=32'; 
			attr_count '3';
			attr{name '语文'; url '/index.course.list?fc=1&sc=7&tc=32&vid=6|49';}
			attr{name '数学'; url '/index.course.list?fc=1&sc=7&tc=32&vid=6|50';}
			attr{name '英语'; url '/index.course.list?fc=1&sc=7&tc=32&vid=6|51';}
		}
		children{ 
			name '五年级'; 
			url '/index.course.list?fc=1&sc=7&tc=33';
			attr_count '3';
			attr{name '语文'; url '/index.course.list?fc=1&sc=7&tc=33&vid=7|60';}
			attr{name '数学'; url '/index.course.list?fc=1&sc=7&tc=33&vid=7|61';}
			attr{name '英语'; url '/index.course.list?fc=1&sc=7&tc=33&vid=7|62';}
		}
		children{ 
			name '六年级'; 
			url '/index.course.list?fc=1&sc=7&tc=34';
			attr_count '3';
			attr{name '语文'; url '/index.course.list?fc=1&sc=7&tc=34&vid=8|71';}
			attr{name '数学'; url '/index.course.list?fc=1&sc=7&tc=34&vid=8|72';}
			attr{name '英语'; url '/index.course.list?fc=1&sc=7&tc=34&vid=8|73';}
		}
		children{ 
			name '小升初'; 
			url '/index.course.list?fc=1&sc=7&tc=35';
			attr_count '3';
			attr{name '语文'; url '/index.course.list?fc=1&sc=7&tc=35&vid=9|82';}
			attr{name '数学'; url '/index.course.list?fc=1&sc=7&tc=35&vid=9|83';}
			attr{name '英语'; url '/index.course.list?fc=1&sc=7&tc=35&vid=9|84';}	
		}
    }
	menu {
        grade '初中';
        url '/index.course.list?fc=1&sc=8';
		children{ 
			name '初一'; 
			url '/index.course.list?fc=1&sc=8&tc=36';
			attr_count '3';
			attr{name '语文'; url '/index.course.list?fc=1&sc=8&tc=36&vid=10|93';}
			attr{name '数学'; url '/index.course.list?fc=1&sc=8&tc=36&vid=10|94;}
			attr{name '英语'; url '/index.course.list?fc=1&sc=8&tc=36&vid=10|95';}	
		}
		children{ 
			name '初二'; 
			url '/index.course.list?fc=1&sc=8&tc=37'; 
			attr_count '4';
			attr{name '语文'; url '/index.course.list?fc=1&sc=8&tc=37&vid=11|105';}
			attr{name '数学'; url '/index.course.list?fc=1&sc=8&tc=37&vid=11|106';}
			attr{name '英语'; url '/index.course.list?fc=1&sc=8&tc=37&vid=11|107';}
			attr{name '物理'; url '/index.course.list?fc=1&sc=8&tc=37&vid=11|108';}
		}
		children{ 
			name '初三'; 
			url '/index.course.list?fc=1&sc=8&tc=38'; 
			attr_count '5';
			attr{name '语文'; url '/index.course.list?fc=1&sc=8&tc=38&vid=12|117';}
			attr{name '数学'; url '/index.course.list?fc=1&sc=8&tc=38&vid=12|118';}
			attr{name '英语'; url '/index.course.list?fc=1&sc=8&tc=38&vid=12|119';}
			attr{name '物理'; url '/index.course.list?fc=1&sc=8&tc=38&vid=12|120';}
			attr{name '化学'; url '/index.course.list?fc=1&sc=8&tc=38&vid=12|121';}
		}
		children{ 
			name '中考'; 
			url '/index.course.list?fc=1&sc=8&tc=39';
			attr_count '5';
			attr{name '语文'; url '/index.course.list?fc=1&sc=8&tc=39&vid=13|129';}
			attr{name '数学'; url '/index.course.list?fc=1&sc=8&tc=39&vid=13|130';}
			attr{name '英语'; url '/index.course.list?fc=1&sc=8&tc=39&vid=13|131';}
			attr{name '物理'; url '/index.course.list?fc=1&sc=8&tc=39&vid=13|132';}
			attr{name '化学'; url '/index.course.list?fc=1&sc=8&tc=39&vid=13|133';}
		}
    }
	menu {
        grade '高中';
        url '/index.course.list?fc=1&sc=9';
		children{ 
			name '高一'; 
			url '/index.course.list?fc=1&sc=9&tc=40';
			attr_count '9';
			attr{name '语文'; url '/index.course.list?fc=1&sc=9&tc=40&vid=14|141';}
			attr{name '数学'; url '/index.course.list?fc=1&sc=9&tc=40&vid=14|142';}
			attr{name '英语'; url '/index.course.list?fc=1&sc=9&tc=40&vid=14|143';}
			attr{name '物理'; url '/index.course.list?fc=1&sc=9&tc=40&vid=14|144';}
			attr{name '化学'; url '/index.course.list?fc=1&sc=9&tc=40&vid=14|145';}
			attr{name '生物'; url '/index.course.list?fc=1&sc=9&tc=40&vid=14|146';}
			attr{name '历史'; url '/index.course.list?fc=1&sc=9&tc=40&vid=14|147';}
			attr{name '地理'; url '/index.course.list?fc=1&sc=9&tc=40&vid=14|148';}
			attr{name '政治'; url '/index.course.list?fc=1&sc=9&tc=40&vid=14|149';}
		}
		children{ 
			name '高二'; 
			url '/index.course.list?fc=1&sc=9&tc=41'; 
			attr_count '9';
			attr{name '语文'; url '/index.course.list?fc=1&sc=9&tc=41&vid=15|153';}
			attr{name '数学'; url '/index.course.list?fc=1&sc=9&tc=41&vid=15|154';}
			attr{name '英语'; url '/index.course.list?fc=1&sc=9&tc=41&vid=15|155';}
			attr{name '物理'; url '/index.course.list?fc=1&sc=9&tc=41&vid=15|156';}
			attr{name '化学'; url '/index.course.list?fc=1&sc=9&tc=41&vid=15|157';}
			attr{name '生物'; url '/index.course.list?fc=1&sc=9&tc=41&vid=15|158';}
			attr{name '历史'; url '/index.course.list?fc=1&sc=9&tc=41&vid=15|159';}
			attr{name '地理'; url '/index.course.list?fc=1&sc=9&tc=41&vid=15|160';}
			attr{name '政治'; url '/index.course.list?fc=1&sc=9&tc=41&vid=15|161';}
		}
		children{ 
			name '高三'; 
			url '/index.course.list?fc=1&sc=9&tc=42'; 
			attr_count '9';
			attr{name '语文'; url '/index.course.list?fc=1&sc=9&tc=42&vid=16|165';}
			attr{name '数学'; url '/index.course.list?fc=1&sc=9&tc=42&vid=16|166';}
			attr{name '英语'; url '/index.course.list?fc=1&sc=9&tc=42&vid=16|167';}
			attr{name '物理'; url '/index.course.list?fc=1&sc=9&tc=42&vid=16|168';}
			attr{name '化学'; url '/index.course.list?fc=1&sc=9&tc=42&vid=16|169';}
			attr{name '生物'; url '/index.course.list?fc=1&sc=9&tc=42&vid=16|170';}
			attr{name '历史'; url '/index.course.list?fc=1&sc=9&tc=42&vid=16|171';}
			attr{name '地理'; url '/index.course.list?fc=1&sc=9&tc=42&vid=16|172';}
			attr{name '政治'; url '/index.course.list?fc=1&sc=9&tc=42&vid=16|173';}
		}
		children{ 
			name '高考'; 
			url '/index.course.list?fc=1&sc=9&tc=43'; 
			attr_count '10';
			attr{name '语文'; url '/index.course.list?fc=1&sc=9&tc=43&vid=17|177';}
			attr{name '数学'; url '/index.course.list?fc=1&sc=9&tc=43&vid=17|178';}
			attr{name '英语'; url '/index.course.list?fc=1&sc=9&tc=43&vid=17|179';}
			attr{name '物理'; url '/index.course.list?fc=1&sc=9&tc=43&vid=17|180';}
			attr{name '化学'; url '/index.course.list?fc=1&sc=9&tc=43&vid=17|181';}
			attr{name '全科辅导'; url '/index.course.list?fc=1&sc=9&tc=43&vid=17|187';}
			attr{name '志愿填报'; url '/index.course.list?fc=1&sc=9&tc=43&vid=17|472';}
			attr{name '职业规划'; url '/index.course.list?fc=1&sc=9&tc=43&vid=17|473';}
			attr{name '自主招生'; url '/index.course.list?fc=1&sc=9&tc=43&vid=17|474';}
			attr{name '更多'; url '/index.course.list?fc=1&sc=9&tc=43';}
		}
    }
	menu {
        grade '其它';
        url '/index.course.list';
		children{ 
			name '学前'; 
			url '/index.course.list?fc=1&sc=6';
			attr_count '2';
			attr{name '早教';   url '/index.course.list?fc=1&sc=6&tc=27';}
			attr{name '幼儿园'; url '/index.course.list?fc=1&sc=6&tc=28';}			
		}
		children{ 
			name '专硕'; 
			url '/index.course.list?fc=2&sc=14';
			attr_count '4';
			attr{name '工商管理'; url '/index.course.list?fc=2&sc=14&tc=58';}
			attr{name '会计'; url '/index.course.list?fc=2&sc=14&tc=57';}
			attr{name '金融'; url '/index.course.list?fc=2&sc=14&tc=60';}
			attr{name '审计'; url '/index.course.list?fc=2&sc=14&tc=59';}
		}
    }
}

