default{
    menu {
        title '基础资料';
        url '/student.main.infobase';
        icon_class 'icon icon1 c-fl';
    }

    menu {
        title '修改头像';
        url '/student.main.uploadPic/1';
        icon_class 'icon icon9 c-fl';
    }
    menu {
        title '我的消息';
        url '/user.message.list';
        icon_class 'icon icon3 c-fl';
    }
    menu {
        title '安全设置';
        url '/student.security.password';
        icon_class 'icon icon2 c-fl';
    }
}
student{
    menu {
         title '首页';
         url '/student.main.growth';
         icon_class 'icon-web icon12 c-fl';
    }
    menu {
        title '我的课程';
        url '/student.course.mycourse';
        icon_class 'icon icon5 c-fl';
    }
    menu {
        title '我的订单';
        url '/student.order.myorder';
        icon_class 'icon icon6 c-fl';
    }
    menu {
        title '我的收藏';
        url '/student.fav.myfav';
        icon_class 'icon icon10 c-fl';
    }
    menu {
        title '我的优惠券';
        url '/student.discount.mydiscount';
        icon_class 'icon icon11 c-fl';
    }

    menu {
        title '我的作业';
        url '/task.studentTaskList.mytask';
        icon_class 'icon icon11 c-fl';
    }
}
teacher{
    menu {
        title '教师资料';
        url '/teacher.manage.edit';
        icon_class 'icon icon7 c-fl';
    }
    menu {
        title '我的课程';
        url '/teacher.course.timetable';
        icon_class 'icon icon5 c-fl';
    }
    menu {
        title '我的学生';
        url '/teacher.manage.student';
        icon_class 'icon icon6 c-fl';
    }
    menu {
        title '如何上课';
        url '/teacher.course.help';
        icon_class 'icon icon8 c-fl';
    }
}
