<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{if !empty($info->real_name)}{$info->real_name}{/if} - 主讲课程 - {part '/site.main.orgname'} - 云课 - 专业的在线学习平台</title>
<meta name="title" content="{part '/site.main.orgname'} -  教师首页 - 云课 - 专业的在线学习平台">
<meta name="keywords" content="{part '/site.main.orgname'} - 云课 - Yunke K12 在线学习 直播 云课网 在线教育">
<meta name="description" content="{part '/site.main.orgname'} -  云课(Yunke.com) - 专业的K12在线学习平台。以直播授课为核心，打破时间与空间的界限，为教师高效教学、学生高效学习、家长高效管控及机构高效管理提供完美解决方案">
{part "/site.main.header"}
<link rel="stylesheet" type="text/css" href="/assets/js/fs_forse/css/fs_gallery.css">
<script type="text/javascript" src="/assets/js/fs_forse/js/fs_forse.js"></script>
</head>
<body>
{part "/site.main.nav"}
<!-- content -->
<section class="pd40">
    <div class="container">
        <div class="row">
            <!-- left -->
                <div class="quan-left col-md-4">
                    <div class="quan-userinfo mb25">
                        <div class="user-face"><img src="/assets_v2/img/222.png"></div>
                        <p class="user-name fs14 fb">用户名 <a href="#" class="level-icon2"></a></p>
                        <p class="user-other">
                            <a class="col-sm-12"><i class="local-set-icon"></i>上海市 普陀区</a>
                            <a class="col-sm-8"><i class="base-set-icon"></i>基础设置</a>
                        </p>
                        <div class="user-num">
                            <a href="javascript(0)"><b class="fs16 fb">350</b><span>关注</span></a>
                            <a href="javascript(0)"><b class="fs16 fb">350</b><span>粉丝</span></a>
                            <a href="javascript(0)"><b class="fs16 fb">350</b><span>动态</span></a>
                        </div>
                    </div>
                    <ul class="u-left-nav">
                        <li class="curr">
                            <a href="#" class="fs16"><span class="icon help-arrow-icon"></span>首页</a>
                        </li>
                        <li>
                            <a href="#" class="fs16"><span class="icon help-arrow-icon"></span>我的课程</a>
                        </li>
                        <li>
                            <a href="#" class="fs16"><span class="icon help-arrow-icon"></span>学习圈</a>
                        </li>
                        <li>
                            <a href="#" class="fs16"><span class="icon help-arrow-icon"></span>我的收藏夹</a>
                        </li>
                        <li>
                            <a href="#" class="fs16"><span class="icon help-arrow-icon"></span>我的优惠劵</a>
                        </li>
                        <li>
                            <a href="#" class="fs16"><span class="icon help-arrow-icon"></span>我的订单</a>
                        </li>
                    </ul>
                </div>
            <!-- right -->
                <div class="quan-right col-md-16">
                    <div class="quan-send">
                        <div class="title-area fs16 cGray fb">有什么事情想告诉大家？</div>
                        <div class="textarea">
                            <div class="input" contenteditable="true" id="q_input" style="overflow:auto;"></div>
                            <div class="num" id="q_input_num">还可以输入<span>300</span>字！</div>
                        </div>
                        <div class="func-area mt10">
                            <div class="kind fs14">
                                <a href="#"><em class="qicon-face"></em>表情</a>
                                <a href="#"><em class="qicon-img"></em>图片</a>
                                <a href="#"><em class="qicon-topic"></em>话题</a>
                            </div>
                            <div class="send-btn"><button class="send">发布</button></div>
                        </div>
                    </div>
                    <!--列表-->
                    <div class="quan-tab mt10">
                        <dl class="fs14 tab-bg2">
                            <dd class="tab-bg2"><span class="tab-bg2">全部动态</span><p class="tab-bg2"><em class="l tab-bg2"></em><i></i><em class="r tab-bg2"></em></p></dd>
                            <dd class="on"><span class="tab-bg">关注的动态</span><p><em class="l tab-bg"></em><i></i><em class="r tab-bg"></em></p></dd>
                            <dd class="tab-bg2"><span class="tab-bg2">我的动态</span><p class="tab-bg2"><em class="l"></em><i></i><em class="r"></em></p></p></dd>
                            <dt class="tab-other tab-bg2"></dt>
                        </dl>
                        <div class="quan-notes"><a href="javascript:void(0);">有5条机构动态，15条新动态，点击查看</a></div>
                    </div>
                    <div class="quan-list" id="quan-list">
                        <div class="quan-list-item q-istop">
                            <div class="q-feed-detail">
                                <div class="q-userinfo">
                                    <div class="q-userface"><img src="/assets_v2/img/teac_p.jpg" alt=""></div>
                                    <span class="fs14 q-username">月11111月月</span>
                                    <i class="q-icon-approve">官方</i>
                                    <a class="q-ta"></a>
                                    <p class="q-ta-menulist">
                                        <a href="javascrpt:(0)" class="cYellow">关注</a>
                                        <a href="javascrpt:(0)" >不看TA的动态</a>
                                    </p>
                                </div>
                                <div class="q-feed-text fs14">
                                couldnt be there to witness your last gam<a href="#" class="dBlue"><i class="q-icon-href"></i>网页链接</a>e but no way to miss out when everyone around me has been spamming msgs of you[偷笑] heard you did well and got them W. GJ[酷] already missing you. but all good. life moves on and the black mamba spirit lives on.
                                Salute.<a href="#" class="dBlue">查看详细</a>
                                </div>
                                <div class="q-media-box">
                                    <ul class="q-mb-img" id="gallery">
                                        <li><img src="/assets_v2/img/i1.jpg"</li>
                                        <li><img src="/assets_v2/img/i1.jpg"</li>
                                        <li><img src="/assets_v2/img/i1.jpg"</li>
                                        <li><img src="/assets_v2/img/i1.jpg"</li>
                                        <li><img src="/assets_v2/img/i1.jpg"</li>
                                        <li><img src="/assets_v2/img/i1.jpg"</li>
                                        <li><img src="/assets_v2/img/i1.jpg"</li>
                                        <li><img src="/assets_v2/img/i1.jpg"</li>
                                        <li><img src="/assets_v2/img/i1.jpg"</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="q-feed-handle"><span class="cGray">#动物的成长</span> 20分钟前 来自我的老师  523浏览
                            <a href="#" class="q-praiseicon"><i></i>0</a><a href="#" class="q-commenticon"><i></i>0</a>
                            </div>
                            <div class="q-istop-note">
                                <a href="javascript:void(0);">点击查看其他3条机构新动态<i class="q-istop-fold"></i></a>
                            </div>
                        </div>
                        <div class="quan-list-item">
                            <div class="q-feed-detail">
                                <div class="q-userinfo">
                                    <div class="q-userface"><img src="/assets_v2/img/teac_p.jpg" alt=""></div>
                                    <span class="fs14 q-username">月11111月月</span>
                                    <i class="level-icon2"></i>
                                    <a class="q-ta"></a>
                                    <p class="q-ta-menulist">
                                        <a href="javascrpt:(0)" class="cYellow">关注</a>
                                        <a href="javascrpt:(0)" >不看TA的动态</a>
                                    </p>
                                </div>
                                <div class="q-feed-text fs14">
                                couldnt be there to witness your last gam<a href="#" class="dBlue"><i class="q-icon-href"></i>网页链接</a>e but no way to miss out when everyone around me has been spamming msgs of you[偷笑] heard you did well and got them W. GJ[酷] already missing you. but all good. life moves on and the black mamba spirit lives on.
                                Salute.<a href="#" class="dBlue">查看详细</a>
                                </div>
                                <div class="q-media-box">
                                    <ul class="q-mb-img q-mb-fourimg" id="gallery">
                                        <li><img src="/assets_v2/img/i1.jpg"</li>
                                        <li><img src="/assets_v2/img/i1.jpg"</li>
                                        <li><img src="/assets_v2/img/i1.jpg"</li>
                                        <li><img src="/assets_v2/img/i1.jpg"</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="q-feed-handle">
                                <span class="cGray">#动物的成长</span> 20分钟前 来自我的老师  523浏览
                                <a href="#" class="q-praiseicon"><i></i>10</a><a href="#" class="q-commenticon"><i></i>30</a>
                            </div>
                            <div class="q-commentlist">
                                <div class="q-feed-pulish">
                                    <div class="q-face"><img src="/assets_v2/img/teac_p.jpg" alt=""></div>
                                    <div class="q-pulish">
                                        <input>
                                        <a href="#" class="q-btn-a q-btn-dis">评论</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="quan-list-item">
                            <div class="q-feed-detail">
                                <div class="q-userinfo">
                                    <div class="q-userface"><img src="/assets_v2/img/teac_p.jpg" alt=""></div>
                                    <span class="fs14 q-username">月11111月月</span>
                                    <i class="q-icon-tutor">教师</i>
                                    <a class="q-ta"></a>
                                    <p class="q-ta-menulist" style="display:none">
                                        <a href="javascrpt:(0)" class="cYellow">关注</a>
                                        <a href="javascrpt:(0)" >不看TA的动态</a>
                                    </p>
                                </div>
                                <div class="q-feed-text fs14">
                                couldnt be there to witness your last gam<a href="#" class="dBlue"><i class="q-icon-href"></i>网页链接</a>e but no way to miss out when everyone around me has been spamming msgs of you[偷笑] heard you did well and got them W. GJ[酷] already missing you. but all good. life moves on and the black mamba spirit lives on.
                                Salute.<a href="#" class="dBlue">点击展开<i class="q-icon-fold"></i></a>
                                </div>
                                <div class="q-media-box">
                                    <ul class="q-mb-img q-mb-bigimg" id="gallery">
                                        <li><img src="/assets_v2/img/iph_pic.jpg"</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="q-feed-handle">
                                <span class="cGray">#动物的成长</span> 20分钟前 来自我的老师  523浏览
                                <a href="#" class="q-praiseicon"><i></i>10</a><a href="#" class="q-commenticon"><i></i>30</a>
                            </div>
                            <div class="q-commentlist">
                                <div class="q-feed-pulish">
                                    <div class="q-face col-md-1"><img src="/assets_v2/img/teac_p.jpg" alt=""></div>
                                    <div class="q-pulish col-md-19">
                                        <input>
                                        <a href="#" class="q-btn-a q-btn-dis">评论</a>
                                    </div>
                                </div>
                                <p class="q-c-num fs14 col-md-19"><i class="q-praised"></i><a href="#" class="dBlue">数据库的</a>、<a href="#" class="dBlue">噶暗杀</a>、<a href="#" class="dBlue">阿Sa</a>等11人</p>
                                <dl class="q-c-list col-md-19">
                                    <dd>
                                        <a href="#" class="q-face col-md-1"><img src="/assets_v2/img/teac_p.jpg" alt=""></a>
                                        <div class="q-msg col-md-19">
                                            <p class="q-msg-txt"><a href="#" class="dBlue">数据库的</a>:哈哈，好喜欢的小动物奥数收数！</p>
                                            <p><span class="cGray">3分钟前</span><a href="#" class="c-fr">回复</a></p>
                                        </div>
                                    </dd>
                                    <dd>
                                        <a href="#" class="q-face col-md-1"><img src="/assets_v2/img/teac_p.jpg" alt=""></a>
                                        <div class="q-msg col-md-19">
                                            <p class="q-msg-txt"><a href="#" class="dBlue">数据库的</a>:哈哈，好喜欢的小动物奥数收数！</p>
                                            <p><span class="cGray">3分钟前</span><a href="#" class="c-fr">回复</a></p>
                                        </div>
                                    </dd>
                                    <dd>
                                        <a href="#" class="q-face col-md-1"><img src="/assets_v2/img/teac_p.jpg" alt=""></a>
                                        <div class="q-msg col-md-19">
                                            <p class="q-msg-txt"><a href="#" class="dBlue">数据库的</a>:哈哈，好喜欢的小动物奥数收数！</p>
                                            <p><span class="cGray">3分钟前</span><a href="#" class="c-fr">回复</a></p>
                                        </div>
                                    </dd>
                                    <dd>
                                        <a href="#" class="q-face col-md-1"><img src="/assets_v2/img/teac_p.jpg" alt=""></a>
                                        <div class="q-msg col-md-19">
                                            <p class="q-msg-txt"><a href="#" class="dBlue">数据库的</a>:哈哈，好喜欢的小动物奥数收数！</p>
                                            <p><span class="cGray">3分钟前</span><a href="#" class="c-fr">回复</a><a href="#" class="c-fr mr10">删除</a></p>
                                        </div>
                                    </dd>
                                    <dd class="tac"><a href="#" class="dBlue fs14">查看更多>></a></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="quan-list-item">
                            <div class="q-feed-detail">
                                <div class="q-userinfo">
                                    <div class="q-userface"><img src="/assets_v2/img/teac_p.jpg" alt=""></div>
                                    <span class="fs14 q-username">月11111月月</span>
                                    <i class="q-icon-tutor">教师</i>
                                    <a class="q-ta"></a>
                                    <p class="q-ta-menulist" style="display:none">
                                        <a href="javascrpt:(0)" class="cYellow">关注</a>
                                        <a href="javascrpt:(0)" >不看TA的动态</a>
                                    </p>
                                </div>
                                <div class="q-feed-text fs14">
                                couldnt be there to witness your last gam<a href="#" class="dBlue"><i class="q-icon-href"></i>网页链接</a>e but no way to miss out when everyone around me has been spamming msgs of you[偷笑] heard you did well and got them W. GJ[酷] already missing you. but all good. life moves on and the black mamba spirit lives on.
                                Salute.<a href="#" class="dBlue">查看详细</a>
                                </div>
                                <div class="q-media-box">
                                    <ul class="q-mb-img q-mb-bigimg" id="gallery">
                                        <li><img src="/assets_v2/img/iph_pic.jpg"</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="q-feed-handle">
                                <span class="cGray">#动物的成长</span> 20分钟前 来自我的老师  523浏览
                                <a href="#" class="q-praiseicon"><i></i>10</a><a href="#" class="q-commenticon"><i></i>30</a>
                            </div>
                            <div class="q-commentlist q-dlist">
                                <p class="q-c-num fs14"><i class="q-praised"></i><a href="#" class="dBlue">数据库的</a>、<a href="#" class="dBlue">噶暗杀</a>、<a href="#" class="dBlue">阿Sa</a>等11人</p>
                            <dl class="q-c-list">
                                <dd>
                                    <p><a href="#" class="dBlue">数据库的</a>:哈哈，好喜欢的小动物奥数收数！</p>
                                </dd>
                                <dd>
                                    <p><a href="#" class="dBlue">数据库的</a>:哈哈，好喜欢的小动物奥数收数！</p>
                                </dd>
                                <dd>
                                    <p><a href="#" class="dBlue">数据库的</a>:哈哈，好喜欢的小动物奥数收数！</p>
                                </dd>
                                <dd>
                                    <p><a href="#" class="dBlue">数据库的</a>:哈哈，好喜欢的小动物奥数收数！</p>
                                </dd>
                                <dd>
                                    <p><a href="#" class="dBlue">数据库的</a>:哈哈，好喜欢的小动物奥数收数！</p>
                                </dd>
                                <dd class="tac"><a href="#" class="dBlue fs14">查看更多>></a></dd>
                            </dl>
                            </div>
                        </div>
                    </div>
                    <!--/列表-->
                </div>
        </div>
    </div>
</section>
<!-- /content -->
<script>
$(function(){
    $("#q_input").keydown(function(event){
        var keysenLen = 300-$("#q_input").html().length ;
        if (keysenLen > 0){
            $("#q_input_num span").text(keysenLen);
        }
    });
    $('#quan-list').on('click','.q-ta',function(){
        $(this).siblings('.q-ta-menulist').show();
        $('#q-layerbg').show();
    });
    $('#q-layerbg').click(function(){
        $('#quan-list .q-ta-menulist').hide();
        $(this).hide();
    })

    $('#gallery img').fsgallery();
})
</script>
<div class="q-layer-bg" id="q-layerbg"></div>
<div class="q-layer-pop">
    <div class="q-layer-content">
        <a href="#" class="q-layer-close"></a>
        <div>fdsfs</div>
        <em class="q-layer-arrow"></em>
    </div>
</div>
{part "/site.main.footer"}
</body>
</html>
