<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{if !empty($info->real_name)}{$info->real_name}{/if} - 主讲课程 - {part '/site.main.orgname'} - 云课 - 专业的在线学习平台</title>
<meta name="title" content="{part '/site.main.orgname'} -  教师首页 - 云课 - 专业的在线学习平台">
<meta name="keywords" content="{part '/site.main.orgname'} - 云课 - Yunke K12 在线学习 直播 云课网 在线教育">
<meta name="description" content="{part '/site.main.orgname'} -  云课(Yunke.com) - 专业的K12在线学习平台。以直播授课为核心，打破时间与空间的界限，为教师高效教学、学生高效学习、家长高效管控及机构高效管理提供完美解决方案">
{part "/site.main.header"}
    <link rel="stylesheet" type="text/css" href="/assets/js/fs_forse/css/fs_gallery.css">
    <script type="text/javascript" src="/assets/js/fs_forse/js/fs_forse.js"></script>
</head>
<body>
{part "/site.main.nav"}
<!-- content -->
<section class="pd40">
    <div class="container">
        <div class="row">
            <div class="quan-left col-md-16">
                <div class="quan-list" id="quan-list">
                    <div class="quan-list-item">
                        <div class="q-feed-detail">
                            <div class="q-userinfo">
                                <div class="q-userface"><img src="/assets_v2/img/teac_p.jpg" alt=""></div>
                                <span class="fs14 q-username">月11111月月</span>
                                <i class="q-icon-approve">官方</i>
                                <a class="q-ta"></a>
                                <p class="q-ta-menulist">
                                    <a href="javascrpt:(0)" class="cYellow">关注</a>
                                    <a href="javascrpt:(0)">不看TA的动态</a>
                                </p>
                            </div>
                            <div class="q-feed-text fs14">
                            couldnt be there to witness your last gam<a href="#" class="sBlue"><i class="q-icon-href"></i>网页链接</a>e but no way to miss out when everyone around me has been spamming msgs of you[偷笑] heard you did well and got them W. GJ[酷] already missing you. but all good. life moves on and the black mamba spirit lives on.Salute.<a href="#" class="sBlue">查看详细</a>
                            </div>
                            <div class="q-media-box" id="gallery">
                                <ul class="q-mb-img q-mb-fourimg">
                                    <li><img src="/assets_v2/img/i1.jpg"></li>
                                    <li><img src="/assets_v2/img/i1.jpg"></li>
                                    <li><img src="/assets_v2/img/i1.jpg"></li>
                                    <li><img src="/assets_v2/img/i1.jpg"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="q-feed-handle"><span class="cGray">#动物的成长</span> 20分钟前 来自我的老师  523浏览
                            <a href="#" class="q-praiseicon"><i></i>0</a><a href="#" class="q-commenticon"><i></i>0</a>
                        </div>
                        <div class="q-commentlist">
                                <div class="q-feed-pulish">
                                    <div class="q-face"><img src="/assets_v2/img/teac_p.jpg" alt=""></div>
                                    <div class="q-pulish col-md-19">
                                        <input>
                                        <a href="#" class="q-btn-a q-btn-dis">评论</a>
                                    </div>
                                </div>
                                <p class="q-c-num fs14 col-md-19"><i class="q-praised"></i><a href="#" class="dBlue">数据库的</a>、<a href="#" class="dBlue">噶暗杀</a>、<a href="#" class="dBlue">阿Sa</a>等11人</p>
                                <dl class="q-c-list col-md-19">
                                    <dd>
                                        <a href="#" class="q-face col-md-1"><img src="/assets_v2/img/teac_p.jpg" alt=""></a>
                                        <div class="q-msg col-md-19">
                                            <p class="q-msg-txt col-md-19 pd0"><a href="#" class="dBlue">数据库的</a>:哈哈，好喜欢的小动物奥数收数！</p><span class="q-floor">1楼</span>
                                            <p class="col-md-19 pd0"><span class="cGray">3分钟前</span><a href="#" class="c-fr">回复</a></p>
                                        </div>
                                    </dd>
                                    <dd>
                                        <a href="#" class="q-face col-md-1"><img src="/assets_v2/img/teac_p.jpg" alt=""></a>
                                        <div class="q-msg col-md-19">
                                            <p class="q-msg-txt col-md-19 pd0"><a href="#" class="dBlue">数据库的</a>:哈哈，好喜欢的小动物奥数收数！</p><span class="q-floor">1楼</span>
                                            <p class="col-md-19 pd0"><span class="cGray">3分钟前</span><a href="#" class="c-fr">回复</a></p>
                                        </div>
                                    </dd>
                                    <dd>
                                        <a href="#" class="q-face col-md-1"><img src="/assets_v2/img/teac_p.jpg" alt=""></a>
                                        <div class="q-msg col-md-19">
                                            <p class="q-msg-txt col-md-19 pd0"><a href="#" class="dBlue">数据库的</a>:哈哈，好喜欢的小动物奥数收数！</p><span class="q-floor">1楼</span>
                                            <p class="col-md-19 pd0"><span class="cGray">3分钟前</span><a href="#" class="c-fr">回复</a></p>
                                        </div>
                                    </dd>
                                    <dd>
                                        <a href="#" class="q-face col-md-1"><img src="/assets_v2/img/teac_p.jpg" alt=""></a>
                                        <div class="q-msg col-md-19">
                                            <p class="q-msg-txt col-md-19 pd0"><a href="#" class="dBlue">数据库的</a>:哈哈，好喜欢的小动物奥数收数！</p><span class="q-floor">1楼</span>
                                            <p class="col-md-19 pd0"><span class="cGray">3分钟前</span><a href="#" class="c-fr">回复</a><a href="#" class="c-fr mr10">删除</a></p>
                                        </div>
                                    </dd>
                                    <dd class="tac"><a href="#" class="dBlue fs14">查看更多>></a></dd>
                                </dl>
                            </div>
                    </div>
                </div>
            </div>
            <div class="quan-right col-md-4">
                <div class="quan-userinfo mb25">
                    <div class="user-face"><img src="/assets_v2/img/222.png"></div>
                    <p class="user-name fs14 fb">用户名 <a href="#" class="level-icon2"></a></p>
                </div>
                <div class="q-fanslist">
                    <p class="fs14 pd10">为他点赞 <span class="c-fr cGray fs12">已赞13</span></p>
                    <a href="#" class="q-praise-a"><i></i>赞</a>
                    <div class="q-fans">
                        <a class="col-md-5">
                            <p class="q-fansface"><img src="/assets_v2/img/teac_p.jpg"></p>
                            <p class="q-fansname">xxxxxxxxxxxxxx</p>
                        </a>
                        <a class="col-md-5">
                            <p class="q-fansface"><img src="/assets_v2/img/teac_p.jpg"></p>
                            <p class="q-fansname">xxxxxxxxxxxxxx</p>
                        </a>
                        <a class="col-md-5">
                            <p class="q-fansface"><img src="/assets_v2/img/teac_p.jpg"></p>
                            <p class="q-fansname">xxxxxxxxxxxxxx</p>
                        </a>
                        <a class="col-md-5">
                            <p class="q-fansface"><img src="/assets_v2/img/teac_p.jpg"></p>
                            <p class="q-fansname">xxxxxxxxxxxxxx</p>
                        </a>
                        <a class="col-md-5">
                            <p class="q-fansface"><img src="/assets_v2/img/teac_p.jpg"></p>
                            <p class="q-fansname">xxxxxxxxxxxxxx</p>
                        </a>
                        <a class="col-md-5">
                            <p class="q-fansface"><img src="/assets_v2/img/teac_p.jpg"></p>
                            <p class="q-fansname">xxxxxxxxxxxxxx</p>
                        </a>
                        <a class="col-md-5">
                            <p class="q-fansface"><img src="/assets_v2/img/teac_p.jpg"></p>
                            <p class="q-fansname">xxxxxxxxxxxxxx</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="q-global-login">
    <div class="container">
        <div class="row">
            <div class="col-md-16">
                <em class="q-pet-icon"></em>
            <!--未登录-->
                <!--a href="#" class="q-login-a c-fr col-md-2 mt10">登录</a>
                <span class="q-g-logintips col-md-8">登录就可回复哦!</span-->
            <!--登录后-->
                <a href="#" class="q-login-a c-fr col-md-2 mt10">发表评论</a>
                <div class="q-g-pulish col-md-14">
                    <div contenteditable="true" class="q-g-input col-md-18"></div>
                    <em class="qicon-face"></em>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /content -->
<script>
$(function(){
    var global_h=$(window).height();
    var doc_h=$(document).height();
    if(doc_h < global_h){
        $('.q-global-login').css('position','relative');
    }else{
        window.onscroll=function(){
            var h_diff=doc_h-$(window).scrollTop()-global_h;
            if(h_diff > 0){
                $('.q-global-login').css('position','fixed')
            } else {
                $('.q-global-login').css('position','relative')
            }
        }
    }
    
    $('#quan-list').on('click','.q-ta',function(){
        $(this).siblings('.q-ta-menulist').show();
        $('#q-layerbg').show();
    });
    $('#q-layerbg').click(function(){
        $('#quan-list .q-ta-menulist').hide();
        $(this).hide();
    })
    $('#gallery img').fsgallery();
})
</script>
<div class="q-layer-bg" id="q-layerbg"></div>
{part "/site.main.footer"}
</body>
</html>
