<!DOCTYPE html>
<html>
<head>
{if !empty($courseInfo)}
<title>{part '/site.main.orgname'} - 购买课程</title>
{elseif !empty($memberInfo)}
<title>{part '/site.main.orgname'} - 开通会员</title>
{/if}
<meta name="title" content="{part '/site.main.orgname'} - 课程详情 - 云课 - 专业的在线学习平台">
<meta name="keywords" content="{part '/site.main.orgname'} - 云课 - Yunke K12 在线学习 直播 云课网 在线教育">
<meta name="description" content="{part '/site.main.orgname'} -  云课(Yunke.com) -专业的K12在线学习平台。以直播授课为核心，打破时间与空间的界限，为教师高效教学、学生高效学习、家长高效管控及机构高效管理提供完美解决方案">
{part "/site.main.header"}
</head>
<style>
.auto{ margin: 0 auto;position: relative;border:2px solid #FFA81E !important; }
.auto .dui{ position: absolute;top:0;right:0; display:block !important;}
.disa .x_btn_reg2{ background: #ffa81e;}
.btn_yellow_5:hover,.btn_gray_2:hover{ color:#fff;}
</style>
<body class="bgf7">
{part "/site.main.nav"}
<section class="pd40" id="open-vip">
	<div class="container">
		<div class="row">
        <!-- 第一步 -->
			{if !empty($memberInfo)}
            <div class="open-vip member-pay-stepOne">
                <div class="vip-intro mt30">
                    <div class="vip-intro-pic col-md-4">
						<img src="{utility_cdn::img('/assets_v2/img/member-order.jpg')}" alt="">
					</div>
                    <div class="vip-intro-txt col-md-16">
                        <p class="fs16">{$memberInfo['title']}</p>
                        <p class="vip-intro-txt2 fs14">
							<span class="cGray">{$memberInfo['desc']}</span>
							<a href="/course.list?ms={$memberInfo['setId']}" class="cYellow">查看课程范围</a>
						</p>
                    </div>
                </div>
                <ul class="vip-class mt30" id="vip-class">
                   {foreach $memberInfo['type'] as $key=>$val}
                    <li class="col-md-5" date-tip="{$val['day']}" date-price="{$key}" date-memberprice={$val['price']}>
                        <p>{$val['price']}元/{$val['day']}天</p>
                    </li>
					{/foreach}
                </ul>
                <p class="fs14 cDarkgray mt30 c-fl">
					 {'开通后，会员立即生效，有效期至'|tr:'course.info'}
					<span class="cYellow memberDate-txtDate" data-time={$memberInfo['time']}>{$memberInfo['time']}</span>
				</p>
                <p class="tec col-xs-20 mt30 mb30">
					<button class="btn fs16 col-md-3 request-pay-stepOne">确认开通</button>
				</p>
            </div>
			{/if}
        <!-- /第一步 -->
        <!-- 第二步 -->
            <div class="open-vip member-pay-stepTwo">
            <!-- 订单信息 -->
                <div class="col-sm-20 bor1px bg1 lh22 fs14 pd10 mb20 hidden-xs">
                    <div class="col-sm-17">课程信息</div>
                    <div class="col-sm-3 ter">价格</div>
                </div>
                <div class="clearfix col-sm-20 pd0">
                    <div class="col-sm-3 pdl0 col-xs-20">
                        <img src="../img/1.png" alt="" width="100%">
                    </div>

                    <div class="col-sm-14 pdl0 col-xs-20">
                        <h1 class="fs16 new-pay-title">
                            <a target="_blank" href="/course.info.show/258">数学尊享会员</a>
                        </h1>
                        <p class="mt20 cDarkgray info-buy-teac">有效期30天</p>
                        <div class="fl"></div>
                    </div>
                    <div class="fs16 col-sm-3 tec mt30 ter">
                        <strong class="fwn fs18 cRed lh22">¥100</strong>
                    </div>
                </div>
                <!-- 优惠码 -->
                <div class="col-md-20 pd0 mt20 mb20">
                    <div class="col-xs-20 col-sm-20 bgf7  pdt15 pdb10">
                        <div class="col-sm-20 fs14">
                            <div class="col-sm-3 cDarkgray tel">
                                <label>
                                    <input type="checkbox" onclick="$('#discount_code').toggle();"> 使用优惠码
                                </label>
                            </div>
                            <div class="col-sm-17"></div>
                        </div>
                        <form id="discount_code" style="display: none;" class="lhh36" method="POST" action="">
                            <span class="col-xs-8 col-sm-3 fs14 cDarkgray ter pdr0">请输入优惠码：</span>
                                <input onkeyup="this.value=this.value.replace(/[%&amp;'#￥%……^）)>》‘;'：《<(*（,;=?$\x22]/g,'')" class="col-xs-5 new-code-paynum bor1px" type="text" autocomplete="off" maxlength="6" name="discount_code">
                                <input class="col-xs-5 col-sm-2 tec cDarkgray ml10 fs14 new-pay-use-btn" type="submit" value="使用">
                        </form>
                    </div>
                </div>
                <p class="tec col-xs-20 mt30 mb30">
                    <button class="btn fs16 col-md-3 request-pay-stepTwo">提交订单</button>
                </p>
                <!-- 优惠码 -->
            <!-- /订单信息 -->
            </div>
        <!-- /第二步 -->
        <!-- 第三步 -->
            <div class="open-vip member-pay-stepThree">
                <div class="vip-intro mt30 fs14 clearfix member-order-info">
                    <div class="c-fl cDarkgray">订单ID：216554459999887</div>
                    <div class="c-fr">应付金额:<span class="cRed">￥20000</span></div>
                </div>
                <div class="col-md-20 pd0 clearfix mb20 fs14 lh22 mt10">
                    <div class="c-fl">小学五年级奥数精讲班 <span class="ml10 cDarkgray">友友三班</span></div>
                    <div class="c-fr cGray">请于60分钟内完成支付，否则订单将会取消，付款剩余时间：<span class="c-orange">59分55秒</span></div>
                </div>
            <!-- pay -->
                <div class="col-sm-20 pd0">
                    <div class="col-sm-2 cDarkgray fs16 pd0 tel">支付方式：</div>
                    <div class="col-sm-18 tel col-xs-20 pd0">
                        <div tip="用支付宝支付" method="url" class="paymethod new-pay-btn auto">
                            <img style="display: block;" class="mauto" src="http://dev.gn100.com/assets_v2/img/pay_zfb.jpg" alt="" />
                            <div class='dui' style="display:none;">
                                <img src="http://dev.gn100.com/assets/images/duihao.png" alt="">
                            </div>
                        </div>
                        <div tip="用微信支付" method="qrcode" payurl="" class="paymethod new-pay-btn weixin">

                            <div class="bag" style="line-height:0px;">
                                <img style="display: block;" class="mauto" src="http://dev.gn100.com/assets_v2/img/pay_weixin.jpg" alt=""/>
                            </div>
                            <div class='dui' style="display:none;">
                                <img src="http://dev.gn100.com/assets/images/duihao.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 col-xs-14 fltnone mauto mt40 clear">
                    <div class="disa">
                        <a id="buybt" method="" target="_blank" class="col-xs-20 col-md-10 fs16 btn" type="submit" value="去支付" />请选择支付方式</a>
                    </div>
                </div>
            <!-- /pay -->
            </div>
        <!-- /第三步 -->
		</div>
	</div>
</section>

{part "/site.main.footer"}
</body>
</html>
<script type="text/javascript">
$(function() {
	$('#vip-class li').click(function(){
		if($(this).hasClass('select')){
			$(this).removeClass('select');
		}else{
			$(this).addClass('select');
			$(this).siblings().removeClass('select');
		}
		var memberSelectDate = $(this).attr('date-tip');
		var newMemberDate = new Date();
		var stringTime = $('.memberDate-txtDate').attr('data-time');
		var timesTamp = Date.parse(new Date(stringTime))
		var newMemberTime = timesTamp + (memberSelectDate*24*60*60*1000);
			newMemberDate.setTime(newMemberTime);
		var newMemberNowDate = newMemberDate.toLocaleDateString().replace('/','-').replace('/','-');
		$('.request-pay-stepTwo').attr('priceType',$(this).attr('date-price'));
		$('#orderMemberSelectPrice').html($(this).attr('date-memberprice'));
		$('.memberDate-txtDate').html(newMemberNowDate);
		$('.info-buy-teac').html('{'有效期至'|tr:'course.info'}' + newMemberNowDate);
	});
	$('.request-pay-stepOne').click(function() {
		if($('#vip-class li').hasClass('select')) {
			$('.member-pay-stepOne').hide();
			$('.member-pay-stepThree').hide();
			$('.member-pay-stepTwo').show();
		}else {
			layer.msg('{'请选择价格'|tr:'course.info'}');
			return false;
		}
	});
})
</script>
