$main-font-size:12px;
$font-stack:\5fae\8f6f\96c5\9ed1,Arial,"Hiragino Sans GB",Helvetica,sans-serif;
$fs14:14px;

//main color
$main-white-color:#ffffff !default;
$main-black-color:#000000 !default;
$main-yellow-color:#ffa81e !default;

//text color
$text-color:#666 !default;//普通正文文字颜色
$text-strong-color:#333 !default;//突出、强调使用文字
$text-subsidiary-color:#999 !default;//辅助、次要文本颜色
$text-blue-color:#3f82a6 !default;//可点击有链接的文字,hover时候有下划线

//button color
$yellow-button-color:$main-yellow-color #f6a21d !default;
$blue-button-color:#198fee #1786e0 !default;
$gray-button-color:#f5f5f5 #ededed !default;

//border  background color
$border-color:#e8e8e8 !default;//常用描边值 content 内容边框值 左侧菜单边框值等
$gray-background-color:#f7f7f7 !default;//页面统一灰色背景
$common-border-color:#e3e3e3 !default; // 列表栏常用边框值
$common-background-color:#f1f1f1 !default; // 列表栏常用背景色值


//tab color  选项卡选中灰色背景以及边框颜色
$tab-background-color:#eee;
$tab-border-color:#e7e7e7;

//split line color
$horizontal-border-color:#eeeeee !default;
$vertical-border-color:#bebebe !default;