//无内容公共样式
.list-tu{
  position:relative;
  top:70px;
  min-height:442px;
  text-align:center;
  line-height:40px;
  display: none;
  &.show{
    display: block;
  }
  .list-img{
    position:relative;
  }
  .list-book{
    font-size:14px;
    text-align: center;
    span{
      float: none;
      color: $text-color;
    }
    p{
      font-size:12px;
    }
    b{
      color:$text-blue-color;
      font-weight:400;
      cursor:pointer;
    }
  }
}
.jump {
  color: $text-color;
  a {
    color: $text-color;
    &:hover {
      color: $text-blue-color;
    }
  }
}

.noting {
  position: relative;
  text-align: left;
  background: #fff;
  padding: 5%;
  width: 60%;
  margin: 0 auto;
}

.jump {
  text-align: left;
  padding-left: 15%;
}

.topimg {
  width: 50%;
}

.not-find .text {
  position: absolute;
  top: 26%;
  right: 0;
  .topimg {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .noting {
    position: relative;
    text-align: center;
    background: #fff;
    padding: 5%;
    width: 100%;
    margin: 0 auto;
  }
  .jump {
    text-align: center;
    padding-left: 0;
  }
  .topimg {
    width: 100%;
  }
  .not-find .text {
    position: static;
    top: auto;
    right: auto;
  }
}