/* about.main.contact*/
.about-con{
  padding-top: 50px;
  padding-bottom: 200px;
}
.about-con-text{
  margin-top: 35px;
  .ab-header{
    margin-bottom: 42px
  }
}
.contact-text{
  margin-top: 75px;
}
