//主题颜色
$main-theme-color: #ff8135 !default;
$main-strong-theme-color:#f6a21d !default;
$main-subsidiary-theme-color: rgba($main-strong-theme-color,0.82) !default;

//主题文本颜色
$main-theme-text-color :#fe8135 ;
