//主题颜色
$main-theme-color: #294e74 !default;
$main-strong-theme-color: #273e68 !default;
$main-subsidiary-theme-color: rgba($main-strong-theme-color,.9) !default;
$main-strong-theme-color-ie: #273e68\9 !default;
//主题文本颜色
$main-theme-text-color :#fd6132;
