//主题颜色
$main-theme-color: #ff7045 !default;
$main-strong-theme-color: #ff6537 !default;
$main-subsidiary-theme-color: rgba($main-strong-theme-color,0.82) !default;
$main-strong-theme-color-ie: #ff6537\9 !default;
//主题文本颜色
$main-theme-text-color :$main-theme-color;
