<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>联系我们</title>
{part "/site.main.header"}
</head>
<body>
<!-- 添加学校 -->
<section id="add-us-school">
	<ol class="genger-btn fs14 clearfix">
		<li class="curr">
			找不到我的学校
		</li>
		<li>
			学校更名了
		</li>
	</ol>
	<ul class="genger-content bgf fs14 clearfix">
		<li style="display:block;">
			<form action="" method="">
				<dl class="mb10 clearfix">
					<dt class="col-md-3 ter">你的学校</dt>
					<dd class="col-md-9">
						<input type="text" class="add-school-ipt bor1px" />
					</dd>
				</dl>
				<dl class="mb10 clearfix">
					<dt class="col-md-3 ter">阶段</dt>
					<dd class="col-md-9">
						<select class="bor1px add-school-select">
							<option value="1">测试1</option>
							<option value="2">测试2</option>
						</select>	
					</dd>
				</dl>
				<dl class="mb10 clearfix">
					<dt class="col-md-3 ter">所在地区</dt>
					<dd class="col-md-3">
						<select class="bor1px add-school-select">
							<option value="1">测试1</option>
							<option value="2">测试2</option>
						</select>	
					</dd>
					<dd class="col-md-3">
						<select class="bor1px add-school-select">
							<option value="1">测试1</option>
							<option value="2">测试2</option>
						</select>	
					</dd>
					<dd class="col-md-3">
						<select class="bor1px add-school-select">
							<option value="1">测试1</option>
							<option value="2">测试2</option>
						</select>	
					</dd>
				</dl>
				<button class="sub-form-btn btn_yellow_5 col-sm-3">保存</button>
			</form>
		</li>
		<li>
			<dl class="mb10 clearfix">
				<dt class="col-md-4 ter">学校曾用名</dt>
				<dd class="col-md-8">
					<input type="text" class="bor1px add-school-ipt" />
				</dd>
			</dl>
			<dl class="mb10 clearfix">
				<dt class="col-md-4 ter">学校现用名</dt>
				<dd class="col-md-8">
					<input type="text" class="bor1px add-school-ipt" />
				</dd>
			</dl>
			<button class="sub-form-btn btn_yellow_5 col-sm-3">保存</button>
		</li>
	</ul>	
</section>
<!-- /添加学校 -->
</body>
</html>
