/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$org-about-active-name: 'org-about-active';
$org-about-active-x: 140px;
$org-about-active-y: 141px;
$org-about-active-offset-x: -140px;
$org-about-active-offset-y: -141px;
$org-about-active-width: 15px;
$org-about-active-height: 12px;
$org-about-active-total-width: 174px;
$org-about-active-total-height: 172px;
$org-about-active-image: '../image/left.menu.icon.png';
$org-about-active: (140px, 141px, -140px, -141px, 15px, 12px, 174px, 172px, '../image/left.menu.icon.png', 'org-about-active', );
$org-about-name: 'org-about';
$org-about-x: 80px;
$org-about-y: 141px;
$org-about-offset-x: -80px;
$org-about-offset-y: -141px;
$org-about-width: 15px;
$org-about-height: 12px;
$org-about-total-width: 174px;
$org-about-total-height: 172px;
$org-about-image: '../image/left.menu.icon.png';
$org-about: (80px, 141px, -80px, -141px, 15px, 12px, 174px, 172px, '../image/left.menu.icon.png', 'org-about', );
$org-center-active-name: 'org-center-active';
$org-center-active-x: 0px;
$org-center-active-y: 21px;
$org-center-active-offset-x: 0px;
$org-center-active-offset-y: -21px;
$org-center-active-width: 15px;
$org-center-active-height: 15px;
$org-center-active-total-width: 174px;
$org-center-active-total-height: 172px;
$org-center-active-image: '../image/left.menu.icon.png';
$org-center-active: (0px, 21px, 0px, -21px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-center-active', );
$org-center-name: 'org-center';
$org-center-x: 20px;
$org-center-y: 21px;
$org-center-offset-x: -20px;
$org-center-offset-y: -21px;
$org-center-width: 15px;
$org-center-height: 15px;
$org-center-total-width: 174px;
$org-center-total-height: 172px;
$org-center-image: '../image/left.menu.icon.png';
$org-center: (20px, 21px, -20px, -21px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-center', );
$org-collaborate-business-active-name: 'org-collaborate-business-active';
$org-collaborate-business-active-x: 0px;
$org-collaborate-business-active-y: 141px;
$org-collaborate-business-active-offset-x: 0px;
$org-collaborate-business-active-offset-y: -141px;
$org-collaborate-business-active-width: 15px;
$org-collaborate-business-active-height: 14px;
$org-collaborate-business-active-total-width: 174px;
$org-collaborate-business-active-total-height: 172px;
$org-collaborate-business-active-image: '../image/left.menu.icon.png';
$org-collaborate-business-active: (0px, 141px, 0px, -141px, 15px, 14px, 174px, 172px, '../image/left.menu.icon.png', 'org-collaborate-business-active', );
$org-collaborate-business-name: 'org-collaborate-business';
$org-collaborate-business-x: 141px;
$org-collaborate-business-y: 0px;
$org-collaborate-business-offset-x: -141px;
$org-collaborate-business-offset-y: 0px;
$org-collaborate-business-width: 15px;
$org-collaborate-business-height: 14px;
$org-collaborate-business-total-width: 174px;
$org-collaborate-business-total-height: 172px;
$org-collaborate-business-image: '../image/left.menu.icon.png';
$org-collaborate-business: (141px, 0px, -141px, 0px, 15px, 14px, 174px, 172px, '../image/left.menu.icon.png', 'org-collaborate-business', );
$org-collaborate-technical-active-name: 'org-collaborate-technical-active';
$org-collaborate-technical-active-x: 161px;
$org-collaborate-technical-active-y: 101px;
$org-collaborate-technical-active-offset-x: -161px;
$org-collaborate-technical-active-offset-y: -101px;
$org-collaborate-technical-active-width: 9px;
$org-collaborate-technical-active-height: 16px;
$org-collaborate-technical-active-total-width: 174px;
$org-collaborate-technical-active-total-height: 172px;
$org-collaborate-technical-active-image: '../image/left.menu.icon.png';
$org-collaborate-technical-active: (161px, 101px, -161px, -101px, 9px, 16px, 174px, 172px, '../image/left.menu.icon.png', 'org-collaborate-technical-active', );
$org-collaborate-technical-name: 'org-collaborate-technical';
$org-collaborate-technical-x: 161px;
$org-collaborate-technical-y: 122px;
$org-collaborate-technical-offset-x: -161px;
$org-collaborate-technical-offset-y: -122px;
$org-collaborate-technical-width: 9px;
$org-collaborate-technical-height: 16px;
$org-collaborate-technical-total-width: 174px;
$org-collaborate-technical-total-height: 172px;
$org-collaborate-technical-image: '../image/left.menu.icon.png';
$org-collaborate-technical: (161px, 122px, -161px, -122px, 9px, 16px, 174px, 172px, '../image/left.menu.icon.png', 'org-collaborate-technical', );
$org-contact-active-name: 'org-contact-active';
$org-contact-active-x: 141px;
$org-contact-active-y: 116px;
$org-contact-active-offset-x: -141px;
$org-contact-active-offset-y: -116px;
$org-contact-active-width: 15px;
$org-contact-active-height: 14px;
$org-contact-active-total-width: 174px;
$org-contact-active-total-height: 172px;
$org-contact-active-image: '../image/left.menu.icon.png';
$org-contact-active: (141px, 116px, -141px, -116px, 15px, 14px, 174px, 172px, '../image/left.menu.icon.png', 'org-contact-active', );
$org-contact-name: 'org-contact';
$org-contact-x: 141px;
$org-contact-y: 97px;
$org-contact-offset-x: -141px;
$org-contact-offset-y: -97px;
$org-contact-width: 15px;
$org-contact-height: 14px;
$org-contact-total-width: 174px;
$org-contact-total-height: 172px;
$org-contact-image: '../image/left.menu.icon.png';
$org-contact: (141px, 97px, -141px, -97px, 15px, 14px, 174px, 172px, '../image/left.menu.icon.png', 'org-contact', );
$org-course-active-name: 'org-course-active';
$org-course-active-x: 61px;
$org-course-active-y: 20px;
$org-course-active-offset-x: -61px;
$org-course-active-offset-y: -20px;
$org-course-active-width: 15px;
$org-course-active-height: 15px;
$org-course-active-total-width: 174px;
$org-course-active-total-height: 172px;
$org-course-active-image: '../image/left.menu.icon.png';
$org-course-active: (61px, 20px, -61px, -20px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-course-active', );
$org-course-name: 'org-course';
$org-course-x: 61px;
$org-course-y: 40px;
$org-course-offset-x: -61px;
$org-course-offset-y: -40px;
$org-course-width: 15px;
$org-course-height: 15px;
$org-course-total-width: 174px;
$org-course-total-height: 172px;
$org-course-image: '../image/left.menu.icon.png';
$org-course: (61px, 40px, -61px, -40px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-course', );
$org-discount-active-name: 'org-discount-active';
$org-discount-active-x: 0px;
$org-discount-active-y: 61px;
$org-discount-active-offset-x: 0px;
$org-discount-active-offset-y: -61px;
$org-discount-active-width: 15px;
$org-discount-active-height: 15px;
$org-discount-active-total-width: 174px;
$org-discount-active-total-height: 172px;
$org-discount-active-image: '../image/left.menu.icon.png';
$org-discount-active: (0px, 61px, 0px, -61px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-discount-active', );
$org-discount-name: 'org-discount';
$org-discount-x: 20px;
$org-discount-y: 61px;
$org-discount-offset-x: -20px;
$org-discount-offset-y: -61px;
$org-discount-width: 15px;
$org-discount-height: 15px;
$org-discount-total-width: 174px;
$org-discount-total-height: 172px;
$org-discount-image: '../image/left.menu.icon.png';
$org-discount: (20px, 61px, -20px, -61px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-discount', );
$org-info-active-name: 'org-info-active';
$org-info-active-x: 40px;
$org-info-active-y: 61px;
$org-info-active-offset-x: -40px;
$org-info-active-offset-y: -61px;
$org-info-active-width: 15px;
$org-info-active-height: 15px;
$org-info-active-total-width: 174px;
$org-info-active-total-height: 172px;
$org-info-active-image: '../image/left.menu.icon.png';
$org-info-active: (40px, 61px, -40px, -61px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-info-active', );
$org-info-name: 'org-info';
$org-info-x: 60px;
$org-info-y: 61px;
$org-info-offset-x: -60px;
$org-info-offset-y: -61px;
$org-info-width: 15px;
$org-info-height: 15px;
$org-info-total-width: 174px;
$org-info-total-height: 172px;
$org-info-image: '../image/left.menu.icon.png';
$org-info: (60px, 61px, -60px, -61px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-info', );
$org-infobase-active-name: 'org-infobase-active';
$org-infobase-active-x: 0px;
$org-infobase-active-y: 160px;
$org-infobase-active-offset-x: 0px;
$org-infobase-active-offset-y: -160px;
$org-infobase-active-width: 15px;
$org-infobase-active-height: 12px;
$org-infobase-active-total-width: 174px;
$org-infobase-active-total-height: 172px;
$org-infobase-active-image: '../image/left.menu.icon.png';
$org-infobase-active: (0px, 160px, 0px, -160px, 15px, 12px, 174px, 172px, '../image/left.menu.icon.png', 'org-infobase-active', );
$org-infobase-name: 'org-infobase';
$org-infobase-x: 60px;
$org-infobase-y: 141px;
$org-infobase-offset-x: -60px;
$org-infobase-offset-y: -141px;
$org-infobase-width: 15px;
$org-infobase-height: 12px;
$org-infobase-total-width: 174px;
$org-infobase-total-height: 172px;
$org-infobase-image: '../image/left.menu.icon.png';
$org-infobase: (60px, 141px, -60px, -141px, 15px, 12px, 174px, 172px, '../image/left.menu.icon.png', 'org-infobase', );
$org-local-name: 'org-local';
$org-local-x: 161px;
$org-local-y: 80px;
$org-local-offset-x: -161px;
$org-local-offset-y: -80px;
$org-local-width: 12px;
$org-local-height: 16px;
$org-local-total-width: 174px;
$org-local-total-height: 172px;
$org-local-image: '../image/left.menu.icon.png';
$org-local: (161px, 80px, -161px, -80px, 12px, 16px, 174px, 172px, '../image/left.menu.icon.png', 'org-local', );
$org-main-active-name: 'org-main-active';
$org-main-active-x: 81px;
$org-main-active-y: 60px;
$org-main-active-offset-x: -81px;
$org-main-active-offset-y: -60px;
$org-main-active-width: 15px;
$org-main-active-height: 15px;
$org-main-active-total-width: 174px;
$org-main-active-total-height: 172px;
$org-main-active-image: '../image/left.menu.icon.png';
$org-main-active: (81px, 60px, -81px, -60px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-main-active', );
$org-main-name: 'org-main';
$org-main-x: 0px;
$org-main-y: 81px;
$org-main-offset-x: 0px;
$org-main-offset-y: -81px;
$org-main-width: 15px;
$org-main-height: 15px;
$org-main-total-width: 174px;
$org-main-total-height: 172px;
$org-main-image: '../image/left.menu.icon.png';
$org-main: (0px, 81px, 0px, -81px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-main', );
$org-member-active-name: 'org-member-active';
$org-member-active-x: 20px;
$org-member-active-y: 81px;
$org-member-active-offset-x: -20px;
$org-member-active-offset-y: -81px;
$org-member-active-width: 15px;
$org-member-active-height: 15px;
$org-member-active-total-width: 174px;
$org-member-active-total-height: 172px;
$org-member-active-image: '../image/left.menu.icon.png';
$org-member-active: (20px, 81px, -20px, -81px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-member-active', );
$org-member-name: 'org-member';
$org-member-x: 40px;
$org-member-y: 81px;
$org-member-offset-x: -40px;
$org-member-offset-y: -81px;
$org-member-width: 15px;
$org-member-height: 15px;
$org-member-total-width: 174px;
$org-member-total-height: 172px;
$org-member-image: '../image/left.menu.icon.png';
$org-member: (40px, 81px, -40px, -81px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-member', );
$org-message-active-name: 'org-message-active';
$org-message-active-x: 60px;
$org-message-active-y: 81px;
$org-message-active-offset-x: -60px;
$org-message-active-offset-y: -81px;
$org-message-active-width: 15px;
$org-message-active-height: 15px;
$org-message-active-total-width: 174px;
$org-message-active-total-height: 172px;
$org-message-active-image: '../image/left.menu.icon.png';
$org-message-active: (60px, 81px, -60px, -81px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-message-active', );
$org-message-name: 'org-message';
$org-message-x: 80px;
$org-message-y: 81px;
$org-message-offset-x: -80px;
$org-message-offset-y: -81px;
$org-message-width: 15px;
$org-message-height: 15px;
$org-message-total-width: 174px;
$org-message-total-height: 172px;
$org-message-image: '../image/left.menu.icon.png';
$org-message: (80px, 81px, -80px, -81px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-message', );
$org-notice-active-name: 'org-notice-active';
$org-notice-active-x: 101px;
$org-notice-active-y: 0px;
$org-notice-active-offset-x: -101px;
$org-notice-active-offset-y: 0px;
$org-notice-active-width: 15px;
$org-notice-active-height: 15px;
$org-notice-active-total-width: 174px;
$org-notice-active-total-height: 172px;
$org-notice-active-image: '../image/left.menu.icon.png';
$org-notice-active: (101px, 0px, -101px, 0px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-notice-active', );
$org-notice-name: 'org-notice';
$org-notice-x: 101px;
$org-notice-y: 20px;
$org-notice-offset-x: -101px;
$org-notice-offset-y: -20px;
$org-notice-width: 15px;
$org-notice-height: 15px;
$org-notice-total-width: 174px;
$org-notice-total-height: 172px;
$org-notice-image: '../image/left.menu.icon.png';
$org-notice: (101px, 20px, -101px, -20px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-notice', );
$org-order-active-name: 'org-order-active';
$org-order-active-x: 101px;
$org-order-active-y: 40px;
$org-order-active-offset-x: -101px;
$org-order-active-offset-y: -40px;
$org-order-active-width: 15px;
$org-order-active-height: 15px;
$org-order-active-total-width: 174px;
$org-order-active-total-height: 172px;
$org-order-active-image: '../image/left.menu.icon.png';
$org-order-active: (101px, 40px, -101px, -40px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-order-active', );
$org-order-name: 'org-order';
$org-order-x: 101px;
$org-order-y: 60px;
$org-order-offset-x: -101px;
$org-order-offset-y: -60px;
$org-order-width: 15px;
$org-order-height: 15px;
$org-order-total-width: 174px;
$org-order-total-height: 172px;
$org-order-image: '../image/left.menu.icon.png';
$org-order: (101px, 60px, -101px, -60px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-order', );
$org-page-set-active-name: 'org-page-set-active';
$org-page-set-active-x: 101px;
$org-page-set-active-y: 80px;
$org-page-set-active-offset-x: -101px;
$org-page-set-active-offset-y: -80px;
$org-page-set-active-width: 15px;
$org-page-set-active-height: 15px;
$org-page-set-active-total-width: 174px;
$org-page-set-active-total-height: 172px;
$org-page-set-active-image: '../image/left.menu.icon.png';
$org-page-set-active: (101px, 80px, -101px, -80px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-page-set-active', );
$org-page-set-name: 'org-page-set';
$org-page-set-x: 0px;
$org-page-set-y: 101px;
$org-page-set-offset-x: 0px;
$org-page-set-offset-y: -101px;
$org-page-set-width: 15px;
$org-page-set-height: 15px;
$org-page-set-total-width: 174px;
$org-page-set-total-height: 172px;
$org-page-set-image: '../image/left.menu.icon.png';
$org-page-set: (0px, 101px, 0px, -101px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-page-set', );
$org-password-active-name: 'org-password-active';
$org-password-active-x: 20px;
$org-password-active-y: 101px;
$org-password-active-offset-x: -20px;
$org-password-active-offset-y: -101px;
$org-password-active-width: 15px;
$org-password-active-height: 15px;
$org-password-active-total-width: 174px;
$org-password-active-total-height: 172px;
$org-password-active-image: '../image/left.menu.icon.png';
$org-password-active: (20px, 101px, -20px, -101px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-password-active', );
$org-password-name: 'org-password';
$org-password-x: 40px;
$org-password-y: 101px;
$org-password-offset-x: -40px;
$org-password-offset-y: -101px;
$org-password-width: 15px;
$org-password-height: 15px;
$org-password-total-width: 174px;
$org-password-total-height: 172px;
$org-password-image: '../image/left.menu.icon.png';
$org-password: (40px, 101px, -40px, -101px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-password', );
$org-promote-active-name: 'org-promote-active';
$org-promote-active-x: 60px;
$org-promote-active-y: 101px;
$org-promote-active-offset-x: -60px;
$org-promote-active-offset-y: -101px;
$org-promote-active-width: 15px;
$org-promote-active-height: 15px;
$org-promote-active-total-width: 174px;
$org-promote-active-total-height: 172px;
$org-promote-active-image: '../image/left.menu.icon.png';
$org-promote-active: (60px, 101px, -60px, -101px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-promote-active', );
$org-promote-name: 'org-promote';
$org-promote-x: 80px;
$org-promote-y: 101px;
$org-promote-offset-x: -80px;
$org-promote-offset-y: -101px;
$org-promote-width: 15px;
$org-promote-height: 15px;
$org-promote-total-width: 174px;
$org-promote-total-height: 172px;
$org-promote-image: '../image/left.menu.icon.png';
$org-promote: (80px, 101px, -80px, -101px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-promote', );
$org-que-active-name: 'org-que-active';
$org-que-active-x: 100px;
$org-que-active-y: 101px;
$org-que-active-offset-x: -100px;
$org-que-active-offset-y: -101px;
$org-que-active-width: 15px;
$org-que-active-height: 15px;
$org-que-active-total-width: 174px;
$org-que-active-total-height: 172px;
$org-que-active-image: '../image/left.menu.icon.png';
$org-que-active: (100px, 101px, -100px, -101px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-que-active', );
$org-que-name: 'org-que';
$org-que-x: 21px;
$org-que-y: 0px;
$org-que-offset-x: -21px;
$org-que-offset-y: 0px;
$org-que-width: 15px;
$org-que-height: 15px;
$org-que-total-width: 174px;
$org-que-total-height: 172px;
$org-que-image: '../image/left.menu.icon.png';
$org-que: (21px, 0px, -21px, 0px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-que', );
$org-recruit-active-name: 'org-recruit-active';
$org-recruit-active-x: 141px;
$org-recruit-active-y: 58px;
$org-recruit-active-offset-x: -141px;
$org-recruit-active-offset-y: -58px;
$org-recruit-active-width: 14px;
$org-recruit-active-height: 15px;
$org-recruit-active-total-width: 174px;
$org-recruit-active-total-height: 172px;
$org-recruit-active-image: '../image/left.menu.icon.png';
$org-recruit-active: (141px, 58px, -141px, -58px, 14px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-recruit-active', );
$org-recruit-name: 'org-recruit';
$org-recruit-x: 141px;
$org-recruit-y: 38px;
$org-recruit-offset-x: -141px;
$org-recruit-offset-y: -38px;
$org-recruit-width: 14px;
$org-recruit-height: 15px;
$org-recruit-total-width: 174px;
$org-recruit-total-height: 172px;
$org-recruit-image: '../image/left.menu.icon.png';
$org-recruit: (141px, 38px, -141px, -38px, 14px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-recruit', );
$org-service-active-name: 'org-service-active';
$org-service-active-x: 121px;
$org-service-active-y: 60px;
$org-service-active-offset-x: -121px;
$org-service-active-offset-y: -60px;
$org-service-active-width: 15px;
$org-service-active-height: 15px;
$org-service-active-total-width: 174px;
$org-service-active-total-height: 172px;
$org-service-active-image: '../image/left.menu.icon.png';
$org-service-active: (121px, 60px, -121px, -60px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-service-active', );
$org-service-name: 'org-service';
$org-service-x: 121px;
$org-service-y: 80px;
$org-service-offset-x: -121px;
$org-service-offset-y: -80px;
$org-service-width: 15px;
$org-service-height: 15px;
$org-service-total-width: 174px;
$org-service-total-height: 172px;
$org-service-image: '../image/left.menu.icon.png';
$org-service: (121px, 80px, -121px, -80px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-service', );
$org-set-name: 'org-set';
$org-set-x: 0px;
$org-set-y: 0px;
$org-set-offset-x: 0px;
$org-set-offset-y: 0px;
$org-set-width: 16px;
$org-set-height: 16px;
$org-set-total-width: 174px;
$org-set-total-height: 172px;
$org-set-image: '../image/left.menu.icon.png';
$org-set: (0px, 0px, 0px, 0px, 16px, 16px, 174px, 172px, '../image/left.menu.icon.png', 'org-set', );
$org-settle-active-name: 'org-settle-active';
$org-settle-active-x: 0px;
$org-settle-active-y: 121px;
$org-settle-active-offset-x: 0px;
$org-settle-active-offset-y: -121px;
$org-settle-active-width: 15px;
$org-settle-active-height: 15px;
$org-settle-active-total-width: 174px;
$org-settle-active-total-height: 172px;
$org-settle-active-image: '../image/left.menu.icon.png';
$org-settle-active: (0px, 121px, 0px, -121px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-settle-active', );
$org-settle-name: 'org-settle';
$org-settle-x: 20px;
$org-settle-y: 121px;
$org-settle-offset-x: -20px;
$org-settle-offset-y: -121px;
$org-settle-width: 15px;
$org-settle-height: 15px;
$org-settle-total-width: 174px;
$org-settle-total-height: 172px;
$org-settle-image: '../image/left.menu.icon.png';
$org-settle: (20px, 121px, -20px, -121px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-settle', );
$org-stat-active-name: 'org-stat-active';
$org-stat-active-x: 161px;
$org-stat-active-y: 60px;
$org-stat-active-offset-x: -161px;
$org-stat-active-offset-y: -60px;
$org-stat-active-width: 13px;
$org-stat-active-height: 15px;
$org-stat-active-total-width: 174px;
$org-stat-active-total-height: 172px;
$org-stat-active-image: '../image/left.menu.icon.png';
$org-stat-active: (161px, 60px, -161px, -60px, 13px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-stat-active', );
$org-stat-name: 'org-stat';
$org-stat-x: 161px;
$org-stat-y: 40px;
$org-stat-offset-x: -161px;
$org-stat-offset-y: -40px;
$org-stat-width: 13px;
$org-stat-height: 15px;
$org-stat-total-width: 174px;
$org-stat-total-height: 172px;
$org-stat-image: '../image/left.menu.icon.png';
$org-stat: (161px, 40px, -161px, -40px, 13px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-stat', );
$org-student-active-name: 'org-student-active';
$org-student-active-x: 80px;
$org-student-active-y: 121px;
$org-student-active-offset-x: -80px;
$org-student-active-offset-y: -121px;
$org-student-active-width: 15px;
$org-student-active-height: 15px;
$org-student-active-total-width: 174px;
$org-student-active-total-height: 172px;
$org-student-active-image: '../image/left.menu.icon.png';
$org-student-active: (80px, 121px, -80px, -121px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-student-active', );
$org-student-course-active-name: 'org-student-course-active';
$org-student-course-active-x: 141px;
$org-student-course-active-y: 19px;
$org-student-course-active-offset-x: -141px;
$org-student-course-active-offset-y: -19px;
$org-student-course-active-width: 15px;
$org-student-course-active-height: 14px;
$org-student-course-active-total-width: 174px;
$org-student-course-active-total-height: 172px;
$org-student-course-active-image: '../image/left.menu.icon.png';
$org-student-course-active: (141px, 19px, -141px, -19px, 15px, 14px, 174px, 172px, '../image/left.menu.icon.png', 'org-student-course-active', );
$org-student-course-name: 'org-student-course';
$org-student-course-x: 141px;
$org-student-course-y: 78px;
$org-student-course-offset-x: -141px;
$org-student-course-offset-y: -78px;
$org-student-course-width: 15px;
$org-student-course-height: 14px;
$org-student-course-total-width: 174px;
$org-student-course-total-height: 172px;
$org-student-course-image: '../image/left.menu.icon.png';
$org-student-course: (141px, 78px, -141px, -78px, 15px, 14px, 174px, 172px, '../image/left.menu.icon.png', 'org-student-course', );
$org-student-discount-active-name: 'org-student-discount-active';
$org-student-discount-active-x: 40px;
$org-student-discount-active-y: 141px;
$org-student-discount-active-offset-x: -40px;
$org-student-discount-active-offset-y: -141px;
$org-student-discount-active-width: 15px;
$org-student-discount-active-height: 13px;
$org-student-discount-active-total-width: 174px;
$org-student-discount-active-total-height: 172px;
$org-student-discount-active-image: '../image/left.menu.icon.png';
$org-student-discount-active: (40px, 141px, -40px, -141px, 15px, 13px, 174px, 172px, '../image/left.menu.icon.png', 'org-student-discount-active', );
$org-student-discount-name: 'org-student-discount';
$org-student-discount-x: 20px;
$org-student-discount-y: 141px;
$org-student-discount-offset-x: -20px;
$org-student-discount-offset-y: -141px;
$org-student-discount-width: 15px;
$org-student-discount-height: 13px;
$org-student-discount-total-width: 174px;
$org-student-discount-total-height: 172px;
$org-student-discount-image: '../image/left.menu.icon.png';
$org-student-discount: (20px, 141px, -20px, -141px, 15px, 13px, 174px, 172px, '../image/left.menu.icon.png', 'org-student-discount', );
$org-student-fav-active-name: 'org-student-fav-active';
$org-student-fav-active-x: 120px;
$org-student-fav-active-y: 121px;
$org-student-fav-active-offset-x: -120px;
$org-student-fav-active-offset-y: -121px;
$org-student-fav-active-width: 15px;
$org-student-fav-active-height: 15px;
$org-student-fav-active-total-width: 174px;
$org-student-fav-active-total-height: 172px;
$org-student-fav-active-image: '../image/left.menu.icon.png';
$org-student-fav-active: (120px, 121px, -120px, -121px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-student-fav-active', );
$org-student-fav-name: 'org-student-fav';
$org-student-fav-x: 100px;
$org-student-fav-y: 121px;
$org-student-fav-offset-x: -100px;
$org-student-fav-offset-y: -121px;
$org-student-fav-width: 15px;
$org-student-fav-height: 15px;
$org-student-fav-total-width: 174px;
$org-student-fav-total-height: 172px;
$org-student-fav-image: '../image/left.menu.icon.png';
$org-student-fav: (100px, 121px, -100px, -121px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-student-fav', );
$org-student-order-active-name: 'org-student-order-active';
$org-student-order-active-x: 60px;
$org-student-order-active-y: 121px;
$org-student-order-active-offset-x: -60px;
$org-student-order-active-offset-y: -121px;
$org-student-order-active-width: 15px;
$org-student-order-active-height: 15px;
$org-student-order-active-total-width: 174px;
$org-student-order-active-total-height: 172px;
$org-student-order-active-image: '../image/left.menu.icon.png';
$org-student-order-active: (60px, 121px, -60px, -121px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-student-order-active', );
$org-student-order-name: 'org-student-order';
$org-student-order-x: 40px;
$org-student-order-y: 121px;
$org-student-order-offset-x: -40px;
$org-student-order-offset-y: -121px;
$org-student-order-width: 15px;
$org-student-order-height: 15px;
$org-student-order-total-width: 174px;
$org-student-order-total-height: 172px;
$org-student-order-image: '../image/left.menu.icon.png';
$org-student-order: (40px, 121px, -40px, -121px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-student-order', );
$org-student-task-active-name: 'org-student-task-active';
$org-student-task-active-x: 121px;
$org-student-task-active-y: 40px;
$org-student-task-active-offset-x: -121px;
$org-student-task-active-offset-y: -40px;
$org-student-task-active-width: 15px;
$org-student-task-active-height: 15px;
$org-student-task-active-total-width: 174px;
$org-student-task-active-total-height: 172px;
$org-student-task-active-image: '../image/left.menu.icon.png';
$org-student-task-active: (121px, 40px, -121px, -40px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-student-task-active', );
$org-student-task-name: 'org-student-task';
$org-student-task-x: 121px;
$org-student-task-y: 20px;
$org-student-task-offset-x: -121px;
$org-student-task-offset-y: -20px;
$org-student-task-width: 15px;
$org-student-task-height: 15px;
$org-student-task-total-width: 174px;
$org-student-task-total-height: 172px;
$org-student-task-image: '../image/left.menu.icon.png';
$org-student-task: (121px, 20px, -121px, -20px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-student-task', );
$org-student-name: 'org-student';
$org-student-x: 121px;
$org-student-y: 0px;
$org-student-offset-x: -121px;
$org-student-offset-y: 0px;
$org-student-width: 15px;
$org-student-height: 15px;
$org-student-total-width: 174px;
$org-student-total-height: 172px;
$org-student-image: '../image/left.menu.icon.png';
$org-student: (121px, 0px, -121px, 0px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-student', );
$org-teacher-active-name: 'org-teacher-active';
$org-teacher-active-x: 81px;
$org-teacher-active-y: 40px;
$org-teacher-active-offset-x: -81px;
$org-teacher-active-offset-y: -40px;
$org-teacher-active-width: 15px;
$org-teacher-active-height: 15px;
$org-teacher-active-total-width: 174px;
$org-teacher-active-total-height: 172px;
$org-teacher-active-image: '../image/left.menu.icon.png';
$org-teacher-active: (81px, 40px, -81px, -40px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-teacher-active', );
$org-teacher-course-active-name: 'org-teacher-course-active';
$org-teacher-course-active-x: 81px;
$org-teacher-course-active-y: 20px;
$org-teacher-course-active-offset-x: -81px;
$org-teacher-course-active-offset-y: -20px;
$org-teacher-course-active-width: 15px;
$org-teacher-course-active-height: 15px;
$org-teacher-course-active-total-width: 174px;
$org-teacher-course-active-total-height: 172px;
$org-teacher-course-active-image: '../image/left.menu.icon.png';
$org-teacher-course-active: (81px, 20px, -81px, -20px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-teacher-course-active', );
$org-teacher-course-name: 'org-teacher-course';
$org-teacher-course-x: 81px;
$org-teacher-course-y: 0px;
$org-teacher-course-offset-x: -81px;
$org-teacher-course-offset-y: 0px;
$org-teacher-course-width: 15px;
$org-teacher-course-height: 15px;
$org-teacher-course-total-width: 174px;
$org-teacher-course-total-height: 172px;
$org-teacher-course-image: '../image/left.menu.icon.png';
$org-teacher-course: (81px, 0px, -81px, 0px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-teacher-course', );
$org-teacher-help-active-name: 'org-teacher-help-active';
$org-teacher-help-active-x: 100px;
$org-teacher-help-active-y: 141px;
$org-teacher-help-active-offset-x: -100px;
$org-teacher-help-active-offset-y: -141px;
$org-teacher-help-active-width: 15px;
$org-teacher-help-active-height: 12px;
$org-teacher-help-active-total-width: 174px;
$org-teacher-help-active-total-height: 172px;
$org-teacher-help-active-image: '../image/left.menu.icon.png';
$org-teacher-help-active: (100px, 141px, -100px, -141px, 15px, 12px, 174px, 172px, '../image/left.menu.icon.png', 'org-teacher-help-active', );
$org-teacher-help-name: 'org-teacher-help';
$org-teacher-help-x: 120px;
$org-teacher-help-y: 141px;
$org-teacher-help-offset-x: -120px;
$org-teacher-help-offset-y: -141px;
$org-teacher-help-width: 15px;
$org-teacher-help-height: 12px;
$org-teacher-help-total-width: 174px;
$org-teacher-help-total-height: 172px;
$org-teacher-help-image: '../image/left.menu.icon.png';
$org-teacher-help: (120px, 141px, -120px, -141px, 15px, 12px, 174px, 172px, '../image/left.menu.icon.png', 'org-teacher-help', );
$org-teacher-list-active-name: 'org-teacher-list-active';
$org-teacher-list-active-x: 161px;
$org-teacher-list-active-y: 0px;
$org-teacher-list-active-offset-x: -161px;
$org-teacher-list-active-offset-y: 0px;
$org-teacher-list-active-width: 13px;
$org-teacher-list-active-height: 15px;
$org-teacher-list-active-total-width: 174px;
$org-teacher-list-active-total-height: 172px;
$org-teacher-list-active-image: '../image/left.menu.icon.png';
$org-teacher-list-active: (161px, 0px, -161px, 0px, 13px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-teacher-list-active', );
$org-teacher-list-name: 'org-teacher-list';
$org-teacher-list-x: 161px;
$org-teacher-list-y: 20px;
$org-teacher-list-offset-x: -161px;
$org-teacher-list-offset-y: -20px;
$org-teacher-list-width: 13px;
$org-teacher-list-height: 15px;
$org-teacher-list-total-width: 174px;
$org-teacher-list-total-height: 172px;
$org-teacher-list-image: '../image/left.menu.icon.png';
$org-teacher-list: (161px, 20px, -161px, -20px, 13px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-teacher-list', );
$org-teacher-name: 'org-teacher';
$org-teacher-x: 61px;
$org-teacher-y: 0px;
$org-teacher-offset-x: -61px;
$org-teacher-offset-y: 0px;
$org-teacher-width: 15px;
$org-teacher-height: 15px;
$org-teacher-total-width: 174px;
$org-teacher-total-height: 172px;
$org-teacher-image: '../image/left.menu.icon.png';
$org-teacher: (61px, 0px, -61px, 0px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-teacher', );
$org-upload-pic-active-name: 'org-uploadPic-active';
$org-upload-pic-active-x: 40px;
$org-upload-pic-active-y: 41px;
$org-upload-pic-active-offset-x: -40px;
$org-upload-pic-active-offset-y: -41px;
$org-upload-pic-active-width: 15px;
$org-upload-pic-active-height: 15px;
$org-upload-pic-active-total-width: 174px;
$org-upload-pic-active-total-height: 172px;
$org-upload-pic-active-image: '../image/left.menu.icon.png';
$org-upload-pic-active: (40px, 41px, -40px, -41px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-uploadPic-active', );
$org-upload-pic-name: 'org-uploadPic';
$org-upload-pic-x: 20px;
$org-upload-pic-y: 41px;
$org-upload-pic-offset-x: -20px;
$org-upload-pic-offset-y: -41px;
$org-upload-pic-width: 15px;
$org-upload-pic-height: 15px;
$org-upload-pic-total-width: 174px;
$org-upload-pic-total-height: 172px;
$org-upload-pic-image: '../image/left.menu.icon.png';
$org-upload-pic: (20px, 41px, -20px, -41px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-uploadPic', );
$org-vote-active-name: 'org-vote-active';
$org-vote-active-x: 0px;
$org-vote-active-y: 41px;
$org-vote-active-offset-x: 0px;
$org-vote-active-offset-y: -41px;
$org-vote-active-width: 15px;
$org-vote-active-height: 15px;
$org-vote-active-total-width: 174px;
$org-vote-active-total-height: 172px;
$org-vote-active-image: '../image/left.menu.icon.png';
$org-vote-active: (0px, 41px, 0px, -41px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-vote-active', );
$org-vote-name: 'org-vote';
$org-vote-x: 41px;
$org-vote-y: 20px;
$org-vote-offset-x: -41px;
$org-vote-offset-y: -20px;
$org-vote-width: 15px;
$org-vote-height: 15px;
$org-vote-total-width: 174px;
$org-vote-total-height: 172px;
$org-vote-image: '../image/left.menu.icon.png';
$org-vote: (41px, 20px, -41px, -20px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-vote', );
$org-work-list-hover-name: 'org-work-list-hover';
$org-work-list-hover-x: 41px;
$org-work-list-hover-y: 0px;
$org-work-list-hover-offset-x: -41px;
$org-work-list-hover-offset-y: 0px;
$org-work-list-hover-width: 15px;
$org-work-list-hover-height: 15px;
$org-work-list-hover-total-width: 174px;
$org-work-list-hover-total-height: 172px;
$org-work-list-hover-image: '../image/left.menu.icon.png';
$org-work-list-hover: (41px, 0px, -41px, 0px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-work-list-hover', );
$org-work-list-name: 'org-work-list';
$org-work-list-x: 121px;
$org-work-list-y: 100px;
$org-work-list-offset-x: -121px;
$org-work-list-offset-y: -100px;
$org-work-list-width: 15px;
$org-work-list-height: 15px;
$org-work-list-total-width: 174px;
$org-work-list-total-height: 172px;
$org-work-list-image: '../image/left.menu.icon.png';
$org-work-list: (121px, 100px, -121px, -100px, 15px, 15px, 174px, 172px, '../image/left.menu.icon.png', 'org-work-list', );
$spritesheet-width: 174px;
$spritesheet-height: 172px;
$spritesheet-image: '../image/left.menu.icon.png';
$spritesheet-sprites: ($org-about-active, $org-about, $org-center-active, $org-center, $org-collaborate-business-active, $org-collaborate-business, $org-collaborate-technical-active, $org-collaborate-technical, $org-contact-active, $org-contact, $org-course-active, $org-course, $org-discount-active, $org-discount, $org-info-active, $org-info, $org-infobase-active, $org-infobase, $org-local, $org-main-active, $org-main, $org-member-active, $org-member, $org-message-active, $org-message, $org-notice-active, $org-notice, $org-order-active, $org-order, $org-page-set-active, $org-page-set, $org-password-active, $org-password, $org-promote-active, $org-promote, $org-que-active, $org-que, $org-recruit-active, $org-recruit, $org-service-active, $org-service, $org-set, $org-settle-active, $org-settle, $org-stat-active, $org-stat, $org-student-active, $org-student-course-active, $org-student-course, $org-student-discount-active, $org-student-discount, $org-student-fav-active, $org-student-fav, $org-student-order-active, $org-student-order, $org-student-task-active, $org-student-task, $org-student, $org-teacher-active, $org-teacher-course-active, $org-teacher-course, $org-teacher-help-active, $org-teacher-help, $org-teacher-list-active, $org-teacher-list, $org-teacher, $org-upload-pic-active, $org-upload-pic, $org-vote-active, $org-vote, $org-work-list-hover, $org-work-list, );
$spritesheet: (174px, 172px, '../image/left.menu.icon.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
	display:inline-block;
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
