//主题颜色
$theme-color: #198fee;
$strong-theme-color:#0378c0;
$subsidiary-theme-color: rgba($strong-theme-color,0.82);
//主题文本颜色
$theme-text-color:#188eee ;
// border-color
$border-color:#e8e8e8 !default;//常用描边值 content 内容边框值 左侧菜单边框值等
// bg-color
$strong-bg-color:#f7f7f7;
