/*footer*/
.footer {
	background-color: #333;
	padding: 5rem 0 1.8rem;
	.help-items{
		float: left;
		border-right: 1px solid #525252;
		padding: 0;
		display: block;
		margin-right:3.5rem;
		height: 110px;
		&:last-child {
			border-right: none;
		}
	}
	.qr-code{
		text-align:center;line-height:200%;
		float:left
	}
	.qr-code img{
		width:100px;height:100px
	}
}
