<!doctype html>
<html>
    <head>
        <title>高能100 注册</title>
        {part "/site.main.header"}
        <link rel="stylesheet" type="text/css" href="{utility_cdn::css('/assets/css/user.css')}">
        <script src="{utility_cdn::js('/assets/js/user.js')}"></script>
    </head>

<body>
    {part "/site.main.nav"}
    <section>
        <div class='about-bt'>
            <p style="margin-left:20px;">首页><b>企业简介</b></p>
        </div>
    </section> 
    <section>
        <div class='count-box'>
            {part "/about.main.left"}
            <div class='email-count'>
                <div class='Join-box'>
                    <div class='email-bt'>
                        <li></li>
                        <p class='fs16'>加入我们</p>
                    </div>   
                    <div class='Join'>
                        <img src="../img/xiaodd.png">
                        <p class='fs14'>技术</p>
                    </div>  
                </div>
                <div class='Join-text'>
                    <h1 class='fs14'>web前端研发工程师</h1>

                    <div class='Join-zz'>
                        <p>职责：</p>
                        <span>1. 负责产品手机网页和电脑网页的前端开发；</span><br>
                        <span>2. 参与公司产品的设计和讨论。</span>
                    </div>
                </div> 
                <div class='Join-text pd20'>
                    <div class='Join-zz'>
                        <p>要求：</p>
                        <span>1. 负责产品手机网页和电脑网页的前端开发；</span><br>
                        <span>2. 参与公司产品的设计和讨论。</span><br>
                        <span>1. 负责产品手机网页和电脑网页的前端开发；</span><br>
                        <span>2. 参与公司产品的设计和讨论。</span><br>
                        <span>1. 负责产品手机网页和电脑网页的前端开发；</span><br>
                        <span>2. 参与公司产品的设计和讨论。</span><br>
                    </div>
                </div> 
            </div>
        </div>
    </section>
    {part "/site.main.footer"}
</body>
</html>
