<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<title>微信二维码登录接口</title>
	</head>
	<body>
		<h2>微信里扫描以下二维码实现登录</h2>
		<div id="content">
			<img src="{$qrimg;}" />
		</div>
		<script type="text/javascript">
			var ajaxlock = false;
			var ajaxhandle;
			function synclogin(){
				if (!ajaxlock) {
					ajaxlock = true;
					$.post(location.href,{ code:'{$logincode}' },function(json){
						//console.log(json);
						if (json.status) {
							console.log(json.status);
							if (json.status==200) {
								var nick,uid,username,sex,avatar;
								if (json.info && json.info.User){
									uid = json.info.User.Uin;
									nick = json.info.User.NickName;
									username = json.info.User.UserName;
									sex = json.info.User.Sex;
									avatar = json.info.User.HeadImgUrl;
									$('#content').html('<h2>用户信息</h2><ul><li><b>Uid:</b>'+uid
										+'</li><li><b>Nick:</b>'+nick
										+'</li><li><b>username:</b>'+username
										+'</li><li><b>sex:</b>'+(sex==1?'男':'女')
										+'</li><li><b>avatar:</b>'+avatar
									+'</li></ul>');
								}
								alert('login success, welcome '+nick);
								clearInterval(ajaxhandle);
							}
						}
						ajaxlock = false;
					},'json');
				}
			}
			$(function(){
				ajaxhandle = setInterval("synclogin()",5000);
			});
		</script>
	</body>
