<!DOCTYPE html>
<html>
<head>
    <title>用户登录-云课网</title>
    {part "/index.main.header"}
</head>

<body>
{part "/index.main.top"}
{part "/index.main.nav.join"}
<div class="container ">
        <div class="tec xw_wait_c">
            <h2 class="tec">对不起</h2>
            <p class="mt15">服务器连接超时，请重新刷新页面</p>
            <img class="mt40" src="{utility_cdn::img('/assets_v2/img/platform/error502_p.jpg')}" />
            <a class="jg_a" href="https://www.yunke.com/">进入首页</a>
    </div>
</div>
{part "/index.main.footer"}
</body>

</html>
