<!DOCTYPE html>
<html>
<head>
<title>云课 - 在线帮助 - 老师和学生管理 - 专业的在线学习平台</title>
<meta name="title" content="云课 - 在线帮助 - 老师和学生管理 - 专业的在线学习平台">
<meta name="keywords" content="云课 - Yunke K12 在线学习 直播 云课网 在线教育">
<meta name="description" content=" 云课(Yunke.com) -专业的K12在线学习平台。以直播授课为核心，打破时间与空间的界限，为教师高效教学、学生高效学习、家长高效管控及机构高效管理提供完美解决方案">
{part "/index.main.header"}
</head>
<body>
    <!-- header -->
{part "/index.main.top"}
{part "/index.main.nav.help"}
<!-- 列表 -->
<section class="p20">
    <div class="container">
            {part "/index.help.menu"}
            <div class="col-sm-16">
                <div class="help-c">
                    <p class="help-bar fs16 cGray"><span class="icon guide-icon"></span>推广规则</p>
                    <ul class="fs14 cGray2">
                        <li class="col-sm-10"><a href="#1">1、什么是云课推广？</a></li>
                        <li class="col-sm-10"><a href="#2">2、什么是"推广机构"，"分销机构"，"云课推广中心"？</a></li>
                        <li class="col-sm-10"><a href="#3">3、推广机构需要注意些什么问题？</a></li>
                        <li class="col-sm-10"><a href="#4">4、分销机构需要注意些什么问题？</a></li>
                        <li class="col-sm-10"><a href="#5">5、平台会收取费用吗？</a></li>
                    </ul>
                </div>
                <div class="help-item">
                    <ul>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="1">1、.什么是云课推广？</a></p>
                            <div class="help-item-c">
                                <p>云课推广是云课平台推出的课程分销平台，通过云课平台将课程推广机构和课程分销机构联系起来，推广机构提供内容，分销机构提供流量，最终实现资源互补，共同盈利 的目的。</p>
                            </div>
                        </li>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="2">2、什么是“推广机构”，“分销机构”，“云课推广中心”。</a></p>
                            <div class="help-item-c">
				            <p>推广机构是将课程投放在云课推广平台的机构。是课程内容的供应商。分销机构从云课推广平台引入推广课程，并在自己机构进行售卖，是课程内容的分销商。云课推广中心是云课平台下所有机构推广课程的资源池，分销商可以从推广中心引入课程。</p>
                        </li>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="3">3、推广机构需要注意些什么问题？</a></p>
                            <div class="help-item-c">
                                 <p>（1）每个机构推最多可以同时推广50个课程。推广成功的课程将会出现在云课推广中心。 </p>
                                 <p>（2）推广机构在推广付费课时需要输入课程的成本价，成本价需低于课程原价。课程成交后，推广机构需根据设定的推广规则向分销机构支付相应推广费。推广免费的课程不需要支付推广费用。</p>
								 <p>（3）推广机构修改了课程价格或者成本价后，所有分销机构引入的课程推广状态自动变为失效。</p>
							</div>
                        </li>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="4">4、分销机构需要注意些什么问题？</a></p>
                            <div class="help-item-c">
                                <p>（1）分销机构从云课推广中心引入课程成功后，可以将已经引入的课程在机构管理-页面设置-课程模板设置处，通过手动修改的方式将课程展现在首页进行售卖。</p>
								<p>（2）推广机构修改了课程原价或成本价，主动停止推广了课程，删除了推广课程等操作均会导致分销方引入的课程失效，失效后的课程将不能设置到机构首页。</p>
								<p>（3）分销机构最多可以同时引入200个课程。</p>
							</div>
                        </li>
                        <li>
                        <p class="help-bar fs14 cGray"><a name="5">5、平台会收取费用吗？</a></p>
                        <div class="help-item-c">
                            <p>目前云课平台不向机构收取任何手续费，后期可能会根据机构的相关资质收取少量手续费。</p>
                        </div>
						</li>
                    </ul>
                </div>
        </div>
    </div>
</section>
<!-- footer -->
{part "/index.main.footer"}
</body>
</html>

