<!DOCTYPE html>
<html>

<head>
<title>如何教课 帮助中心—云课网</title>
{part "/index.main.header"}
</head>
<body>
    <!-- header -->
    {part "/index.main.top"}
{part "/index.main.nav.help"}

<!-- 列表 -->
<section class="pd-b40">
    <div class="container">
        <div class="row">
            {part "/index.help.menu"}
            <div class="col-sm-16">
                <div class="help-c">
                    <p class="help-bar fs16 cGray"><span class="icon guide-icon"></span>如何教课</p>
                    <ul class="fs14 cGray2">
                        <li class="col-sm-10"><a href="#jiaoke1">1、我的课程表从哪来？</a></li>
                        <li class="col-sm-10"><a href="#jiaoke2">2、什么是备课？怎么进行备课？</a></li>
                        <li class="col-sm-10"><a href="#jiaoke3">3、如何进行上课？</a></li>
                        <li class="col-sm-10"><a href="#jiaoke4">4、如何进行课堂互动？</a></li>
 
                    </ul>
                </div>
                <div class="help-item">
                    <ul>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="jiaoke1">1、我的课程表从哪来？</a></p>
                            <div class="help-item-c">
			    机构给老师安排课程后，该课程会出现在所安排的老师的课表中。
                            </div>
                        </li>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="jiaoke2">2、什么是备课？怎么进行备课？</a></p>
                            <div class="help-item-c">
                            云课平台为老师提供了在上课前对自己的课程上传学习资料和课堂测验题目的功能，称为备课。
                            <p></br>（1）进入教学管理-我的课程-待上课，点击课程右侧的“我要备课”，进入备课页面。
                            <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/jk3.png')}">
                            <p></br>（2）备课页可上传课程资料、准备课堂练习题。
                            <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/jk5.png')}">
                            </div> 
                        </li>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="jiaoke3">3、如何进行上课？</a></p>
                            <div class="help-item-c">进入教学管理中心-教学管理-如何上课，下载相关软件，并进行配置。
                        </li>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="jiaoke4" >4、如何进行课堂互动？</a></p>
                            <div class="help-item-c">在教师上课页直播过程中进行互动操作。
                            <p></br>（1）个别同学互动：在学生列表中，将鼠标悬浮在需要互动的学生头像上，选择需要的互动项目。
                            <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/jk6.png')}">
                            <p></br>（2）集体互动：测麦、点名和禁言可以进行集体互动。
                            <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/jk2.png')}">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer -->
{part "/index.main.footer"}
</body>
</html>
<script type="text/javascript">
        $(document).ready(function() {
            $('.help-menu>ul>li').click(function() {
                $(this).addClass('curr').siblings().removeClass('curr');
                $('ul',this).show();
                $(this).siblings().find('ul').hide();
            })
        })
</script>
<script type="text/javascript" src="{utility_cdn::js('/assets_v2/js/jquery/jquery.divselect.js')}"></script>
<script>
    $(function() {
        $.divselect(".divselect cite");
    });
</script>
