<!DOCTYPE html>
<html>
<head>
<title>云课 - 在线帮助 - 老师和学生管理 - 专业的在线学习平台</title>
<meta name="title" content="云课 - 在线帮助 - 老师和学生管理 - 专业的在线学习平台">
<meta name="keywords" content="云课 - Yunke K12 在线学习 直播 云课网 在线教育">
<meta name="description" content=" 云课(Yunke.com) -专业的K12在线学习平台。以直播授课为核心，打破时间与空间的界限，为教师高效教学、学生高效学习、家长高效管控及机构高效管理提供完美解决方案">
{part "/index.main.header"}
</head>
<body>
    <!-- header -->
{part "/index.main.top"}
{part "/index.main.nav.help"}
<!-- 列表 -->
<section class="p20">
    <div class="container">
            {part "/index.help.menu"}
            <div class="col-sm-16">
                <div class="help-c">
                    <p class="help-bar fs16 cGray"><span class="icon guide-icon"></span>渠道分销课程</p>
                    <ul class="fs14 cGray2">
                        <li class="col-sm-10"><a href="#1">1、什么是云课线上推广中心？</a></li>
                        <li class="col-sm-10"><a href="#2">2、什么是渠道分销课程？</a></li>
                        <li class="col-sm-10"><a href="#3">3、如何设置渠道分销的课程推广？</a></li>
                        <li class="col-sm-10"><a href="#4">4、线上推广中心的收入和渠道分销课程的推广收入如何计算？</a></li>
                    </ul>
                </div>
                <div class="help-item">
                    <ul>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="1">1、什么是云课线上推广中心？</a></p>
                            <div class="help-item-c">
                                <p>云课线上推广是机构与机构之间的线上分销课程模式，平台收取支付金额的20%手续费。
     机构可以把自己的课程共享在线上推广池中设置成本价，其他机构可以去引入分销课程设置销售价格。推广机构与分销机构各自所得的收入都需扣取网关，平台手续费，税费。</p>
                            </div>
                        </li>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="2">2、什么是渠道分销课程？</a></p>
                            <div class="help-item-c">
				            <p>渠道分销课程是机构与云课线下渠道之间的分销课程模式，平台收取支付金额的20%手续费。云课为机构提供线下的推广渠道，帮助机构扩展生源，拉动销售额。</p>
                        </li>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="3">3、如何设置渠道分销的课程推广？</a></p>
                            <div class="help-item-c">
                                 <p>分销流程：选择需要线下分销的课程，设置成本比例，最高设置40%（机构获得的利润），平台收取机构利润20%手续费，扣取网关以及税费，云课渠道按照课程的原价进行线下分销，根据机构设置的成本比例，扣取网关，剩下的为渠道分销获得的收益。</p>
                            </div>
                        </li>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="4">4、线上推广中心的收入和渠道分销课程的推广收入如何计算？</a></p>
                            <div class="help-item-c">
                                <p>(1)线上推广订单通过在线云课推广课程产生的推广和分销订单。<br>推广方实际收入=成本价 - 推广支付手续费 - 平台使用费20% - 推广税费<br>分销方实际收入=支付金额 - 成本价 - 分销支付手续费 - 平台使用费20% - 分销税费<br><br></p>
                                <p>(2)线下渠道分销订单通过线下渠道分销，推广课程产生的推广订单。<br>推广方实际收入=支付金额*成本比例40%（可设置） - 推广支付手续费 - 平台使用费20% - 推广税费<br>渠道方实际收入=支付金额*分销比例40%（由推广方设置比例调整） - 分销支付手续费 - 平台使用费20%<br><br></p>
                                <p>注：分销比例=100%-平台使用20%-推广成本比例（可设置少于40%）</p>
                            </div>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
</section>
<!-- footer -->
{part "/index.main.footer"}
</body>
</html>
