<!DOCTYPE html>
<html>
<head>
<title>云课 - 在线帮助 - 订单和优惠码管理 - 专业的在线学习平台</title>
<meta name="title" content="云课 - 在线帮助 - 订单和优惠码管理 - 专业的在线学习平台">
<meta name="keywords" content="云课 - Yunke K12 在线学习 直播 云课网 在线教育">
<meta name="description" content=" 云课(Yunke.com) -专业的K12在线学习平台。以直播授课为核心，打破时间与空间的界限，为教师高效教学、学生高效学习、家长高效管控及机构高效管理提供完美解决方案">
{part "/index.main.header"}
</head>
<body>
    <!-- header -->
{part "/index.main.top"}
{part "/index.main.nav.help"}
<!-- 列表 -->
<section class="p20">
    <div class="container">
            {part "/index.help.menu"}
            <div class="col-sm-16">
                <div class="help-c">
                    <p class="help-bar fs16 cGray"><span class="icon guide-icon"></span>订单和优惠码</p>
                    <ul class="fs14 cGray2">
                        <li class="col-sm-10"><a href="#1">1、如何建立优惠券？</a></li>
                        <li class="col-sm-10"><a href="#2">2、如何查看订单？</a></li>
                    </ul>
                </div>
                <div class="help-item">
                    <ul>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="1">1、如何建立优惠券？</a></p>
                            <div class="help-item-c">
                                <p>进入机构管理中的“优惠管理”页面，点击“创建新优惠”，按要求填写优惠信息后点击“创建”，完成优惠券的建立。</p>
                                <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/yhq1.png')}"> 
                            </div>
                        </li>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="2">1、如何查看订单？</a></p>
                            <div class="help-item-c">
                                <p>进入机构管理中的“订单管理”页面，可以查看和搜索所有订单情况</p>
                                <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/ddgl.png')}"> 
                            </div>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
</section>
<!-- footer -->
{part "/index.main.footer"}
</body>
</html>

