<!DOCTYPE html>
<html>
<head>
<title>报名与支付 帮助中心—云课网</title>
{part "/index.main.header"}
</head>
<body>
    {part "/index.main.top"}
    {part "/index.main.nav.help"}
    <!-- header -->
<!-- 列表 -->
<section class="p20">
    <div class="container">
            {part "/index.help.menu"}
            <div class="col-sm-16">
                <div class="help-c">
                    <p class="help-bar fs16 cGray"><span class="icon guide-icon"></span>报名与支付</p>
                    <ul class="fs14 cGray2">
                        <li class="col-sm-10"><a href="#baoming1">1、如何报名课程？</a></li>
                        <li class="col-sm-10"><a href="#baoming2">2、如何进行支付？</a></li>
                        <li class="col-sm-10"><a href="#baoming3">3、如何用手机付款报名课程？</a></li>
                        <li class="col-sm-10"><a href="#baoming4">4、课程报名后可以取消报名吗？</a></li>
                        <li class="col-sm-10"><a href="#baoming5">5、支付遇到问题怎么办？</a></li>
                    </ul>
                </div>
                <div class="help-item">
                    <ul>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="baoming1">1、如何报名课程？</a></p>
                             <div class="help-item-c">
                                <p></br>（1）登陆后，在选定的课程详情页上选择班级，点击“立即报名”。</p>
				<img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/bm1.png')}">
                                <p></br>（2）在弹层中核对课程信息，确认无误则点击“去报名”。免费课即报名成功；付费课进入<a href="#baoming2">支付流程。</p>
                                <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/bm2.png')}">                                                    
                           </div>
                        </li>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="baoming2">2、如何进行支付？</a></p>
                            <div class="help-item-c">
                                报名确定课程信息后进入支付方式选择页面，选择一种付款方式，确认金额后点击“确定”，进入第三方页面进行支付。
                                <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/bm3.png')}">
                                <p></br>（1）支付宝支付：可手机扫码或在网页上登陆支付宝账号付款，完成后点击“支付完成”。
                                <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/bm4.png')}">
                                <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/bm5.png')}">
                                <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/bm6.png')}">
                                <p></br>（2）微信支付扫码完成后，点击“支付完成”。
                                <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/bm7.png')}">
                                <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/bm11.png')}">           
                           </div>
                        </li>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="baoming3" >3、如何用手机付款报名课程？</a></p>
                            <div class="help-item-c">
                            与使用电脑登陆网站报名付款流程相同。
                            </div>
                        </li>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="baoming4" >4、课程报名后可以取消报名吗？</a></p>
                            <div class="help-item-c">
                            <p>请联系该课程的所属机构。
                            </div>
                        </li>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="baoming5" >5、支付遇到问题怎么办？</a></p>
                            <div class="help-item-c">
                            <p>（1）请在个人中心-我的订单中选择支付未成功订单，重新支付。
                            <img  width=866 src="{utility_cdn::img('/assets_v2/help_img/bm12.png')}">
                            <p></br>（2）请联系400-1188-683。
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
</section>
<!-- footer -->
 {part "/index.main.footer"}
</body>
</html>
<script type="text/javascript" src="{utility_cdn::js('/assets_v2/js/jquery/jquery.divselect.js')}"></script>
<script>
    $(function() {
        $.divselect(".divselect cite");
    });
</script>
