<!DOCTYPE html>
<html>
<head>
<title>云课 - 在线帮助 - 专业的在线学习平台</title>
<meta name="title" content="云课 - 在线帮助 - 专业的在线学习平台">
<meta name="keywords" content="云课 - Yunke K12 在线学习 直播 云课网 在线教育">
<meta name="description" content=" 云课(Yunke.com) -专业的K12在线学习平台。以直播授课为核心，打破时间与空间的界限，为教师高效教学、学生高效学习、家长高效管控及机构高效管理提供完美解决方案">
{part "/index.main.header"}
</head>
<body>
    <!-- header -->
    {part "/index.main.top"}
    {part "/index.main.nav.help"}
<!-- 列表 -->
<section class="p20">
    <div class="container">
             {part "/index.help.menu"}
            <div class="col-sm-16">
                <div class="help-c">
                    <p class="help-bar fs16 cGray"><span class="icon guide-icon"></span>上课无法语音说话</p>
                    <ul class="fs14 cGray2">
                        <li class="col-sm-10"><a href="#1">1、为什么上课无法语音说话呢？</a></li>
 
                    </ul>
                </div>
                <div class="help-item">
                    <ul>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="1">1、为什么上课无法语音说话呢？</a></p>
                            <div class="help-item-c">
                                <p>上课中，要得到老师的允许才能发言。如果不能正常发言，请确保以下几件事：</p>
                                 <p>（1）检查外置麦克风是否连接完好，内置麦克风是否使用正常（例如用其他软件语音聊天对方能听见声音）。</p>
                                 <p>（2）“麦克风”设备及音量是打开的。（可以进入电脑桌面右下角声音图标->右键->录音设备->麦克风已启用）。</p>
                                <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/yy1.png')}">
                                <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/yy2.png')}">
                                <p></br>（3）必须勾选“允许”网页使用您的摄像头和麦克风，并“记住”，否则不能语音发言。</p>
                                <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/yy4.png')}">
                                <p></br>( 4 )发言的时候必须按住屏幕上的话筒图标不放。图标边框变绿，说话时话筒上方有声波，即成功。</p>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
</section>
<!-- footer -->
 {part "/index.main.footer"}
</body>
</html>

