<!DOCTYPE html>
<html>
<head>
<title>如何上课 帮助中心—云课网</title>
{part "/index.main.header"}
</head>
<body>
    <!-- header -->
{part "/index.main.top"}
{part "/index.main.nav.help"}
<!-- 列表 -->
<section class="p20">
    <div class="container">
            {part "/index.help.menu"}
            <div class="col-sm-16">
                <div class="help-c">
                    <p class="help-bar fs16 cGray"><span class="icon guide-icon"></span>如何上课</p>
                    <ul class="fs14 cGray2">
                        <li class="col-sm-10"><a href="#shangke1">1、报名后课程怎么上课？</a></li>
                        <li class="col-sm-10"><a href="#shangke2">2、手机和IPAD的可以听课吗？</a></li>
                    </ul>
                </div>
                <div class="help-item">
                    <ul>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="shangke1" >1、报名后课程怎么上课？</a></p>
                            <div class="help-item-c">
                                进入学习管理中心-我的课程-待上课列表中点击课程右侧的“进入课堂”，进入直播页面。
                                <img  width=866 src="{utility_cdn::img('/assets_v2/img/platform/sk1.png')}">
                           </div>
                        </li>
                        <li>
                            <p class="help-bar fs14 cGray"><a name="shangke2" >2、手机和IPAD的可以听课吗？</a></p>
                            <div class="help-item-c">
                            可以。使用QQ浏览器、UC浏览器、chrome浏览器和safari浏览器进入官网登录后即可听课，操作流程与电脑登录网站相同。
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
</section>
<!-- footer -->
 {part "/index.main.footer"}
</body>
</html>
<script type="text/javascript">
$(document).ready(function() {
    $('.help-menu>ul>li').click(function() {
        $(this).addClass('curr').siblings().removeClass('curr');
        $('ul',this).show();
        $(this).siblings().find('ul').hide();
    })
})
</script>
<script type="text/javascript" src="{utility_cdn::js('/assets_v2/js/jquery/jquery.divselect.js')}"></script>
<script>
$(function() {
    $.divselect(".divselect cite");
});
</script>
