<!DOCTYPE html>
<html>
<head>
<title>在线协议-机构入驻</title>
{part "/index.main.header"}
</head>
<body>
<!-- header -->
{part "/index.main.top"}
{part "/index.main.nav.join"}
<section>
    <div class="container">
        <div class="row">
            <div class="join-step col-sm-20 fs16">
                <div class="col-sm-5 step">
                    <p class="blue-bg"></p>
                    <p class="blue-num">1</p>
                    <p class="blue-text">在线协议</p>
                </div>
                <div class="step col-sm-5">
                    <p class="bg"></p>
                    <p class="num">2</p>
                    <p class="text">填写基础资料</p>
                </div>
                <div class="step col-sm-5">
                    <p class="bg"></p>
                    <p class="num">3</p>
                    <p class="text">资质证明</p>
                </div>
                <div class="step col-sm-5">
                    <p class="bg"></p>
                    <p class="num">4</p>
                    <p class="text">系统审核</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="p20">
    <div class="container">
        <div class="row">
            <div class="protocol cGray2">
                <h1 class="fs16">云课网入驻协议</h1>
                <div class="prococol-c">
<p>
    云课直播平台服务协议<br/>
</p>
<p>
    一、服务项目
</p>
<p>
    云课直播平台是北京高能壹佰教育科技有限公司利用服务器及相关软件为用户提供网络教育及收费所需要的相应功能，同时提供相关技术及网络支持服务。
</p>
<p>
    云课直播平台服务的具体内容和收费形式以云课直播平台网站及产品中所具有的功能和收费为准。
</p>
<p>
    二、协议的确认与接受
</p>
<p>
    用户必须完全同意《云课直播平台服务协议》全部条款，方可注册开通云课直播平台服务。用户使用云课直播平台网络服务的行为将视为用户自动签定本协议，并接受本协议全部内容和条款。
</p>
<p>
    三、费用结算方式
</p>
<p>
    用户使用云课直播平台服务在平台上开展收费项目所得金额，按照用户与云课直播平台实际合同约定分成，由云课直播平台定期进行结算，并支付给用户。
</p>
<p>
    云课直播平台会不定期向用户赠送服务项目。用户充分理解所有的赠送服务项目均为云课直播平台在正常服务之外的一次性特别优惠，如本协议解除，会自动扣除相应金额。对于赠送的服务项目，云课直播平台拥有最终的解释权。
</p>
<p>
    四、知识产权
</p>
<p>
    用户利用云课直播平台服务产生的任何作品，包括但不限于图片、音乐、视频的知识产权均归用户和高能壹佰共同所有，高能壹佰有权使用上述作品。
</p>
<p>
    除法律法规另有规定外，未获得权利人的事先授权，用户不得随意使用第三方作品。如果云课直播平台收到任何第三方作品所有人或其合法代表发出的合理通知后，有权移除相应侵权作品。
</p>
<p>
    五、云课直播平台的保证
</p>
<p>
    云课直播平台根据所适用的法律，已经取得签订并履行本协议的相关资质。
</p>
<p>
    云课直播平台签订并履行本协议不会侵犯任何人的知识产权或其他合法权利。如果针对本协议的签订或者履行出现任何第三人指控侵权之情形， 云课直播平台将采取一切必要的措施进行抗辩。
</p>
<p>
    六、用户的保证
</p>
<p>
    用户根据所适用的法律，已经取得签订并履行本协议的相关资质。
</p>
<p>
    用户签订并履行本协议不会侵犯任何人的知识产权或其他合法权利。如果针对本协议的签订或者履行出现任何第三人指控侵权之情形， 用户将采取一切必要的措施进行抗辩。
</p>
<p>
    用户保证在使用云课直播平台网络服务过程中提供的信息不含有任何违反国家有关法律、法规及中华人民共和国承认或加入的国际条约的内容， 包括但不限于危害国家安全、淫秽色情、虚假、侮辱、诽谤、恐吓或骚扰、侵犯他人知识产权、人身权或其他合法权益以及有违 社会公序良俗的内容或指向这些内容的链接。
</p>
<p>
    因用户违反本协议，而导致云课直播平台受到第三方投诉或诉讼，或面临相关主管机关的审查或质询，云课直播平台有权先暂停对用户提供的服务。用户应在收到云课直播平台通知后，应以自己名义出面与第三方协商、应诉或接受相关主管机关审查或质询，并承担所有费用（包括但不限于 诉讼费、律师费、赔偿款），并赔偿因此给云课直播平台造成的全部损失。
</p>
<p>
    如用户违反上述任何条款，云课直播平台有权终止向用户提供服务，并解除本协议，同时保留有进一步追究用户法律责任的权利。
</p>
<p>
    七、保密
</p>
<p>
    在本协议订立前、履行中及终止或解除后，未经协议其他方书面同意，任何一方对本协议履行过程中所知悉的资料、信息、数据负有保密责任。未经一方书面同意，任何一方不得超越本协议履行之目的自行使用，或授权任何其他第三方使用，或向其他第三方泄露。
</p>
<p>
    如对方提出要求，任何一方均应将载有对方保密信息之原件、副本、重制本及节录本按对方要求归还，或予以删除、销毁，并且不得继续使用这些保密信息。
</p>
<p>
    本保密条款具有独立性，不受本协议的终止或解除的影响。
</p>
<p>
    八、协议变更
</p>
<p>
    一方变更通知、通讯地址或者其他联系方式，应自变更之日起3个工作日内，将变更后的地址、联系方式通知另一方，否则变更方应对此造成的一切后果承担责任。
</p>
<p>
    云课直播平台有权随时根据中华人民共和国有关法律、法规的变化、互联网的发展以及公司经营状况和经营策略的调整等情况修改本协议，但不得单方不公平地加大用户的义务。协议条款一旦发生变动，云课直播平台将会在其官方网页上提示有关内容。用户如果不同意所改动的内容，可以在7个工作日内停止接受服务并同时书面通知云课直播平台，对本协议进行解除；如果用户继续接受服务，则视为接受本协议条款的修改。
</p>
<p>
    在本协议有效期内，一方出现上市、被收购、分立、与第三方合并、名称变更等事由，另一方同意出现上述事由的一方可以将其在本协议中的权利和义务转让给相应的权利或义务承受者，但转让方应保证另一方在本协议中的权益不会因此而受到不利影响，否则转让方应承担由此引起的一切法律责任和经济损失。
</p>
<p>
    九、协议解除
</p>
<p>
    如任何一方严重违反本协议，则另一方有权解除本协议。
</p>
<p>
    十、不可抗力
</p>
<p>
    “不可抗力”是指甲乙双方不能合理控制、不可预见或即使预见亦无法避免的事件，该事件妨碍、影响或延误任何一方根据协议履行其全部或部分义务。该事件包括但不限于政府行为、自然灾害、战争、黑客攻击、计算机病毒（如木马程序、蠕虫等）、电信部门技术性调整或任何其它类似事件。
</p>
<p>
    出现不可抗力事件时，受影响方应及时、充分地以邮件或电话方式通知对方，并告知对方该类事件对本协议可能产生的影响，并应当在合理期限（不可抗力事件发生后30日）内提供该等事件的详细信息及由有关组织出具的解释受影响方因此无法履行全部或部分本协议项下义务的相关证明。
</p>
<p>
    由于以上所述不可抗力事件致使协议的部分或全部不能履行或延迟履行，则甲乙双方于彼此间不承担任何违约责任。
</p>
<p>
    十一、争议解决
</p>
<p>
    由本协议产生的一切争议由双方友好协商解决。协商不成的，双方一致同意将争议提交北京仲裁委员会，按其在提起仲裁时现行有效的仲裁规则进行仲裁。仲裁裁决是终局的，协议双方都应执行。仲裁费用由败诉方承担。
</p>
<p>
    本协议 的订立、效力、解释、履行和争议的解决均应适用中华人民共和国法律。
</p>
<p>
    十二、其他
</p>
<p>
    云课直播平台在相关网页上及产品提供的服务说明、价格说明、表格等均为本协议不可分割的一部分，与本协议具有同等法律效力。
</p>
<p>
    任何一方没有行使其权利或者没有就对方的违约行为采取任何行动，不应被视为是对权利的放弃或者对追究违约责任或者义务的放弃。任何一方放弃针对对方的任何权利，或者放弃追究对方的任何过失，不应视为对任何其他权利或者追究任何其他过失的放弃。
</p>
<p>
    无论因何种原因（包括但不限于违反适用的法律法规）导致本协议任何条款完全或部分无效或不具有执行力，不影响本协议任何其他条款的效力、合法和可执行性。
</p>
<p>
    任何一方致另一方的通知，均可通过网站通告、站内邮件或电子邮件发送。
</p>
                    </div>
                    <div class="checkbox fs14"><input type="checkbox" id="checkbox"><label for="checkbox"> 已完整阅读入驻协议，并同意相关条款</label></div>
                    <div class="checkbox fs16"><button class="btn col-sm-3 blue-btn" id="next">下一步</button></div>
                </div>
            </div>
    </div>
</section>
<!-- footer -->
{part '/index.main.footer'}
</body>
<script type="text/javascript">
$(function  () {
    $('#next').click(function(){
        if($('#checkbox').prop('checked')==true){
             $.post("/index.join.AgreeProtocolAjax",function(r){
                if(r){
                   location='/index.join.step2';
                }
            },"json");
        }else{
            layer.msg('请勾选入驻协议');
        }
    });   
})
</script>
</html>
