<!DOCTYPE html>
<html>
<head>
	<title>成长等级 - 云课 - 专业的在线学习平台</title>
	<meta name="title" content="成长等级 - 云课 - 专业的在线学习平台">
	<meta name="keywords" content="云课 - Yunke K12 在线学习 直播 云课网 在线教育">
	<meta name="description" content="云课(Yunke.com) -专业的K12在线学习平台。以直播授课为核心，打破时间与空间的界限，为教师高效教学、学生高效学习、家长高效管控及机构高效管理提供完美解决方案">
	{part "/index.main.header"}
</head>
<body>
<!-- header -->
{part "/index.main.top"}
<!-- /header -->
<style>
	.footer{ background: url(/assets_v2/img/platform/img-growth-4.png)no-repeat center 0;padding: 117px 0 37px 0;height: 416px; }
	.yunke-footer-ft{ margin-top: 5px; }
	.footer-tp a{ color:#fff; }
	.yunke-footer-ft p{ color:#fff; }
	.yunke-footer-ft p a{ color:#fff; }
	.footer dl{ color:#fff;border:none; }
</style>
<!-- body -->
<section id="wrap-growth">
	<div class="head-growh"><img src="{utility_cdn::img('/assets_v2/img/platform/img-growth-1.png')}" alt=""></div>
<!-- 成长值部分 -->
	<div class="growh-center">
		<div class="container">
			<div class="row">
				<div class="growh-head">
					<span>成长等级</span>
					<div class="growh-img-1">
						<img src="/assets_v2/img/platform/growh-img-1.png">
					</div>
				</div>
				<div class="growh-cont">
					<span>等级是用户活跃和荣誉的象征。随着用户在云课网上的探索和成长，等级会随之增长。以下每个等级对应的经验值，达到对应的经验值后就能升级。</span>
					<div class="tab-list">
						<table>
							<tbody>
								<tr class="tab-hd">
									<td>成长等级</td>
									<td>经验值</td>
									<td>图标</td>
								</tr>
								<tr>
									<td>书生1级</td>
									<td>0~30</td>
									<td><img src="/assets_v2/img/platform/shusheng1.png"></td>
								</tr>
								<tr>
									<td>书生2级</td>
									<td>210</td>
									<td><img src="/assets_v2/img/platform/shusheng2.png"></td>
								</tr>
								<tr>
									<td>书生3级</td>
									<td>660</td>
									<td><img src="/assets_v2/img/platform/shusheng3.png"></td>
								</tr>
								<tr>
									<td>秀才1级</td>
									<td>1380</td>
									<td><img src="/assets_v2/img/platform/xiucai1.png"></td>
								</tr>
								<tr>
									<td>秀才2级</td>
									<td>2370</td>
									<td><img src="/assets_v2/img/platform/xiucai2.png"></td>
								</tr>
								<tr>
									<td>秀才3级</td>
									<td>3630</td>
									<td><img src="/assets_v2/img/platform/xiucai3.png"></td>
								</tr>
								<tr>
									<td>举人1级</td>
									<td>5160</td>
									<td><img src="/assets_v2/img/platform/juren1.png"></td>
								</tr>
								<tr>
									<td>举人2级</td>
									<td>6960</td>
									<td><img src="/assets_v2/img/platform/juren2.png"></td>
								</tr>
								<tr>
									<td>举人3级</td>
									<td>9030</td>
									<td><img src="/assets_v2/img/platform/juren3.png"></td>
								</tr>
								<tr>
									<td>进士1级</td>
									<td>11370</td>
									<td><img src="/assets_v2/img/platform/jinshi1.png"></td>
								</tr>
								<tr>
									<td>进士2级</td>
									<td>13980</td>
									<td><img src="/assets_v2/img/platform/jinshi2.png"></td>
								</tr>
								<tr>
									<td>进士3级</td>
									<td>15860</td>
									<td><img src="/assets_v2/img/platform/jinshi3.png"></td>
								</tr>
								<tr>
									<td>探花1级</td>
									<td>20010</td>
									<td><img src="/assets_v2/img/platform/tanhua1.png"></td>
								</tr>
								<tr>
									<td>探花2级</td>
									<td>23430</td>
									<td><img src="/assets_v2/img/platform/tanhua2.png"></td>
								</tr>
								<tr>
									<td>探花3级</td>
									<td>27120</td>
									<td><img src="/assets_v2/img/platform/tanhua3.png"></td>
								</tr>
								<tr>
									<td>榜眼1级</td>
									<td>34080</td>
									<td><img src="/assets_v2/img/platform/bangyan1.png"></td>
								</tr>
								<tr>
									<td>榜眼2级</td>
									<td>44000</td>
									<td><img src="/assets_v2/img/platform/bangyan2.png"></td>
								</tr>
								<tr>
									<td>榜眼3级</td>
									<td>60000</td>
									<td><img src="/assets_v2/img/platform/bangyan3.png"></td>
								</tr>
								<tr>
									<td>状元1级</td>
									<td>80000</td>
									<td><img src="/assets_v2/img/platform/zhuangyuan1.png"></td>
								</tr>
								<tr>
									<td>状元2级</td>
									<td>110000</td>
									<td><img src="/assets_v2/img/platform/zhuangyuan2.png"></td>
								</tr>
								<tr>
									<td>状元3级</td>
									<td>150000</td>
									<td><img src="/assets_v2/img/platform/zhuangyuan3.png"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- 第二部分 -->
	<div class="growth-second">
		<div class="container">
				<div class="row">
						<div class="second-head">
							<span>如何获得成长值</span>
							<div class="growh-img-2">
									<img src="/assets_v2/img/platform/growh-img-2.png">
							</div>
						</div>
						<div class="second-tab">
							<span>1.成长经验值通过各种学习途径,积累经验值获取相应的成长等级.&nbsp;&nbsp;&nbsp;学员每日成长=日常操作+上课互动</span></br>
							<span>2.积分可通过任务获得,可用于兑换上课礼物鲜花送给老师,也可兑换红名卡,用于教师讨论区名字颜色的展示,其他同学也可以看见哦!</span>
							<table>
								<tbody>
									<tr class="tab-hd">
										<td>板块</td>
										<td>操作</td>
										<td>积累</td>
										<td>经验值</td>
										<td>积分</td>
										<td>描述</td>
									</tr>
									<tr>
										<td>日常操作</td>
										<td>签到</td>
										<td>1天</td>
										<td>2</td>
										<td></td>
										<td>连续签到5天加5经验值</td>
									</tr>
									<tr>
										<td>上课互动</td>
										<td>被老师点赞</td>
										<td></td>
										<td>2</td>
										<td></td>
										<td>每天40经验值封顶</td>
									</tr>
									<tr>
										<td>上课互动</td>
										<td>下课后评价</td>
										<td></td>
										<td>2</td>
										<td></td>
										<td>每个课时评价增加</td>
									</tr>
									<tr>
										<td>上课互动</td>
										<td>写作业</td>
										<td></td>
										<td>2</td>
										<td>2</td>
										<td></td>
									</tr>
									<tr>
										<td>上课互动</td>
										<td>报名付费课程</td>
										<td></td>
										<td>2</td>
										<td>2</td>
										<td></td>
									</tr>
									<tr>
										<td>上课互动</td>
										<td>每次笔记</td>
										<td>一天</td>
										<td>2</td>
										<td></td>
										<td>两次封顶</td>
									</tr>
									<tr>
										<td>上课互动</td>
										<td>答题卡</td>
										<td>一天</td>
										<td></td>
										<td>1</td>
										<td>答对一题,每天5积分封顶</td>
									</tr>
									
									<!--<tr>
										<td>上课互动</td>
										<td>编辑笔记</td>
										<td>一天</td>
										<td>2</td>
										<td>两次封顶</td>
									</tr>-->
								</tbody>	
							</table>
						</div>
				</div>
		</div>
	</div>
<!-- 鲜花部分 -->
	<div class="growth-second">
		<div class="container">
				<div class="row">
						<div class="second-head">
							<span>积分兑换礼物攻略</span>
							<div class="growh-img-2">
									<img src="/assets_v2/img/platform/growh-img-3.png">
							</div>
						</div>
						<div class="second-tab section-flow-raiders">
							<p class="fs18 raiders-star">
								<img src="/assets_v2/img/platform/growh-star.png">
								&nbsp;&nbsp;&nbsp;鲜花
							</p>
							<span>
								<span>1.每天签到可以获得鲜花</span><br />
								<span class="second-text">不同等级签到领取不同数量的鲜花。共五级，书生1朵，秀才2朵，举人3朵，进士4朵，状元5朵</span>
							</span></br>
							<span>2.报名直播课,直播课中到课可领取鲜花</span><br />
							<span class="second-text">登录报名直播课,上课中学生即可领取,每个人每课时只能领取一次,5分钟内不领取鲜花会自动消失哦!<br />连送鲜花有惊喜!</span>
							<span>3.积分兑换鲜花</span>
							<span class="second-text">1积分可兑换一朵鲜花,播放页可进行兑换</span>
							<p class="fs18 raiders-star mt30">
								<img src="/assets_v2/img/platform/growh-star.png">
								&nbsp;&nbsp;&nbsp;红名卡
							</p>
							<span>
								<span>用于在教室讨论区名字颜色的华丽提示,彰显个性,购买日起时限7天有效.</span><br />
								<span>通过日常任务获得积分,在教师讨论区<b class="pink"><img src="/assets_v2/img/platform/growh-pink.png"></b>处进行积分兑换.&nbsp;&nbsp;&nbsp;50个积分可兑换一个红名卡哦!</span>
							</span></br>
							<p class="raiders-icon">
								<img src="/assets_v2/img/platform/growh-img-live.png">
							</p>
							<p class="raiders-icon-flow">
								<img src="/assets_v2/img/platform/growh-img-flow.png">
							</p>
						</div>
				</div>
		</div>
	</div>
<!-- /第二部分 -->
<!--	
	<img src="{utility_cdn::img('/assets_v2/img/platform/img-growth-06.jpg')}" alt="">
	<img src="{utility_cdn::img('/assets_v2/img/platform/img-growth-07.jpg')}" alt="">
	<img src="{utility_cdn::img('/assets_v2/img/platform/img-growth-08.jpg')}" alt="">
	<img src="{utility_cdn::img('/assets_v2/img/platform/img-growth-09.jpg')}" alt="">
	<img src="{utility_cdn::img('/assets_v2/img/platform/img-growth-10.jpg')}" alt="">
-->
</section>
<!-- /body -->
<!-- foooter -->

{part "/index.main.footer"}
<!-- /footer -->
</body>
</html>
